#map-coo-mk1{
	top: 9.33%;
	left: 46.4%;
}
#map-coo-mk2{
	top: 12.25%;
	left: 52.25%;
}
#map-coo-mk3{
	top: 45.9%;
	left: 54.15%;
}
#map-coo-mk4{
	top: 35.6%;
	left: 57.25%;
}
#map-coo-mk5{
	top: 75.7%;
	left: 60.45%;
}
#map-coo-mk6{
	top: 62%;
	left: 65.75%;
}