.f-home-bg-box{
	position: relative;
	.f-title-bg{
		position: absolute;
		left: 10%;
		top: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
		max-width: 500px;
		display: flex;
		align-items: center;
	    align-content: center;
	    flex-wrap: wrap;
	    justify-content: center;
		text-align: center;
		p{
			color: #fff;
			text-shadow: 0 1px 1px rgba(0,0,0,0.6);
			font-size: 18px;
		}
	}
	&:after{
		display: block;
		content: '';
		position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    z-index: 5;
	    box-shadow: inset 0 0 90px 70px #fff;
	}
}
.f-main-title{
	font-size: 36px;
	font-family: 'Dancing Script', cursive;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.6);
	// text-align: center;
	
}
#content{
	.hentry{
		.entry-content{
			.f-home-bg-box{
				.wp-block-image{
					margin-bottom: 0;
				}
			}
		}
	}
}
.f-why-choose{
	background-color: $bg-color-hight;
	padding-top: 3em;
    padding-bottom: 3em;
    .f-content-why-choose{
    	display: flex;
    	align-items: center;
    	justify-content: space-between;
    	margin-left: -15px;
    	margin-right: -15px;
    	.three-reasons{
    		width: 33.333%;
    		padding-right: 15px;
    		padding-left: 15px;
    		&>div{
    			border: 2px solid $main;
    			position: relative;
    			border-radius: 6px;
    			padding: 30px 15px 15px 15px;
    			text-align: center;
    			background-color: #fff;
    			.wrap-icon{
    				position: absolute;
    				top: -25px;
    				left: calc(50% - 25px);
    				width: 50px;
    			}
    			h4{
    				font-size: 14px;
    				color: $blue-bg;
    				// margin-bottom: 15px;
    				font-weight: 600;
    			}
    			p{
    				color: $blue-bg;
    				font-size: 13px;
    				margin-bottom: 0;
    			}
    		}
    	}
    }
}
.f-slide-wrap{
	padding-bottom: 3em;
	padding-top: 3em;
}
.f-post-wrap{
	padding-bottom: 3em;
	padding-top: 3em;
	.f-row{
		align-items: center;
		.f-col-lg-6:first-child{
			display: flex;
		    flex-wrap: wrap;
		    justify-content: flex-start;
		    align-items: center;
		    align-content: center;
		    .f-h2-line-st2,.f-content,.f-wrap-btn{
		    	width: 100%;
		    }
		}
		.f-col-lg-6:last-child{
			position: relative;
			&:after{
				display: block;
			    content: '';
			    position: absolute;
			    width: 100%;
			    height: 100%;
			    top: 0;
			    left: 0;
			    z-index: 5;
			    box-shadow: inset 0 0 90px 70px #fff;
			}
		}
	}
	.f-h2-line-st2{
		margin-top: 3em;
	}
}
.f-slide-products{
	padding-bottom: 3em;
	padding-top: 3em;
}
.f-slide-feet-back{
	padding-bottom: 3em;
	padding-top: 3em;
	#slider_feetback{
		.sa_hover_container{
			padding-left: 15px;
			padding-right: 15px;
			display: flex;
			justify-content: center;
    		// align-items: flex-end;
			&>.f-img-box{
				position: relative;
				width: 25%;
				max-width: 250px;
				flex-shrink: 0;
				.f-khung_anh{
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					z-index: 10;
				}
				.f-img-avt{
					position: relative;
					width: 100%;
					z-index: 5;
				}
			}
			.f-feetback-content{
				flex-grow: 1;
				background-image: url('../images/nhay.png');
				background-repeat: no-repeat; 
				background-size: 100px;
				background-position: calc(50% - 50px) 0;
				display: flex;
				justify-content: flex-end;
				flex-wrap: wrap;
    			align-items: flex-end;
    			align-content: flex-end;
    			padding-left: 20px;
    			p{
    				text-align: end;
    				margin-bottom: 15px;
    			}
    			.f-name{
    				.kw-thumbs-up{
    					margin-left: 5px;
    					margin-right: 5px;
    					color: $orange;
    				}
    			}
			}
		}
	}
}
.f-h2-title{
	font-size: 20px;
	color: $blue-bg;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 10px;
}
.f-parameter-box{
	display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
	&>div{
		line-height: 1.4;
		display: flex;
    	justify-content: center;
    	flex-wrap: wrap;
    	padding-right: 15px;
    	padding-left: 15px;
		b{
			width: 100%;
		    text-align: center;
		    color: $orange;
		    font-size: 25px;
		}
		span{
			text-transform: uppercase;
		    font-size: 11px;
		    text-align: center;
		    font-weight: 500;
		    color: $blue-bg;
		}
	}
}
.f-slide-box{
	margin-top: 20px;
}
.f-mini-intro{
	.f-h2-line{
		width: 100%;
		max-width: 600px;
		
		margin: 0 auto 30px;
		
	}
	p{
		margin-top: 0;
		margin-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
	    max-width: 850px;
	    text-align: center;
	}
}
.f-post-h1{
	font-size: 50px;
	color: $blue-bg;
	text-align: center;
	width: 100%;
	font-family: 'Dancing Script', cursive;
	&:after{
		max-width: 200px;
	    height: 1px;
	    display: block;
	    background-color: $orange;
	    margin: 15px auto 20px;
	    content: "";
	    width: 40%;
	}
}
.f-title-post-h2{
	font-size: 14px;
	font-weight: 600;
	color: $blue-bg;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.f-h2-line{
	font-size: 22px;
	color: $blue-bg;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	&:after{
		max-width: 200px;
	    height: 1px;
	    display: block;
	    background-color: $orange;
	    margin: 15px auto 20px;
	    content: "";
	    width: 40%;
	}
}
.f-h2-line-st2{
	font-size: 22px;
	color: $blue-bg;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	white-space: nowrap;
	&:after{
		content: '';
		display: block;
		height: 1px;
		background-color: $orange;
		width: 100%;
		flex-grow: 1;
		margin-left: 15px;
	}
}
.f-h2-st3{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    color: #3acccc;
    letter-spacing: 1px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before, &:after{
    	content: '';
    	display: block;
    	height: 1px;
		background-color: $orange;
		width: 100%;
		flex-grow: 1;
		max-width: 100px;
		margin-left: 15px;
		margin-right: 15px;
    }
}
.f-max-width{
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
}
.f-para{
	font-size: 14px;
    font-weight: 500;
    color: $main-text;
    line-height: 1.8
}
.f-para-st2{
	font-size: 14px;
	font-weight: 500;
    color: $main-text;
    text-align: justify;
    line-height: 1.8
}
.f-wrap-btn{
	text-align: center;
	margin-bottom: 30px;
}
.f-row{
	display: flex;
	margin-right: -15px;
	margin-left: -15px;
}
.f-col-lg-6{
	width: 50%;
	padding-left: 15px;
	padding-right: 15px;
}
.f-col-lg-7{
	width: 58.333%;
	padding-left: 15px;
	padding-right: 15px;
}
.f-wrap-faq{
	width: 100%;
	// max-width: 600px;
	margin-right: auto;
	margin-left: auto;
	.f-faq-box{
		border-bottom: 1px solid #fff;
	}
}
.f-faq-box{
	&>a{
		display: flex;
		align-items: center;
		background-color: $blue-bg;
		padding: 10px 15px;
		&>.icon-font-cr{
			font-size: 30px;
			color: #fff;
			width: 60px;
		}
		h2{
			margin-bottom: 0;
			color: #fff;
			text-transform: uppercase;
			font-weight: 600;
    		font-size: 16px;
    		flex-grow: 1;
    		line-height: 1;
		}
		.f-wrap-arrow{
			
			.icon-font-cr{
				color: #fff;
				display: block;			}
		}
	}
	&>a.active{
		.f-wrap-arrow{
			
			.icon-font-cr{
				@include rotage(180deg);
			}
		}
	}
	.f-panel{
		margin-bottom: 30px;
		display: none;
	}
}
.f-panel{
	.f-short-intro{
		margin-bottom: 15px;
		h3{
			font-family: 'Dancing Script', cursive;
			color: $main;
			font-size: 26px;
			margin-top: 10px;
			margin-bottom: 5px;
			text-align: center;
		}
		.f-para-st2{
			margin-bottom: 0;
		}
	}
	
}
.f-short-link{
	display: flex;
	flex-wrap: wrap;
	.f-box-link{
		width: 50%;
		display: flex;
		align-items: center;
		padding-top: 10px;
		padding-bottom: 10px;
		.icon-font-cr{
			font-size: 12px;
			width: 30px;
			// color: #fff;
		}
		h3{
			font-size: 18px;
			color: $blue-bg;
			font-weight: 600;
			margin-bottom: 0;
		}
	}
}
.f-wrap-arrow{
	padding-left: 15px;
	.icon-font-cr{
		font-size: 10px;

	}
}
.f-list-cata-product{
	margin-bottom: 30px;
	ul{
		list-style: none;	
		display: flex;
		width: 100%;
		margin: 0;
		li{
			padding-right: 10px;
			padding-left: 10px;
			&:first-child{
				padding-left: 0;
			}
			&:last-child{
				padding-right: 0;
			}
			a{
				display: block;
				width: 100%;
    			position: relative;
    			
    			
    			.f-img-box{
    				width: 100%;
    				border-radius: 5px;
    				
    				overflow: hidden;
    				
    				img{
    					width: 100%;
    					opacity: .8;
    					@include smooth(.25s);
    				}
    			}
    			h2{
    				display: flex;
    				justify-content: center;
    				align-items: center;
    				position: absolute;
    				z-index: 15;
    				color: $blue-bg;
    				font-size: 14px;
    				font-weight: 600;
    				margin-bottom: 0;
    				text-transform: uppercase;
    				background-color: rgba(255,255,255,.65);
    				bottom: 0;
    				left: 0;
    				width: 100%;
    				height: 20%;
    				border-radius: 5px;
    				@include smooth(.25s);
    			}
    			&:hover{
    				.f-img-box{
    					
    					img{
    						opacity: 1;
    						@include scale(1.1);
    					}
    				}
    				h2{
    					background-color: transparent;
    					color: #fff;
    				}
    			}
			}
		}
	}
}
@media (max-width: 1199px){
	.f-list-cata-product{
		ul{
			li{
				a{

	    			h2{
	    				font-size: 12px;
	    			}
				}
			}
		}
	}
}
@media (max-width: 991px){
	.f-post-wrap{
		padding-top: 1em;
		.f-row{
			position: relative;
			&>.f-col-lg-6{
				// width: 100%;
				&:first-child{
					width: 100%;
					position: relative;
					z-index: 10;
				}
				&:last-child{
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					z-index: 5;
					overflow: hidden;
					.f-img-box{
						width: 100%;
						// height: 100%;
						img{
							opacity: .6;
						}
					}
				}
			}
		}
	}
	.f-list-cata-product{
		ul{
			overflow-x: auto;
			padding-bottom: 15px;
			scrollbar-color: $orange transparent;/*fire fox 64*/
			scrollbar-width: thin;/*fire fox 64*/
			&::-webkit-scrollbar{
				height: 3px;
				background-color: transparent;
			}
			&::-webkit-scrollbar-thumb{
				background-color: $orange;
			}
			&::-webkit-scrollbar-track{
				background-color: transparent;
			}
			li{
				a{

					min-width: 165px;
				}
			}
		}
	}
}
@media (max-width: 767px){
	
	.f-home-bg-box{
		.f-title-bg{
			z-index: -1;
			visibility: hidden;
		}
		&:after{
			box-shadow: inset 0 0 40px 34px #fff;
		}
	}
	.f-why-choose{
		.f-content-why-choose{
			flex-wrap: wrap;
			.three-reasons{
				width: 100%;
				&:nth-child(2), &:last-child{
					margin-top: 30px;
				}
			}
		}
	}
	.f-post-h1{
		font-size: 40px;
	}
	.f-h2-st3{
		font-size: 18px;
		letter-spacing: 0;
	}
	.f-h2-line{
		font-size: 18px;
	}
	.f-h2-line-st2{
		font-size: 18px;
	}
	.f-h2-title{
		font-size: 16px;
	}
	.f-parameter-box{
		&>div{
			b{
				font-size: 20px;
			}

		}
	}
	.f-slide-feet-back{
		#slider_feetback{
			.sa_hover_container{
				.f-feetback-content{
					p{
						font-size: 14px;
					}
				}
			}
		}
	}
	.f-faq-box{
		&>a{
			&>.icon-font-cr{
				width: 40px;

			}
		}
	}
	.f-panel{
		.f-short-intro{
			h3{
				font-size: 22px;
			}
		}
		
	}
	.f-short-link{
		.f-box-link{
			h3{
				font-size: 14px;
				
			}
			.icon-font-cr{
				width: 20px;
				font-size: 9px;
			}
		}
	}
}
@media (max-width: 670px){
	#content{
		.hentry{
			.entry-content{
				.f-home-bg-box{
					.wp-block-image{
						width: 100%;
						overflow: hidden;
						&>img{
							max-width: unset;
							object-fit: contain;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 670px) and (min-width: 425px){
	#content{
		.hentry{
			.entry-content{
				.f-home-bg-box{
					.wp-block-image{
						&>img{
							width: 770px;
							height: 350px;
							object-position: calc(100vw - 740px) 0;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 479px){
	.f-h2-st3{
		font-weight: 600;
		flex-wrap: wrap;
		margin-top: 0;
		color: $blue-bg;
		&:before{
			display: none;
		}
		&:after{
			max-width: 200px;
		    margin: 15px auto 20px;
		    width: 40%;
		}
	}
	.f-parameter-box{
		&>div{
			
			&:first-child, &:nth-child(2){
				padding-right: 0;
			}
		}
	}
	.f-faq-box{
		&>a{
			h2{
				font-size: 14px;
			}
		}
	}
	.f-short-link{
		.f-box-link{
			width: 100%;
		}
	}
}
@media (max-width: 424px) and (min-width: 375px){
	#content{
		.hentry{
			.entry-content{
				.f-home-bg-box{
					.wp-block-image{
						&>img{
							width: 660px;
							height: 300px;
							object-position: calc(100vw - 630px) 0;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 374px){
	#content{
		.hentry{
			.entry-content{
				.f-home-bg-box{
					.wp-block-image{
						&>img{
							width: 550px;
							height: 250px;
							object-position: calc(100vw - 520px) 0;
						}
					}
				}
			}
		}
	}
	.f-post-h1{
		font-size: 34px;
	}
	.f-parameter-box{
		flex-wrap: wrap;
		&>div{
			padding-right: 0;
			padding-left: 0;
			width: 100%;
			margin-bottom: 15px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}