.secondary-navigation{
	ul#menu-menu-phu{
		a{
			color: $main;
			
		}
	}
}
.header-fixed{
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	width: 100%;
}
#masthead{
	margin-bottom: 20px;
	.col-full{
		#site-navigation{
			.primary-navigation{
				ul#menu-menu-chinh{
					&>li{
						&>a{
							color: $main;
							text-transform: uppercase;
							font-weight: 600;
							// font-size: 14px;
						}
					}
					&>li
					ul.sub-menu{
						background-color: #fff;
						// left: 0;
						width: max-content;
						li{
							a{
								color: $main;
								border-bottom: 1px solid $boder-input;
								width: 100%;
								text-transform: uppercase;
								font-weight: 600;
								background-color: transparent;
							}
							&:last-child{
								a{
									border-bottom: none;
								}
							}
						}
					}
				}
			}
		}
		#site-header-cart{
			.cart-contents{
				color: $main;
			}
			.widget_shopping_cart{
				background-color: #fff;
				.woocommerce-mini-cart__total, .woocommerce-mini-cart__buttons{
					background-color: #fff;
				}
				.woocommerce-mini-cart-item{
					&>a{
						color: $main-text;
					}
				}
				.woocommerce-mini-cart__total{
					color: $main;
				}
				.woocommerce-mini-cart__buttons{
					&>a.button{
						
						// border-radius: 999px;
						&:first-child{
							background-color: #fff;
							color: $main;
							border: 1px solid $boder-input;
						}
						&:nth-child(2){
							color: #fff;
							background-color: $main;
						}
					}
				}
				.widget_shopping_cart_content{
					.woocommerce-mini-cart__empty-message{
						color: $main-text;
					}
				}
			}
			.product_list_widget{
				li{
					.quantity{
						color: $main-text;
					}
				}
			}
		}
	}
}
@media (min-width: 768px) {
	#masthead{
		padding-top: 15px;
		height: 125px;
		// margin-bottom: 0;
		border-bottom: none;
		.storefront-primary-navigation{
			@include smooth(.6s);
			background-color: #fff;
			top: -90px;
			position: static;
		}
		.col-full{
			.site-branding{
				margin-bottom: 0;
				width: 130px;
				margin-right: 30px;
			}
			.secondary-navigation{
				margin-bottom: 0;
				margin-right: 25px;
				width: calc(100% - 390px);
				ul#menu-menu-phu{
					a{
						padding-top: 1.3em;
						padding-bottom: 0.7em;
						font-size: 12px;
					}
				}
			}
			.site-search{
				margin-bottom: 0;
				width: 200px;
			}
			#site-navigation{
				margin-right: 0;
				width: calc(100% - 40px);
				.primary-navigation{
					ul#menu-menu-chinh{
						&>li{
							&>a{
								padding-top: 20px;
								padding-bottom: 20px;
								font-size: 14px;
							}
							ul.sub-menu{
								&>li{
									a{
										font-size: 14px;
									}
								}
							}
						}
					}
				}
			}
			#site-header-cart{
				width: auto;
				.cart-contents{
					padding-top: 20px;
					padding-bottom: 15px;
					.woocommerce-Price-amount{
						display: none;
					}
					.count{
						display: flex;
						justify-content: center;
    					align-items: center;
    					padding-right: 5px;
    					padding-left: 5px;
    					height: 20px;
						position: absolute;
						top: 10px;
						right: -10px;
						background-color: $orange;
						color: #fff;
						border-radius: 999px;
						font-size: 12px;
					}
				}
				.widget_shopping_cart{
					width: 300px;
					left: unset;
					right: 0;
					@include smooth(.4s);
					// display: block;
					visibility: hidden;
					// z-index: -10;
					// background-color: #fff;
					.product_list_widget{
						height: auto;
						
						li{
							.quantity{
								font-size: 12px;
							}
						}
						
					}
					.woocommerce-mini-cart__total, .woocommerce-mini-cart__buttons{
						// background-color: #fff;
						font-size: 12px;
					}
					.woocommerce-mini-cart-item{
						&>a{
							font-size: 12px;
						}
					}
					
				}
				&:hover{
					.widget_shopping_cart{
						visibility: visible;
						// z-index: 50;
					}
				}
			}
			.secondary-navigation{
				#menu-menu-phu{
					.sub-menu{
						// left: 0;
						width: max-content;
						&>li{
							&>a{
								background-color: transparent;
								padding: 10px;
								border-bottom: 1px solid $boder-input;
								width: 100%;
							}
							&:last-child{
								&>a{
									border-bottom: none;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (min-width: 992px) {
	#masthead{
		padding-top: 15px;
		.col-full{
			.site-branding{
				visibility: hidden;
				height: 5px;
			}
			#site-navigation{
				margin-right: 0;
				width: calc(100% - 40px);
				.primary-navigation{
					display: flex;
					.brand{
						display: flex;
						justify-content: center;
    					align-items: center;
						width: 150px;
						margin-right: 40px;
						&>a{
							padding: 0;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 767px) {
	#page{
		padding-top: 58px;
	}
	#masthead{
		padding-top: 10px;
		padding-bottom: 0;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		border-bottom: none;
		&>.col-full{
			margin-right: 1.41575em;
			margin-left: 1.41575em;
		}
		.col-full{
			.site-branding{
				width: 130px;
			}
			#site-navigation{
				.menu-toggle{
					border-radius: 10px;
					border-color: $boder-input;
					color: $main;
					margin-right: 1.41575em;
					margin-bottom: 10px;
					// outline: none!important;
					font-family: inherit;
					font-size: 12px;
					&:before, &:after{
						background-color: $main;
					}
					span:before{
						background-color: $main;
					}
				}
				.handheld-navigation{
					background-color: $blue-bg;
					
					#menu-menu-mobile{
						&>li{
							&>a{
								color: #fff;
								text-transform: uppercase;
								font-weight: 500;
								font-size: 14px;
								padding-right: 1.41575em;
								padding-left: 1.41575em;
								border-bottom: 1px solid #fff;
								display: flex;
								align-items: center;
								justify-content: flex-start;
								&:before{
									font-family: 'kiwi-font' !important;
									speak: never;
									font-style: normal;
									font-weight: normal;
									font-variant: normal;
									text-transform: none;
									line-height: 1;
									-webkit-font-smoothing: antialiased;
									-moz-osx-font-smoothing: grayscale;
									display: inline-block;
									font-size: 16px;
									width: 30px;
									padding-bottom: 3px;
								}
							}
							&:last-child{
								&>a{
									border-bottom: none;
								}
							}
							.sub-menu{
								margin-left: 0;
								&>li{
									&>a{
										padding-right: 1.41575em;
    									padding-left: 2.5em;
    									color: #fff;
    									text-transform: uppercase;
    									font-size: 13px;
    									font-weight: 500;
    									border-top: 1px solid #fff;
    									display: flex;
									    align-items: center;
									    justify-content: flex-start;
    									&:before{
											font-family: 'kiwi-font' !important;
											speak: never;
											font-style: normal;
											font-weight: normal;
											font-variant: normal;
											text-transform: none;
											line-height: 1;
											-webkit-font-smoothing: antialiased;
											-moz-osx-font-smoothing: grayscale;
											display: inline-block;
											font-size: 16px;
											width: 30px;
											padding-bottom: 3px;
										}
									}
								}
								&>li#menu-item-154{
									&>a{
										&:before{
											content: "\e925";
										}
									}
								}
								&>li#menu-item-155{
									&>a{
										&:before{
											content: "\f15a";
										}
									}
								}
							}
						}
						li.menu-item-has-children{
							&>a{
								
								&:after{
									font-family: 'kiwi-font' !important;
									speak: never;
									font-style: normal;
									font-weight: normal;
									font-variant: normal;
									text-transform: none;
									line-height: 1;
									-webkit-font-smoothing: antialiased;
									-moz-osx-font-smoothing: grayscale;
									display: inline-block;
									font-size: 6px;
									content: '\e912';
									margin-left: auto;
								}
							}
							&>a.f-flip-arrow{
								
								&:after{
									@include rotage(180deg);
								}
							}
							.dropdown-toggle{
								display: none;
							}
						}
						&>li#menu-item-46{
							&>a{
								&:before{
									content: "\f259";
								}
							}
						}
						&>li#menu-item-47{
							&>a{
								&:before{
									content: "\f11e";
								}
							}
						}
						&>li#menu-item-163{
							&>a{
								&:before{
									content: "\f252";
								}
							}
						}
						&>li#menu-item-49{
							&>a{
								&:before{
									content: "\f219";
								}
							}
						}
						&>li#menu-item-153{
							&>a{
								&:before{
									content: "\f251";
								}
							}
						}
					}
				}
			}
		}
		.storefront-primary-navigation{
			.col-full{
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}
@media (max-width: 375px){
  #masthead{
		&>.col-full{
			margin-right: 1em;
			margin-left: 1em;
		}
		.col-full{
			#site-navigation{
				.menu-toggle{
					margin-right: 1em;
				}
			}
		}
	}
	
}