$tran: 0.2s cubic-bezier(0, 0, 0.29, 1.02);
.nav-open{
	width: 61px;
	padding: 3px;
	transition: $tran;
	position: fixed;
	z-index: 10;
	top: 40px;
	left: 90px;
	i{
		display: block;
		background: #fff;
		width: 100%;
		height: 3px;
		margin: 5px 0;
		transition: $tran;
		float: right;
		clear: both;
		&:nth-child(1){
			width: 33px;
		}
		&:nth-child(3){
			transition-delay: 0.15s;
			width: 44px;
		}
	}
	&.active{
		i{
			&:nth-child(1){
				transform: rotate(-45deg) translateX(-9px) translateY(9px);
				width: 100%;
			}
			&:nth-child(2){
				opacity: 0;
				transform: scale(0.5);
			}
			&:nth-child(3){
				transform: rotate(45deg) translateX(-9px) translateY(-9px);
				width: 100%;
			}
		}
		&:hover{
			transform: rotate(180deg);
		}
	}
	&:hover{
		i{
			&:nth-child(1){
				width: 100%;
			}
			&:nth-child(3){
				width: 100%;
			}
		}
	}
}
.nav-over{
	@include fixed(0);
	z-index: 8;
	background: rgba(#000, 0.1);
	transition: $tran;
	opacity: 0;
	&.act{
		opacity: 1;
	}
}
.main-nav{
	position: fixed;
	top: 0;
	bottom: 0;
	width: 708px;
	max-width: 100%;
	left: 0;
	z-index: 9;
	transform: translateX(-100%);
	background: rgba(#0f1810, 0.95);
	color: #fff;
	transition: $tran;
	padding-top: 110px;
	overflow: hidden;
	&.active{
		transform: translateX(0);
	}
	a{
		font-size: 30px;
		// font-family: $f12;
		display: block;
		font-weight: 300;
		position: relative;
		&:hover, &.active{
			color: $c1;
		}
	}
	.top-nav{display: none;}
	.nav-ct{
		max-height: 100%;
		padding-bottom: 30px;
		overflow: auto;
		margin-right: -20px;
		.mCSB_scrollTools{right: 20px;}
		&>ul, .mCSB_container > ul{
			&>li{
				&>a{
					padding: 17px 20px 17px 90px;
					&:before{
						content: '';
						height: 2px;
						width: 100px;
						background: $c1;
						position: absolute;
						left: -15px;
						top: 50%;
						margin-top: -1px;
						opacity: 0;
						transition: inherit;
					}
					&:hover, &.active{
						padding-left: 120px;
						&:before{
							left: 0;
							opacity: 1;
						}
						img{
							filter: none;
						}
					}
					&:not(:only-child):after{
						@include font("\f0d7");
						margin-left: 10px;
						font-size: 16px;
						@include middle
					}
					span{
						@include middle;
						width: 30px;
						height: 28px;
						line-height: 28px;
						position: relative;
						margin-right: 25px;
						margin-top: -7px;
						img{
							height: 28px;
							display: block;
							margin: auto;
							filter: brightness(0) invert(1);
							transition: 0.2s;
						}
						i{
							display: block;
						}
					}
				}
			}
			ul{
				display: none;
				a{
					padding: 17px 20px 17px 120px;
					&:not(:only-child):after{
						@include font("\f0d7");
						margin-left: 12px;
						font-size: 14px;
						@include middle;
					}
				}
				ul{
					a{
						padding-left: 155px;
						font-size: 22px;
					}
				}
			}
		}
	}
}

@media all and (max-width: 1759px){
	.nav-open{
		width: 38px;
		padding: 3px;
		top: 32px;
		i{
			height: 2px;
			margin: 3px 0;
			&:nth-child(1){
				width: 21px;
			}
			&:nth-child(3){
				width: 27px;
			}
		}
		&.active{
			i{
				&:nth-child(1){
					transform: rotate(-45deg) translateX(-5px) translateY(5px);
				}
				&:nth-child(3){
					transform: rotate(45deg) translateX(-6px) translateY(-6px);
				}
			}
		}
	}
	.main-nav{
		width: 400px;
		a{
			font-size: 16px;
		}
		.nav-ct{
			&>ul, .mCSB_container > ul{
				&>li{
					&>a{
						padding: 9px 10px 9px 40px;
						&:before{
							width: 40px;
						}
						&:hover, &.active{
							padding-left: 60px;
							&:before{
								left: 0;
								opacity: 1;
							}
						}
						span{
							width: 20px;
							height: 18px;
							line-height: 18px;
							margin-right: 15px;
							margin-top: -3px;
							img{
								height: 18px;
							}
						}
					}
				}
				ul{
					display: none;
					a{
						padding: 9px 10px 9px 60px;
					}
					ul a{
						font-size: 14px;
						padding-left: 85px;
					}
				}
			}
		}
	}
}

@media all and (max-width: 991px){
	.nav-open{
		left: 30px;
		top: 18px;
	}
	.main-nav{
		.top-nav{display: block;
			li{margin-right: 5px;}
		}
	}
}

@media all and (max-width: 767px){
	.nav-open{
		left: 15px;
	}
	.main-nav{
		padding-top: 65px;
	}
}