*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face{ 
	font-family: 'Theano Didot';
	src: url('../fonts/theano-didot/TheanoDidot.eot');
	src: url('../fonts/theano-didot/TheanoDidot.eot?iefix') format('eot'),
	     url('../fonts/theano-didot/TheanoDidot.woff') format('woff'),
	     url('../fonts/theano-didot/TheanoDidot.ttf') format('truetype'),
	     url('../fonts/theano-didot/TheanoDidot.svg#webfont') format('svg');
}
object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, 
ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    line-height: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
}
b,strong, th{font-weight: bold;}
i, em{font-style: italic;}
sub, sup{font-size: 75%;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
del{text-decoration: line-through;}
abbr[title], dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display: block; height: 1px; border: 0;border-top:1px solid #cccccc;margin: 20px 0;padding: 0;}
input, select {vertical-align:middle;}

a,a:hover,a:focus,a:active{text-decoration:none;color:inherit;outline:none}
ol,ul,li{padding:0;list-style:none;margin:0}
label{font-weight:normal}
input[type="text"],input[type="email"],input[type="password"]{padding-left:5px;padding-right:5px}
select{padding-left:8px; cursor: pointer;}
input[type="number"]{padding-left:5px}
textarea{padding:8px 12px 5px 12px}
input,textarea,select,button,a,button:hover,button:active,button:focus{outline:none}
button{border:none;background:none;padding:0; cursor: pointer;}
*{padding-left:constant(safe-area-inset-left);padding-right:constant(safe-area-inset-right);padding-bottom:constant(safe-area-inset-bottom);padding-top:constant(safe-area-inset-top)}
img{max-width: 100%;vertical-align: middle;object-fit: cover;}
@import "var";
body {
    width: 100%;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	color: #555;
    letter-spacing: 1px;
    --bodyWidth: 1583px;
}
input{
    white-space: nowrap;
    text-overflow: ellipsis;
    &::-webkit-input-placeholder{
        color: $light-color;
    }
    &::-moz-placeholder {
        color: $light-color;
    }
    &:-ms-input-placeholder{
        color: $light-color;
    }
    &:-moz-placeholder{
        color: $light-color;
    }
}
ol,ul,li {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
button,a {
	cursor: pointer;
	text-decoration: none;
}
a {
    letter-spacing: 1px;
    display: inline-block;
    line-height: 1;
    color: $title-color;
}
button:hover,a:hover {
	text-decoration: none;
	opacity: .8;
}
section {
	margin: 30px 0 45px;
    width: 100%;
}
h1,h2,h3,h4,h5,h6 {
	margin: 15px 0 10px;
}
img {
	width: 100%;
}
select {
    display: inline-block;
    width: 100%;
    height: 25px;
    margin: 0;
    padding: 0 0 0 .5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/icon/select-arrow-thin.svg) no-repeat top 9px right 3px,url(../images/icon/select-arrow-thin.svg) no-repeat top 9px right 3px;
    background-size: 12px;
    background-color: transparent;
    outline: none;
    font-weight: 300;
    letter-spacing: 1px;
    border: none;
    position: relative;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 1px;
}
select:focus {
	outline-style: dotted;
	outline-width: 1px;
}
.select-st1 {
    padding-right: 15px;
}
.btn-st1 {
	background-color: $btn-bg-color-st1;
	color: $btn-text-color-st1;
    display: inline-block;
    letter-spacing: 1px;
    @include smooth(.2s);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: none;
    padding: 10px 25px;
    line-height: 1;
}
.btn-st1:hover {
	background-color: #dbd9d9;
}
.btn-st2{
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
    border: 1px solid #000;
    color: #000;
    @include smooth(.2s);
}
.btn-st2:hover{
    color: $higlight-color;
    border-color: $higlight-color;
}
.link-st1 {
	color: $higlight-color;
	@include smooth(.2s);
}
.link-st1:hover{
	opacity: .8;
}
.link-st2{
    color: $title-color;
    @include smooth(.2s);
    line-height: 1.5;
    border-bottom: 1px solid $title-color;
}
.link-st2:hover{
    opacity: .8;
}
.title-h1 {
	font-size: 26px;
	font-family: 'Theano Didot','Times New Roman', serif;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 1;
	text-align: center;
    color: $title-color;
}
.title-h2-line {
    font-size: 25px;
    font-family: 'Theano Didot','Times New Roman', serif;
    letter-spacing: 2px;
    color: $title-color;
    line-height: 1;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}
.title-h2-line:after{
    max-width: 200px;
    height: 2px;
    display: block;
    background-color: #c1aa80;
    margin: 15px auto 20px;
    content: "";
    width: 40%;
}
.paragraph {
	margin: 10px 0;
	line-height: 2;
	text-align: center;
}
.mg-left{
    margin-left: 40px;
}
.mg-right{
    margin-right: 40px;
}
.bg-map-menu{
    display: block;
    width: 140px;
    height: 150px;
    @include smooth(0.25s);
    background-image: url(../images/sprite.png);
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: 921px;
}
.bg-map-vi{
    background-position: -21px -2254px;
}
.bg-map-ca{
    background-position: -140px -2254px;
}
.bg-map-la{
    background-position: -267px -2254px;
}
.bg-map-my{
    background-position: -388px -2254px;
}
.bg-map-th{
    background-position: -504px -2254px;
}
.bg-map-menu:hover{
    background-position-y: -2399px;
}
.open-block{
    display: block!important;
}
.open-flex{
    display: flex!important;
}
.open-opacity:after,.open-opacity:before{
    opacity: 1!important;
}
.banner-top {
    position: relative;
    margin-top: 0;
    min-height: 500px;
}
.bg-parallax{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -3;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.bg-home{
    background-image: url('../images/background/bg-home.jpg');
    height: 100%;
}
.wrap-mini-intro{
    width: 50%;
    margin: 0 auto;
}
.tooltip{
    position: relative;
    &>.icon-font{
        font-size: 30px;
        &:before{
            color: $light-color;
        }
        &:hover:before{
            color: $higlight-color;
        }
    }
    span{
        visibility: hidden;
        position: absolute;
        display: block;
        background-color: $background-color;
        color: $main-color;
        text-align: center;
        padding: 10px 5px;
        border-radius: 6px;
        z-index: 1;
        opacity: 0;
        @include smooth(.3s);
        bottom: 135%;
        box-shadow: 0px 1px 3px 2px rgba(0,0,0,.13);
        b{
            display: inline-block;
            width: 100%;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 10px;
            margin-top: 5px;
            white-space: nowrap;
        }
        font{
            display: inline-block;
            font-size: 13px;
            width: 100%;
            white-space: nowrap;
            font-family: 'Theano Didot','Times New Roman', serif;
            margin-bottom: 5px;
        }
        i{
            display: block;
            height: 10px;
            width: 20px;
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -10px;
            background-color: $background-color;
            @include retang();
        }

    }
    &:hover span{
        visibility:visible;
        opacity: 1;
    }
}
.wrap-tooltip{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px auto;
    .tooltip{
        margin: 5px 3px;
        &:hover{
            opacity: 1;
        }
        &>span{
            box-shadow: none;
            border: 1px solid $higlight-color;
            color: $higlight-color;
            &>i{
                background-color: $higlight-color;
            }
            &:after{
                content: " ";
                height: 9px;
                width: 18px;
                position: absolute;
                top: calc(100% - 1px);
                left: calc(50% + 1px);
                margin-left: -10px;
                background-color: #fff;
                -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
                clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
                -webkit-shape-outside: polygon(0% 0%, 100% 0%, 50% 100%);
                shape-outside: polygon(0% 0%, 100% 0%, 50% 100%);
            }
        }
    }
}
.synch-carousels {
    position: relative;
    box-shadow: 2px 5px 15px rgba(0,0,0,.13);
    .slick-slide{
        outline: none;
        border: none;
    }
    .nav-arrows{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        height: 40px;
        button{
            position: absolute;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border: none;
            outline: none;
            background-color: transparent;
            @include smooth(.2s);
            i{
                font-size: 30px;
                color: $main-color;
            }
        }
        .arrow-left{
            left: 0;
        }
        .arrow-right{
            right: 0;
        }
    }
}
.map-coo{
    width: 25px;
    height: 26px;
    position: absolute;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: 99%;
}
.map-coo:hover{
    width: 27px;
    height: 28px;
    opacity: 1;
}
.trip{
    width: 100%;
    margin: 20px 0;
    h3{
        font-size: 20px;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 1.5;
    }
    &>span{
        display: block;
        width: 100%;
        font-size: 18px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        text-transform: uppercase;
        color: $higlight-color;
        &>strong{
            font-size: 20px;
            font-weight: 600;
        }
    }
    &>p{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .btn-st2{
        margin-top: 20px;
    }
}
.container{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.col-lg-6{
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.col-lg-4{
    width: 33.333%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.col-lg-3{
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
@media (min-width: 1199px) {
    .mg-top{
        margin-top: 80px;
    }
}
@media (max-width: 991px) {
    .col-md-6{
        width: 50%;
    }
    .col-md-4{
        width: 33.333%;
    }
    .col-md-3{
        width: 25%;
    }
}
@media (max-width: 767px) {
    .container{
        width: 100%;
    }
    .mg-left, .mg-right{
        margin-left: 0;
        margin-right: 0;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-4{
        width: 33.333%;
    }
    .col-sm-3{
        width: 25%;
    }
}
@media (max-width: 479px) {
    .col-xsm-6{
        width: 50%;
    }
    .col-xsm-4{
        width: 33.333%;
    }
    .col-xsm-3{
        width: 25%;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;        
    }
}
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;        
    }
}
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;        
    }
}