*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    &::-webkit-input-placeholder{
        color: #555;
        letter-spacing: 1px;
        font-size: 12px;
        font-family: 'Montserrat', Arial, sans-serif;
    }
    &:-moz-placeholder{
        color: #555;
        letter-spacing: 1px;
        font-size: 12px;
        font-family: 'Montserrat', Arial, sans-serif;
    }
    &::-moz-placeholder{
        color: #555;
        letter-spacing: 1px;
        font-size: 12px;
        font-family: 'Montserrat', Arial, sans-serif;
    }
    &:-ms-input-placeholder{
        color: #555;
        letter-spacing: 1px;
        font-size: 12px;
        font-family: 'Montserrat', Arial, sans-serif;
    }
}
@font-face{ 
	font-family: 'Theano Didot';
	src: url('../fonts/theano-didot/TheanoDidot.eot');
	src: url('../fonts/theano-didot/TheanoDidot.eot?iefix') format('eot'),
	     url('../fonts/theano-didot/TheanoDidot.woff') format('woff'),
	     url('../fonts/theano-didot/TheanoDidot.ttf') format('truetype'),
	     url('../fonts/theano-didot/TheanoDidot.svg#webfont') format('svg');
}
object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, 
ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    line-height: inherit;
    color: inherit;
    font-family: inherit;
}
sub, sup{font-size: 75%;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
del{text-decoration: line-through;}
abbr[title], dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display: block; height: 1px; border: 0;border-top:1px solid #cccccc;margin: 20px 0;padding: 0;}
input, select {vertical-align:middle;}

a,a:hover,a:focus,a:active{text-decoration:none;color:inherit;outline:none}
ol,ul,li{padding:0;list-style:none;margin:0}
label{font-weight:normal}
input[type="text"],input[type="email"],input[type="password"]{padding-left:5px;padding-right:5px}
select{padding-left:8px; cursor: pointer;}
input[type="number"]{padding-left:5px}
textarea{padding:8px 5px 8px 5px}
input,textarea,select,button,a,button:hover,button:active,button:focus{outline:none}
button{border:none;background:none;padding:0; cursor: pointer;}
img{max-width: 100%;vertical-align: middle;object-fit: cover;}
@import "var";
body {
    width: 100%;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 12px;
	color: $main-color;
    letter-spacing: 1px;
    position: relative;
    --bodyWidth: 1583px;
    --modalWidth: 500px;
}
input{
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 25px;
}
ol,ul,li {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
button,a {
	cursor: pointer;
	text-decoration: none;
}
a {
    letter-spacing: inherit;
    display: inline-block;
    line-height: inherit;
    color: $title-color;
    @include smooth(.2s);
}
button:hover,a:hover {
	text-decoration: none;
	opacity: .8;
    color: $higlight-color;
}
section {
	margin: 30px 0;
    width: 100%;
}
h1,h2,h3,h4,h5,h6 {
	margin: 15px 0 10px;
}
img {
	width: 100%;
}
select {
    display: inline-block;
    width: 100%;
    height: 25px;
    margin: 0;
    padding: 0 0 0 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/icon/select-arrow-thin.svg) no-repeat top 9px right 10px,url(../images/icon/select-arrow-thin.svg) no-repeat top 9px right 10px;
    background-size: 12px;
    background-color: transparent;
    outline: none;
    font-weight: 300;
    letter-spacing: 1px;
    border: none;
    position: relative;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 1px;
}
select:focus {
	outline-style: dotted;
	outline-width: 1px;
}
.input-st1{
    border: none;
    background-color: transparent;
    font-weight: 500;
    padding-bottom: 5px;
    padding-top: 5px;
    @include smooth(.2s);
    font-size: 13px;
    letter-spacing: 2px;
    outline: none;
}
.input-st1:focus{
    outline-style: dotted;
    outline-width: 1px;
    border-bottom: 1px solid #111;
    font-size: 14px;
}
.background-st1{
    background-color: $background-color-st1;
}
.select-st9 {
    padding-right: 15px;
}
.btn-st1 {
	background-color: $btn-bg-color-st1;
	color: $btn-text-color-st1;
    display: inline-block;
    letter-spacing: 1px;
    @include smooth(.2s);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: none;
    padding: 10px 25px;
    line-height: 1;
}
.btn-st1:hover {
	background-color: #dbd9d9;
}
.btn-st2{
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    text-transform: uppercase;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 1px;
    border: 1px solid #000;
    color: #000;
    @include smooth(.2s);
    font-size: 12px;
}
.btn-st2:hover{
    color: $higlight-color;
    border-color: $higlight-color;
}
.btn-st3{
    color: #fff;
    background-color: #333;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    @include smooth(.25s);
    font-weight: 600;
    &:hover{
        color: #fff;
    }
}
.link-st1 {
	color: $higlight-color;
}
.link-st1:hover{
	opacity: .8;
}
.link-st2{
    color: $title-color;
    line-height: 1.5;
    border-bottom: 1px solid $title-color;
}
.link-st2:hover{
    opacity: .8;
    color: $higlight-color;
}
.link-st3{
    color: $title-color;
    line-height: 1.5;
    font-weight: 500;
    &:after{
        content: "";
        display: block;
        height: 1px;
        background-color: $title-color;
        @include animationed(lineAnimatedOut,.5s);
        width: 100%;
    }
    &:hover{
        color: $higlight-color;
    }
    &:hover:after{
        @include animationed(lineAnimatedIn,.5s);
        width: 0;
        background-color: $higlight-color;
    }
}
.title-h1 {
	font-size: 30px;
	font-family: 'Theano Didot','Times New Roman', serif;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 1;
	text-align: center;
    color: $title-color;
}
.title-h2-line {
    font-size: 28px;
    font-family: 'Theano Didot','Times New Roman', serif;
    letter-spacing: 2px;
    color: $title-color;
    line-height: 1;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 400;
}
.title-h2-line:after, .line:after{
    max-width: 200px;
    height: 1px;
    display: block;
    background-color: #c1aa80;
    margin: 15px auto 20px;
    content: "";
    width: 40%;
}
.paragraph {
	margin: 10px auto;
	line-height: 2;
	text-align: center;
    color: $light-color;
}
.mg-left{
    margin-left: 40px;
}
.mg-right{
    margin-right: 40px;
}
.bg-map-menu{
    display: block;
    width: 140px;
    height: 150px;
    @include smooth(0.25s);
    background-image: url(../images/sprite.png);
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: 921px;
}
.bg-map-vi{
    background-position: -21px -2254px;
}
.bg-map-ca{
    background-position: -140px -2254px;
}
.bg-map-la{
    background-position: -267px -2254px;
}
.bg-map-my{
    background-position: -388px -2254px;
}
.bg-map-th{
    background-position: -504px -2254px;
}
.bg-map-menu:hover{
    background-position-y: -2399px;
}
.open-block{
    display: block!important;
}
.open-flex{
    display: flex!important;
}
.close-display{
    display: none!important;
}
.open-visiblity{
    visibility: visible!important;
}
.close-visiblity{
    visibility: hidden!important;
}
.open-opacity:after,.open-opacity:before{
    opacity: 1!important;
}
.close-opacity:after,.close-opacity:before{
    opacity: 0!important;
}
.banner-top {
    position: relative;
    margin-top: 0;
    height: 680px;
}
.bg-parallax{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -3;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.bg-home{
    background-image: url('https://vuongcm.github.io/inside-travel/asia/images/background/bg-home.jpg');
    height: 100%;
}
.wrap-mini-intro{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .paragraph{
        margin-top: 0;
    }
}
.view-more-wrap{
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .arrow-radius{
        border: 1px solid #111;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        outline: none;
        background-color: transparent;
        @include smooth(.2s);
        .select-arrow-thin{
            font-size: 10px;
            color: $main-color;
        }
    }
    .link-st3{
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
.water-mask{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 100px;
    color: rgba(51, 51, 51, .04);
    letter-spacing: 10px;
    font-family: 'Theano Didot','Times New Roman', serif;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    white-space: nowrap;
}
.phone-box{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 35px;
    height: 100%;
    .phone{
        font-size: 15px;
        margin-right: 5px;
    }
    strong{
        font-weight: 600;
    }
}
.box-text{
    display: flex;
    justify-content: center;
    align-items: center;
    h1,h2,h3,h4{
        font-size: 20px;
        color: #fff;
        /*text-shadow: 0 1px 1px $main-color;*/
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
    }
    p{
        color: #fff;
        letter-spacing: 2px;
        text-align: center;
    }
}
.wrap-slide-st1{
    margin-top: 15px;
    width: 100%;
    .synch-carousels{
        box-shadow: none;
        .nav-arrows{
            top: 213px;
            button{
                i{
                    font-size: 40px;
                    color: #d4d4d4;
                }
            }
            .arrow-left{
                margin-left: 20px;
            }
            .arrow-right{
                margin-right: 20px;
            }
        }
    }
    .gallery{
        width: 76%;
        margin: 0 auto;
        .item>a:first-child{
            position: relative;
            width: 100%;
            .box-text{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: $color-cover-dak;
                @include smooth(.2s);
            }
            &:hover{
                opacity: 1;
                .box-text{
                    background-color: transparent;
                }
            }
        }
        .item{
            text-align: center;
            padding-left: 5px;
            padding-right: 5px;
            .paragraph{
                width: 90%;
                font-size: 12px;
                margin-bottom: 25px;
                margin-top: 20px;
            }
        }
    }
}
.theme-slide-img{
    width: 100%;
    height: 0;
    padding-bottom: 80%;
    overflow: hidden;
    @include smoothInOut(.5s);
}
.theme-slide-text{
    width: 100%;
    text-align: left;
    h3,h4{
        width: 100%;
        letter-spacing: 2px;
        font-size: 14px;
        font-weight: 600;
        margin: 0;
        a{
            margin: 0;
            text-transform: none;
        }
    }
    p{
        line-height: 2;
        color: $light-color;
    }
}
.type-rotate{
    position: absolute;
    @include rotage(-90deg);
    text-align: right;
    text-transform: uppercase;
}
.wrap-slide-st2{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    .synch-carousels{
        box-shadow: none;
        .nav-arrows{
            top: 40%;
            .arrow-left{
                margin-left: 20px;
            }
            .arrow-right{
                margin-right: 20px;
            }
        }
    }
    .gallery{
        width: 85%;
        margin: 0 auto;
    }
    .slick-track{
        display: flex;
        align-items: center;
    }
    .item{
        position: relative;
        padding-right: 20px;
        padding-left: 20px;
        //min-height: 300px;
        max-height: 900px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        a{
            display: block;
            width: 100%;
            text-transform: uppercase;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .theme-slide-text{
            h3,h4{
                a{
                    text-transform: none;
                }
            }
        }
        .theme-slide-img{
            &>a{
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        .type-rotate{
            width: 250px;
            height: 50px;
            left: -99px;
            top: 105px;
        }
    }
    .item.slick-center .theme-slide-img{
        padding-bottom: 125%;
    }
}
.tripadvisor{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    .path2, .path3, .path4, .path5{
        position: absolute;
        &:before{
            margin-left: 0;
        }
    }
}
.wrap-tripadvisor{
    display: flex;
    justify-content: center;
    align-items: center;
    strong{
        margin-left: 5px;
        font-weight: 400;
    }
}
.wrap-dots{
    width: 100%;
    display: flex;
    justify-content: center;
    li{
        margin-left: 4px;
        margin-right: 4px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ececec;
        overflow: hidden;
    }
    .slick-active{
        background-color: #686868;
    }
}
.wrap-slide-st3{
    width: 100%;
    .synch-carousels{
        box-shadow: none;
    }
    .gallery{
        width: 85%;
        margin: 0 auto;
    }
    .item{
        display: flex;
        justify-content: flex-start;
        &>div:first-child{
            width: 25%;
            padding-right: 20px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            img:last-child{
                display: block;
                position: absolute;
                border: 5px solid #fff;
                border-radius: 50%;
                width: 70%;
            }
        }
        &>div:last-child{
            width: 75%;
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            &>p{
                font-size: 14px;
                letter-spacing: 2px;
                line-height: 1.8;
                position: relative;
                margin-top: 15px;
                margin-bottom: 15px;
                &>font{
                    font-family: 'Theano Didot','Times New Roman', serif;
                    &:first-child{
                        position: absolute;
                        left: -15px;
                    }
                }
            }
            &>div{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                &>span{
                    font-size: 14px;
                }
                &>a{
                    margin-left: 10px;
                }
                .link-st3{
                    white-space: nowrap;
                }
            }
        }
    }
    .wrap-dots{
        margin: 30px 0;
        button{
            color: rgba(255,255,255,0);
        }
    }    
}
.tooltip{
    position: relative;
    &>.icon-font{
        font-size: 30px;
        &:before{
            color: #c3bdbd;
        }
        &:hover:before{
            color: $higlight-color;
        }
    }
    &>a{
        opacity: 1;
        span{
            i{
                top: calc(100% - 1px);
            }
        }
    }
    span{
        visibility: hidden;
        position: absolute;
        display: block;
        background-color: $background-color;
        color: $main-color;
        text-align: center;
        padding: 10px 5px;
        border-radius: 6px;
        z-index: 1;
        opacity: 0;
        @include smooth(.2s);
        bottom: 135%;
        box-shadow: 0px 1px 3px 2px rgba(0,0,0,.13);
        b{
            display: inline-block;
            width: 100%;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 10px;
            margin-top: 5px;
            white-space: nowrap;
        }
        font{
            display: inline-block;
            font-size: 13px;
            width: 100%;
            white-space: nowrap;
            font-family: 'Theano Didot','Times New Roman', serif;
            margin-bottom: 5px;
        }
        i{
            display: block;
            height: 10px;
            width: 20px;
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -10px;
            background-color: $background-color;
            @include retang();
        }

    }
    &:hover span{
        visibility:visible;
        opacity: 1;
    }
    &:hover>span{
        visibility:visible;
        opacity: 1;
    }
}
.wrap-tooltip{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px auto;
    .tooltip{
        margin: 5px 3px;
        &:hover{
            opacity: 1;
        }
        &>span{
            box-shadow: none;
            border: 1px solid $higlight-color;
            color: $higlight-color;
            &>i{
                background-color: $higlight-color;
            }
            &:after{
                content: " ";
                height: 9px;
                width: 18px;
                position: absolute;
                top: calc(100% - 1px);
                left: calc(50% + 1px);
                margin-left: -10px;
                background-color: #fff;
                -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
                clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
                -webkit-shape-outside: polygon(0% 0%, 100% 0%, 50% 100%);
                shape-outside: polygon(0% 0%, 100% 0%, 50% 100%);
            }
        }
    }
}
.synch-carousels {
    position: relative;
    box-shadow: 2px 5px 25px rgba(0, 0, 0, 0.05);
    .slick-slide{
        outline: none;
        border: none;
    }
    .gallery{
        z-index: 3;
    }
    .nav-arrows{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        height: 40px;
        z-index: 2;
        button{
            position: absolute;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border: none;
            outline: none;
            background-color: transparent;
            @include smooth(.2s);
            i{
                font-size: 30px;
                color: $main-color;
            }
        }
        .arrow-radius{
            border: 1px solid $title-color;
            border-radius: 50%;
            .select-arrow-thin{
                font-size: 9px;
                color: $title-color;
            }
            &:hover{
                color: $light-color;
            }
        }
        .arrow-left{
            left: 0;
            .select-arrow-thin{
                @include rotage(90deg)
            }
        }
        .arrow-right{
            right: 0;
            .select-arrow-thin{
                @include rotage(-90deg)
            }
        }
    }
}
.map-coo{
    width: 25px;
    height: 26px;
    position: absolute;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: 99%;
    cursor: pointer;
}
.map-coo:hover{
    width: 27px;
    height: 28px;
    opacity: 1;
}
.trip{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 566px;
    align-content: space-between;
    padding-bottom: 20px;
    position: relative;
    background-color: $background-color;
    &>a:first-child{
        width: 100%;
    }
    h3{
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 1.5;
        font-family: inherit;
        text-transform: uppercase;
        font-weight: 500;
        width: 100%;
        &>a{
            min-height: 48px;
        }
    }
    .content-trip{
        position: absolute;
        bottom: 122px;
        z-index: 1;
        background-color: $background-color;
        &>p{
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            max-height: 39px;
            overflow-y: hidden;
            color: $btn-text-color-st1;
            @include smooth(.5s);
        }
        &>span{
            display: block;
            width: 100%;
            font-size: 12px;
            padding-left: 15px;
            padding-right: 15px;
            margin-top: 15px;
            margin-bottom: 15px;
            text-transform: uppercase;
            color: $higlight-color;
            &>strong{
                font-size: 20px;
                font-weight: 600;
            }
        }
        &:hover{
            &>p{
                max-height: 152px;
            }
        }
    }
    .wrap-tooltip{
        margin-top: auto;
        margin-bottom: 0;
        flex-wrap: nowrap;
    }
    .btn-st2{
        margin-top: 20px;
        color: $btn-text-color-st1;
        border-color: $btn-text-color-st1;
        &:hover{
            color: #ccaf3d;
            border-color: #ccaf3d;
        }
    }
}
.team-name{
    text-align: center;
    font-family: 'Reenie Beanie', cursive;
    font-size: 35px;
}
.team-mess{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    p{
        font-size: 12px;
        letter-spacing: 2px;
        text-align: center;
        padding-right: 15px;
        padding-left: 15px;
        line-height: 2;
        font-weight: 500;
        color: $light-color-3;
    }
    .link-st3{
        margin: 25px auto 0;
    }
}
.team-quote{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 85%;
    margin: 15px auto;
    &>img{
        width: 80px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 5px;
    }
    .team-name{
        width: 100%;
        margin-top: 10px;
    }
}
.call-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 15px auto 20px;
    span{
        display: inline-block;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    strong{
        font-size: 20px;
        color: $higlight-color;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    .btn-st2{
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
    }
}
.mg-top-0{
    margin-top: 0!important;
}
.mg-top-30{
    margin-top: 30px;
}
/*.a-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}*/
.container{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
}
.col-xlg-12{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.col-xlg-6{
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.col-xlg-4{
    width: 33.333%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.col-xlg-3{
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
@media (min-width: 1200px) {
    .mg-top{
        margin-top: 80px;
    }
    .mg-bottom{
        margin-bottom: 80px;
    }
}
@media (max-width: 1199px) {
    .btn-st2{
        padding: 10px 5px;
        font-size: 11px;
    }
    .container{
        width: 90%;
    }
    .col-lg-12{
        width: 100%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-4{
        width: 33.333%;
    }
    .col-lg-3{
        width: 25%;
    }
    .banner-top{
        height: 660px;
    }
}
@media (max-width: 1024px) {
    .bg-parallax{
        z-index: 0;
        background-attachment: scroll;
    }
}
@media (max-width: 991px) {
    .col-md-12{
        width: 100%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-4{
        width: 33.333%;
    }
    .col-md-3{
        width: 25%;
    }
    .wrap-slide-st3{
        padding-left: 15px;
        padding-right: 15px;
        .gallery{
            width: 100%;
        }
        .item{
            &>div:last-child{
                &>p{
                    font-size: 15px;
                }
                &>div{
                    &>span{
                        font-size: 12px;
                    }
                }
            }
        } 
    }
    .map-coo{
        width: 15px;
        height: 17px;
    }
    .map-coo:hover{
        width: 17px;
        height: 19px;
    }
    .wrap-slide-st1{
        .synch-carousels{
            .nav-arrows{
                top: 100px;
            }
        }
        .gallery{
            .item{
                .paragraph{
                    width: 100%;
                    font-size: 11px;
                    margin-bottom: 15px;
                    margin-top: 10px;
                }
            }
        }
    }
    .wrap-slide-st2{
        .synch-carousels{
            .nav-arrows{
                display: none;
            }
        }
        .gallery{
            width: 100%;
        }
    }
    .water-mask{
        font-size: 56px;
    }
    .phone-box{
        margin-left: 5px;
        margin-right: 0;
        .phone{
            font-size: 18px;
            padding: 10px 8px;
        }
        strong{
            display: none;
        }
    }
    .banner-top{
        height: 500px;
    }
}
@media (max-width: 767px) {
    .title-h1{
        font-size: 26px;
    }
    .title-h2-line{
        font-size: 24px;
    }
    .container{
        width: 100%;
    }
    .mg-left, .mg-right{
        margin-left: 10px;
        margin-right: 10px;
    }
    .col-sm-12{
        width: 100%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-4{
        width: 33.333%;
    }
    .col-sm-3{
        width: 25%;
    }
    .wrap-mini-intro{
        width: 80%;
        .paragraph{
            padding-left: 0;
            padding-right: 0;
        }
    }
    .paragraph{
        padding-left: 15px;
        padding-right: 15px;
    }
    .map-coo{
        width: 7px;
        height: 9px;
    }
    .map-coo:hover{
        width: 9px;
        height: 10px;
    }
    .wrap-slide-st1{
        .synch-carousels{
             .nav-arrows{
                top: 80px;
                button{
                    i{
                        font-size: 20px;
                    }
                }
                .arrow-left{
                    margin-left: 0;
                }
                .arrow-right{
                    margin-right: 0;
                }
            }
        }
        .gallery{
            width: 88%;
            .item{
                .paragraph{
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
    .wrap-slide-st3{
        .item{
            &>div:first-child{
                padding-right: 10px;
            }
            &>div:last-child{
                 padding-left: 10px;
                &>p{
                    letter-spacing: 1px;
                }
                &>div{
                    flex-wrap: wrap;
                    &>a{
                        margin-top: 5px;
                    }
                }
            }
        }
    }
    .water-mask{
        font-size: 34px;
    }
}
@media (max-width: 479px) {
    body {
        font-size: 11px;
    }
    .col-xsm-12{
        width: 100%;
    }
    .col-xsm-6{
        width: 50%;
    }
    .col-xsm-4{
        width: 33.333%;
    }
    .col-xsm-3{
        width: 25%;
    }
    .wrap-mini-intro{
        width: 90%;
    }
    .wrap-slide-st1{
        .synch-carousels{
             .nav-arrows{
                top: 50px;
                button{
                    i{
                        font-size: 16px;
                    }
                }
            }
        }
        .gallery{
            width: 85%;
        }
    }
    .team-quote{
        width: 90%;
    }
    .team-mess{
        width: 100%;
        p{
            font-size: 12px;
        }
    }
    .call-info{
        width: 90%;
    }
    .wrap-slide-st3{
        .item{
            &>div:first-child{
                padding-right: 5px;
            }
            &>div:last-child{
                padding-left: 5px;
                &>p{
                    font-size: 12px;
                }
            }
        }
    }
    .water-mask{
        font-size: 27px;
    }
    .banner-top{
        height: 440px;
    }
    .trip{
        .content-trip{
            &>p{
                max-height: 36px;
            }
        }
    }
}
@media (max-width: 375px) {
    .water-mask{
        font-size: 22px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .phone-box{
        margin-left: 0;
    }
    .trip{
        height: 529px;
    }
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;        
    }
}
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;        
    }
}
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;        
    }
}
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;        
    }
}
@keyframes lineAnimatedIn {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
@-webkit-keyframes lineAnimatedIn {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
@-moz-keyframes lineAnimatedIn {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
@-ms-keyframes lineAnimatedIn {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
@keyframes lineAnimatedOut {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@-webkit-keyframes lineAnimatedOut {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@-moz-keyframes lineAnimatedOut {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@-ms-keyframes lineAnimatedOut {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes moveToOut {
    from {
        transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
    }
    to {
        transform: translateY(-600px);
        -moz-transform: translateY(-600px);
        -webkit-transform: translateY(-600px);
        -o-transform: translateY(-600px);
        -ms-transform: translateY(-600px);
    }
}
@-webkit-keyframes moveToOut {
    from {
        transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
    }
    to {
        transform: translateY(-600px);
        -moz-transform: translateY(-600px);
        -webkit-transform: translateY(-600px);
        -o-transform: translateY(-600px);
        -ms-transform: translateY(-600px);
    }
}
@-moz-keyframes moveToOut {
    from {
        transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
    }
    to {
        transform: translateY(-600px);
        -moz-transform: translateY(-600px);
        -webkit-transform: translateY(-600px);
        -o-transform: translateY(-600px);
        -ms-transform: translateY(-600px);
    }
}
@-ms-keyframes moveToOut {
    from {
        transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
    }
    to {
        transform: translateY(-600px);
        -moz-transform: translateY(-600px);
        -webkit-transform: translateY(-600px);
        -o-transform: translateY(-600px);
        -ms-transform: translateY(-600px);
    }
}