* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
    background: url('../img/bg.jpg') no-repeat top left;
    color: #333;
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 16px;
    overflow-y: hidden;
	background-size: 100% 100vh;
    width: 100%;
}

img {
	width: 100%;

}

.wrap {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
#myProgress {
	width: 80%;
	margin: 15px auto;
	background-color: #f7f8f9;
}
 
#myBar {
	width: 100%;
	height: 20px;
	background-color: #4CAF50;
	text-align: center;
	line-height: 30px;
	color: white;
}
.grid {
	width: 68%;
	float: left;
	display: grid;
	grid-column-gap: 0.5714%;
	grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12%;
	grid-row-gap: 8px;
	grid-row-columns: auto auto auto;
	z-index: 11;
}
#clock {
	color: #5cb85c;
	border: 3px solid #5cb85c;
	padding: 15px;
	font-size: 50px;
	position: absolute;
	right: 20px;
	top: 50px;
}
.card {
	width: 100%;
	position: relative;
	overflow: hidden;
}
.back {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
.front {
	position: absolute;
	top: 0;
	left: 0;
	float: left;
}
.card:hover img {
	filter: grayscale(50%);
	opacity: 0.95;
}
.card:hover {
	border: 1px solid rgba(230,230,230, .0000001);
}
.back, .front {
	transition: all 0.8s ease;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}
#reload {
	color: #ffff;
	margin-left: 100px;
	width: 180px;
	height: 50px;
	font-family: Arial, sans-serif;
	text-align: center;
	font-size: 20px;
	line-height: 1.42857143;
	padding: 6px 12px;
	margin-bottom: 10px;
	border: 1px solid transparent;
	border-radius: 10px;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #5cb85c;
  	border-color: #4cae4c;
  	z-index: 11;
}
#reload:hover {
  	background-color: #449d44;
  	border-color: #398439;
}
.flip {
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
}
.faceDown {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}

/* background */
#snow {
  background-color: transparent !important;
  opacity: 1 !important;
  background-image: url(../img/snow1.png), url(../img/snow2.png), url(../img/snow3.png);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
  z-index: 1;
}
 
@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px; }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px; } }
@-webkit-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px; }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px; } }
/* Style start game */
.fomrgroup {
    width: 50%;
    margin: auto;
    display: block;
    height: 50px;
}
.fomrgroup button {
	padding: 5px;
    height: 40px;
    margin: 15px auto;
    font-size: 20px;
    color: #ffff; 
    border: none; 
    cursor: pointer; 
    border-radius: 4px;
    box-shadow: 1px 1px 1px grey;
    background-color: #5cb85c;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    display: none;
}
.fomrgroup button:hover {
    transform: scale(1.1);
}
.modal {
    display: none; /* mặc định được ẩn đi */
    position: fixed; /* vị trí cố định */
    z-index: 20; /* Ưu tiên hiển thị trên cùng */
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgba(173,163,186, .6);
}
 
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border-radius: 2%;
    width: 40%;
    text-align: center;
}
 