.why-book-us{

}

.content-why-book{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	&>.col-xlg-4{
		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			padding-right: 0;
		}
	}
	.three-reasons{
		position: relative;
	    margin-top: 24px;
	    padding: 31px 18px 16px;
	    border: 2px solid;
	    border-radius: 6px;
	    text-align: center;
	    background-color: #fff;
	    h4{
			font-size: 14px;
	    }
	    p{
	    	font-size: 13px;
	    }
	    .wrap-icon{
	    	position: absolute;
	    	width: 50px;
	    	left: calc(50% - 25px);
	    	top: -25px;
	    }
	    .wrap-icon-2{
	    	position: absolute;
	    	height: 70px;
	    	top: -35px;
	    	left: 50%;
	    	@include translateX(-50%);
	    	img{
	    		height: 100%;
	    		width: auto;
	    	}
	    }
	}
	.three-reasons-1{
		border-color: rgba(36,185,191,1);
		h4,p,b{
			color: rgba(36,185,191,1);
		}
	}
	.three-reasons-2{
		border-color: $happy;
		h4,p,b{
			color: $happy;
		}
	}
	.three-reasons-3{
		border-color: rgba(221,81,126,1);
		h4,p,b{
			color: rgba(221,81,126,1);
		}
	}
}
.why-book-box-st2{
	display: none;
}
.wrap-slide-st11{
	width: 100%;
	margin-top: 30px;
	.synch-carousels{
		box-shadow: none;
		.item{
			padding-right: 5px;
			padding-left: 5px;
			&>a{
				display: block;
				width: 100%;
				border-radius: 6px;
				img{
					border-radius: 6px;
				}
			}
		}
		.nav-arrows{
            top: 50%;
            button{
            	width: unset;
            	height: unset;
                i{
                    font-size: 45px;
                    color: #d4d4d4;
                }
                &:hover i{
                    color: $higlight-color;
                }
            }
            .arrow-left{
            	@include translate2d(-40px,-50%);
                .icon-next-back{
                    @include rotage(180deg);
                }
            }
            .arrow-right{
            	@include translate2d(40px,-50%);
            }
        }
		.wrap-dots{
	        margin: 15px 0;
	        button{
	            color: rgba(255,255,255,0);
	        }
	    }  
	}
}
.wrap-slide-st12{
	width: 100%;
	.synch-carousels{
		box-shadow: none;
		.item{

			&>div{
				width: 100%;
				max-height: 425px;
				overflow-y: hidden;
				img{
					width: 100%;
					height: 100%;
				}
			}
		}
		.nav-arrows{
            top: 50%;
            z-index: 5;
            button{
            	width: unset;
            	height: unset;
                i{
                    font-size: 45px;
                    color: #d4d4d4;
                }
                &:hover i{
                    color: $higlight-color;
                }
            }
            .arrow-left{
            	margin-left: 10px;
                .icon-next-back{
                    @include rotage(180deg);
                }
            }
            .arrow-right{
            	margin-right: 10px;
            }
        }

	}
}
.list-trip{
	.big-first-tour-box{
		&:nth-child(2){
			.btn-st4{
				background-color: #25b48a;
			}
		}
		&:nth-child(3){
			.btn-st4{
				background-color: #31bfd2;
			}
		}
		&:nth-child(4){
			.btn-st4{
				background-color: #e8b919;
			}
		}
	}
}
.big-first-tour-box{
	.body-box{
		.wrap-tooltip{
			display: inline-flex;
			padding-right: 0;
			padding-left: 0;
			width: unset;
		}
		.row{
			display: flex;
			align-items: center;
			.address-box{
				width: calc(100% - 315px);
				max-width: unset;
			}
			.btn-st6{
				margin-left: auto;
			}
		}
	}
}
.info-cruise-month{
	align-items: baseline;
	line-height: 1.5;
	display: flex;

	&>span{
		color: $happy;
		.date-01{
			color: $happy;
			font-size: 12px;
			margin-right: 5px;
		}
		b{
			color: $happy;
			font-weight: 800;
			font-size: 14px;
		}
	}
	&>div{
		b{
			color: #25b48a;
		}
	}
	a{
		font-weight: 600;
		color: #25b48a;
		&:hover{
			color: $higlight-color;
		}
	}
}
.box-price{
	text-align: right;
	margin-right: 10px;
	margin-left: auto;
    span{
    	display: block;
    	width: 100%;
    	font-size: 14px;
	    //text-transform: uppercase;
	    color: red;
    }
}
.cam_ket{
	color: #25b48a;
	font-weight: 600;
	.checkmark{
		margin-right: 5px;
		color: #25b48a;
		font-size: 16px;
	}
}
.wrap-foot-link{
	width: 100%;
	.btn-st4{
		border-radius: 0;
		justify-content: space-between;
		width: 100%;
		height: 40px;
		color: #fff;
		padding: 5px;
		b{
			color: inherit;
		}
		.happy-01{
			&:first-child{
				@include rotage(180deg);
			}
		}
	}
}
.btn-st6{
	border: 2px dashed red;
	border-radius: 999px;
	padding: 10px 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: red;
	font{
		margin-left: 5px;
		margin-right: 5px;
		text-transform: uppercase;
		font-size: 12px;
	}
	&:hover{
		border-color: $higlight-color;
	}
}
.banner-top-country{
	.search-container-st2{
		bottom: 30%;
	}
}
.intro-country-tour{
	.paragraph-hide{
		h4{
			width: 100%;
			text-align: center;
			margin-top: 0;
		}
	}
}
.media-box-st4{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	width: 100%;
	margin-top: 30px;
	.map-box{
		&>div{
			background-color: #dcdcdc;
			width: 100%;
			height: 100%;
		}
		
	}
	.img-box{
		left: 15px;
		width: calc(50% - 30px);
	}
}
.search-container-st2{
	.search-box-st2.search-ticket{
		form{
			.box-step-where{
				width: 16%;
				&>div{
					&>.text{
						padding-left: 10px;
						padding-right: 25px;
						text-overflow: ellipsis;
					    white-space: nowrap;
					    overflow: hidden;
					}
					label{
						left: 10px;
					}
				}
			}
			.booking-step-depature{
				width: 15%;
				position: relative;
				border-right: 1px solid #d2efef;
				.text{
					height: 100%;
					b{
						padding: 30px 10px 11px 10px;
						font-size: 16px;
					}
				}
			}
			.booking-step-room{
				width: 19%;
				position: relative;
				background-color: #fff;
				.text{
					height: 100%;
					padding-right: 5px;
					padding-left: 10px;
					b{
						padding-right: 5px;
					}
					.icon-font{
						font-size: 12px;
					    color: #18b3b3;
					    transform: rotate(90deg);
					    -moz-transform: rotate(90deg);
					    -webkit-transform: rotate(90deg);
					    -o-transform: rotate(90deg);
					    -ms-transform: rotate(90deg);
					}
				}
			}
			.box-step-submit{
				width: 19%;
				max-width: 300px;
			}
		}
		form.one-way{
			.box-step-where{
				width: 20%;
			}
			.booking-step-depature{
				width: 16%;
				&:nth-child(4){
					display: none;
				}
			}
			.booking-step-room{
				width: 25%;
			}
		}
	}
}
.type-ticket{
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	.input-radio-st1{
		padding-right: 15px;
		padding-left: 15px;
		label{
			color: #fff;
			font-weight: 600;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
		}
	}
}
.modal-cam-ket{
	max-width: 600px;
	h3{
		.checkmark{
			font-size: 20px;
			margin-right: 5px;
		}
	}
	.modal-body{
		.paragraph{
			text-align: left;
			padding-right: 0;
			padding-left: 0;
			margin-top: 5px;
			margin-bottom: 5px;
			color: #555;
		}
	}
}
.banner-ticket{
	.wrap-title-banner-top{
		bottom: 100px;
	}
}
.modal-ticket{
	max-width: 700px;
	border-radius: 15px;
	.modal-head{
		display: flex;
		align-items: center;
		padding-left: 15px;
		padding-right: 15px;
		.img-box-st2{
			width: 40px;
			img{
				border-radius: 50%;
			}
		}
		h3{
			flex-grow: 1;
			margin-left: 10px;
			a{
				color: red;
			}
		}
	}
	.modal-body{
		.form-field{
			&>div{
				margin-bottom: 5px;
				text-align: left;
				font-weight: 600;
				label{
					font-weight: inherit;
				}
			}

		}
		.checkbox-inline{
			text-align: left;
			width: 100%;
			margin-top: 15px;
			input{
				width: unset;
			}
			label{
				color: #219ea3;
				b{
					color: inherit;
				}
			}
		}
		.btn-st3{
			margin-top: 15px;
			margin-left: auto;
			margin-right: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 45px;
			width: 100%;
			max-width: 380px;
			background-color: $higlight-color;
		}
	}
}
.box-st2{
	width: calc(100% - 30px);
	margin: 0 auto;
	background-color: #fff;
    padding: 20px;
	.airlines{
		h3{
			color: $happy;
			font-size: 16px;
			strong{
				width: 30px;
			    height: 30px;
			    display: inline-flex;
			    justify-content: center;
			    align-items: center;
			    text-align: center;
			    line-height: 30px;
			    border: 1px solid $happy;
			    border-radius: 50%;
			    margin-right: 5px;
			    //font-size: 14px;
			    padding-left: 1px;
			}
		}
	}
	.text-over{
		img{
			max-width: 200px;
			float: left;
		}
	}
}
.padding-top-30{
	padding-top: 30px;
}
.padding-bot-30{
	padding-bottom: 30px;
}
.box-st3{
	display: flex;
	align-items: flex-end;
	background-color: #fff;
	padding: 20px;
	margin-bottom: 30px;
	.box-img-st2{
		width: 100%;
		max-width: 61px;
	}
	.info{
		padding-left: 15px;
		h3{
			text-align: left;
		}
		.paragraph{
			text-align: left;
			padding: 0;
			margin-bottom: 0;
		}
	}
}
.butom-apply{
	height: 45px;
	width: 100%;
	max-width: 445px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $happy;
	color: #fff;
	@include smooth(.25s);
	font-size: 16px;
	font-weight: 600;
	margin-left: auto;
	margin-right: auto;
	&:hover{
		background-color: $higlight-color;
		color: #fff;
	}
}
.container-price-ticket{
	padding-right: 15px;
	padding-left: 15px;
}
.content-price-ticket{
	width: 100%;
	display: flex;
	margin-bottom: 30px;
	.col-prices{
		background-color: #fff;
	    width: 20%;
	    .title_price{
	    	width: 100%;
	    	height: 175px;
	    	display: flex;
	    	flex-direction: column;
	    	justify-content: center;
	    	align-items: center;
	    }
	    .ten{
	    	font-weight: bold;
		    color: #ee2d2d;
		    font-size: 45px;
		    text-align: center;
	    }
	    .gia{
		    color: #555;
		    font-size: 16px;
		    text-align: center;
	    }
	    .cont{
			.item_cost{
			    text-align: left;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    overflow: hidden;
			}
		}
		&:hover{
			box-shadow: 0 0 11px #767676;
		}
	}
	.col-price{
		width: 20%;
		&:hover{
			box-shadow: 0 0 11px #767676;
		}
		.title_price{
			height: 175px;
			width: 100%;
			background: #F34235;
		    color: #fff;
		    display: flex;
		    flex-direction: column;
		}
		.ten{
			text-transform: uppercase;
		    background-color: #D63030;
		    padding: 15px 5px;
		    //font-size: 12px;
		    font-weight: 600;
		    text-align: center;
		}
		.gia{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-grow: 1;
		}
		&:nth-child(2n+1){
			.ten{
				background-color: #016166;
			}
			.gia{
				background-color: #077d83;
			}
		}
	}
	.cont{
		//min-height: 150px;
		box-shadow: 3px 4px 25px #ccc inset;
		.item_cost{
			line-height: 3;
		    color: #888;
		    border-bottom: solid 1px #ddd;
		    padding-left: 20px;
		    text-align: center;
		}
	}
}
.note{
	width: 100%;
	//margin-top: 30px;
	.paragraph{
		text-align: left;
		padding-left: 0;
		padding-right: 0;
	}
}
.search-container-st2{
	.search-box-st2.type-3{
		.box-step-tour{
			border-right: 1px solid #d2efef;
		}
		form{
			.box-step-submit{
				max-width: 210px;
			}
		}
	}
}
#contact-modal{
	input[type="text"],input[type="email"]{
		font-size: 14px;
		color: #16b3b3;
	}
}
.why-book-us{
	background-color: #e9f3f4;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 0;
	margin-top: 0;
}
.big-tour-box-st2{
	.head-box{
		.count-day{
			background-color: #e24010;
		}
	}
	.desti-voucher{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		.desti-3{
			display: inline-block;
			padding: 10px 20px 0;
			color: #fff;
			.map-marker{
				font-size: 16px;
			}
			span{
				font-size: 14px;
			}
		}
	}
	.voucher-title-box{
		width: 100%;
		h2 {
			position: static;
			padding-top: 10px;
			a{
				text-transform: uppercase;
			}
			.star-box{
				margin-left: 10px;
			}
		}
	}
	.title-box{
		border-bottom: 1px dotted #dcdcdc;
		padding-bottom: 15px;
		h3{
			font-size: 22px;
			margin: 0;
		}
	}
	.box-like-content{
		p{
			line-height: 1.8;
		    letter-spacing: 0.7px;
		    color: #059298;
		    display: flex;
		    align-items: center;
		    .heart-empty{
		    	margin-right: 5px;
    			color: #e3ba10;
		    }
		}
	}
	.foot-trip{
		padding-bottom: 30px;
	}
}
.section-grid-cruise.section-grid-type-5{
	.grid-ct1{
		.group-ct1-1{
			.head-trip{
				.title-info{
					.title-h2{
						color: #059298;
					}
					.short-info-cruise{
						align-items: center;
						.wrap-tooltip{
							.tooltip{
								&>.icon-font-cr{
									font-size: 18px;
								}
							}
						}
					}
				}
				.heart-tour{
					.heart-empty{
						color: #059298;
					}
					&:hover{
						.heart-empty{
							color: #059298;
						}
					}
				}
			}
			.foot-trip-st5{
				.title-type-5{
					border-bottom: 1px dotted #dcdcdc;
				    padding-bottom: 15px;
				    margin-bottom: 15px;
				    display: flex;
				    justify-content: space-between;
				    h2{
				    	border-bottom: none;
				    	padding-bottom: 0;
				    	margin-bottom: 0;
				    	line-height: 1.5;
				    }
				    .video-box-5{
				    	display: flex;
				    	align-items: center;
				    	span{
				    		font-size: 14px;
				    		text-transform: uppercase;
				    	}
				    	.icon-font{
				    		font-size: 22px;
				    		margin-left: 2px;
				    	}
				    }
				}
				.div-hidden{
					max-height: 270px;
					.paragraph{
						text-align: left;
					}
				}
			}
		}
	}
	.grid-ct3{
		.order-box{
			.order-save{
				margin-top: 0;
				color: #ff5722;
				font-weight: 500;
				.icon-font{
					color: inherit;
				}
			}
			.order-price{
				margin-top: 15px;
				padding-bottom: 10px;
    			border-bottom: 1px solid #dcdcdc;
				&>div{
					&:nth-child(2){
						b{
							color: green;
							text-transform: none;
						}
					}
					&:last-child{
						span{
							font-size: 22px;
						}
					}
				}
			}
			.order-discount{
				h4{
					font-weight: 600;
				}
			}
			.box-check-rates{
				.get-quanlity{
					display: flex;
					justify-content: center;
					align-items: center;
					&>span{
						margin-right: 10px;
					}
					button{
						border: 1px solid #b0d6d6;
					    color: #b0d6d6;
					    width: 28px;
					    height: 28px;
					    border-radius: 50%;
					    display: inline-flex;
					    justify-content: center;
					    align-items: center;
					    line-height: 1;
					    flex-shrink: 0;
					    margin-left: 5px;
					    margin-right: 5px;
					    font-size: 18px;
					    &:hover{
					    	border-color: #18b3b3;
    						color: #18b3b3;
					    }
					}
					font{
						b{
							color: #059298;
						}
					}
				}
			}
			.order-best{
				.checkmark{
					color: #059298;
				}
			}
		}
	}
}
.voucher-include{
	&>div{
		h5{
			text-transform: none;
			text-align: left;
			color: #059298;
			font-size: 12px;
		}
		&:last-child{
			padding-bottom: 10px;
    		border-bottom: 1px solid #dcdcdc;
		}
	}
	.include{
		p{
			text-transform: none;
			text-align: left;
			color: #059298;
			font-size: 11px;
			line-height: 1.5;
			margin-top: 5px;
			.icon-font{
				margin-right: 5px;
				color: #555;
			}
		}
	}
	.condition{
		p{
			text-transform: none;
			text-align: left;
			color: #059298;
			font-size: 11px;
			line-height: 1.5;
			margin-top: 5px;
			.icon-font{
				margin-right: 5px;
				margin-left: 5px;
				color: #059298;
				font-size: 5px;
			}
			strong{
				color: #ff5722;
				font-size: 11px;
				font-weight: normal;
			}
		}
	}
}
@media (max-width: 1199px) {
	.section-grid-cruise.section-grid-type-5{
		.grid-ct1{
			.group-ct1-1{
				.foot-trip-st5{
					.div-hidden{
						max-height: 460px;
					}
				}
			}
		}
		.grid-ct3{
			.order-box{
				.order-discount{
					h4{
						font-size: 14px;
					}
				}
				.order-best{
					p{
						font-size: 11px;
					}
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.content-price-ticket{
		.col-prices{
			display: none;
		}
		.col-price{
			width: 25%;
			.ten{
				font-size: 12px;
			}
		}
	}
	.type-ticket{
		.input-radio-st1{
			label{
				color: $happy;
				text-shadow: none;
			}
		}
	}
	.big-first-tour-box{
		.body-box{
			.row{
				flex-wrap: wrap;
				.address-box{
					padding-right: 0;
					width: 100%;
					//max-width: unset;
					order: unset;
				}
				.btn-st6{
					margin-right: auto;
					margin-top: 10px;
					margin-bottom: 10px;
				}
			}
		}
		.foot-trip{
			.btn-st2{
				margin-bottom: 0;
				margin-top: 10px;
			}
		}
	}
	.banner-top-country{
		.search-container-st2{
			position: static;
			@include translateX(0);
			margin-left: auto;
			margin-right: auto;
		}
	}
	.un-pull-up{
		.foreground{
			@include translateY(0);
		}
	}
	.banner-ticket{
		.wrap-title-banner-top{
			bottom: unset;
			top: 430px;
		}
		.search-container-st2{
			position: relative;
			z-index: 40;
			left: 0;
			top: 0;
			@include translateX(0);
			margin-right: auto;
			margin-left: auto;
			margin-top: 15px;
		}
	}
	
	.search-container-st2{
		.search-box-st2.search-ticket{
			form{
				&>div{
					width: 100%!important;
				}
				.booking-step-depature{
					//padding: 18px 30px 5px 40px;
					height: 60px;
					border-right: none;
					border-bottom: 1px solid #18b3b3;
					input{
						padding: 18px 30px 5px 40px;
						width: 100%;
						height: 100%;
					}
				}
				.booking-step-room{
					height: 60px;
				}
				.box-step-submit{
					max-width: none;
					// height: 60px;
					button{
						i{
							display: none;
						}
					}
				}
			}
			form.one-way{
				.box-step-where{
					width: 20%;
				}
				.booking-step-depature{
					width: 16%;
					&:nth-child(4){
						display: none;
					}
				}
				.booking-step-room{
					width: 25%;
				}
			}
		}
	}
	.search-container-st2{
		.search-box-st2.type-3{
			.box-step-tour{
				border-right: none;
				border-bottom: 1px solid $happy;
			}
			form{
				.box-step-submit{
					max-width: unset;
				}
			}
		}
	}
	.wrap-slide-st12{
		.synch-carousels{
			.nav-arrows{
	            display: none;
	        }

		}
	}
	.banner-top-slider-type-3{
		.wrap-title-banner-top{
			bottom: 240px;
		}
		.search-container-st2{
			position: static;
			margin-left: auto;
			margin-right: auto;
			transform: none;
		    -moz-transform: none;
		    -webkit-transform: none;
		    -o-transform: none;
		    -ms-transform: none;
		}
	}
	.section-grid-cruise.section-grid-type-5{
		.grid-ct1{
			.group-ct1-1{
				.foot-trip-st5{
					.div-hidden{
						max-height: 200px;
					}
				}
			}
		}
	}
}
@media (min-width: 400px) {
	.ui-datepicker{
		width: 385px;
	}
}
@media (max-width: 767px) {
	.wrap-slide-st12{
		.synch-carousels{
			.gallery{
				.item{
					&>div{
						height: 320px;
						overflow-y: hidden;
						img{
							width: auto;
						}
					}
				}
			}

		}
	}
	.box-st2{
		.text-over{
			img{
				max-width: none;
			}
		}
	}
	.banner-ticket{
		.wrap-title-banner-top{
			//bottom: unset;
			top: 325px;
		}
	}
	.content-price-ticket{
		flex-wrap: wrap;
		.col-price{
			width: 100%;
			margin-bottom: 30px;
			.item_cost{
				display: none;
				&:first-child{
					display: block;
				}
			}
		}
	}
	.modal-2{
		padding: 20px 15px;
	}
	.content-why-book{
		.three-reasons{
			margin-top: 55px;
		}
	}
	.big-first-tour-box{
		.body-box{
			&>.row{
				border-bottom: 1px dotted #dcdcdc;
			}
			&>.paragraph{
				display: none;
			}
		}
		.foot-trip{
			.btn-st2{
				width: 100%;
			}
		}
	}
	.box-price{
		width: 100%;
		margin: 10px auto 0;
		text-align: center;
	}
	.info-cruise-month{
		flex-wrap: wrap;
		&>span{
			display: block;
			width: 100%;
			text-align: center;
			b{
				color: $happy;
				font-weight: 800;
			}
		}
		&>div{
			width: 100%;
			text-align: center;
			b{
				color: $happy;
			}
		}
		a{
			font-weight: 600;
			color: $happy;
			&:hover{
				color: $higlight-color;
			}
		}
	}
	.media-box-st4{
		.map-box{
			margin-top: 15px;
			&>div{
				min-height: 150px;
			}
			
		}
		.img-box{
			width: calc(100% - 30px);
		}
	}
	.modal-ticket{
		.modal-content{
			padding-right: 0;
			padding-left: 0;
		}
	}
	.section-grid-cruise.section-grid-type-5{
		.grid-ct1{
			.group-ct1-1{
				.head-trip{
					.title-info{
						.short-info-cruise{
							.star-box{
								font-size: 12px;
							}
							.wrap-tooltip{
								justify-content: flex-start;
								width: auto;
								.tooltip{
									&>.icon-font-cr{
										font-size: 14px;
									}
								}
							}
						}
					}
				}
				.foot-trip-st5{
					.div-hidden{
						max-height: 180px;
						.title-type-5{
							justify-content: center;
							h2{
								width: 100%;
								text-align: center;
							}
							.video-box-5{
								display: none;
							}
						}
					}
				}
			}
		}
		/* .grid-ct3{
			.order-box{
				.order-discount{
					h4{
						font-size: 14px;
					}
				}
				.order-best{
					p{
						font-size: 11px;
					}
				}
			}
		} */
	}
}
@media (max-width: 479px) {
	.banner-ticket{
		.wrap-title-banner-top{
			//bottom: unset;
			top: 200px;
		}
	}
	.wrap-slide-st12{
		.synch-carousels{
			.gallery{
				.item{
					&>div{
						height: auto;
						img{
							width: 100%;
							height: auto;
						}
					}
				}
			}

		}
	}
	.content-why-book{
		display: none;
	}
	.why-book-box-st2{
		display: block;
		width: 90%;
		h2{
			font-size: 18px;
			text-transform: uppercase;
			text-align: center;
		}
		.three-reasons-mobi{
			margin-top: 30px;
			.iconAbove{
				display: flex;
				align-items: center;
				.iconWrap{
					flex-shrink: 0;
					img{
						width: 50px;
					}
				}
				.msgCopy{
					flex-grow: 1;
					margin-left: 15px;
				}
			}
		}
	}
	.banner-top-slider-type-3{
		min-height: unset;
	}
}