.header-st2{
	background-color: #f9f9f9;
	position: relative;
	z-index: 888;
}
.header-top-st2{
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}
.brand-st2{
	width: 180px;
	padding-bottom: 15px;
	padding-top: 15px;
}
.main-menu-st2{
	display: flex;
	align-items: stretch;
	justify-content: center;
}
.main-menu-st2>li>a {
	padding: 15px 10px 10px;
	color: #888;
	height: 100%;
	font-size: 13px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.main-menu-st2>li>a>.fa{
	margin-right: 5px;
	font-size: 18px;
}

.main-menu-st2>li>a:after{
	background-color: transparent;
	content: '';
	display: block;
	width: 100%;
	height: 4px;
	border-radius: 999px;
}

.menu-drop-st2{
	position: relative;
}
.sub-menu-lv1{
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #f9f9f9;
	z-index: 6;
	padding: 10px 15px;
	display: none;
	flex-wrap: wrap;
}
.sub-menu-lv1>li>a{
	display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
	line-height: 2;
	padding: 5px 20px 5px 10px;
	white-space: nowrap;
    color: #888;
    font-size: 13px;
    font-weight: 600;
}
.sub-menu-2col{
	width: 400px;
}
.sub-menu-2col>li{
	width: 50%;
}
.sub-menu-full{
	display: none;
	justify-content: center;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}
.sub-menu-full>li{
	padding-left: 15px;
	padding-right: 15px;
}
.sub-menu-lv2{

}
.sub-menu-lv2>li>a{
	display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 2;
    padding: 5px 25px 5px 15px;
    white-space: nowrap;
    color: #888;
    font-size: 13px;
}
.main-menu-st2>li>.dot-toggle{
	padding-top: 10px;
	font-size: 20px;
	line-height: 1;
}
.sub-menu-1col{
	left: unset;
	right: 0;
}
.global-menu-st2{
	display: flex;
	align-items: center;

}
.call-box{
	display: flex;
	background-color: rgba(74,144,226,.1);
	border-radius: 999px;
}
.call-box>img{
	width: 45px;
	height: 45px;
	border: 2px solid #10bace;
	border-radius: 50%;
}
.call-box ul{
	margin-left: 5px;
	padding-right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.call-box ul li{
	line-height: 1.6;
	font-size: 10px;
}
.global-menu-st2>li>a{
	padding: 10px;
	color: #888;
	display: flex;
	justify-content: center;
	align-items: center;
}
.global-menu-st2>li>a .fa-svg{
	line-height: 0;
}
.global-menu-st2>li>a:hover .fa-heart-o:before{
	content: "\f004";
}
.global-menu-st2>li>a>.fa{
	font-size: 22px;
}
.global-menu-st2>li>a #header-love{
	margin: 0;
}
.global-menu-st2>li>a .fa-angle-down{
	margin-left: 5px;
}
.login-top-st2{
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
}
.login-menu{
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #f9f9f9;
	z-index: 5;
	display: none;
}
.login-menu>li>a{
	display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 2;
    padding: 5px 25px 5px 15px;
    white-space: nowrap;
    color: #888;
    font-size: 13px;
    font-weight: 600;
}
.main-menu-st2 .btn-close{
	display: none;
}
.mobi-li-show{
	display: none;
}
.menu-drop-st2 .fa-angle-down, .menu-drop-st3 .fa-angle-down,.menu-drop-lv2 .fa-angle-down{
	display: none;
}
.banner-top-st2{

}
.video-top-container {
     position: relative;
     display: flex;
    justify-content: center;
    align-items: center;
     padding: 180px 0 80px;
}
.media-box-top{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.media-box-top img {
    display: none;
}
.media-box-top video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-25%);
    -moz-transform: translateY(-25%);
    -webkit-transform: translateY(-25%);
    -o-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
}
.search-container-st2 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 1170px;
}
.video-top-container .search-container-st2 {
    z-index: 2;
}
.btn-st3 {
    color: #fff;
    background-color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    transition: all 0.25s linear;
    font-weight: 600;
}
.search-container-st2 > .btn-st3 {
    display: none;
}
.search-box-st3 form {
    display: flex;
    justify-content: space-between;
}
.search-box-st3 form h3 {
    display: inline-flex;
    align-items: center;
    width: 80px;
    margin: 0;
    color: #fff;
    font-size: 14px;
}
.box-step-submit-st2{
	width: 58px;
	margin-left: 10px;
	flex-shrink: 0;
}
.box-step-submit-st2 button{
	width: 100%;
	height: 100%;
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	font-size: 20px;
	background-color: rgba(0,0,0,.4);
	display: flex;
    justify-content: center;
    align-items: center;
}
.box-step-submit-st2 button:hover{
	background-color: #ebb22b;
}
.quick-link {
    padding-left: 80px;
    padding-right: 68px;
    margin-top: 40px;
}
.quick-link ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.quick-link ul li {
    padding-left: 10px;
    padding-right: 10px;
}
.quick-link ul li>a {
    height: 100%;
    color: #fff;
    font-size: 12px;
    padding: 10px 20px;
    font-weight: normal;
    letter-spacing: 1px;
    background-color: rgba(8, 191, 188, 0.7);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.quick-link ul li>a>.fa {
    font-size: 18px;
    margin-right: 5px;
}
.quick-link ul li>a:hover {
    background-color: #ebb22b;
}
.btn-like .fa-heart-o{
	position: relative;
}
.btn-like small{
	font-family: arial;
	position: absolute;
	top: -10px;
	left: 17px;
	line-height: 1;
	z-index: 2;
	width: 16px;
	height: 16px;
	font-size: 11px;
	border-radius: 50%;
	background-color: #fc8f30;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}
@media (min-width: 1200px){
	.mobi-btn-menu{
		display: none;
	}
	.main-menu-st2>li>a:hover,.sub-menu-lv1>li>a:hover,.sub-menu-lv2>li>a:hover,.global-menu-st2>li>a:hover,.login-top-st2:hover>a,.login-menu>li>a:hover{
		color: #0699ab;
	}
	.main-menu-st2>li>a:hover:after{
		background-color: #36c5f4;
	}
	.menu-drop-st2:hover .sub-menu-lv1,.menu-drop-st3:hover .sub-menu-full{
		display: flex;
	}
	.phone-wrap>a{
		display: none!important;
	}
}
@media (max-width: 1199px){
	.main-menu-st2{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 3;
		background-color: #f9f9f9;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		webkit-overflow-scrolling: touch;
		max-width: 768px;
		padding: 15px;
		box-shadow: 10px 0 20px 0 rgba(0,0,0,.4);
	}
	.main-menu-st2 .btn-close{
		display: block;
		background-color: transparent;
		border: none;
		line-height: 1;
		font-size: 36px;
		color: #888;
	}
	.main-menu-st2>li{
		width: 100%;
	}
	.main-menu-st2>li>a{
		justify-content: flex-start;
		padding: 15px 10px;
		font-size: 14px;
	}
	.main-menu-st2>li>a>.fa-svg{
		width: 35px;
		margin-right: 10px;
	}
	.main-menu-st2>li>a>.fa{
		font-size: 24px;
		margin-right: 10px;
		width: 35px;
	}
	.main-menu-st2>li>a:after{
		display: none;
	}
	.main-menu-st2>li>.dot-toggle{
		font-size: 14px;
		line-height: 1.4;
	}
	.mobi-li-show{
		display: list-item;
	}
	.mobi-li-show #header-love{
		margin: 0 15px 0 0;
	}
	.mobi-contact-number{
		margin-top: 15px;
		padding-top: 15px;
		border-top: 1px solid #dedede;
	}
	.mobi-contact-number>span{
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 600;
		margin-top: 15px;
		margin-bottom: 15px;
		display: block;
	}
	.mobi-contact-number>ul li{
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 14px;
	}
	.menu-drop-st2 .fa-angle-down, .menu-drop-st3 .fa-angle-down,.menu-drop-lv2 .fa-angle-down{
		display: inline-block;
		width: unset !important;
		margin-left: auto;
		margin-right: 0!important;
		font-size: 16px;
	}
	.sub-menu-lv1{
		position: static;
		width: 100%;
	}
	.sub-menu-lv1>li{
		width: 100%;
	}
	.sub-menu-lv1>li>a{
		width: 100%;
	}
	.sub-menu-lv2{
		display: none;
	}
	.sub-menu-lv2>li>a{
		padding-left: 30px;
	}
	.mobi-li-hide{
		display: none;
	}
	.mobi-btn-menu{
		border: none;
		background-color: transparent;
		line-height: 0;
	}
	.bars-st2{
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 24px;
	    height: 18px;
	    border-top: 1px solid #0699ab;
	    border-bottom: 1px solid #0699ab;
	    cursor: pointer;
	    -webkit-transition: all .3s ease;
	    -moz-transition: all .3s ease;
	    transition: all .3s ease;
	    -o-transition: all .3s ease;
	}
	.bars-st2:after{
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background-color: #0699ab;
	}
	.media-box-top img {
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	}
	.media-box-top video {
	    display: none;
	}
	.phone-wrap>a{
		display: block;
	}
	.phone-wrap .call-box{
		display: none;
	}
	.global-menu-st2>li>a{
		color: #0699ab;
	}
}
@media (max-width: 991px){
	.quick-link ul {
		flex-wrap: wrap;
		justify-content: center;
		align-content: space-between;
		margin-bottom: -15px;
	}
	.quick-link ul>li{
		width: 33.333%;
		margin-bottom: 15px;
	}
	.video-top-container{
		padding: 140px 0 40px;
	}
}
@media (max-width: 767px){
	.header-st2{
		z-index: unset;
	}
	.search-box-st3{
		display: none;
	}
	.search-container-st2>.btn-st3{
		display: block;
		margin: 0 auto;
		border: none;
		background-color: #fff;
		padding: 10px;
		border-radius: 999px;
		color: #0699ab;
		width: 100%;
		max-width: 360px;
	}
	.search-container-st2>.btn-st3 .fa-search{
		margin-right: 10px;
		font-size: 18px;
	}
	.search-box-st3 form{
		margin-top: 60px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.search-box-st3 form>h3{
		width: 100%;
		font-size: 22px;
		justify-content: center;
		margin-bottom: 15px;
	}
	.search-box-st3 form>.box-step{
		width: 100%;
		margin-bottom: 15px;
	}
	.box-step-submit-st2{
		height: 58px;
	}
	.quick-link{
		padding-right: 0;
		padding-left: 0;
	}
	.quick-link ul li>a{
		flex-wrap: wrap;
	}
	.quick-link ul li>a>.fa{
		margin-bottom: 5px;
		margin-right: 0;
	}
	.quick-link ul li>a>font{
		display: block;
		width: 100%;
		text-align: center;
	}
}
@media (max-width: 479px){
	.header-st2 .container{
		padding-left: 5px;
		padding-right: 5px;
	}
	.header-top-st2{
		justify-content: flex-start;
	}
	.global-menu-st2{
		margin-left: auto;
		order: 2;
	}
	.mobi-btn-menu{
		order: 3;
	}
	.brand-st2{
		order: 1;
		padding-left: 10px;
	}
	.media-box-top img {
	    width: unset;
	}
	.video-top-container {
	    padding-top: 90px;
	}
}
@media (max-width: 375px){
	.quick-link ul>li {
		width: 50%;
	}
}
.box-gallery{
	background-color: #fefefe;
    margin-bottom: 25px;
}
.wrap-new-gallery{
	width: 100%;
	background-image: url(https://images.luxuryescapes.com/lux-group/image/upload/fl_progressive,q_auto:eco,c_scale,w_40/02y5qpqic9fhe3ndqm7);
	background-size: cover;
	position: relative;
}
.btn33{
	font-size: 40px;
	position: absolute;
	top: 45%;
	z-index: 11;
	color: #fff;
}
.prev33{
	left: 5px;
}
.next33{
	right: 5px;
}
.box-gallery .content-list{
	width: 100%;
    min-height: 180px;
    padding: 0 15px;
    position: relative;
    padding-bottom: 15px;
    box-shadow: 0px 1px 1px 0 #ebeef1;
}
.box-gallery .itinerary-list:after, .box-gallery .content-list:after, .box-gallery:after{
	content: "";
  clear: both;
  display: block;
}
.carousel-gallery{
	webkit-overflow-scrolling: touch;
}
.box-gallery .itinerary-list #day{
	color: #168c9c;
    width: 45px;
    height: 51px;
    border-right: 1px solid #DDD;
    font-size: 20px;
    padding: 0;
    margin: 0 8px 0 0;
    text-align: center;
    font-family: 'Arial', serif;
    float: left;
}
.box-gallery .itinerary-list a.title-name {
    float: left;
    text-align: left;
    width: calc(100% - 61px);
    font-size: 14px;
    font-weight: bold;
    color: #168c9c;
    line-height: 22px;
}
.box-gallery .itinerary-list #destinations {
    text-align: left;
    color: #868686;
    border-bottom: none;
    padding: 0;
    margin: 0;
    float: left;
    max-width: 88%;
    font-size: 13px;
    padding-top: 5px;
}
.box-gallery .itinerary-list #day span {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 8px;
    float: left;
}
.box-gallery .itinerary-list p {
    max-width: 100%;
    float: left;
    text-align: left;
    margin-top: 10px;
    color: #666;
}
.box-gallery  .content-list #price {
    width: 100%;
    margin: 10px 0;
    float: left;
}
.box-gallery .content-list .promotion_top#price {
    display: flex;
    flex-wrap: wrap;
}
.box-gallery .content-list .promotion_top#price .offer_pro{
	margin-left: auto;
	margin-right: 5px;
}