.bg-cruise{
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}
.trip-cruise{
	display: flex;
	align-items: stretch;
	background-color: $background-color;
	width: 100%;
    padding: 20px;
    margin-bottom: 30px;
	.left-trip{
		//width: 35%;
		width: calc(35% - 49px);
		padding-right: 10px;
		position: relative;
		align-self: flex-start;
		&>a{
			width: 100%;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			span{
				display: inline-block;
				position: absolute;
				z-index: 2;
				font-size: 16px;
				font-weight: 600;
				color: #fff;
				text-transform: uppercase;
			}
			img{
				@include dakkenImg(60%);
				@include smooth(.25s);
			}
			&:hover{
				opacity: 1;
				img{
					@include dakkenImg(100%);
				}
			}
		}
		.wrap-tooltip{
			padding-left: 0;
			padding-right: 0;
			margin-top: 15px;
			margin-bottom: 0;
		}
	}
	.mid-trip{
		width: calc(65% - 91px);
		padding-left: 20px;
		padding-right: 15px;
		border-right: 1px solid #dcdcdc;
		.head-trip{
			flex-wrap: nowrap;
			.number-day{
				padding-right: 10px;
				border-right: 1px solid #dcdcdc;
				color: $higlight-color;
				b{
					color: inherit;
				}
			}
			.cruise-iti{
				flex-grow: 1;
				padding-left: 10px;
				.title-cruise{
					text-align: left;
					margin: 0;
					text-transform: none;
				}
				address{
					line-height: 1.8;
					color: #888;
					.map-marker{
						color: #888;
					}
				}
			}
		}
		.read-more-st2{
			a{
				margin-top: 15px;
			}
		}
		.best-offer{
			.col-xlg-12{
				padding-right: 0;
				padding-left: 0;
			}
		}
	}
	.right-trip{
		flex-shrink: 0;
		width: 140px;
		padding-left: 15px;
		
		&>div{
			margin-top: 20px;
			margin-bottom: 20px;
			.btn-st2{
				padding-right: 20px;
				padding-left: 20px;
			}
		}
	}
}
.info-cruise{
	display: flex;
	justify-content: center;
	align-items: center;
	&>div{
		display: flex;
		align-items: center;
		.date-01{
			font-size: 16px;
		}
		.select-arrow-thin{
			font-size: 8px;
		}
		.link-st3{
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.info-cruise-month{
		align-items: baseline;
		max-width: 200px;
		line-height: 1.5;
		a{
			font-weight: 600;
			//color: red;
			&:hover{
				color: $higlight-color;
			}
		}
		.date-01{
			margin-right: 5px;
		}
	}
	.link-st3{
		padding: 15px;
		position: relative;
	}
	.active{
		&:before{
			content: '';
			display: block;
			width: 15px;
			height: 15px;
			position: absolute;
			bottom: 0;
			left: 50%;
			z-index: 30;
			box-shadow: -2px -2px 3px 0px #eee;
			background-color: #fff;
			transform: translate(-50%,50%) rotate(45deg);
		    -moz-transform: translate(-50%,50%) rotate(45deg);
		    -webkit-transform: translate(-50%,50%) rotate(45deg);
		    -o-transform: translate(-50%,50%) rotate(45deg);
		    -ms-transform: translate(-50%,50%) rotate(45deg);
		}
	}
}
.box-schedule{
	position: absolute;
	top: 100%;
	left: -20px;
	width: 700px;
	z-index: 5;
	background-color: #fff;
	box-shadow: 3px 2px 5px 2px #eee;
	padding: 20px;
	display: none;
	.list-cabins{
		padding-bottom: 15px;
		padding-top: 15px;
		border-bottom: 1px dotted #aaa;
		&:first-child{
			padding-top: 0;
		}
		&:last-child{
			padding-bottom: 0;
			border-bottom: none;
		}
	}
	table{
		border: 1px solid #dcdcdc;
		th{
			border: 1px solid #dcdcdc;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		td{
			border: 1px solid #dcdcdc;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}

.list-cabins{
	width: 100%;
	display: flex;
	align-items: stretch;
	&>img{
		width: calc(35% - 49px);
		padding-right: 10px;
		align-self: flex-start;
	}
	.cabin-info-box{
		width: calc(65% - 91px);
		padding-left: 20px;
		padding-right: 15px;
	}
	.button-cabin{
		width: 140px;
		padding-left: 15px;
	}
}
.button-cabin{
	display: flex;
	align-items: center;
	justify-content: center;
	.btn-st2{
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 10px;
	}
}
.cabin-info-box{
	h4{
		margin-top: 0;
		font-size: 18px;
		color: #555;
	}
}
.item-cabin{
	p{
		margin-bottom: 10px;
		line-height: 1.4;
		font-weight: 500;
	}
}
.facilities{
	margin-top: 10px;
	&>a{
		font-weight: 600;
		color: $higlight-color;
	}
	ul{
		margin-top: 10px;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		display: none;
		li{
			width: 50%;
			padding-left: 15px;
			margin-bottom: 10px;
			.icon-font{
				margin-right: 5px;
			}
		}
	}
}
.number-day{
	&>span{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
		left: 0;
		top: 0;
		padding-top: 6px;
		width: 100%;
		height: 100%;
		text-transform: uppercase;
		letter-spacing: 0;
		font-size: 10px;
		b{
			font-size: 24px;
		}
	}
}
.best-poromo{
	width: 125px;
    height: 46px;
    background: url(../images/sprite-2.png) -249px -109px no-repeat;
    position: relative;
    span{
    	position: absolute;
    	top: 22px;
    	left: 16px;
    	color: #fff;
    	font-size: 10px;
    }
}
.save-now{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	span{
		font-size: 26px;
		font-weight: 600;
		color: #ff5722;
	}
}
.i-map{
	display: block;
	background: url(../images/sprite-2.png) -286px -740px no-repeat;
	width: 92px;
    height: 68px;
}
.view-map-detail{
	width: 100%;
	a{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		.i-map{

		}
	}
}
@media (max-width: 1199px) {
	.trip-cruise{
		flex-wrap: wrap;
		.left-trip{
			width: 35%;
			margin-bottom: 15px;
		}
		.mid-trip{
			width: 65%;
			border-right: none;
			padding-right: 0;
			margin-bottom: 15px;
		}
		.right-trip{
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-left: 0;
			padding-top: 15px;
			border-top: 1px solid #dcdcdc;
			&>div{
				margin-top: 0;
				margin-bottom: 0;
			}
			.save-now{
				width: unset;
			}
			.best-poromo{
				flex-shrink: 0;
			}
			.view-map-detail{
				width: unset;
			}
		}
	}
}
@media (max-width: 991px) {
	.trip-cruise{
		.left-trip{
			width: 100%;
		}
		.mid-trip{
			width: 100%;
			padding-left: 0;
		}
	}
	.box-schedule-2{
		overflow-x: auto;
		webkit-overflow-scrolling: touch;
		table{
			min-width: 863px;
		}
	}
}
@media (max-width: 767px) {
	.trip-cruise{
		.right-trip{
			flex-wrap: wrap;
			justify-content: center;
			&>div{
				margin: 0 15px 15px;
			}
		}
	}
	.list-cabins{
		flex-wrap: wrap;
		&>img{
			width: 100%;
		}
		.cabin-info-box{
			margin-top: 20px;
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
		.button-cabin{
			margin-top: 20px;
			width: 100%;
			padding-left: 0;
			.btn-st2{
				max-width: 150px;
			}
		}
	}
}