.section-grid-dt3.section-grid-cruise{
	.grid-ct1{
		.group-ct1-1{
			.head-trip{
				.title-info{
					padding-left: 0;
					width: calc(100% - 37px);
				}
			}
			.body-trip{
				padding-bottom: 0;
				border-bottom: none;
			}
			.foot-trip-st5{
				.div-hidden{
					h2{
						border-bottom: 1px dotted #dcdcdc;
						padding-bottom: 15px;
						margin-bottom: 15px;
						margin-top: 0;
					}
					&>div{
						display: flex;
						align-items: center;
						flex-wrap: wrap;
						line-height: 1.8;
					    margin-bottom: 15px;
					    font-size: 13px;
						.checkmark{
							color: #d0b316;
						    font-size: 14px;
						    margin-right: 10px;
						}
						.wrap-tooltip{
							display: inline-flex;
							width: auto;
							margin: 0;
							padding-right: 0;
							.tooltip{
								.icon-font-cr{
									font-size: 20px;
								}
							}
						}
					}
				}
			}
		}
	}
	.grid-ct2{
		.group-ct2-1{
			.box-infomation-cabins{
				padding-left: 0;
				padding-right: 0;
				.group-head{
					padding-right: 20px;
					padding-left: 20px;
				}
				.box-cabin{
					padding-bottom: 15px;
					margin-bottom: 15px;
					border-bottom: 1px solid #dcdcdc;
					&>div{
						padding-left: 20px;
						padding-right: 20px;
					}
					&:last-child{
						padding-bottom: 0;
						//margin-bottom: 15px;
						border-bottom: none;
					}
					.wrap-slide-st9{
						.synch-carousels{
							.nav-arrows{
								top: 0;
								display: flex;
								button{
									background-image: none;
									width: auto;
									height: 60px;
									z-index: 6;
									visibility: visible;
									top: 50%;
									@include translateY(-50%);
									opacity: .5;
									&:hover{
										opacity: 1;
									}
								}
								button.arrow-left{
									left: 5px;
								}
								button.arrow-right{
									right: 5px;
								}
							}
						}

					}
				}
			}
		}
		.wrap-facilities,.wrap-cruise-desti,.wrap-cruise-article{
			display: none;
		}
	}
	.grid-ct3{
		.group-ct3-1{
			.order-box{
				.order-price{
					&>div{
						b{
							font-size: 18px;
						    color: $higlight-color;
						}
					}
				}
			}
		}
	}
	.grid-ct3{
		z-index: 1;
	}
}
.short-info-cruise{
	display: flex;
	align-items: baseline;
	width: 100%;
	.hotel-news{
		width: unset;
		flex-grow: 1;
		padding-left: 15px;
	}
}
.box-infomation-cabins{
	.box-cabin{
		.wrap-slide-st9{
			.wrap-dots{
				display: none!important;
			}
			.cabin-name-box{
				position: absolute;
				left: 0;
				bottom: 0;
				z-index: 20;
			}
		}
		.connecting-r{
			margin-top: 15px;
			justify-content: flex-start;
			align-items: center;
			width: 100%;
			.btn-st2{
				margin-left: auto;
				border-radius: 999px;
				padding-bottom: 3px;
				padding-top: 3px;
				border-color: #bbb;
				color: #555;
				font{
					font-size: 11px;
				}
				.icon-font{
					margin-right: 5px;
					color: $higlight-color;
					font-size: 14px;
				}
				i:last-child{
					font-style: normal;
					font-size: 20px;
					line-height: 1;
				}
				&:hover{
					color: $higlight-color;
					border-color: $higlight-color;
				}
			}
		}
		.paragraph{
			text-align: left;
			padding-right: 0;
			padding-left: 0;
			font-size: 11px;
		}
		.cr-info-room{
			.row{
				display: flex;
				flex-wrap: wrap;
				margin-left: -15px;
				margin-right: -15px;
				.col-xlg-3{
					text-align: left;
					margin-bottom: 10px;
					font-size: 11px;
					.icon-font-cr{
						margin-right: 5px;
						font-size: 16px;
					}
				}
			}
		}
	}
}
.cabin-name-box{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	color: #fff;
	background-color: $color-cover-dak;
	padding: 10px 15px;
	h3,h4{
		font-size: 18px;
		font-weight: 600;
		margin-top: 0;
		margin-bottom: 5px;
	}
	.cr-content{
		span{
			.icon-font{
				color: inherit;
			}
		}
	}
}
.order-box{
	.order-discount{
		width: 100%;
		h4,h3{
			text-transform: uppercase;
			font-size: 18px;
			text-align: center;
			font-weight: 500;
			padding-bottom: 10px;
			border-bottom: 1px solid #dcdcdc;
		}
		&>div{
			&:nth-child(2){
				text-transform: uppercase;
				font-weight: 500;
				color: #888;
				font-size: 10px;
				text-align: center;
				font{
					font-size: 22px;
					color: $higlight-color;
				}
				span{
					font-size: 26px;
					font-weight: 600;
					color: #e87055;
				}
			}
		}
		.best-offer{
			.col-xlg-12{
				padding-left: 0;
				padding-right: 0;
				&>a{
					span{
						letter-spacing: 0.8px;
						font-size: 10px;
					}
				}
			}
			.panel-st2{
				&>div{
					font-size: 11px;
					letter-spacing: 0;
					line-height: 1.5;
				}
			}
		}
	}
}
.box-check-rates{
	h3,h4{
		text-transform: uppercase;
		font-size: 18px;
		text-align: center;
		font-weight: 500;
		padding-bottom: 10px;
		border-bottom: 1px solid #dcdcdc;
	}
	.text{
		cursor: pointer;
		.calendar-regular, .map-marker{
			font-size: 16px;
			color: #888;
		}
		.bed{
			font-size: 14px;
			color: #888;
		}
		b{
			font-weight: 600;
		}
	}
	.form-field{
		padding-right: 0;
		padding-left: 0;
		.select-st1,.booking-st1{
			width: 100%;
		    height: auto;
		    border: 1px solid $higlight-color;
		    font-size: 12px;
		    vertical-align: middle;
		    line-height: 1.5;
		    color: #555;
		    padding: 10px 8px;
		    -webkit-transition: all .25s linear;
		    -moz-transition: all .25s linear;
		    -o-transition: all .25s linear;
		    -ms-transition: all .25s linear;
		    transition: all .25s linear;
		    background-color: #fff;
		    position: relative;
		    text-align: left;
		    cursor: pointer;

		    .text{
		    	b{
		    		color: $higlight-color;
		    		font-weight: 600;
		    	}
		    }
		    .value, .value-2{
		    	top: 100%;
		    }
		    .value{
		    	z-index: 8;
		    	.btn-value{
		    		padding-left: 15px;
		    		.ship{
		    			margin-right: 5px;
					    font-size: 12px;
					    color: #d0b316;
					    -webkit-transition: all .25s linear;
					    -moz-transition: all .25s linear;
					    -o-transition: all .25s linear;
					    -ms-transition: all .25s linear;
					    transition: all .25s linear;
		    		}
		    	}
		    	&>li{
		    		.btn-value{
		    			&>b{
		    				color: $higlight-color;
		    				font-weight: 600;
		    			}
		    		}
		    	}
		    }
		    .value-2{
		    	max-height: 245px;
    			overflow-y: scroll;
    			overflow-x: hidden;
    			.room-cruise{
    				background-color: $background-color-st1;
    			}
		    }
		}
		.booking-st4{
		    border: 1px solid $higlight-color;
    		
		}
		.booking-st2{
			border: 1px solid $higlight-color;
			position: relative;
			.text{
				padding: 10px 8px;
				b{
					color: #d0b316;
    				font-weight: 600;
				}
			}
		}
		.btn-st3{
			width: 100%;
    		height: 40px;
		}
		&:last-child{
			color: #ff5722;
			font-size: 11px;
		}
	}
}
.booking-st4{
	width: 100%;
	height: auto;
	position: relative;
	vertical-align: middle;
    line-height: 1.5;
    padding: 10px 8px;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -o-transition: all .25s linear;
    -ms-transition: all .25s linear;
    transition: all .25s linear;
    background-color: #fff;
	&>input{
		display: none;
	}
	.text{
		cursor: pointer;
		b{
			color: $higlight-color;
    		font-weight: 600;
    		text-align: left;
		}
		.icon-font{
			color: #888;
		}
	}
}
.value-3{
	max-height: 245px;
	width: calc(100% + 2px);
	position: absolute;
	left: -1px;
	top: 100%;
	overflow-y: scroll;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	box-shadow: 0 6px 40px -4px #9c9991;
	display: none;
	z-index: 8;
	span{
		display: block;
		padding-top: 12px;
		padding-bottom: 6px;
		padding-left: 15px;
		color: $light-color-2;
	}
	&>div{
		width: 100%;
		overflow-x: auto;
		webkit-overflow-scrolling: touch;

	}
	table{
		min-width: 280px;
		//border: 1px solid #efede6;
		thead{
			tr{
				background-color: $higlight-color;
			}
			th{
				padding-bottom: 10px;
    			padding-top: 10px;
    			color: #fff;
    			border: 1px solid #efede6;
    			text-align: center;
    			&:first-child{
    				padding-right: 10px;
    				padding-left: 10px;
    			}
			}
		}
		tbody{
			th,td{
				padding-bottom: 10px;
    			padding-top: 10px;
    			border: 1px solid #efede6;
    			text-align: center;
			}
			td{
				div{
					display: flex;
					margin: 0 auto;
					justify-content: center;
					flex-wrap: wrap;
					max-width: 90%;
				}
			}
		}
		.btn-value{
			font-size: 13px;
			padding: 0 3px;
			border-radius: 5px;
			&:hover{
				background-color: $higlight-color;
				b{
					color: #fff;
				}
				
			}
		}
		.btn-value.active{
			background-color: $higlight-color;
			b{
				color: #fff;
			}
		}
	}
}
.iti-routes-box{
	.wrap-faq{
		width: 100%;
		.order-day{
			margin-top: 0;
			&>a:first-child{
				.flex-box{
					flex-grow: 1;
					padding-right: 10px;
					h3{
						margin-top: 10px;
						margin-bottom: 10px;
					}
					.price-trip-box{
						width: max-content;
					}
				}
				button{
					font-size: 34px;
					color: #555;
					font-weight: 100;
				}
			}
			&:last-child{
				&>a:first-child{
					border-bottom: none;
				}
			}
			&>a.active{
				button{
					ms-transform: unset;
			    	-webkit-transform: unset;
			    	transform: unset;
				}
				
			}
		}
	}
}
.highlight-list{
	.row{
		margin-left: -15px;
		margin-right: -15px;
		display: flex;
		flex-wrap: wrap;
	}
	.col-xlg-6{
		margin: 15px 0 30px;
		position: relative;
		padding-bottom: 152px;
		&>a{
			position: relative;
		}
		.wrap-text-abso{
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			padding-top: 10px;
		}
		.desti{
			color: #fff;
			text-transform: uppercase;
		}
		article{
			position: absolute;
			left: 15px;
			right: 15px;
			bottom: 0;
			max-height: 152px;
			overflow-y: hidden;
			background-color: #fff;
			@include smooth(1s);
			z-index: 3;
			.paragraph{
				padding-left: 0;
				padding-right: 0;
			}
			&:hover{
				max-height: 400px;
			}
			h3,h4{
				font-size: 14px;
				font-weight: 600;
			}
			.btn-st2{
				color: #555;
				border-color: #bbb;
				&:hover{
					color: $higlight-color;
					border-color: $higlight-color;
				}
			}
		}
		.tooltip{
			span{
				@include translateX(-50%);
				left: 15px;
			}
		}
	}
}
.wrap-facilities{
	article{
		//margin-top: 20px;
		
		h4{
			width: 100%;
		}
		.row{
			margin-right: -15px;
			margin-left: -15px;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
		}
		p{
			text-align: left;
			margin-bottom: 10px;
			line-height: 1.4;
			display: flex;
			align-items: center;
			font-size: 11px;
			.icon-font{
				margin-right: 5px;
				color: $higlight-color;
				font-size: 14px;
				font-weight: 800;
			}
			.icon-font-cr{
				margin-right: 5px;
			}
		}
	}
}
.video-box-st2{
	.hidden-tablet{
		margin-top: 10px;
		iframe{
			width: 100%;
		}
	}
}
.wrap-cruise-desti, .wrap-cruise-article{
	.box-destination-st3{
		padding-bottom: 10px;
		border-bottom: 1px solid #dcdcdc;
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
			border-bottom: none;
		}
	}
}
.location-wrap{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	.wrap-tooltip{
		padding-left: 0;
		padding-right: 0;
		justify-content: flex-start;
		width: auto;
		margin: 0 10px 0 0;
	}
}
.location-st2{
	display: flex;
	align-items: center;
	.icon-font{
		font-size: 16px;
    	color: $higlight-color;
		margin-right: 5px;
	}
}
.box-destination-st3{
	display: flex;
	flex-wrap: wrap;
	.left-box{
		width: 30%;
		&>a{
			display: block;
		}
	}
	.right-box{
		width: 70%;
		padding-left: 15px;
		h3{
			margin-top: 0;
			font-size: 14px;
		}
		.paragraph{
			padding-left: 0;
			padding-right: 0;
			margin-top: 0;
			margin-bottom: 0;
			text-align: left;
		}
	}
}
.wrap-list-buttons{
	width: 100%;
	float: left;
	text-align: center;
}
.list-buttons{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 5px auto;
	width: 80%;
	button{
		width: 42%;
		background-color: #d0b316;
		margin-top: 5px;
		padding: 5px 0;
		color: #fff;
		border-radius: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
		font{
			text-transform: uppercase;
    		font-weight: 600;
    		letter-spacing: 1px
		}
		.icon-font{
			font-size: 12px;
			margin-right: 5px;
		}
		&:hover{
			color: #fff;
		}
	}
}
.big-first-tour-box{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 40px;
	.head-box{
		.img-box-st2{
			display: block;
			&:hover{
				opacity: .9
			}
		}
		width: 100%;
		position: relative;
		.count-day{
		    top: 12px;
		    left: 12px;
		    background: rgba(208, 179, 22, 0.9);
		    text-transform: capitalize;
		    font-size: 14px;
		}
		.heart-tour{
			position: absolute;
		    top: 10px;
		    right: 10px;
		    z-index: 2;
		    font-size: 36px;
		    color: rgba(255,255,255,0.8);
		}
		h2{
			position: absolute;
			z-index: 5;
			bottom: 0;
			left: 0;
			font-weight: 500;
			width: 100%;
			padding: 25px 15px 25px 20px;
			background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.65)));
		    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
		    background: -moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
		    background: -ms-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
		    background: -o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
			margin: 0;
			a{
				color: #fff;
				max-width: calc(100% - 180px);

				font-size: 22px;
			    letter-spacing: 2px;
			    font-weight: 600;
			    &:hover{
			    	color: $higlight-color;
			    }
			}
		}
		.expert-box{
			position: absolute;
			bottom: 5px;
			right: 15px;
			z-index: 9;
		}
	}
	.body-box{
		background-color: #fff;
		padding: 20px 20px 0 20px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;


			.address-box{
				flex-grow: 1;
				padding-right: 30px;
				max-width: calc(100% - 247px);
			}
			.btn-st2{
				//width: 247px;
				//line-height: 1;
				border: none;
				padding-left: 0;
				padding-right: 0;
				padding-top: 5px;
				padding-bottom: 5px;
				margin-left: auto;
				flex-shrink: 0;
				.icon-font{
					font-size: 24px;
    				color: #d0b316;
    				margin-right: 5px;
				}
				span{
					width: max-content;
					display: inline-flex;
					align-items: center;
					line-height: 1;
				}
				font{
					font-style: normal;
					font-size: 20px;
				}
				&:hover{
					border-color: $higlight-color;
				}
			}


			.paragraph{
				width: 100%;
				margin-top: 20px;
				text-align: left;
				padding: 0;
				margin-bottom: 0;
				padding-bottom: 15px;
				border-bottom: 1px dotted #dcdcdc;
			}

	}
	.foot-trip{
		border-top: none;
		margin-top: 0;
		background-color: #fff;
		padding: 15px 20px 40px 20px;
		.btn-st2{
			border-color: #bbb;
			padding: 5px 25px;
			font{
				font-style: normal;
				font-size: 20px;
			}
			&:hover{
				border-color: $higlight-color;
			}
	}
	}
}
.expert-box{
	display: flex;
	justify-content: center;
	align-items: center;
	//position: absolute;
	&>div{
		&:first-child{
			h6{
				margin-top: 0;
				font-size: 12px;
				color: #fff;
				font-weight: 600;
				text-align: right;
				text-transform: uppercase;
				margin-bottom: 5px;
			}
			p{
				color: #fff;
				text-align: right;
				font-size: 10px;
			}
		}
		&:last-child{
			padding: 8px;
			background-color: $color-cover-dak-2;
			border-radius: 50%;
			img{
				max-width: 44px;
				border-radius: 50%;
			}
		}
	}
}
.wrap-list-cabins{
	padding-right: 15px;
	padding-left: 15px;
}
.box-cabin-st2{
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
	background-color: #e6ddcc;
	padding-top: 15px;
	padding-bottom: 15px;
	&>.col-xlg-12{
		text-align: left;
		font-weight: 600;
	}
	.form-field{
		margin-top: 5px;
	}
}
#modal-inquery-cruise{
	h3{
		text-transform: uppercase;
	}
	&>p{
		text-align: center;
		font-weight: 500;
		text-transform: uppercase;
	}
	.ava-detail-modal{
		max-height: 110px;
	}
	.form-field textarea{
		height: 70px;
		input,textarea{
			border-color: #d2c5ae;
		}
	}
	button[type="submit"]{
		width: 45%;
		min-width: 95px;
	}
	.room-type{
		margin-right: auto;
	}
	.select-st1,.select-st2, .booking-st1, .booking-st4{
		width: 100%;
		height: auto;
		border: 1px solid #d2c5ae;
		font-size: 12px;
		vertical-align: middle;
		line-height: 1.5;
		color: #555;
		padding: 10px 8px;
		@include smooth(.25s);
		background-color: #fff;
		position: relative;
		text-align: left;
		.text{
			cursor: pointer;
			.calendar-regular, .map-marker{
				font-size: 16px;
				color: #888;
				
			}
			.bed{
				font-size: 14px;
				color: #888;
			}
		}

		.value-2{
			top: 100%;
		}
		.value{
			top: 100%;
			z-index: 3;
			&>li{
				&>.btn-value{
					padding: 10px;
					&>b{
						text-overflow: clip;
    					white-space: normal;
    					font-weight: 600;
					}
				}
			}
			.btn-value{
				.icon-font:first-child{
					display: inline-block;
					width: 10%;
					margin-right: 8px;
					font-size: 15px;
					color: $higlight-color;
					@include smooth(.25s);
				}
				.icon-font.map-marker{
					width: auto;
				}

				&:hover{
					.icon-font:first-child{
						color: $main-color;
					}
				}
			}
		}
	}
	.booking-st2{
		border: 1px solid #aaa;
		position: relative;
		input{
		width: 100%;
		border: none;
		}
		.text{
			padding-left: 8px;
			padding-right: 8px;
		}
	}
	.booking-st4{
		.text{
			b{
				color: inherit;
				font-weight: normal;
			}
		}
	}
}
.pop-up-foot{
	position: fixed;
	z-index: 219;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(10,10,10,.8);
	padding-top: 20px;
	padding-bottom: 20px;
	.paragraph{
		color: #fff;
		padding-left: 15px;
		padding-right: 15px;
		text-align: left;
		font-size: 10px;
	}
	.btn-close-st2{
		position: absolute;
		top: 0;
		right: 20px;
		z-index: 8;
	}
}
.btn-close-st2{
	font-size: 32px;
	color: #fff;
}
.sticky-box{
	position: sticky;
	position: -webkit-sticky;
	z-index: 99;
	@include smooth(1.5s);
	top: -1000px;
	background-color: #fff;
}
.parameter-box{
	display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    &>div{
    	display: flex;
    	justify-content: center;
    	flex-wrap: wrap;
    	padding-right: 15px;
    	padding-left: 15px;
    	b{
    		width: 100%;
    		text-align: center;
    		color: $higlight-color;
    		font-size: 40px;
    	}
    	span{
    		text-transform: uppercase;
    		font-size: 11px;
    		text-align: center;
    	}
    }
}
.crowd-container{
	width: 100%;
	margin-bottom: 30px;
}
.row-crowd{
	display: flex;
	display: none;
	&:first-child, &:nth-child(2){
		display: flex;
	}
	.crowd-box{
		flex-grow: 1;
		padding-left: 1px;
		padding-right: 1px;
		margin-top: 2px;
		max-height: 180px;
		overflow: hidden;
		position: relative;
		opacity: 1;
		display: inline-flex;
		align-items: center;
		//@include smooth(.25s);

		.box-img{
			width: 100%;
			@include smooth(.3s);
		}
		.external-link{
			position: absolute;
			z-index: 5;
			color: #fff;
			top: 5px;
			right: 5px;
			font-size: 16px;
			display: none;
		}
		&>div:last-child{
			position: absolute;
			z-index: 5;
			color: #fff;
			bottom: 5px;
			left: 5px;
			
			.asiatours-black{
				font-size: 16px;
			}
			font{
				display: none;
			}
		}
		&:hover{
			.box-img{
				@include scale(1.1);
				
				@include dakkenImg(70%);
			}
			.external-link{
				display: block;
			}
			&>div:last-child{
				font{
					display: inline;

				}
			}
		}
	}
}
.link-st4{
	margin-top: 20px;
	text-transform: uppercase;
	display: inline-flex;
	align-items: center;
	.icon-font{
		font-size: 7px;
		margin-left: 5px;
	}
}
@media (max-width: 1350px) {
	.row-crowd{
		.crowd-box{
			max-height: 160px;
		}
	}
}
@media (max-width: 1199px) {

}
@media (max-width: 991px) {
	.row-crowd{
		//flex-wrap: wrap;
		&:nth-child(3){
			display: flex;
		}
		.crowd-box{
			max-height: 230px;
		}
	}
	.section-grid-dt3.section-grid-cruise{
		.grid-ct4{
			grid-row: 4 / 5;
			z-index: unset;
			.box-check-rates{
				.value-2, .value{
					z-index: 10;
				}
			}
		}
		.grid-ct2{
			grid-row: 5 / 6;
			.group-ct2-1{
				.box-infomation-cabins{
					.group-head{
						padding-right: 15px;
						padding-left: 15px;
					}
					.box-cabin{
						&>div{
							padding-right: 15px;
							padding-left: 15px;
						}
					}
					.hidden-tablet{
						display: block;
					}
				}
			}
			.group-ct2-4{
				.iti-routes-box{
					.hidden-tablet{
						display: block;
					}
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.parameter-box{
		flex-wrap: wrap;
		&>div{
			width: 50%;
			margin-bottom: 15px;
		}
	}
	.row-crowd{
		//flex-wrap: wrap;
		.crowd-box{
			max-height: 140px;
		}
	}
	.section-grid-dt3.section-grid-cruise{
		.grid-ct1{
			.group-ct1-1{
				.head-trip{
					position: relative;
					.title-info{
						width: 100%;
						.title-h2{
							min-height: unset;
							text-align: left;
							width: calc(100% - 21px);
						}
						.short-info-cruise{
							flex-wrap: wrap;
							.star-box{
								margin-top: 5px;
								margin-right: 5px;
								font-size: 10px;
							}
							.hotel-news{
								//width: 100%;
								padding-left: 0;
								padding-right: 0;
								margin-top: 0;
								span{
									margin-top: 5px;
									font-size: 9px;
									.icon-font{
										font-size: 11px;
									}
								}
							}
						}
					}
					.heart-tour{
						display: block;
						position: absolute;
						top: 0;
						right: 15px;
						margin-top: 0;
						width: 21px;
						.icon-font{
							font-size: 20px;
						}
					}
				}
			}
		}
		.grid-ct2{
			.group-ct2-1{
				position: relative;
				&:before{
					content: '';
					display: block;
					position: absolute;
					top: -12px;
					left: calc(50% - 12px);
					width: 25px;
					height: 25px;
					background-color: #fff;
					@include rotage(45deg);
				}
			}
		}
	}
	.cr-content{
		justify-content: center;
		span{
			margin-top: 5px;
		}
	}
	.cabin-name-box{
		padding-right: 5px;
		padding-left: 5px;
		justify-content: center;
		h3{
			font-size: 14px;
		}
		.cr-content{
			span{
				font-size: 7px;
				.icon-font{
					font-size: 8px;
				}
			}
		}
	}
	.box-destination-st3{
		display: block;
		.left-box{
			//width: 100%;
			float: left;
			margin-right: 10px;
		}
		.right-box{
			width: 100%;
			padding-left: 0;
			h3{
				margin-top: 10px;
				a{
					display: inline;
				}
			}
			.location-wrap{
				flex-wrap: wrap;
				.wrap-tooltip{
					margin-bottom: 10px;
				}
				.location-st2{
					margin-bottom: 10px;
				}
			}
		}
	}
	.big-first-tour-box{
		.head-box{
			.count-day{
				top: 5px;
			    left: 5px;
			    font-size: 10px;
			}
			.heart-tour{
			    top: 5px;
			    right: 5px;
			    font-size: 26px;
			}
			h2{
				padding-top: 10px;
				padding-bottom: 10px;

				a{
					font-size: 16px;
					text-align: center;
					max-width: unset;
					font-weight: 600;
				}
			}
			.expert-box{
				display: none;
			}
		}
		.body-box{
			padding-left: 15px;
			padding-right: 15px;
			justify-content: center;
				.address-box{
					//flex-grow: 1;
					padding-right: 0;
					max-width: unset;
					width: 100%;
					order: 1;
				}
				.btn-st2{
					order: 3;
					margin-left: unset;
					margin-top: 15px;
				}


				.paragraph{
					order: 2;
					text-align: center;
				}

		}
		.foot-trip{
			.btn-st2{
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
	.box-infomation-cabins{
		.connecting-r{
			justify-content: center;
			span{
				&:first-child{
					margin-left: auto;
				}
				&:nth-child(2){
					margin-right: auto;
				}			}
			.btn-st2{
				margin-right: auto;
				margin-top: 10px;
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		
		.box-cabin{
			.paragraph{
				text-align: center;
			}
			.cr-info-room{
				text-align: center;
				.row{
					.col-xlg-3{
						text-align: center;
					}
				}
			}
		}
		
	}
}
@media (max-width: 479px) {
	.price-trip-box{
		display: none;
	}
	.row-crowd{
		//flex-wrap: wrap;
		.crowd-box{
			max-height: 120px;
		}
	}
}
@media (max-width: 375px) {
	.row-crowd{
		//flex-wrap: wrap;
		.crowd-box{
			max-height: 90px;
		}
	}
}