body.body-st2>.app{
	display: flex;
	align-items: flex-start;
	.nav-side-menu{
	    position: fixed;
	    left: 0;
	    top: 0px;
	    z-index: 180;
	    width: 200px;
	    height: 100%;
	    .wrap-main-menu{
	    	position: static;
	    	.brand{
	    		display: none;
	    	}
	    	.main-menu{
	    		overflow-x: visible;
	    		max-width: unset;
	    		width: 100%;
	    	}
	    }
	}
	&>.content-st2{
		width: calc(100% - 200px);
		margin-left: 200px;
		.btn-bar-toggle{
    		display: none;
    	}
	}
	
	#search-nav-top{
		left: 50%;
		width: calc(100% - 30px);
	}
	#booking-widget-homepage{
		width: 100%;
		.form-banner-top{
			width: 85%;
		}
	}
	.container{
		width: 95%;
	}
	.wrap-title-banner-top-line{
		width: 100%;
		height: auto;
	}
	.experience-dt-container {
		background-position-x: 50%;
	}
	.sub-menu{
		&>li{
			a{
				font-size: 10px;
				padding-left: 30px;
				font{
					white-space: normal;
				}
			}
		}
	}
}
.app-2{
	.banner-top-slider{
		.wrap-title-banner-top{
			left: 50%;
		}
		#booking-widget-homepage{
			left: 50%;
			@include translateX(-50%);
		}
	}

}
.menu-wrap-2{
	.menu-per{
		display: flex;
		align-items: center;
		width: 100%;
		height: 40px;
		background-color: #111;
		color: #fff;
		position: relative;
		.box-licen{
			margin-left: 40px;
			margin-right: auto;
			ul{
				display: flex;
				li:first-child{
					margin-right: 20px;
				}
				li{
					.icon-font{
						font-size: 11px;
					}
					font{
						font-size: 11px;
						font-weight: 500;
					}
				}
			}
			

		}
		.search-nav{
			margin-left: auto;
			height: 100%;
			
			.btn-collep-mobi{
				display: none;
			}
			.phone-box{
				margin-right: 30px;
				color: inherit;
			}
			.btn-collep-search{
				margin-right: 30px;
				color: inherit;
				display: inline-flex;
			    align-items: center;
			    height: 100%;
			    .icon-font{
			    	font-size: 15px;
			    	margin-right: 5px;
			    }
			    font{
			    	font-weight: 600;
			    }
			}
			#search-nav-top{
				left: 50%;
				top: 100%;
			}
		}
		.global-menu{
			margin-right: 40px;
			display: flex;
			height: 100%;
			&>li{
				&>a{
					color: inherit;
				}
			}
			.lang-top{
				margin-right: 30px;
				&>a{
					font{
						margin-left: 0;
					}
					.select-arrow-thin{
						margin-left: 10px;
					}
				}
			}
			.login-top{
				&>a{
					.select-arrow-thin{
						margin-left: 10px;
					}
				}
			}
		}
	}

}
.main-menu-2{
	display: flex;
	align-items: center;
	width: 100%;
	height: 60px;
	padding: 0 40px;
	/* position: absolute;
	
	top: 40px;
	left: 0; */
	@include smooth(.3s);
	position: relative;
	background: -webkit-gradient(linear, left bottom, left top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.79)));
	background: -webkit-linear-gradient(bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 100%);
	background: -moz-linear-gradient(bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 100%);
	background: -ms-linear-gradient(bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 100%);
	background: -o-linear-gradient(bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 100%);
	.brand{
		max-width: 125px;
		img{
			width: 100%;
		}
	}
	&>ul{
		display: flex;
		// align-items: center;
		margin-left: auto;
		height: 100%;
		&>li{
			margin-left: 20px;
			height: 100%;
			&>a{
				height: 100%;
				display: inline-flex;
				align-items: center;
				color: #fff;
				font-size: 13px;
				.select-arrow-thin{
					margin-left: 5px;
					font-size: 6px;
				}
			}

			&>.btn-st5{
				height: 40px;
				background-color: $higlight-color;
			}
		}
		&>.wrap-btn{
			display: inline-flex;
			align-items: center;
			margin-left: 30px;
		}
		.sub-menu-title{
			/* &:hover{
				.sub-menu.sub-menu-cruises{
					display: block;
				}
				.sub-menu{
					display: flex;
				}

			} */
			.sub-menu{
				// display: flex!important;
				position: absolute;
				top: 100%;
				left: 0;
				z-index: 100;
				background-color: #fff;
			}
			.sub-menu-destinations{
				padding: 15px 40px;
				justify-content: space-between;
				width: 100%;
				&>li{
					width: calc(20% - 22px);
					max-width: 260px;
					&>.name-destinations{
						padding: 0;
						display: block;
						position: relative;
						overflow: hidden;
						img{
							@include smooth(.25s);
						}
						span{
							display: flex;
							align-items: center;
							justify-content: center;
						    width: 90%;
						    height: 45%;
						    padding: 8px 0;
						    background-color: rgba(255,255,255,0.8);
						    text-transform: uppercase;
						    font-weight: 700;
						    color: #111;
							position: absolute;
							left: 50%;
							top: 50%;
							@include translate2d(-50%,-50%);
							@include smooth(.25s);
							z-index: 7;
							.select-arrow-thin{
								display: none;
							}
						}
						&:hover{
							span{
								background-color: transparent;
								color: #fff;
							}
							img{
								opacity: 1;
								@include scale(1.1);

							}
						}
					}
					&>a{
						padding: 0;
						width: 100%;
						span{
							margin: 0 auto;
						}
					}
					.menu-lv-3{
						a{
							width: 100%;
							padding: 10px 0;
							text-align: center;
							font-weight: 600;
							// color: 
						}
					}
					.btn-st2{
						margin-top: 10px;
						padding-top: 15px;
						padding-bottom: 15px;
					}
				}
				
			}
			.sub-menu-travel{
				// display: flex;
				justify-content: center;
				flex-wrap: wrap;
				width: 100%;
				padding: 15px 11%;
				&>li{
					width: 20%;
					&>a{
						width: 100%;
						max-width: 200px;
						padding: 0;
						display: block;
						position: relative;
						opacity: 1;
						margin-left: auto;
						margin-right: auto;
						span{
							display: flex;
						    justify-content: center;
						    align-items: center;
						    position: absolute;
						    text-align: center;
						    top: 0;
						    left: 0;
						    width: 100%;
						    height: 100%;
						    text-transform: uppercase;
						    font-size: 12px;
						    font-weight: 600;
						    color: #fff;
						    background-color: rgba(0,0,0,0.4);
						    padding: 22px;
						}
						&:after{
							content: '';
							display: block;
							position: absolute;
						    top: 0;
						    left: 0;
						    right: 0;
						    bottom: 0;
						    border: 0px;
						    border-radius: 0;
						    @include smooth(.25s);
						}
						&:hover{
							&:after{
								top: 15px;
							    left: 15px;
							    right: 15px;
							    bottom: 15px;
							    border-radius: 50% 50% 0px 50%;
							    border: 1px solid rgba(207,172,27,0.8);
							}
						}
					}
				}
			}
			.sub-menu-cruises{
				// display: block;
				min-width: 250px;
				&>li{
					&>a{
						padding: 15px 20px;
						font-weight: 600;
						width: 100%;
					}
				}
			}
		}
	}
}
.btn-bar-toggle-2{
	display: none;
}
@media (min-width: 1025px) {
	body.body-st2>.app{
		.nav-side-menu{
		    .wrap-main-menu{
		    	&:before{
		    		display: none;
		    	}
		    	.brand{
		    		display: block;
		    		background-color: $background-color-st1;
		    		padding: 15px;
		    	}
		    	.main-menu{
		    		height: calc(100% - 108px);
		    	}
		    }
		}
		header{
			position: sticky;

			.menu-wrap{
				.brand{
					display: none;
				}
				.search-nav{
					height: 100%;
					flex-grow: 1;
					//width: 60%;
					max-width: unset;
					.open-search-top{
						//height: 40px;
						flex-grow: 1;
						padding-left: 10px;
						padding-right: 10px;
					}
				}
			}
		}
		.wrap-map{
			.map-home{
				.synch-carousels{
					top: 10px;
				}
			}
		}
		.wrap-mini-intro{
			width: 70%;
		}
		.follow-top{
			display: block;
		}
		.bacground-box{
			left: 0;
			width: 100%;
		}
		.bg-parallax{
			background-position-x: 100px;
		}
		.section-login{
			.wrap-slide-st7{
				left: 0;
				width: 100%;
			}
		}
	}
	.main-menu-2{
		&>ul{
			.sub-menu-title{
				&:hover{
					.sub-menu.sub-menu-cruises{
						display: block;
					}
					.sub-menu{
						display: flex;
					}
				}

			}
		}
	}
}
@media (max-width: 1199px) {
	.banner-small,.banner-small-2{
		height: 365px;
	}
	.bg-about{
		background-position-y: 0;
	}
}
@media (max-width: 1024px) {
	body.body-st2>.app{
		.nav-side-menu{
			position: fixed;
			max-width: 0;
			@include smooth(.25s);
		    .wrap-main-menu{
		    	border-right: none;
		    	.main-menu{
					//display: none;
		    	}
		    }
		}
		&>.content-st2{
			width: 100%;
			margin-left: 0;
			.btn-bar-toggle{
	    		display: block;
	    		position: relative;
	    		//z-index: 207;
	    		text-align: left;
	    		//margin-left: 10px;
	    	}
	    	header{
	    		z-index: 185;
	    	}
		}
	}
	.menu-wrap-2{
		.menu-per{
			.box-licen{
				display: none;
			}
			.search-nav{
				margin-left: 30px;
			}
			.global-menu{
				margin-left: auto;
			}
		}
	}
	.main-menu-2{
		// display: none;
		position: absolute;
		top: 40px;
		left: 0;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		height: calc(100vh - 40px);
		max-width: 500px;
		.brand{
			margin-bottom: 15px;
			margin-top: 15px;
		}
		&>ul{
			margin-left: 0;
			height: auto;
			flex-direction: column;
			// background-color: #fff;
			&>li{
				margin-left: 0;
				height: auto;
				&>a{
					padding-top: 15px;
					height: auto;
					// width: 100%;
				}
			}
			&>.wrap-btn{
				margin-left: 0;
				.btn-st5{
					margin-top: 20px;
					height: 40px;
					padding-top: 5px;
				}
			}
			.sub-menu-title{
				/* .sub-menu{
					display: flex;
					position: static;
				} */
				.sub-menu-destinations{
					// display: block;
					position: static;
					background-color: transparent;
					padding: 0 0 0 20px;
					&>li{
						width: auto;
						.name-destinations{
							img{
								display: none;
							}
							span{
								position: static;
								transform: none;
							    -moz-transform: none;
							    -webkit-transform: none;
							    -o-transform: none;
							    -ms-transform: none;
							    background-color: transparent;
							    text-transform: none;
							    color: #fff;
							    font-weight: 400;
							    padding-top: 15px;
							    padding-bottom: 0;
							    justify-content: flex-start;
							    margin-left: 0;
							    margin-right: 0;
							    .select-arrow-thin{
							    	display: inline-block;
							    	font-size: 5px;
							    	margin-left: 5px;
							    }
							}
						}
						&>a:nth-child(2){
							display: none;
						}
						.menu-lv-3{
							display: none;
							padding-left: 20px;
							a{
								display: block;
								color: #fff;
								font-weight: 400;
								width: auto;
								padding-bottom: 0;
								padding-top: 15px;
								text-align: left;
							}
						}
						.btn-st2{
							display: none;
						}
					}
				}
				.sub-menu-travel{
					// display: block;
					position: static;
					padding: 0 0 0 20px;
					background-color: transparent;
					&>li{
						width: auto;
						&>a{
							padding-top: 15px;
							margin-left: 0;
							img{
								display: none;
							}
							span{
								position: static;
								display: inline;
								text-transform: none;
								font-weight: 400;
								padding: 0;
								background-color: transparent;
								margin-left: 0;
							}
							&:after{
								display: none;
							}
						}
					}
					&>li.mg-top-30{
						margin-top: 0;
					}
				}
				.sub-menu-cruises{
					// display: block;
					background-color: transparent;
					position: static;
					padding: 0 0 0 20px;
					&>li{
						&>a{
							padding: 15px 0 0 0;
							color: #fff;
							font-weight: 400;
						}
					}
				}
			} 
		}
	}
	.btn-bar-toggle-2 {
	    display: block;
	    height: 100%;
	    // width: 50px;
	    color: #fff;
	    font-size: 24px;
	    margin-left: 40px;
	    padding-top: 5px;
	}
	.main-menu-2-left{
		left: -510px!important;
	}
}
@media (max-width: 991px) {
	.menu-wrap-2{
		.menu-per{
			.search-nav{
				.btn-collep-search{
					font{
						display: none;
					}
				}
			}
		}
	}   
}
@media (max-width: 767px) {
	body.body-st2>.app{
		&>.content-st2{
			.btn-bar-toggle{
	    		text-align: center;
	    	}
		}
		header{
			.menu-wrap{
				.search-nav{
					margin-left: 10px;
				}
			}
		}
	}
	.btn-bar-toggle-2{
		margin-left: 15px;
	}
	.menu-wrap-2{
		.menu-per{
			.global-menu{
				margin-right: 15px;
				.login-top{
					&>a{
						.select-arrow-thin{
							margin-left: 3px;
						}
					}
				}
			}
			.search-nav{
				.phone-box{
					margin-right: 15px;
				}
			}
		}
	}
}
@media (max-width: 479px) {
	body.body-st2>.app{
		.nav-side-menu{
			max-width: unset;
			width: 0;
			.wrap-main-menu{
				width: 100%;
			}
		}
	}
}