.section-grid-dt4{
	.container{
		margin-top: 30px;
		display: grid;
		grid-template-columns: 72% 28%;
    	grid-auto-rows: auto max-content max-content max-content 1fr;
    	align-content: start;
    	align-items: start;
    	justify-content: start;
    	//background-color: #aaa;
    	&>div{
    		margin-bottom: 30px;
    	}
    	&>.grid-ct0{
    		margin-bottom: 10px;
    	}
	}
	.grid-ct0{
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		padding-left: 15px;
		padding-right: 10px;
		//margin-bottom: 10px;
		//background-color: blue;
		.grid-ct0-1{

		}
	}
	.grid-ct1{
		grid-column: 1 / 2;
		padding-left: 15px;
		grid-row: 2 / 6;
		padding-right: 10px;
		//background-color: #a12345;
		&>div{
			background-color: #fff;
			padding: 15px 15px 40px 15px;
			margin-bottom: 30px;
			border-radius: 6px;
			border: 1px solid #EEE;
		}
	}
	.grid-ct2{
		grid-column: 2 / 3;
		grid-row: 1 / 3;
		padding-left: 10px;
		padding-right: 15px;
		z-index: 1;
		&>div{
			background-color: #fff;
			padding: 20px 15px;
			border-radius: 6px;
			border: 1px solid #EEE;
		}
	}
	.grid-ct3{
		grid-column: 2 / 3;
		grid-row: 4 / 5;
		padding-left: 10px;
		padding-right: 15px;
		&>div{
			background-color: #fff;
			padding: 20px 15px;
			border-radius: 6px;
			border: 1px solid #EEE;
		}
	}
	.grid-ct4{
		grid-column: 2 / 3;
		grid-row: 5 / 6;
		padding-left: 10px;
		padding-right: 15px;
	}
}
.titile-request-box{
	display: flex;
	align-items: baseline;
	color: #333;
	.icon-font{
		font-size: 20px;
		margin-right: 5px;
		line-height: 1;
	}
	font{
		font-size: 18px;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 1;
	}
}
.trip-request-box{
	.hidden-tablet{
		display: block;
	}
	.trip-st4{
		margin-bottom: 0;
		padding: 0;
		.foot-trip{
			.wrap-tooltip{
				padding-left: 0;
				width: max-content;
				margin: 0;
			}
		}
		.heart-tour-st2{
			display: block;
		    margin-bottom: 10px;
		    margin-left: 15px;
		    font-size: 36px;
		    color: $higlight-color;
		}
	}
}
.request-trip{
	display: flex;
	flex-wrap: wrap;
	.head-trip{
		align-items: center;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-top: 1px solid #dcdcdc;
		border-bottom: 1px solid #dcdcdc;
		.view-map{
			display: flex;
		    flex-direction: column;
		    justify-content: flex-end;
		    align-items: center;
		    width: 67px;
		    .icon-font{
		    	font-size: 26px;
				color: $higlight-color;
		    }
		    font{
		    	color: #666;
    			font-size: 12px;
		    }
		}
		.day-trip{
			width: 50px;
			span{
				font-size: 8px;
				b{
					font-size: 16px;
				}
			}
		}
		.title-info{
			width: calc(100% - 123px);
			padding-right: 30px;
			.title-h2{
				font-size: 18px;
				margin-bottom: 5px;
				font-weight: 500;
				a{
					color: #555;
					&:hover{
						color: $higlight-color;
					}
				}
			}
		}
	}
	.body-trip-st4{
		border-top: 1px solid #dcdcdc;
		padding-top: 15px;
		margin-top: 15px;
		.paragraph{
			text-align: left;
			padding-right: 0;
			padding-left: 0;
		}
	}
	.foot-trip-st4{
		width: 100%;
		padding-top: 15px;
		margin-top: 15px;
		border-top: 1px dotted #dcdcdc;
		display: flex;
		flex-wrap: wrap;
		.info-request-box{
			flex-grow: 1;
			width: 50%;
			padding-right: 15px;
			border-right: 1px solid #dcdcdc;
		}
		.team-request-box{
			width: 50%;
			max-width: 340px;
			padding-left: 15px;
		}
	}
}
.info-request-box{
	display: flex;
	flex-wrap: wrap;
	&>div{
		width: 100%;
		span{
			font{
				font-weight: 600;
    			color: #aaa;
			}
		}
		&:first-child{
			span{
				.icon-font{
					font-size: 16px;
					color: #aaa;
					margin-right: 5px;
				}
				display: inline-flex;
				align-items: center;
				&:first-child{
					padding-right: 15px;
					border-right: 1px solid #dcdcdc;
				}
				&:nth-child(2){
					padding-left: 15px;
				}
			}
		}
		&:last-child{
			display: flex;
			justify-content: space-between;
			align-items: center;
			.btn-st2{
				width: calc(50% - 10px);
				display: inline-flex;
				justify-content: center;
				align-items: center;
				border-radius: 999px;
				color: #888;
    			border-color: #bbb;
    			padding-left: 0;
    			padding-right: 0;
				.icon-font{
					font-size: 14px;
				}
				font{
					text-transform: uppercase;
				}
				&:first-child{

					.icon-font{
						color: $higlight-color;
						margin-right: 5px;
					}
				}
				&:last-child{
					.icon-font{
						color: $higlight-color;
						margin-left: 5px;
					}
				}
				&:hover{
					color: #fff;
					border-color: $higlight-color;
					background-color: $higlight-color;
					.icon-font{
						color: #fff;
					}
				}
			}
		}
	}
}
.team-request-box{
	display: flex;
	flex-wrap: wrap;
	&>div{
		width: 100%;
		&>span{
			&>font{
				font-weight: 600;
    			color: #aaa;
			}
		}
		&:first-child{
			span{
				display: inline-flex;
				align-items: center;
				&:first-child{
					padding-right: 5px;
					.tooltip{
						z-index: 15;
						opacity: 1;
						&>div{
							width: 35px;
							//border-radius: 50%;
							img{
								border-radius: 50%;
							}
						}
						&>span{
							left: 50%;
							@include translateX(-50%);
							color: #fff;
							bottom: calc(100% + 10px);
							background-color: $higlight-color;
							&:after{
								background-color: $higlight-color;
							}
						}
					}
				}
				
			}
			&>a{
				padding-left: 5px;
				display: inline-flex;
				align-items: center;
				color: #555;
				height: 100%;
				.icon-font{
					margin-right: 5px;
					font-size: 14px;
					color: #888;
				}
				strong{
					display: flex;
				    padding-left: 1px;
				    width: 16px;
				    height: 16px;
				    justify-content: center;
				    align-items: center;
				    font-size: 11px;
				    border-radius: 50%;
				    background-color: red;
				    color: #fff;
				    font-weight: 600;
				}
				b{
					color: inherit;
					padding-right: 2px;
				}
				&:hover{
					color: $higlight-color;
					.icon-font{
						color: $higlight-color;
					}
				}
			}
		}
		&:last-child{
			span{
				display: inline-flex;
				align-items: center;
				.tooltip{
					z-index: 15;
					opacity: 1;
					&>div{
						width: 35px;
						//border-radius: 50%;
						img{
							border-radius: 50%;
						}
					}
					&>span{
						left: 50%;
						@include translateX(-50%);
						color: #fff;
						bottom: calc(100% + 10px);
						background-color: $higlight-color;
						&:after{
							background-color: $higlight-color;
						}
					}
				}
				&:first-child{
					padding-right: 5px;
				}

			}
		}
	}
}
.trip-code-box{
	display: flex;
	align-items: center;
	flex-grow: 1;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	span{
		display: inline-block;
		font{
			font-weight: 600;
			color: #aaa;
		}
		&:first-child{
			padding-right: 15px;
			border-right: 1px solid #dcdcdc;
		}
		&:nth-child(2){
			padding-left: 15px;
		}
		&:last-child{
			padding-left: 15px;
			color: #07b307;
			b{
				color: inherit;
			}
		}
	}
	&>a{
		margin-left: auto;
		color: #e87055;
		b{
			color: red;
		}
	}
}
.info-customer{
	.customer-head{
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 1px solid #dcdcdc;
		.name{
			
		}
	}
	.customer-body{
		
		&>a{
			width: 100%;
			text-align: center;
			display: block;
			margin-bottom: 15px;
			color: #888;
			.icon-font{
				font-size: 14px;
				color: inherit;

			}
			.icon-mail{
				font-size: 10px;
			}
			.icon-trip-01{
				font-size: 12px;
			}
			font{
				color: inherit;
				font-weight: 500;
			}
			&:hover{
				color: $higlight-color;
			}
		}
		&>a.active{
			color: $higlight-color;
		}
	}
	.customer-foot{
		padding-top: 15px;
		margin-top: 15px;
		margin-right: auto;
		margin-left: auto;
		width: 90%;
		border-top: 1px dotted #dcdcdc;
		&>a{
			width: 100%;
			text-align: center;
			display: block;
			margin-bottom: 15px;
			color: #888;
			.icon-font{
				font-size: 13px;
				color: inherit;

			}
			.icon-password{
				font-size: 16px;

			}
			font{
				color: inherit;
				font-weight: 500;
			}
			&:hover{
				color: $higlight-color;
			}
		}
		&>a.active{
			color: $higlight-color;
		}
	}
}
.name{
	text-align: center;
	&>div:first-child{
		width: 80px;
		margin-right: auto;
		margin-left: auto;
		img{
			border-radius: 50%;
		}
	}
	h2{
		font-size: 16px;
		margin-top: 10px;
		margin-bottom: 0;
		text-transform: capitalize;
	}
}
.modal-messenger{
	.head-message{
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 1px solid #ddd;
		position: sticky;
		position: -webkit-sticky;
		top: 0;
		left: 0;
		background-color: #fff;
		z-index: 6;
		h2{
			margin-bottom: 0;
			text-transform: uppercase;
			font-size: 16px;
		}
	}
	.body-message{
		.list-message{

		}
	}
	.box-message{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 30px;
		/* &>.tooltip{
			width: max-content;
			opacity: 1;
			span{
				width: max-content;
				left: 50%;
				background-color: $higlight-color;
				@include translateX(-50%);
				&:after{
					background-color: $higlight-color;
				}
			}
		} */
		.avatar{
			width: 60px;
			padding: 2px;
			border: 1px solid #aaa;
			border-radius: 50%;
			img{
				border-radius: 50%;
			}
		}
		.text-mess{
			width: calc(100% - 90px);
			
			border-radius: 15px;
			position: relative;
			.paragraph{
				
				padding: 15px;
				width: 100%;
				margin-bottom: 0;
				margin-top: 0;
			}
			&:after{
				content: '';
				display: block;
				width: 30px;
				height: 15px;
				position: absolute;
				bottom: 0;
				z-index: 4;
			}
		}
		.time{
			margin-left: auto;
			margin-top: 10px;
		}
	}
	.box-message-right{
		.text-mess{
			order: 1;
			background-color: #eee;
			border-bottom-right-radius: 0;
			.paragraph{
				text-align: right;
			}
			&:after{
				left: calc(100% - 2px);
				background-color: #eee;
				clip-path: polygon(0 0, 0% 100%, 100% 100%);
				-webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
			}
		}
		.avatar{
			order: 2;
		}
		.time{
			order: 3;
			margin-right: 110px;
		}
	}
	.box-message-left{
		.text-mess{
			background-color: #c5daeb;
			border-bottom-left-radius: 0;
			.paragraph{
				text-align: left;
			}
			&:after{
				right: calc(100% - 2px);
				background-color: #c5daeb;
				clip-path: polygon(100% 0, 0% 100%, 100% 100%);
				-webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
			}
		}
	}
	.text-input{
		display: flex;
		flex-wrap: wrap;
		textarea{
			width: 100%;
			height: 89px;
		}
		.btn-st2{
			margin-left: auto;
			margin-top: 10px;
			border-radius: 999px;
			color: #fff;
		    background-color: $higlight-color;
		    border-color: $higlight-color;
		    padding-left: 0;
		    padding-right: 0;
		    min-width: 120px;
		    .icon-font{
		    	margin-left: 5px;
		    }
		    &:hover{
		    	
		    }
		}
	}
	.box-message.active{
		.avatar{
			position: relative;
			&:after{
				position: absolute;
				bottom: 5px;
				right: 0;
				z-index: 4;
				content: '';
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background-color: #23ed0e;
			}
		}
	}
}
.user-box{
	width: 100%;
	max-width: 550px;
	margin-right: auto;
	margin-left: auto;
	.form-field{
		&>div{
			text-align: left;
			margin-bottom: 10px;
		}
		input{
			border-radius:10px;
			border: 1px solid #ccc;
		}
		button{
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $higlight-color;
			color: #fff;
			width: 100%;
			padding: 10px 8px;
			height: 43px;
			text-transform: uppercase;
			font-weight: 600;
			border-radius: 10px;
			letter-spacing: 3px;
		}
		.select-st1{
			position: relative;
			span.text{
				background-color: #fff;
				height: 43px;
				padding-left: 10px;
				cursor: pointer;
				border: 1px solid #ccc;
				border-radius: 10px;
			    vertical-align: middle;
			    line-height: 1.5;
			    color: #555;
			    padding: 10px 8px;
			}
			
		}
	}
	.fake-upload{
		.name-upload{
			border-top-left-radius: 10px;
    		border-bottom-left-radius: 10px;
    	}
    	label{
    		border-top-right-radius: 10px;
    		border-bottom-right-radius: 10px;
    	}
	}
}
.form-upload{
	max-width: 450px;
	text-align: left;
	margin-top: 15px;
	&>div{
		margin-bottom: 5px;
	}
}
#upload-img{
	display: none;
}
.fake-upload{
	width: 100%;
	display: flex;
	justify-content: center;
	.name-upload{
	    height: 43px;
	    border: 1px solid #aaa;
	    font-size: 12px;
	    vertical-align: middle;
	    line-height: 1.5;
	    color: #555;
	    padding: 10px 8px;
	    flex-grow: 1;
		overflow-x: hidden;
		background: #e0ddcb;
		span{
			width: 100%;
			display: block;
			white-space: nowrap; 
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	label{
		min-width: 140px;
		width: max-content;
		flex-shrink: 0;
		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #111;
		color: #fff;
		cursor: pointer;
		&:hover{
			opacity: .8;
		}
	}
}
.wrap-filter-st2{
	.filter-submit-2 {
		.btn-st3{
			.icon-font{
				font-size: 14px;
				margin-left: 5px;
			}
		}
	}
}
.heart-tour-st2{
    cursor: pointer;
    &>a{
        display: block;
        width: 100%;
        color: inherit;
        font-size: inherit;
    }
    &:hover{
        .heart-full{
            font-size: inherit;
            &:before{
                content: "\e914";
            }
        }
    }
}
.booking-status-box{
	&>span{
		color: #555;
		font-weight: 600;
	}
	ul{
		li{
			margin-top: 10px;
			margin-bottom: 15px;
			.tooltip{
				color: #888;
				font-weight: 600;
				opacity: 1;
				&>div{
					display: flex;
					align-items: center;
				}
				.icon-font{
					&:first-child, &:nth-child(2){
						color: #aaa;
						font-size: 18px;
						margin-right: 5px;
					}
					&:last-child{
						color: #07b307;
						margin-left: 5px;
					}
				}
				&>span{
					left: 50%;
					@include translateX(-50%);
					color: #fff;
					background-color: $higlight-color;
					&:after{
						background-color: $higlight-color;
					}
				}
			}
			.tooltip.un-book{
				cursor: auto;
				.icon-font{
					&:last-child{
						color: #aaa;
					}
				}
				&>span{
					display: none;
				}
			}
		}
	}
}
.modal-cruise-st2{
	.head-modal-itine{
		position: sticky;
	    position: -webkit-sticky;
	    top: 0;
	    left: 0;
	    background-color: #fff;
	    z-index: 8;
	    h2{
	    	text-align: center;
	    }
	}
}
.booking-complete-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f7fffb;
	border: 2px dashed #eee;
	height: 100%;
	&>.checkmark{
		font-size: 30px;
		color: #07b307;
		margin-bottom: 10px;
	}
	strong{
		text-transform: uppercase;
		font-size: 28px;
		color: #07b307;
		font-weight: 400;
		margin-bottom: 30px;
	}
	.btn-st2{
		border-radius: 999px;
		background-color: #07b307;
		color: #fff;
		border-color: #07b307;
	}
}
@media (min-width: 1350px) {
	.section-grid-dt4{
		.grid-ct2{
			top: -1000px;
			position: sticky;
		    z-index: 100;
		    -webkit-transition: all 1.5s linear;
		    -moz-transition: all 1.5s linear;
		    -o-transition: all 1.5s linear;
		    -ms-transition: all 1.5s linear;
		    transition: all 1.5s linear;
		}
	}
	
}
@media (max-width: 1199px) {
	.request-trip{
		.foot-trip-st4{
			.info-request-box{
				padding-right: 0;
				border-right: none;
				&>div{
					margin-bottom: 10px;
				}
			}
			.team-request-box{
				padding-left: 0;
				width: 100%;
				max-width: unset;
				&>div{
					display: flex;
					justify-content: space-between;
					margin-bottom: 10px;
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.section-grid-dt4{
		.grid-ct0{
			grid-column: 1 / 3;
			grid-row: 2 / 3;
			padding-right: 15px;
		}
		.grid-ct1{
			grid-column: 1 / 3;
			grid-row: 3 / 4;
			padding-right: 15px;
			&>div{
				padding-bottom: 20px;
			}
		}
		.grid-ct2{
			grid-column: 1 / 3;
			grid-row: 1 / 2;
			padding-left: 15px;
		}
		.grid-ct3{
			grid-column: 1 / 3;
			grid-row: 4 / 5;
			padding-left: 15px;
		}
		.grid-ct4{
			grid-column: 1 / 3;
			grid-row: 5 / 6;
			padding-left: 15px;
		}
	}
	.booking-complete-box{
		margin-bottom: 15px;
		min-height: 210px;
	}
}
@media (max-width: 767px) {
	.titile-request-box{
		align-items: center;
		justify-content: center;
	}
	.request-trip{
		.head-trip{
			align-items: flex-start;
			.view-map{
				display: none;
			}
			.title-info{
				padding-right: 0;
				//width: 100%;
				flex-grow: 1;
			}
		}
	}
	.trip-code-box{
		span{
			text-align: center;
			&:first-child{
				padding-right: 10px;
			}
			&:nth-child(2){
				padding-right: 10px;
				padding-left: 10px;
				border-right: 1px solid #dcdcdc;
			}
			&:last-child{
				padding-left: 10px;
				b{
					display: none;
				}
			}
		}
		&>a{
			padding-left: 10px;
			text-align: center;
		}
	}
	
}
@media (max-width: 479px) {
	.info-request-box{
		&>div{
			&:first-child{
				span{
					&:first-child{
						padding-right: 10px;
					}
					&:last-child{
						padding-left: 10px;
					}
				}
			}
		}
	}
	.modal-messenger{
		.box-message{
			.avatar{
				width: 30px;
			}
			.text-mess{
				width: calc(100% - 50px);
				&:after{
					width: 20px;
					height: 10px;
				}

			}
			
		}
		.box-message.active{
			.avatar{
				&:after{
					bottom: 3px;
					width: 9px;
					height: 9px;
				}
			}
		}
	}
	.trip-request-box{
		.trip-st4{
			.heart-tour-st2{
			    margin-bottom: 0;
			}
		}
	}
}
@media (max-width: 375px) {
	.info-request-box{
		&>div{
			&:first-child{
				span{
					justify-content: center;
					&:first-child{
						padding-right: 0;
						width: 100%;
						border-right: none;
						margin-bottom: 10px;
					}
					&:last-child{
						padding-left: 0;
						width: 100%;
					}
				}
			}
			&:last-child{
				flex-wrap: wrap;
				.btn-st2{
					width: 100%;
					margin-bottom: 10px;
				}
			}
		}
	}
}