.booking-cr-container{
	.wrap-mini-intro{
		background-image: url(../images/icon/icon_a.svg);
	    background-repeat: no-repeat;
	    background-size: 250px;
	    background-position: top;
	    padding-top: 30px;
	    margin-top: 30px;
		.desti{
			text-transform: uppercase;
		}
		.star-box{
			margin-bottom: 15px;
		}
	}
}
.navbar-booking{
	position: sticky;
    z-index: 102;
    background-color: #fff;
    top: 0;
    border-bottom: 1px solid #eee;
    ul{
    	display: flex;
    	flex-wrap: wrap;
    	justify-content: center;
    	align-items: flex-start;
    	width: 100%;
    	li{
			width: 33.333%;
			text-align: center;
			a{
				padding: 18px 15px;
				text-transform: uppercase;
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: 500;
				div{
					margin-right: 5px;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					width: 30px;
					height: 30px;
					flex-shrink: 0;
					//border: 1px solid #dcdcdc;
					//border-radius: 50%;
					background-image: url(../images/icon/icon_a.svg);
	    			background-repeat: no-repeat;
	    			background-size: 100%;
	    			color: #888;
	    			font-size: 16px;
	    			font-weight: 800;
	    			padding-left: 1px;
				}
			}
			.tooltip{
				&>span{
					display: none;
				}
			}
    	}
    }
}
.room-booking-wrap{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 30px;
	table{
		width: 100%;
		border: 1px dotted #aaa;
		th{
			font-size: 14px;
		    padding: 20px 10px;
		    font-weight: 600;
		    border: 1px dotted #aaa;
		}
		tbody{
			tr{
				td{
					border: 1px dotted #aaa;
					vertical-align: middle;
					&>div{
						padding: 10px;
						width: 100%;
						height: 100%;
					}
					&>.info-cabins{
						min-width: 355px;
					}
					&>.cruise-max-pe{
						ul{
							justify-content: center;
						}
						
					}
				}
				&:hover{
					background-color: #fff;
				}
			}
			tr.active{
				background-color: #fff;
			}
		}
	}
}
.info-cabins{
	display: flex;
	//flex-wrap: wrap;
	padding: 10px;
	&>a{
		position: relative;
		width: 60px;
		flex-shrink: 0;
	}
	.item-listcabin{
		h3{
			margin-top: 0;
			font-size: 14px;
			a{
				color: $higlight-color;
			}
		}
		flex-grow: 1;
		padding-left: 10px;
		p{
			margin-bottom: 10px;
		}
		.icon-font{
			color: $higlight-color;
		}
		.connecting-r{
			justify-content: flex-start;
			font-size: 10px;
		}
	}
}
.price-save{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	del{
		font-size: 16px;
		font-weight: 600;
		color: $light-color-2;
		margin-bottom: 10px;
	}
	b{
		color: $higlight-color-st2;
		font-size: 16px;
		margin-bottom: 10px;
	}
	.sales-offer{
		font-size: 14px;
		color: $higlight-color;
		font-weight: 600;
		margin-bottom: 10px;
	}
	p{
		text-align: center;
		.checkmark{
			color: $higlight-color;
		}
	}
}
.conditions{
	ul{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		li{
			margin-bottom: 10px;
			.icon-font{
				color: $higlight-color;
				font-size: 14px;
			}
			b{
				color: $higlight-color;
			}
		}
	}
}
.select-cabin{
	text-align: center;
	input[type="radio"]{
		cursor: pointer;
	}
}
.booking-room{
	width: 100%;
	padding-bottom: 30px;
	&>div{
		width: 100%;
	}
	h2{
		font-size: 16px;
		text-align: center;
		margin-bottom: 15px;
		margin-top: 30px;
		font-weight: normal;
		&>.bed{
			margin-right: 5px;
			color: $higlight-color;
		}
		strong{
			font-weight: 600;
		}
		span{
			font-weight: 600;
			color: $light-color-2;
			i{
				font-size: 10px;
			}
		}
		&>a{
			margin-left: 15px;
			font-size: 12px;
			display: inline-flex;
			align-items: flex-end;
			color: $light-color-4;
			.icon-font{
				font-size: 14px;
			}
			&:hover{
				color: $higlight-color;
			}
		}
	}
}
.booking-r-option{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	border: 1px dotted #aaa;

	input{
		height: auto;
		cursor: pointer;
		margin-right: 5px;
		width: 13px;
	}
	h2{
		font-size: 16px;
		margin-bottom: 15px;
	}
	.col-xlg-6{
		text-align: left;
		padding-top: 10px;
		padding-bottom: 10px;
		&:first-child{
			border-right: 1px dotted #aaa;
			li{
				label{

					&>b{
						color: $higlight-color;
					}
				}
			}
		}
		ul{
			li{
				margin-bottom: 10px;
				display: inline-flex;
				flex-wrap: wrap;
				width: 100%;
				align-items: center;
				label{
					cursor: pointer;
					width: calc(100% - 18px);
					.icon-font{
						color: $higlight-color;
						font-size: 14px;
					}
					a{
						&:hover{
							color: $higlight-color;
						}
					}
				}
				.box-seaplanes{
					margin-top: 10px;
				}
			}
		}
	}
}
.box-summary{
	background-color: #fff;
	padding: 10px 10px 40px 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	position: relative;
	&:after{
		display: block;
		width: 30px;
		height: 30px;
		content: '';
		background-color: #fff;
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translate(-50%,50%) rotate(45deg);
    	-moz-transform: translate(-50%,50%) rotate(45deg);
    	-webkit-transform: translate(-50%,50%) rotate(45deg);
    	-o-transform: translate(-50%,50%) rotate(45deg);
    	-ms-transform: translate(-50%,50%) rotate(45deg);
	}
	h2{
		font-size: 22px;
		text-align: center;
		padding-bottom: 15px;
		border-bottom: 1px solid #eee;
		.icon-font{
			color: $higlight-color;
			//font-size: 18px;
			margin-right: 5px;
		}
	}
	&>div{
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		padding: 10px 0;
		border-bottom: 1px solid #eee;
		li{
			padding-top: 10px;
			padding-bottom: 10px;
		}
		&:last-child{
			border-bottom: none;
			margin-top: 15px;
		}
	}

}
#title-cruise{
	ul{
		display: flex;
		flex-wrap: wrap;
		li{
			width: 50%;
			padding-right: 30px;
			padding-left: 30px;
			font-weight: 600;
			color: $higlight-color;
			.icon-font{
				margin-right: 5px;
			}
			span{
				color: $higlight-color-st2;
			}
			&:first-child{
				border-right: 1px solid #eee;
				text-align: right;
			}
		}
	}
}
.sum-cabin{
	ul{
		li{
			display: flex;
			flex-wrap: wrap;
			background-color: #fbfaf9;
			margin-bottom: 10px;
			margin-top: 10px;
			padding-bottom: 10px;
			padding-top: 10px;
			&>div{
				p{
					margin-bottom: 5px;
					margin-left: 15px;
				}
			}
			.price-trip-box{
				width: unset;
				margin-left: auto;
				align-items: flex-end;
				del{
					color: #c3bdbd;
				}
			}
		}
	}
}
.sum-trans{
	ul{
		margin-top: 10px;
		li{
			display: flex;
			align-items: center;
			border-bottom: 1px dotted #aaa;
			&>div{
				&:first-child{
					flex-grow: 1;
					overflow: hidden;
    				white-space: nowrap;
    				text-overflow: ellipsis;
				}
			}
			.icon-font{
				margin-right: 5px;
				color: $higlight-color;
			}
			&>b{
				color: $higlight-color;
			}
			font{
				margin-left: auto;
				color: $higlight-color;
				font-weight: 600;
				font-size: 16px;
			}
			#sum-pri-trans{
				margin-left: auto;
				flex-shrink: 0;
			}
			&:last-child{
				border-bottom: none;
			}
		}
	}
}
.total-price{
	display: flex;
	justify-content: space-between;
	.price-trip-box{
		span{
			font-weight: 600;
			color: $light-color-2;
			del{
				font-size: 20px;
			}
			strong{
				font-size: 20px;
				color: $higlight-color-st2;
			}
		}
	}
}
.promotion-code{
	display: inline-flex;
	align-items: center;
	button{
		width: 60px;
		height: 25px;
		flex-shrink: 0;
		color: #fff;
		background-color: $light-color;
	}
	input{
		flex-grow: 1;
		min-width: 160px;
	}
}
.contact-info-box{
	background-color: #fff;
	padding: 10px 10px 40px 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	h2{
		font-size: 22px;
		text-align: center;
		padding-bottom: 15px;
		border-bottom: 1px solid #eee;
		.icon-font{
			color: $higlight-color;
			//font-size: 18px;
			margin-right: 5px;
		}
	}
	&>div{
		display: flex;
		.logo-list{
			width: 35%;
		}
		.contact-info{
			width: 65%;
		}
	}
}
.logo-list{
	text-align: center;
	h3,&>div{
		padding-right: 15px;
		padding-left: 15px;
	}
	h3{
		font-size: 14px;
	}
}
.logo{
	h4{
		font-weight: normal;
	}
}
.contact-info{
	.btn-st3{
		background-color: $higlight-color;
		width: 100%;
		max-width: 300px;
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 16px;
	}
	.form-field{
		textarea{
			height: 150px;
		}
	}
	.phone-wrap{
		input[type="text"]{
			padding-bottom: 13px;
			padding-top: 13px;
			font-size: 14px;
		}
	}
}
.box-seaplanes{
	width: 100%;
	display: flex;
	&>div{
		width: 33.333%;
		padding-left: 10px;
		padding-right: 10px;
		.select-st8{
			width: 100%;
		    border: 1px solid #aaa;
		    line-height: 1.5;
		    color: #36312a;
		    padding: 5px 8px;
		    @include smooth(.25s);
		}
	}
}
.transpick{
	width: 100%;
	input{
		width: 100%;
	}
}
@media (max-width: 1199px) {
	.contact-info-box{
		&>div{
			.logo-list{
				display: none;
			}
			.contact-info{
				width: 100%;
			}
		}
	}
}
@media (max-width: 991px) {
	.room-booking-wrap{
		table{
			tbody{
				tr{
					td{
						&>.info-cabins{
							min-width: unset;
						}
						&>.cruise-max-pe{
							ul{
								justify-content: center;
							}
							
						}
					}
				}
			}
		}
	}
	.info-cabins{
		flex-wrap: wrap;
		.item-listcabin{
			padding-left: 0;
		}
	}
	.box-summary{
		&>div{
			width: 100%;
		}
	}
	#title-cruise{
		ul{
			li{
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}
@media (max-width: 767px) {
	.navbar-booking{
	    ul{
	    	li{
				a{
					div{
					}
					font{
						display: none;
					}
				}
				.tooltip{
					&>span{
						display: block;
					    box-shadow: none;
					    border: 1px solid $higlight-color;
					    color: $higlight-color;
					    left: 50%;
					    top: 90%;
					    bottom: unset;
					    @include translateX(-50%);
					    width: 80%;
					    &>i{
					    	background-color: $higlight-color;
					    	top: unset;
					    	bottom: 100%;
					    	-webkit-clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
						    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
						    -webkit-shape-outside: polygon(50% 0%, 100% 100%, 0% 100%);
						    shape-outside: polygon(50% 0%, 100% 100%, 0% 100%);
					    }
					    &:after{
			                content: " ";
			                height: 9px;
			                width: 18px;
			                position: absolute;
			                bottom: calc(100% - 1px);
			                left: calc(50% + 1px);
			                margin-left: -10px;
			                background-color: #fff;
			                -webkit-clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
						    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
						    -webkit-shape-outside: polygon(50% 0%, 100% 100%, 0% 100%);
						    shape-outside: polygon(50% 0%, 100% 100%, 0% 100%);
			            }
					}
					&:hover{
						opacity: 1;
					}
				}
	    	}
	    }
	}
	.room-booking-wrap{
		table{
			th{
				&:nth-child(2){
					display: none;
				}
			}
			tbody{
				tr{
					td{
						&:nth-child(2){
							display: none;
						}
					}
				}
			}
		}
	}
	.info-cabins{
		text-align: center;
		&>a{
			margin-left: auto;
			margin-right: auto;
		}
		.item-listcabin{
			p,div{
				display: none;
			}
		}
	}
	.booking-r-option{
		.col-xlg-6:first-child{
			border-bottom: 1px dotted #aaa;
			border-right: none;
		}
	}
	.sum-cabin{
		ul{
			li{
				&>div{
					margin-bottom: 5px;
					p{
						margin-left: 0;
					}
				}
			}
		}
	}
}
@media (max-width: 479px) {
	.room-booking-wrap{

		table{
			//overflow-x: auto;
			th{
				font-size: 12px;
			}
		}
	}
	.price-save{
		.sales-offer{
			font-size: 12px;
		}
	}
	.total-price{
		flex-wrap: wrap;
		.promotion-code{
			width: 100%;
		}
		.price-trip-box{
			margin-top: 15px;
		}
	}
	.box-seaplanes{
		flex-wrap: wrap;
		&>div{
			width: 50%;
			margin-bottom: 5px;
		}
	}
}
@media (max-width: 375px) {
	.room-booking-wrap{
		overflow-x: auto;
		webkit-overflow-scrolling: touch;
	}
}