.banner-top-contact{
    height: 580px;
    margin-top: 0;
    position: relative;
    //background-color: rgba(0, 0, 0, .3);
}
.wrap-contact-box, .wrap-contact-box-2{
    border: 1px solid #cecece;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 40px;
    text-align: center;
    h2{
    	    width: 100%;
	    font-size: 28px;
	    letter-spacing: 2px;
	    color: #111;
	    line-height: 1;
	    text-align: center;
	    margin-top: 0;
	    margin-bottom: 0;
	    font-weight: 400;
    }
    &>p{
	    padding: 0 15px;
    }
    button[type="submit"]{
    	margin-top: 20px;
    	padding-left: 30px;
    	padding-right: 30px;
    	height: 44px;
    }
    .call-us{
    	border-bottom: none;
    	p{
    		color: $higlight-color;
            font-size: 22px;
            font-weight: 600;
    		a{
    			opacity: 1;
    		}
    	}
    }
}
.wrap-contact-box-2{
    background-color: $background-color-st1;
    border: none;
    .team-quote{
        width: 100%;
    }
    .team-mess{
        width: 100%;
        p{
            padding-right: 0;
            padding-left: 0;
        }
    }
}
@media (max-width: 1351px) {
    .banner-top-contact{
        height: 560px;
    }
}
@media (max-width: 991px) {
    .banner-top-contact{
        height: 370px;
    }
}
@media (max-width: 767px) {
	.wrap-contact-box, .wrap-contact-box-2{
    	padding: 15px 20px;
        .call-us{
            p{
                font-size: 18px;
            }
        }
	}
    .banner-top-contact{
        height: 320px;
    }
}
@media (max-width: 375px) {
    .wrap-contact-box, .wrap-contact-box-2{
        .call-us{
            p{
                font-size: 14px;
            }
        }
    }
}
