.bg-country {
    background-image: url('../images/background/bg-country.jpg');
    height: 100%;
}
.banner-top-country-tour{
	height: 610px;
	background-color: rgba(0, 0, 0, .3);
}
.wrap-title-banner-top-line{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	color: #fff;
	z-index: 2;
	//background-color: rgba(0, 0, 0, .3);
	padding: 15px;
	position: absolute;
	bottom: 100px;
	.line{
		margin-bottom: 0;
	}
	h1,h2{
		font-size: 40px;
		font-weight: 300;
		margin-top: 0;
		line-height: 1;
		text-align: center;
		margin-bottom: 15px;
		text-transform: uppercase;
		z-index: 2;
	}
	p{
		font-size: 16px;
		font-weight: 600;
		text-align: center;
		z-index: 2;
	}
	.heart-tour{
		font-size: 40px;
	}
}
.wrap-slide-sp{
	width: 100%;
	margin-top: 30px;
	.synch-carousels{
        box-shadow: none;
        .nav-arrows{
            // top: 40%;
            top: 110px;
            z-index: inherit;
            .arrow-left{
                margin-left: 20px;
                z-index: 4;
            }
            .arrow-right{
                margin-right: 20px;
                z-index: 4;
            }
        }
        .slick-list{
        	//overflow-y: visible;
        	//overflow-x: hidden;
        }
    }
    .gallery{
		width: 95%;
		margin: 0 auto;
    }
    .item{
    	position: relative;
		// padding-bottom: 95px;
		padding-right: 15px;
		padding-left: 15px;
		&>img{
			border-radius: 50%;
			max-width: 160px;
			margin-left: auto;
			margin-right: auto;
		}
		article{
			// position: absolute;
	        bottom: 10px;
	        left: 0;
	        z-index: 2;
	        background-color: $background-color;
	        padding-right: 15px;
			padding-left: 15px;
			max-height: 92px;
            overflow-y: hidden;
            @include smooth(1.5s);
            cursor: pointer;
			h3{
				font-size: 14px;
				font-weight: 600;
				text-align: center;
			}
			.paragraph{
				line-height: 1.6;
			}
			&:hover{
				max-height: 500px;
			}
		}
    }
}
.wrap-slide-st6{
	width: 100%;
	margin-top: 10px;
	.synch-carousels{
        box-shadow: none;
        .nav-arrows{
            top: 40%;
            z-index: inherit;
            .arrow-left{
                margin-left: 20px;
                z-index: 4;
            }
            .arrow-right{
                margin-right: 20px;
                z-index: 4;
            }
        }
    }
    .gallery{
		width: 95%;
		margin: 0 auto;
    }
    .item{
    	padding-right: 15px;
    	padding-left: 15px;
    	&>img{
    		border-radius: 50%;
    		width: 160px;
    		height: 160px;
    		margin-left: auto;
    		margin-right: auto;
    	}
    	article{
    		h3{
    			font-size: 14px;
			    font-weight: 600;
			    text-align: center;
    		}
    		.paragraph{
    			line-height: 1.6;
    		}
    	}
    	.box-hidden{
    		max-height: 90px;
    	}
    	.read-more-st2{
    		text-align: center;
    		.link-st3{
    			margin-top: 10px;
    		}
    	}
    }
}
.intro-country-tour{
	.paragraph-hide{
		max-height: 95px;
		width: 80%;
	}
	.paragraph:first-child{
		margin-bottom: 15px;
	}
	.read-more-st1{
		a{
			margin-top: 15px;
		}
	}
}
.list-highlight-tour{
	.wrap-mini-intro{
		.title-h2{
			font-family: 'Reenie Beanie', cursive;
			font-size: 35px;
			color: #000;
			margin-bottom: 30px;
			text-transform: none;
		}
	}
	.read-more-st1{
		display: none;
	}
	.container.paragraph-hide{
		max-height: none;
		line-height: inherit;
	}
	.container{
		.col-xlg-6{
			margin-top: 15px;
			margin-bottom: 15px;
			.read-more-st2{
				.link-st3{
					margin-top: 10px;
				}
			}
		}
	}
}
.wrap-icon-highlight{
	width: 80px;
	height: 80px;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	img{
		max-height: 90%;
		object-fit: unset;
	}
}
.wrap-guide{
	.container{
		margin-top: 15px;
	}
	.container.paragraph-hide{
		max-height: none;
		line-height: inherit;
	}
	.read-more-st1{
		display: none;
	}
}
.wrap-icon-guide{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f4f4f4;
	img{
		max-height: 60%;
		max-width: 90%;
		object-fit: unset;
	}
}
.wrap-guide-step{
	text-align: center;
	position: relative;
	padding-bottom: 115px;
	margin-top: 30px;
	h3{
		font-weight: 600;
		font-size: 14px;
	}
	article{
		position: absolute;
		bottom: 10px;
		z-index: 2;
		background-color: #fff;
		max-height: 105px;
	    overflow-y: hidden;
	    @include smooth(1.2s);
		.paragraph{
			line-height: 1.6;
		    
		}
		&:hover{
			max-height: 400px;
		}
	}
}
.list-faq{
	padding-top: 30px;
	padding-bottom: 50px;
}
.wrap-faq{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	.order-day{
		background-color: #fff;
		margin-top: 15px;
		&>a:first-child{
			background-color: #fff;
			border-bottom: 1px solid #dcdcdc;
			img{
				width: 30px;
				margin-right: 10px;
			}
			.icon-faq,.icon-info{
				width: 30px;
				display: inline-block;
				margin-right: 10px;
				font-size: 30px;
				color: #ECECEC;
			}
			.night-img-cr{
				flex-shrink: 0;
				img{
					width: 100%;
					margin-right: 0;
				}
			}
			h3{
				line-height: 1.4;
			}
			&:hover{
				background-color: #fbfaf9;
			}
		}
		.panel{
			.paragraph{
				margin-top: 0;
				margin-bottom: 0;
				padding: 10px;
				text-align: justify;
				a{
					display: inline;
					color: $higlight-color;
				}
			}
		}

	}
}
.wrap-filter-st2{
	width: 100%;
    margin: 15px auto 30px;
    padding-left: 15px;
	padding-right: 15px;
	.row{
		margin-left: -10px;
		margin-right: -10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.select-st1{
		width: 26.6666%;
		padding-left: 10px;
		padding-right: 10px;
		position: relative;
		.text{
			background-color: #fff;
			height: 40px;
			padding-left: 10px;
			cursor: pointer;
			&>.icon-font:first-child{
				color: $higlight-color;
			}
			b{
				font-weight: 600;
				//flex-grow: 1;
				font-size: 14px;
			}
			.icon-dropdown{
				width: 35px;
				height: 100%;
				background-color: $higlight-color;
				flex-shrink: 0;
				color: #fff;
				.select-arrow-thin{
					font-size: 6px;
					margin-left: 0;
				}
			}
		}
		.value{
			width: calc(100% - 20px);
			left: 10px;
			//cursor: pointer;
			z-index: 3;
			&>li{
				.btn-value{
					padding-right: 10px;
					padding-left: 10px;
					.icon-font:first-child{
						margin-right: 8px;
					    font-size: 15px;
					    color: $higlight-color;
					    @include smooth(.25s);
					}
					&:hover{
						.icon-font:first-child{
							color: $main-color;
						}
					}
				}
			}
		}
	}
	.filter-who-2{
		.value{
			&>li{
				.btn-value{
					.icon-font:first-child{
						font-size: 22px;
						&:before{
							color: $higlight-color;
						}
					}
					&:hover{
						.icon-font:first-child{
							&:before{
								color: $main-color;
							}
						}
					}
				}
			}
		}
	}
	.filter-submit-2{
		max-width: 20%;
		flex-grow: 1;
		padding-left: 10px;
		padding-right: 10px;

		.btn-st3{
			background-color: $higlight-color;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 40px;
			max-height: 100%;
			letter-spacing: 3px;
			font-size: 12px;
			font{
				margin-left: 5px;
				font-size: 16px;
			}
		}
	}
}
.tarpaulin-container{
	position: relative;
}
.tarpaulin{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	background-color: $color-cover-text;
	//display: none;
}
.banner-country-2{
	height: 610px;
	.bg-detail{
		position: relative;
		img{
			bottom: unset;
			top: 0;
			left: 50%;
			@include translateX(-50%);
		}
	}
}
.wrap-trip-st4{
	width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.trip-st4{
	position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 30px;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    .head-trip{
    	padding-bottom: 15px;
    	border-bottom: 1px dotted #dcdcdc;
    	margin-bottom: 15px;
    	align-items: stretch; 
    	.title-info{
    		width: calc(100% - 127px);
    		padding-right: 10px;
    		.title-h2{
    			margin-bottom: 5px;
    		}
    		.address{
    			color: #888;
    			a{
    				color: #888;
    			}
    		}
    	}
    	.view-map{
    		display: flex;
    		flex-direction: column;
    		justify-content: flex-end;
    		align-items: center;
    		width: 67px;
			.icon-font{
				font-size: 32px;
				color: $higlight-color;
			}
			font{
				color: #888;
			}
			&:hover{
				font{
					color: $higlight-color;
				}
			}
    	}
    }
}
.show-mobi{
	display: none;
}
.left-trip-st4{
	width: 52%;
	padding-right: 15px;
	display: flex;
	flex-direction: column;
	.box-hidden{
		max-height: 157px;
		p{
			line-height: 1.8;
			letter-spacing: 0.7px;
			color: #666;
			.heart-empty{
				margin-right: 5px;
				color: $higlight-color;
				display: inline-block;
				vertical-align: middle;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.read-more-st2{
		.link-st3{
			margin-bottom: 10px;
			margin-top: 10px;
		}
	}
	.wrap-tooltip{
		margin-top: auto;
		margin-bottom: 0;
		padding-right: 0;
		padding-left: 0;
		justify-content: flex-start;
		&>span{
			margin-right: 15px;
			color: #888;
		}
		.tooltip{
			&>span{
				left: 50%;
				@include translateX(-50%);
			}
		}
	}
}
.right-trip-st4{
	width: 48%;
	padding-left: 15px;
	.wrap-slide-st9{
		.synch-carousels{
			z-index: 8;
		}
	}
}
.foot-trip{
	width: 100%;
	padding-top: 15px;
	margin-top: 15px;
	border-top: 1px dotted #dcdcdc;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	.hand-picked{
		margin-bottom: 10px;
	}
	&>span{
		font-size: 12px;
	    text-transform: uppercase;
	    color: $higlight-color;
	    margin-left: auto;
	    margin-right: 15px;
	    margin-bottom: 10px;
	    strong{
	    	font-weight: 600;
    		font-size: 16px;
	    }
	}
	.btn-st2{
		color: #888;
        border-color: #bbb;
        border-radius: 999px;
        margin-bottom: 10px;
        &:hover{
        	color: $higlight-color;
        	border-color: $higlight-color;
        }
	}
	.heart-tour{
		display: block;
		margin-bottom: 10px;
		margin-left: 15px;
		.icon-font{
			font-size: 36px;
			color: #AEAEAE;
		}
		&:hover{
			.icon-font{
				color: $higlight-color;
			}
		}
	}
}
.hand-picked{
	display: flex;
	justify-content: space-between;
	align-items: center;
	&>span{
		margin-right: 15px;
		color: #888;
	}

}
.tooltip-handpick{
	padding: 5px;
	z-index: 10;
	font{
		margin-left: 5px;
		color: #555;
	}
	&>div{
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		position: relative;
		&:after{
    		content: '';
    		display: block;
    		width: 100%;
    		height: 1px;
    		background-color: #c1aa80;
    		margin-top: 8px;
    		opacity: 0;
    		position: absolute;
    		bottom: -10px
    		/*animation: lineAnimatedIn .5s;
		    -moz-animation: lineAnimatedIn .5s;
		    -webkit-animation: lineAnimatedIn .5s;
		    -o-animation: lineAnimatedIn .5s;
		    width: 0;*/
    	}
	}
	.icon-font{
		font-size: 18px;
		color: #c3bdbd;
	}
	&>span{
		left: 50%;
		@include translateX(-50%);
		color: #fff;
		background-color: $higlight-color;
		&:after{
			background-color: $higlight-color;
		}
	}
	&:hover{
		&>div{
			&:after{
	    		opacity: 1;
	    		/*animation: lineAnimatedOut .5s;
			    -moz-animation: lineAnimatedOut .5s;
			    -webkit-animation: lineAnimatedOut .5s;
			    -o-animation: lineAnimatedOut .5s;
			    width: 100%;*/
	    	}
		}
		font,.icon-font{
			color: $higlight-color;
		}
	}
}
@media (max-width: 1351px) {
	.banner-top-country-tour,.banner-country-2{
		height: 600px;
	}
	.tooltip-handpick{
		padding: 5px;
	}
}
@media (max-width: 1199px) {
	.wrap-slide-sp{
		.synch-carousels{
			.nav-arrows{
				top: 110px;
			}
		}
	    .item{
			padding-bottom: 0;
			article{
				position: static;
				padding-left: 0;
				padding-right: 0;
			}
	    }
	}
	.wrap-faq{
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.foot-trip{
		//flex-wrap: wrap;
		justify-content: center;
		.btn-st2{
			margin-left: 15px;
			padding-left: 10px;
			padding-right: 10px;
		}
		&>span{
			margin-left: 15px;
		}
	}
}
@media (max-width: 991px) {
	.banner-top-country-tour, .banner-country-2{
		height: 500px;
	}
	.wrap-slide-sp{
		.synch-carousels{
	        .nav-arrows{
	            .arrow-left{
	                margin-left: 0;
	                left: -25px; 
	            }
	            .arrow-right{
	                margin-right: 0;
	                right: -25px; 
	            }
	        }
	    }
	}
	.wrap-slide-st6{
		.synch-carousels{
	        .nav-arrows{
	            .arrow-left{
	                margin-left: 0;
	                left: -25px; 
	            }
	            .arrow-right{
	                margin-right: 0;
	                right: -25px; 
	            }
	        }
	        .item{
	        	&>img{
	        		width: 120px;
	        		height: 120px;
	        	}
	        }
	    }
	}
	.wrap-filter-st2{
		.select-st1{
			width: 33.333%;
		}
		.filter-submit-2{
			min-width: 170px;
			margin-top: 15px;
		}
	}
	.left-trip-st4{
		width: 100%;
		padding-right: 0;
	}
	.right-trip-st4{
		width: 100%;
		padding-left: 0;
	}
	.trip-st4{
		.head-trip{
			order: 1;
			.title-info{
				flex-grow: 1;
				padding-right: 0;
			}
			.view-map{
				display: none;
			}
		}
		.left-trip-st4{
			order: 3;
			margin-top: 15px;
		}
		.right-trip-st4{
			order: 2;
		}
		.foot-trip{
			order: 4;
		}
	}
	.foot-trip{
		.hand-picked{
			display: none;
		}
	}
}
@media (max-width: 767px) {
	.banner-top-country-tour, .banner-country-2{
		height: 310px;
	}
	.wrap-title-banner-top-line{
		bottom: 80px;
		h1,h2{
			font-size: 35px;
		}
		p{
			font-size: 14px;
		}
	}
	.wrap-slide-sp{
		.synch-carousels{
	        .nav-arrows{
	            display: none;
	        }
	    }
	    .gallery{
	    	width: 100%;
	    }
	    .item{
	    	padding-left: 5px;
	    	padding-right: 5px;
	    	&>img{
        		width: 80px;
        		height: 80px;
        	}
	    	article{
	        padding-right: 5px;
			padding-left: 5px;
			.paragraph{
				padding-right: 0;
				padding-left: 0;
			}
			}
	    }
	}
	.wrap-slide-st6{
		.synch-carousels{
	        .nav-arrows{
	            display: none;
	        }
	    }
	    .gallery{
	    	width: 100%;
	    }
	    .item{
	    	padding-right: 5px;
			padding-left: 5px;
	    	article{
		        padding-right: 5px;
				padding-left: 5px;
				.paragraph{
					padding-right: 0;
					padding-left: 0;
				}
			}
	    }
	}
	.trip-st4{
		.head-trip{
			display: block;
			.day-trip{
				float: left;
				margin-right: 10px;
				width: 52px;
				span{
					font-size: 8px;
					b{
						font-size: 16px;
					}
				}
			}
			.title-info{
				width: 100%;
				padding-left: 0;
				.address{
					display: none;
				}
				.title-h2{
					font-size: 18px;
					min-height: 44px;
					a{
						display: inline;
					}
				}
			}
		}
	}
	.left-trip-st4{
		.wrap-tooltip{
			justify-content: center;
			&>span{
				display: none;
			}
		}
		.tooltip.show-mobi{
			text-align: center;
			margin-bottom: 10px;
			margin-top: 10px;
			width: 100%;
			.icon-font{
				&:before{
					color: $higlight-color;
				}
			}
			span{
				left: 50%;
				@include translateX(-50%);
				width: 100%;
				max-width: 380px;
				color: #fff;
				background-color: $higlight-color;
				&:after{
					background-color: $higlight-color;
				}
			}
		}
	}
	.show-mobi{
		display: block;
	}
}
@media (max-width: 479px) {
	.wrap-title-banner-top-line{
		bottom: 70px;
		h1,h2{
			font-size: 35px;
		}
		p{
			font-size: 12px;
		}
		.line{
			&:after{
				margin: 10px auto;
			}
		}
	}
	.list-highlight-tour{
		.read-more-st1{
			display: block;
			.link-st3{
				margin-top: 15px;
			}
		}
		.container.paragraph-hide{
			max-height: 90px;
		}
	}
	.wrap-guide{
		.container.paragraph-hide{
			max-height: 90px;
		}
		.read-more-st1{
			display: block;
			.link-st3{
				margin-top: 15px;
			}
		}
	}
	.wrap-guide-step{
		padding-bottom: 0;
		article{
			position: static;
			max-height: none;
		}
	}
	.intro-country-tour{
		.paragraph-hide{
			width: 100%;
		}
	}
	.wrap-filter-st2{
		.select-st1{
			width: 100%;
			margin-top: 15px;
		}
		.filter-submit-2{
			max-width: 100%;
		}
	}
	.foot-trip{
		&>span{
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			text-align: center;
		}
		.btn-st2{
			margin-left: 0;
			margin-bottom: 0;
		}
		.heart-tour{
			margin-bottom: 0;
		}
	}
	.hand-picked{
		flex-wrap: wrap;
		&>span{
			display: block;
			margin-right: 0;
			width: 100%;
			margin-bottom: 10px;
			text-align: center;
		}
		&>div{
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			.tooltip-handpick{
				width: 50%;
			}
		}
	}
	.trip-st4{
		.head-trip{
			.title-info{
				.title-h2{
					font-size: 16px;
				}
			}
		}
	}
}
@media (max-width: 375px) {
	.wrap-title-banner-top-line{
		h1,h2{
			font-size: 25px;
		}
		.line{
			&:after{
				margin: 5px auto;
			}
		}
	}
}