.banner-top-country{
	position: relative;
    margin-top: 0;
    #booking-widget-homepage{
    	bottom: 30%;
    }
    .wrap-title-top-country{
    	bottom: calc(30% + 115px);
    }
}
.wrap-title-top-country{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	z-index: 3;
	color: #fff;
	h1,h2{
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		font-size: 42px;
		font-weight: normal;
		margin: 15px auto;
	}
	.btn-st2{
		color: #fff;
		border-color: #fff;
	}
}
.pull-up{
	margin-top: 0;
	margin-bottom: 0;
}
.foreground{
	width: 55%;
	margin: 0 auto;
	box-shadow: 0 0 0.5rem 0 rgba(0,0,0,.16);
	padding: 20px;
	@include translateY(-220px);
	background-color: $background-color;
	&>article{
		width: 100%;
		border: 2px solid #215B41;
		border-top: 1px solid $light-color-2;
		padding: 60px 21.5% 65px;
	}
	h3{
		font-size: 16px;
		font-family: 'Theano Didot','Times New Roman', serif;
		letter-spacing: 2px;
		font-weight: 400;
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}
@media (max-width: 1199px) {
	.banner-top-country{
	    .wrap-title-top-country{
	    	bottom: calc(30% + 70px);
	    }
	}
	.foreground{
		width: 60%;
		@include translateY(-190px);
		&>article{
			padding: 40px 15% 45px;
		}
		h3{
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
}
@media (max-width: 991px) {
	.banner-top-country{
		overflow-x: hidden;
		&>img{
			min-height: 440px;
			width: auto;
		}
	}
	.foreground{
		width: 70%;
		@include translateY(-120px);
		&>article{
			padding: 30px 12% 35px;
		}
	}
}
@media (max-width: 767px) {
	.wrap-title-top-country{
		h1,h2{
			font-size: 35px;
		}
		.pre-title{
			font-size: 14px;
		}
	}
	.foreground{
		width: 85%;
		&>article{
			padding: 20px 12% 25px;
		}
	}
}
@media (max-width: 479px) {
	.wrap-title-top-country{
		h1,h2{
			margin: 10px 0;
		}
	}
	.foreground{
		width: 90%;
	}
}