.experience-container{
	.wrap-mini-intro{
		padding-bottom: 50px;
		border-bottom: 2px solid #eee;
	}
	.wrap-filter{
		margin-top: 50px;
		.filter-box{
			margin-bottom: 0;
			border: 1px solid #eee;
		}
	}
	.container{
		width: 66%;
		.col-xlg-4{
			margin: 15px 0;
			.wrap-text-abso{
				top: 0;
				left: 15px;
				right: 15px;
				bottom: 84px;
				padding-top: 10px;
			}
			.desti{
				color: #fff;
				text-transform: uppercase;
			}
		}
	}
}
.experience-dt-container{
	padding-top: 20px;
	background-image: url('../images/icon/icon_a.svg');
	background-repeat: no-repeat;
	background-size: 250px;
	background-position: top;
	.wrap-mini-intro{
		.desti{
			text-transform: uppercase;
			font-size: 14px;
			&:before{
				width: 11px;
				height: 11px;
			}
		}
		.title-h2{
			margin-top: 30px;
			margin-bottom: 15px;
			text-transform: none;
		}
		.wrap-media{
			margin-bottom: 15px;
			margin-top: 15px;
		}
	}
}
.wrap-media{
	position: relative;
	width: 100%;
	.img-box{
		width: 100%;
	}
}
.wrap-text-abso{
	position: absolute;
	display: flex;
    flex-direction: column;
    align-items: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.65)), to(rgba(0,0,0,0.01)));
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.65) 100%);
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.65) 100%);
    background: -ms-linear-gradient(bottom, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.65) 100%);
    background: -o-linear-gradient(bottom, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.65) 100%);
}
@media (max-width: 991px) {
	.experience-dt-container{
		.wrap-mini-intro{
			width: 80%;
		}
	}
}
@media (max-width: 767px) {
	.experience-container{
		.container{
			width: 100%;
		}
	}
}
@media (max-width: 479px) {
	.experience-dt-container{
		.wrap-mini-intro{
			width: 90%;
		}
	}
}