.experience-container{
	.wrap-filter{
		margin-top: 50px;
		.filter-box{
			margin-bottom: 0;
			border: 1px solid #eee;
		}
	}
	.container{
		.col-xlg-4{
			margin: 15px 0 30px;
			position: relative;
			padding-bottom: 128px;
			&>a{
				position: relative;
				opacity: .8;
				&:hover{
					opacity: 1;
				}
			}
			.wrap-text-abso{
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				padding-top: 10px;
			}
			.desti{
				color: #fff;
				text-transform: uppercase;
			}
			article{
				position: absolute;
				left: 15px;
				right: 15px;
				bottom: 0;
				max-height: 128px;
				overflow-y: hidden;
				background-color: #fff;
				@include smooth(1s);
				z-index: 3;
				&:hover{
					max-height: 400px;
				}
				h3,h4{
					font-size: 16px;
					font-weight: 600;
				}
				.btn-st2{
					color: #555;
    				border-color: #bbb;
    				&:hover{
    					color: $higlight-color;
    					border-color: $higlight-color;
    				}
				}
			}
		}
		.view-more-wrap{
			margin-top: 30px;
		}
	}
}
.line-bd-bot{
	padding-bottom: 50px;
	border-bottom: 2px solid #eee;
}
.experience-dt-container{
	padding-top: 20px;
	background-image: url('../images/icon/icon_a.svg');
	background-repeat: no-repeat;
	background-size: 250px;
	background-position: top;
	.wrap-mini-intro{
		.desti{
			text-transform: uppercase;
			font-size: 14px;
			&:before{
				width: 11px;
				height: 11px;
			}
		}
		.title-h2{
			margin-top: 30px;
			margin-bottom: 15px;
			text-transform: none;
			font-weight: 500;
		}
		.wrap-media{
			margin-bottom: 15px;
			margin-top: 15px;
		}
		.paragraph{
			font-size: 16px;
		}
	}
}
.wrap-media{
	position: relative;
	width: 100%;
	&>a{
		width: 100%;
	}
}
.wrap-text-abso{
	position: absolute;
	display: flex;
    flex-direction: column;
    align-items: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.65)), to(rgba(0,0,0,0.01)));
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.65) 100%);
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.65) 100%);
    background: -ms-linear-gradient(bottom, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.65) 100%);
    background: -o-linear-gradient(bottom, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.65) 100%);
}
@media (max-width: 991px) {
	.experience-dt-container{
		.wrap-mini-intro{
			width: 80%;
		}
	}
}
@media (max-width: 479px) {
	.experience-dt-container{
		.wrap-mini-intro{
			width: 90%;
		}
	}
}