header{
	width: 100%;
	z-index: 101;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $background-color;
	.menu-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin: 30px auto 0;
		.search-nav {
			width: 35%;
			max-width: 400px;
			order: 1;
			display: flex;
			align-items: center;
			.btn-collep-mobi{
				display: none;
			}
			.btn-collep-search{
				display: flex;
				align-items: center;
				.search{
					font-size: 15px;
					margin-right: 5px;
				}
				font{
					text-transform: uppercase;
				}
			}
		}
		.brand{
			width: 30%;
			max-width: 118px;
			order: 2;
		}
		.global-menu {
			width: 35%;
			max-width: 400px;
			display: flex;
			justify-content: space-between;
			align-items: stretch;
			padding-left: 20px;
			order: 3;
			.lang-top{
				display: flex;
				align-items: center;
				max-width: 33.33%;
			}
			.login-top{
				max-width: 33.33%;
			}
			.book-top{
				
			}
		}
		.main-menu{
			width: 100%;
			background-color: $background-color-st1;
    		border-top: 1px solid #dcdcdc;
    		border-bottom: 1px solid #dcdcdc;
    		margin-top: 30px;
    		display: flex;
    		justify-content: center;
			-webkit-transition: margin-top .2s linear, border .3s linear;
			-moz-transition: margin-top .2s linear, border .3s linear;
			-o-transition: margin-top .2s linear, border .3s linear;
			-ms-transition: margin-top 2s linear, border .3s linear;
			transition: margin-top .2s linear, border .3s linear;
    		order: 4;
    		&>li{
    			display: flex;
    			align-items: center;
    			position: relative;
    			a {
    				margin-right: 30px;
    				margin-left: 30px;
    				padding-bottom: 20px;
    				padding-top: 20px;
    				text-transform: uppercase;
    				color: $main-color;
    				@include smooth(.2s);
    				&>i{
    					display: none;
    				}
    			}
    			&:before{
					background-color: $higlight-color;
					content: " ";
					display: inline-block;
					height: 8px;
					width: 8px;
					border-radius: 140px 140px 0 140px;
    			}
    			&:nth-child(1):before{
    				display: none;
    			}
    		}
    		&>.sub-menu-title{
    			&>a{
    				z-index: 9;
    				&:before{
    					background-color: transparent;
						border-bottom: 1px solid #dcdcdc;
						border-right: 1px solid #dcdcdc;
						content: " ";
						display: block;
						opacity: 0;
						height: 12px;
						position: absolute;
						left: 0;
						margin: 0 auto;
						right: 0;
						@include rotage(45deg);
						@include smooth(.25s);
						@include animationed(fadein,.25s);
						top: calc(100% - 5px);
						width: 12px;
						background-color: transparent;
						z-index: 9;
    				}
    				&:after{
    					@include rotage(45deg);
						@include smooth(.25s);
						background-color: #000;
						content: " ";
						height: 5px;
						width: 5px;
						opacity: 0;
						display: block;
						position: absolute;
						left: 0;
						margin: 0 auto;
						right: 0;
						top: calc(100% - 2px);
						z-index: 9;
    				}
    				&:hover{
    					&:before{
    						opacity: 1;
    					}
    					&:after{
    						opacity: 1;
    					}
    				}
    			}
    		}
    		&:hover{
    			background-color: #fff;
    			border-top-color: transparent;
    		}
		}
	}
	.menu-wrap-scroll{
		margin-top: 0;
		flex-wrap: nowrap;
		border-bottom: 1px solid #dcdcdc;
		.search-nav{
			width: auto;
			.phone-box{
				strong{
					display: none;
				}
			}
		}
		.brand{
			display: none;
		}
		.global-menu{
			width: auto;
			.lang-top, .login-top{
				display: none;
			}
		}
		.main-menu{
			order: 2;
			margin-top: 0;
			background-color: transparent;
			border: none;
			width: auto;
		}
	}
}
#menu-lv1-1{
	.sub-menu-lv1{
		display: flex;
		justify-content: space-between;
		padding: 30px 40px;
		position: absolute;
		top: calc(100% + 1px);
		left: 0;
		width: var(--bodyWidth);
		background-color: #f6f4f0;
		&>li{
			width: 20%;
			padding: 0 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&:hover .sub-menu-lv1{
		display: flex;
	}
}
.sub-menu{
	.menu-mobile-back{
		display: none;
	}
}
.sub-menu-destinations{
	display: none;
	justify-content: space-between;
	padding: 30px 0;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #f6f4f0;
	@include smooth(0.5s);
	border-bottom: 1px solid #dcdcdc;
	&>li{
		width: 20%;
		padding: 0 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		&>a:first-child{
			position: relative;
			line-height: 1;
			overflow: hidden;
			opacity: .8;
			display: flex;
			justify-content: center;
			align-items: center;
			&>span{
				position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 90%;
				height: 45%;
				padding: 8px 0;
				background-color: $color-cover-text;
				text-transform: uppercase;
				font-weight: 700;
				color: $main-color;
				&>i{
					display: none;
				}
			}
			&:hover>img{
				@include scale(1.1);
				@include smooth(0.25s);
				opacity: 1;
			}
			&:hover>span{
				background-color: transparent;
				color: #fff;
			}
		}
		.bg-map-menu{
			margin-bottom: 10px;
			margin-top: 10px;
		}
		&>.menu-lv-3{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			a{
				margin-top: 10px;
			}
			&>a:hover{
				color: $higlight-color;
			}
		}
		.btn-st2{
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
}
.sub-menu-travel{
	display: none;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 30px 12%;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #f6f4f0;
	border-bottom: 1px solid #dcdcdc;
	&>li{
		width: 20%;
		padding: 0 15px;
		a{
			display: flex;
			justify-content: center;
			align-items: flex-start;
			position: relative;
			img{
				width: 100%;
				@include smooth(0.5s);
			}
			span{
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				text-align: center;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 600;
				color: #fff;
				background-color: $color-cover-dak;
				padding: 22px;
			}
			&:after{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border: 0px;
				border-radius: 0;
				@include smooth(.25s);
			}
			&:hover{
				opacity: 1;
				img{
					opacity: 1;
				}
				&:after{
					top: 15px;
					left: 15px;
					right: 15px;
					bottom: 15px;
					border-radius: 140px 140px 0px 140px;
					border: 1px solid rgba(207,172,27,.8);
				}
			}
		}
	}
}
.sub-menu-cruises{
	display: none;
	//display: flex;
	justify-content: center;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #f6f4f0;
	@include smooth(0.5s);
	border-bottom: 1px solid #dcdcdc;
	&>li{
		display: flex;
		align-items: center;
		&>a{
			margin-right: 30px;
			margin-left: 30px;
			padding-bottom: 30px;
			padding-top: 30px;
			text-transform: uppercase;
		}
	}
}
.login-top{
	position: relative;
	display: flex;
	align-items: center;
	.login-menu{
		display: none;
		z-index: 103;
	}
	&>a{
		font-size: 13px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    height: 100%;
	    width: 100%;
		.user-regular{
			margin-right: 5px;
			font-size: 12px;
		}
		&:hover{
			color: $higlight-color;
		}
		.select-arrow-thin{
			font-size: 7px;
			padding-top: 3px;
			margin-left: 15px;
		}
	}
	&>a.active{
		border: 1px dotted #555;
	}
	
}
.login-menu,.lang-menu{
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #fff;
	//border: 1px solid #dcdcdc;
	min-width: 130px;
	font-size: 11px;
	//box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	li{
		border-bottom: 1px solid #eee;
		a{
			padding: 10px 15px;
			width: 100%;
			//text-transform: uppercase;
			&:hover{
				background-color: #ececec;
				color: #555;
			}
		}
		&:last-child{
			border-bottom: none;
		}
	}
}
.lang-top{
	position: relative;
	display: flex;
	align-items: center;
	.lang-menu{
		display: none;
		z-index: 103;
	}
	&>a{
		font-size: 13px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    height: 100%;
	    width: 100%;
	    font{
	    	padding-left: 5px;
	    }
		&:hover{
			color: $higlight-color;
		}
		.select-arrow-thin{
			font-size: 7px;
			padding-top: 3px;
			margin-left: 15px;
		}
	}
	&>a.active{
		border: 1px dotted #555;
	}
}
#search-nav-top{
	display: none;
	position: absolute;
	top: 100%;
	left: 50%;
	@include translateX(-50%);
	width: 100%;
	z-index: 4;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #fff;
}

.form-search-nav{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
	max-width: 1260px;
	margin-left: auto;
	margin-right: auto;
	background-color: $background-color;
	input, select{
		display: none;
	}
	&>div{
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		border-right: 1px solid #cecece;
		//color: #a09c9c;
	}
	.text{
		&>.icon-font:first-child{
			color: $light-color-2;
		}
	}
	.search-nav-where{
		position: relative;
		width: 26%;
		.value{
			top: calc(100% + 15px);
			.btn-value{
				.map-marker{
					margin-right: 8px;
					font-size: 15px;
					color: $higlight-color;
					@include smooth(.25s);
				}
				&:hover{
					.map-marker{
						color: $main-color;
					}
				}
			}
		}
	}
	.search-nav-exp{
		position: relative;
		width: 26%;
		.value{
			top: calc(100% + 15px);
			.btn-value{
				padding-left: 15px;
				.icon-font:first-child{
					display: inline-block;
					//width: 10%;
					margin-right: 8px;
					font-size: 22px;
					color: $higlight-color;
					@include smooth(.25s);
					&:before{
						color: $higlight-color;
					}
				}
				&:hover{
					.icon-font:first-child{
						color: $main-color;
						&:before{
							color: $main-color;
						}
					}
				}
			}
		}
	}
	.search-nav-days{
		position: relative;
    	width: 14%;
    	.text {
		    display: flex;
		    align-items: center;
		    width: 100%;
		    height: 20px;
		}
		.value{
			top: calc(100% + 15px);
		}
	}
	.search-nav-price{
		position: relative;
		width: 24%;
		border-right: none;
		.value{
			top: calc(100% + 15px);
			.btn-value{
				padding-left: 15px;
			}
		}
	}
	.booking-step-submit{
		width: 18%;
		border-right: none;
		padding: 0;
		margin: 0;
		button{
			width: 100%;
			height: 100%;
			border-radius: 999px;
			font-weight: 600;
			i{
				font-size: 16px;
				font-style: normal;
				margin-left: 10px;
			}
		}
	}
}
@media (min-width: 1351px) and (max-width: 1395px) {
	header{
		.menu-wrap-scroll{
			.search-nav{
				width: 14%;
				.phone-box{
					display: none;
				}
			}
		}
	}
}
@media (max-width: 1350px) {
	header{
		.menu-wrap-scroll{
			flex-wrap: wrap;
			border-bottom: none;
			margin-top: 15px;
			.search-nav{
				.phone-box{
					strong{
						display: inline-block;
					}
				}
			}
			.brand{
				display: none;
			}
			.global-menu{
				width: 35%;
				.lang-top, .login-top{
					display: flex;
				}
			}
			.main-menu{
				margin-top: 15px;
				width: 100%;
				order: 4;
				background-color: #f6f4f0;
				border-top: 1px solid #dcdcdc;
				border-bottom: 1px solid #dcdcdc;
			}
		}
	}
}
@media (max-width: 1199px) {
	.sub-menu-travel{
		&>li{
			a{
				span{
					font-size: 14px;
				}
			}
		}
	}
	header{
		.menu-wrap{
			.global-menu{
				#account-top{
					a{
						font{
							display: none;
						}
						.select-arrow-thin{
							margin-left: 0;
						}
					}
				}
			}
		}
	}
	.login-top, .lang-top{
		&>a{
			.select-arrow-thin{
				margin-left: 5px;
			}
		}
	
	}
	.phone-box{
		strong{
			display: none;
		}
	}
	.form-search-nav{
		flex-wrap: wrap;
		max-width: 700px;
		.search-nav-where,.search-nav-exp,.search-nav-days,.search-nav-price,.booking-step-submit{
			width: 100%;
			border-right: none;
		}
		.booking-step-submit{
			height: 40px;
		}
	}
}
@media (max-width: 991px) {
	.close-menu{
		display: none!important;
	}
	.close-opacity-menu:after,.close-opacity-menu:before{
	    opacity: 0!important;
	}
	header{
		.menu-wrap{
			margin-top: 10px;
			border-bottom: 1px solid #dcdcdc;
			position: relative;
			.search-nav{
				width: 26%;
				margin-bottom: 10px;
				.btn-collep-mobi{
					display: flex;
					align-items: center;
					i{
						padding: 10px 8px;
					}
					.menu{
						font-size: 23px;
					}
					&:hover{
						color: $main-color;
					}
				}
				.btn-collep-search{
					font{
						display: none;
					}
					.search{
						padding: 10px 8px;
						font-size: 18px;
					}
				}
			}
			.brand{
				width: 15%;
				margin-bottom: 10px;
				@include smooth(.2s);
			}
			.global-menu{
				width: 26%;
				margin-bottom: 10px;
				.lang-top{
					max-width: unset;
					margin-right: 15px;
					position: static;
					.lang-menu{
						font-size: 12px;
						width: 30%;
						left: unset;
						right: 0;
					}
				}
				.login-top{
					//margin-right: 5px;
					position: static;
					&>a{
						.user-regular{
							font-size: 18px;
						}
					}
					.login-menu{
						width: 30%;
						left: unset;
						right: 0;
						text-align: right;
						font-size: 12px;
					}

				}
				.book-top{
					display: none;
				}
			}
			.main-menu{
				display: none;
				flex-direction: column;
				position: absolute;
				top: 100%;
				margin-top: 0;
				width: auto;
				border-right: 1px solid #dcdcdc;
				z-index: 5;
				&>li{
					width: 100%;
					&:before{
						display: none;
					}
					&>a{
						line-height: 1;
						margin-right: 0;
						margin-left: 0;
						padding-left: 50px;
						padding-right: 50px;
						width: 100%;
						&:focus{
							background-color: $background-color-st1;
						}
					}
				}
				&>.sub-menu-title{
					&>a{
						&>i{
							display: inline-block;
							margin-left: 5px;
							font-style: normal;
							font-size: 16px;
						}
						&:before{
							top: calc(50% - 6px);
							left: calc(100% - 6px);
						}
						&:after{
							top: calc(50% - 2px);
							left: calc(100% - 2px);
						}
						&:hover:before{
							opacity: 0;
	    				}
	    				&:hover:after{
	    					opacity: 0;
	    				}
					}
				}
			}
			
		}
	}
	.sub-menu{
		top: 0;
		left: calc(100% + 1px);
		padding: 0;
		flex-direction: column;
		&>li{
			padding: 0;
			width: 100%;
			margin-left: 0;
			&>a:first-child{
				margin: 0;
				img{
					display: none;
				}
				&>span{
					position: static;
					background-color: transparent;
					font-weight: 400;
					padding: 0;
					justify-content: flex-start;
					&>i{
						display: inline-block;
						margin-left: 5px;
						font-size: 16px;
						font-style: normal;
						@include rotage(90deg)
					}
				}
				&:hover>span{
					color: $main-color;
				}
			}
			&>.menu-lv-3{
				padding: 0;
				display: none;
				text-align: left;
				a{
					padding: 10px 10px 10px 50px;
					width: 100%;
					margin-top: 0;
				}
			}
			&>a{
				padding: 20px;
				width: 100%;
			}
		}
	}
	.sub-menu-destinations{
		&>li{
			&>a:nth-child(2){
				display: none;
			}
			.btn-st2{
				display: none;
			}
		}
	}
	.sub-menu-travel{
		width: auto;
		&>li{
			a{
				span{
					margin: 0;
					white-space: nowrap;
					text-align: left;
					color: $main-color;
					font-size: 12px;
				}
				&:after{
					display: none;
				}
			}

		}
		&>.mg-top-30{
			margin-top: 0;
		}
	}
}
@media (max-width: 767px) {
	header{
		.menu-wrap{
			.global-menu{
				padding-left: 0;
				justify-content: flex-end;
				text-transform: uppercase;
				.lang-top{
				}
				#account-top{
					flex-grow: 1;
				}

			}
			.main-menu{
				&>li{
					&>a{
						padding-left: 20px;
						padding-right: 20px;
					}
				}
			}
		}
	}
	#search-nav-top{
		left: 50%;
		width: 100%;
		padding-bottom: 0;
		padding-top: 0;
	}
}
@media (max-width: 520px) {
	.main-menu-transform{
		transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
	}
	header{
		.menu-wrap{
			.search-nav{
				width: unset;
				//margin-bottom: 0;
			}
			.brand{
				width: 20%;
				position: absolute;
				left: 50%;
				margin-bottom: 0;
				@include translateX(-50%);
			}
			.global-menu{
				width: unset;
				//margin-bottom: 0;
			}
			.main-menu{
				width: 100%;
				@include smooth(.2s);
				&>li{
					padding-left: 10%;
					&:before{
						display: block;
					}
					&:nth-child(1):before{
						display: block;
					}
					&>a{
						&:focus{
							background-color: transparent;
						}
					}
				}
				.sub-menu-title{
					&>a{
						&:before{
							display: none!important;
						}
						&:after{
							display: none!important;
						}
					}
				}
			}
		}
	}
	.sub-menu{
		width: 100%;
		top: 0;
		.menu-mobile-back{
			display: block;
			position: relative;
			line-height: 1;
			button{
				padding: 5px 10px;
				position: absolute;
				top: 0;
				left: 0;
				background-image: radial-gradient(rgba(0,0,0,0.65) 10%, rgba(0,0,0,0) 80%);
				background-image: -webkit-radial-gradient(rgba(0,0,0,0.65) 10%, rgba(0,0,0,0) 80%);
				background-image: -moz-radial-gradient(rgba(0,0,0,0.65) 10%, rgba(0,0,0,0) 80%);
				background-image: -o-radial-gradient(center center,rgba(0,0,0,0.65) 10%, rgba(0,0,0,0) 80%);
				background-image: -ms-radial-gradient(center center,rgba(0,0,0,0.65) 10%, rgba(0,0,0,0) 80%);
				i{
					font-size: 30px;
					font-style: normal;
					font-weight: 800;
					color: #fff;
				}
			}
			span{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				color: #fff;
				text-transform: uppercase;
				font-size: 16px;
				font-weight: 500;
				text-align: center;
				padding: 10px 0;
				@include gradient3();
			}
		}
	}

}
@media (max-width: 375px) {
	header{
		.menu-wrap{
			.search-nav{
				width: 33%;
			}
		}
	}
}