header{
	width: 100%;
	z-index: 100;
	position: relative;
	.menu-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin: 30px auto 0;
		.search-nav {
			width: 35%;
			max-width: 400px;
			.fa-search {
				margin-right: 5px;
				font-size: 15px;
			}
			input {
				border: none;
			    background-color: transparent;
			    font-weight: 500;
			    text-transform: uppercase;
			    padding-bottom: 5px;
			    @include smooth(.2s);
			    font-size: 13px;
			    letter-spacing: 2px;
			    outline: none;
			    &:focus{
			    	outline-style: dotted;
					outline-width: 1px;
					border-bottom: 1px solid $main-color;
					font-size: 14px;
			    }
			}
		}
		.brand{
			width: 30%;
			max-width: 118px;
		}
		.global-menu {
			width: 35%;
			max-width: 400px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-left: 20px;
			.lang-top{
				width: 33.33%;
				max-width: 110px;
			}
			.login-top{
				width: 33.33%;
				max-width: 85px;
				a {
					font-size: 13px;
					display: flex;
					justify-content: center;
					.user-regular{
						margin-right: 5px;
						font-size: 12px;
					}
					&:hover{
						color: $main-color;
					}
				}
			}
			.book-top{
				
			}
		}
		.main-menu{
			width: 100%;
			background-color: $background-color-st1;
    		border-top: 1px solid #dcdcdc;
    		border-bottom: 1px solid #dcdcdc;
    		margin-top: 30px;
    		display: flex;
    		justify-content: center;
    		@include smooth(.2s);
    		position: relative;
    		&>li{
    			display: flex;
    			align-items: center;
    			position: relative;
    			a {
    				margin-right: 30px;
    				margin-left: 30px;
    				padding-bottom: 20px;
    				padding-top: 20px;
    				text-transform: uppercase;
    				color: $main-color;
    				@include smooth(.2s);
    			}
    			&:before{
					background-color: $higlight-color;
					content: " ";
					display: inline-block;
					height: 8px;
					width: 8px;
					border-radius: 50%;
    			}
    			&:first-child:before{
    				display: none;
    			}
    		}
    		&>.sub-menu-title{
    			&>a{
    				z-index: 9;
    				&:before{
    					background-color: transparent;
						border-bottom: 1px solid #dcdcdc;
						border-right: 1px solid #dcdcdc;
						content: " ";
						display: block;
						opacity: 0;
						height: 12px;
						position: absolute;
						left: 0;
						margin: 0 auto;
						right: 0;
						@include rotage(45deg);
						@include smooth(.25s);
						@include animationed(fadein,.25s);
						top: calc(100% - 5px);
						width: 12px;
						background-color: transparent;
						z-index: 9;
    				}
    				&:after{
    					@include rotage(45deg);
						@include smooth(.25s);
						background-color: #000;
						content: " ";
						height: 5px;
						width: 5px;
						opacity: 0;
						display: block;
						position: absolute;
						left: 0;
						margin: 0 auto;
						right: 0;
						top: calc(100% - 2px);
						z-index: 9;
    				}
    				&:hover:before{
						opacity: 1;
    				}
    				&:hover:after{
    					opacity: 1;
    				}
    			}
    		}
    		&:hover{
    			background-color: #fff;
    			border-top-color: transparent;
    		}
		}
	}
}
#menu-lv1-1{
	.sub-menu-lv1{
		display: flex;
		justify-content: space-between;
		padding: 30px 40px;
		position: absolute;
		top: calc(100% + 1px);
		left: 0;
		width: var(--bodyWidth);
		background-color: #f6f4f0;
		&>li{
			width: 20%;
			padding: 0 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&:hover .sub-menu-lv1{
		display: flex;
	}
}
.sub-menu-destinations{
	display: none;
	justify-content: space-between;
	padding: 30px 0;
	position: absolute;
	top: calc(100% + 1px);
	left: 0;
	width: 100%;
	background-color: #f6f4f0;
	@include smooth(0.5s);
	&>li{
		width: 20%;
		padding: 0 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		&>a:first-child{
			position: relative;
			line-height: 1;
			overflow: hidden;
			@include smooth(0.25s);
			opacity: .8;
			display: flex;
			justify-content: center;
			align-items: center;
			&>span{
				position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 90%;
				height: 45%;
				padding: 8px 0;
				background-color: $color-cover-text;
				font-size: 13px;
				text-transform: uppercase;
				font-weight: 700;
				color: $main-color;
			}
			&:hover>img{
				@include scale(1.1);
				@include smooth(0.25s);
				opacity: 1;
			}
			&:hover>span{
				background-color: transparent;
				color: #fff;
			}
		}
		.bg-map-menu{
			margin-bottom: 10px;
			margin-top: 10px;
		}
		&>div{
			text-align: center;
			font-size: 13px;
			padding: 0 15px;
			&>a:hover{
				color: $higlight-color;
			}
		}
		.btn-st2{
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
}
.sub-menu-travel{
	display: none;
	justify-content: space-between;
	padding: 30px 0;
	position: absolute;
	top: calc(100% + 1px);
	left: 0;
	width: 100%;
	background-color: #f6f4f0;
	@include smooth(0.5s);
	&>li{
		width: 12.5%;
		padding: 0 15px;
		a{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			@include smooth(0.5s);
			overflow: hidden;
			img{
				width: 60%;
				border-radius: 50%;
				opacity: .7;
				@include smooth(0.5s);
			}
			span{
				display: inline-block;
				width: 100%;
				text-align: center;
				font-size: 13px;
				margin: 10px 0;
				text-transform: uppercase;
			}
			&:hover{
				color: $higlight-color;
				img{
					opacity: 1;
				}
			}
		}
	}
}