.bg-travel-guide{
    background-image: url('../images/background/bg-travel-guide.jpg');
    height: 100%;
    @include dakkenImg(60%);
}
.travel-guide-container{
	.container{
		display: grid;
		grid-template-columns: 72% 28%;
    	grid-auto-rows: auto auto auto auto;
    	align-content: start;
    	align-items: start;
    	justify-content: start;
    	//background-color: black;
	}
	.wrap-blog-item-1{
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		padding-left: 15px;
		padding-right: 25px;
		//background-color: red;
	}
	.wrap-blog-item-2{
		grid-column: 1 / 2;
		grid-row: 2 / 5;
		padding-left: 15px;
		padding-right: 25px;
		//background-color: green;
	}
	.wrap-blog-item-3{
		grid-column: 2 / 3;
		grid-row: 1 / 3;
		padding-left: 25px;
		padding-right: 15px;
		//background-color: blue;
	}
	.wrap-blog-item-4{
		grid-column: 2 / 3;
		grid-row: 3 / 4;
		padding-left: 25px;
		padding-right: 15px;
		//background-color: grey;
		.blog-social-list{
			margin-top: 30px;
		}
		.recent-posts{
			margin-top: 30px;
		}
		.banner-posts{
			margin-top: 30px;
		}
	}
}
.blogs-tab{
	width: 100%;
	border-bottom: 1px solid #eee;
	ul{
		width: 100%;
		display: flex;
		align-items: flex-end;
		li{
			a{
				padding: 15px 40px 15px 0;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 14px;
				position: relative;
				&:hover:after{
					height: 2px;
				    display: block;
				    background-color: #d0b316;
				    content: "";
				    width: calc(80% - 40px);
				    position: absolute;
				    left: 0;
				    bottom: -1px;
				}
			}
			.active{
				&:hover{
					color: inherit;
					opacity: 1;
				}
				&:after{
				    height: 2px;
				    display: block;
				    background-color: #d0b316;
				    content: "";
				    width: calc(80% - 40px);
				    position: absolute;
				    left: 0;
				    bottom: -1px;
				}
			}
		}
	}
	
}
.breadcrumb{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 3px;
	li{
		display: inline;
		&:after{
			content: '/';
			margin-left: 5px;
			margin-right: 5px;
			display: inline-block;
			color: #868686;
		}
		&:last-child:after{
			display: none;
			content: '';
		}
		a{
			color: #868686;
			display: inline;
			&:hover{
				color: $higlight-color;
			}
		}
		.active{
			cursor: auto;
			&:hover{
				color: $light-color-4;
			}
		}
	}
}
.main-posts{
	margin-top: 40px;
	margin-bottom: 30px;
	padding-bottom: 30px;
    border-bottom: 1px dotted #EEE;
	&>a{
		width: 100%;
	}
	h3,h2,h1{
		line-height: 1.3;
		font-weight: 600;
	}
	h1,h2{
		font-size: 26px;
	}
	h3{
		font-size: 20px;
	}
	.box-share, .box-button{
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.paragraph{
		text-align: left;
		margin-bottom: 15px;
		margin-top: 15px;
	}
}
.caption{
	font-style: italic;
	text-align: center;
	margin: 10px auto 15px;
}
.box-share{
	display: flex;
	align-items: baseline;
	.desti{
		text-transform: uppercase;
		margin-right: 15px;
	}
	&>a{
		margin-right: 10px;
		font-size: 14px;
	}
}
.box-share-st2{
	display: inline-flex;
	width: 350px;
	max-width: 100%;
	align-items: baseline;
	border: 1px solid #eee;
	padding: 15px 50px;
	&>a{
		margin-right: 10px;
		font-size: 14px;
	}
}
.wrap-extra-posts{
	&>h2{
		font-size: 24px;
		font-weight: 300;
		line-height: 1.3;
		b{
			color: $main-color;
		}
	}
	.row{
		margin: 30px -15px;
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	.extra-posts{
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
.extra-posts{
	text-align: left;
	&>a{
		width: 100%;
	}
	
	.box-share, .box-button{
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.paragraph{
		text-align: left;
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.desti{
		margin-top: 20px;
		text-transform: uppercase;
	}
}
.extra-posts.col-xlg-6{
	h3{
		font-size: 18px;
		line-height: 1.3;
		font-weight: 600;

	}
}
.extra-posts.col-xlg-4{
	h3{
		font-size: 16px;
		line-height: 1.3;
		font-weight: 600;
		margin-top: 10px;
	}
}
.box-blog-flex{
	width: 100%;
}
.box-blog{
	border: 1px solid #eee;
	padding-right: 15px;
	padding-left: 15px;
	&>a{
		padding-bottom: 15px;
		padding-top: 15px;
		width: 100%;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 14px;
		border-bottom: 1px solid #eee;
		text-align: center;
		color: inherit;
		i{
			display: none;
		}
	}
	ul{
		padding-bottom: 15px;
		padding-top: 15px;
		width: 100%;
		li{
			text-align: center;
			a{
				padding-bottom: 10px;
				padding-top: 10px;
				width: 100%;
				color: #555;
				font-size: 14px;
				text-transform: uppercase;
				&:hover{
					color: $higlight-color;
				}
			}
		}
	}
}
.blog-social-list{
	ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		li{
			margin-left: 5px;
			margin-right: 5px;
			a{
				font-size: 22px;
			}
		}
	}
}
.recent-posts{
	width: 100%;
	&>a{
		padding-bottom: 10px;
		padding-top: 15px;
		//margin-bottom: 10px;
		width: 100%;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 14px;
		color: inherit;
		i{
			display: none;
		}
	}
	.row{
		display: flex;
		align-items: flex-start;
		margin-right: -5px;
		margin-left: -5px;
		padding-top: 20px;
		&>div{
			padding-right: 5px;
			padding-left: 5px;
			text-align: left;
			h3{
				margin-top: 0;
				font-size: 14px;
			}
			&>a{
				width: 100%;
			}
		}
	}
	.desti{
		text-transform: uppercase;
	}
}
.banner-posts{
	position: relative;
	width: 100%;
	&>div{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding-bottom: 30px;
		background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0.01)),to(rgba(0,0,0,0.35)));
	    background: -webkit-linear-gradient(top,rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.35) 60%);
	    background: -moz-linear-gradient(top,rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.35) 60%);
	    background: -ms-linear-gradient(top,rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.35) 60%);
	    background: -o-linear-gradient(top,rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.35) 60%);
	}
	.btn-st2{
		font-size: 14px;
	    color: #fff;
	    border-color: #fff;
	    opacity: .8;
		&:hover{
			opacity: 1;
			background-color: rgba(200,200,200,0.2);
		}
	}
}
@media (max-width: 991px) {
	.travel-guide-container{
		.container{
			display: grid;
			grid-template-columns: 100%;
	    	//grid-auto-rows: auto auto auto auto;
		}
		.wrap-blog-item-1{
			padding-right: 15px;
			grid-row: 2 / 3;
			.breadcrumb{
				border-bottom: 1px solid #eee;
				padding-top: 0;
			}
		}
		.wrap-blog-item-2{
			grid-row: 3 / 4;
			padding-right: 15px;
		}
		.wrap-blog-item-3{
			grid-column: 1 / 2;
			grid-row: 1 / 2;
			padding-left: 15px;
		}
		.wrap-blog-item-4{
			grid-column: 1 / 2;
			grid-row: 4 / 5;
			padding-left: 15px;
		}
	}
	.blogs-tab{
		ul{
			justify-content: center;
		}
	}
	.detail-travel-guide-container.travel-guide-container{
		.wrap-blog-item-1{
			grid-row: 1 / 2;
		}
		.wrap-blog-item-2{
			grid-row: 2 / 3;
		}
		.wrap-blog-item-3{
			grid-row: 3 / 4;
		}
	}
	.blog-des-list{
		width: 100%;
		//max-width: 300px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		/* &>a{
			border-bottom: none;
			//@include translateY(1px);
			//background-color: #fff;
			i{
				display: inline-block;
				font-style: normal;
				@include rotage(90deg);
			}
		}
		ul{
			display: none;
			position: absolute;
			left: -1px;
			top: calc(100% + 1px);
			width: calc(100% + 2px);
			border: 1px solid #eee;
			border-top: none;
			background-color: #fff;
		} */
	}
	.blog-social-list{
		padding-right: 0;
		padding-left: 0;
	}
	.box-blog-flex{
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
	}
	.recent-posts{
		.row{
			flex-wrap: wrap;
			width: 50%;
			&:first-child,&:last-child{
				margin-right: 0;
			}
		}
	}
	.banner-posts{
		display: none;
	}
}
@media (max-width: 767px) {
	.extra-posts{
		.paragraph{
			padding-right: 0;
			padding-left: 0;
		}
	}
	.main-posts{
		.paragraph{
			padding-right: 0;
			padding-left: 0;
		}
	}
}
@media (max-width: 479px) {
	.blogs-tab{
		ul{
			justify-content: space-between;
			li{
				a{
					padding-right: 15px;
					&:hover:after{
					    width: 60%;
					}
				}
				.active{
					&:after{
					    width: 60%;
					}
				}
			}
		}
	}
}