.travel-guide-container{
	margin-top: 70px;
}
.wrap-blog-col-1{
	width: 70%;
	padding-left: 15px;
	padding-right: 25px;
}
.wrap-blog-col-2{
	width: 30%;
	padding-left: 25px;
	padding-right: 15px;
}
.blogs-tab{
	width: 100%;
	border-bottom: 1px solid #eee;
	ul{
		width: 100%;
		display: flex;
		align-items: flex-end;
		li{
			a{
				padding: 15px 40px 15px 0;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 16px;
				position: relative;
				&:hover:after{
					height: 2px;
				    display: block;
				    background-color: #c1aa80;
				    content: "";
				    width: calc(80% - 40px);
				    position: absolute;
				    left: 0;
				    bottom: -1px;
				}
			}
			.active{
				&:hover{
					color: inherit;
					opacity: 1;
				}
				&:after{
				    height: 2px;
				    display: block;
				    background-color: #c1aa80;
				    content: "";
				    width: calc(80% - 40px);
				    position: absolute;
				    left: 0;
				    bottom: -1px;
				}
			}
		}
	}
	
}
.main-posts{
	margin-top: 40px;
	margin-bottom: 60px;
	h3{
		font-size: 20px;
		line-height: 1.3;
	}
	.box-share, .box-button{
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.paragraph{
		text-align: left;
		margin-bottom: 15px;
		margin-top: 15px;
	}
}
.box-share{
	display: flex;
	align-items: baseline;
	.desti{
		text-transform: uppercase;
		margin-right: 15px;
	}
	&>a{
		margin-right: 10px;
		font-size: 14px;
	}
}
.wrap-extra-posts{
	.row{
		margin: 30px -15px;
		display: flex;
		align-items: flex-start;
	}
}
.extra-posts{
	text-align: left;
	h3{
		font-size: 20px;
		line-height: 1.3;
	}
	.box-share, .box-button{
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.paragraph{
		text-align: left;
		margin-bottom: 15px;
		margin-top: 15px;
	}
}