body{
	&>section,&>header,&>footer{
		padding-left: 50px;
	}
}
header{
	width: 100%;
	z-index: 101;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $background-color;
	.menu-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 60px;
		margin-left: auto;
		margin-right: auto;
		.search-nav {
			width: 40%;
			max-width: 400px;
			display: flex;
			align-items: center;
			.open-search-top{
				display: flex;
				align-items: center;
				text-transform: uppercase;
				letter-spacing: 1px;
				.search{
					font-size: 16px;
					margin-right: 5px;
				}
			}
		}
		.brand{
			width: 20%;
			max-height: 100%;
			max-width: 80px;
		}
		.global-menu {
			width: 40%;
			height: 100%;
			max-width: 400px;
			display: flex;
			justify-content: space-between;
			align-items: stretch;
			padding-left: 20px;
			.lang-top{
				display: flex;
				align-items: center;
				max-width: 33.33%;
			}
			.login-top{
				max-width: 33.33%;
			}
			.book-top{
				display: flex;
				align-items: center;
				max-width: 33.33%;
			}
		}

	}
	.menu-wrap-scroll{
		border-bottom: 1px solid #dcdcdc;
	}
}
.wrap-main-menu{
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
	//border-right: 1px solid $border;
	&:before{
		content: '';
		display: block;
		height: 60px;
		width: 100%;
		background-color: $bg-01;
	}
	.main-menu{
		height: calc(100% - 60px);
		overflow-x: hidden;
		overflow-y: auto;
		webkit-overflow-scrolling: touch;
		scrollbar-color: rgba(100, 100, 100, 0.5) transparent;/*fire fox 64*/
		scrollbar-width: thin;/*fire fox 64*/
		&::-webkit-scrollbar{
			width: 3px;
			background-color: transparent;
		}
		&::-webkit-scrollbar-thumb{
			background-color: rgba(100, 100, 100, 0.5);
		}
		&::-webkit-scrollbar-track{
			background-color: transparent;
		}
	}
}
.main-menu{
	display: flex;
	flex-direction: column;
	width: unset;
	max-width: 50px;
	background-color: $bg-01;
	@include smooth(.5s);
	&>li{
		a {
			display: flex;
			align-items: center;
			overflow-x: hidden;
			padding: 20px 20px 20px 0;
			text-transform: uppercase;
			color: #fff;
			white-space: nowrap;
			width: 100%;
			@include smooth(.2s);
			&>.icon-font{
				font-size: 20px;
				width: 50px;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				flex-shrink: 0;
				color: $color-icon;
			}
			font{
				display: inline-flex;
				align-items: center;
				width: calc(100% - 50px);
				.select-arrow-thin{
					padding-left: 10px;
					margin-left: auto;
					font-size: 5px;
					line-height: 1;
				}
			}
			&:hover{
				&>.icon-font{
					color: #fff;
				}
			}
		}
		&:last-child{
			margin-top: auto;
		}
	}
}
.line-top{
	border-top: 1px solid $border;
}
.follow-top{
	display: none;
	text-align: center;
	font{
		text-transform: uppercase;
		color: #fff;
	}
	&>ul{
		display: flex;
		justify-content: center;
		li{
			a{
				padding: 20px 15px;
				.icon-font{
					width: unset;
				}
			}
		}
	}
}
.btn-bar-toggle{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 21;
	height: 60px;
	width: 50px;
	font-size: 24px;
	color: $color-icon;
	.search{
		display: none;
	}
}
.sub-menu{
	display: none;
	&>li{
		a{
			font-size: 11px;
			padding: 15px 20px 15px 50px;
			font{
				width: 100%;
			}
		}
	}

}
.sub-menu-lv2{
	display: none;
	&>li{
		a{
			text-transform: none;
			padding: 10px 20px 10px 60px;
		}
	}
}
.login-top{
	position: relative;
	display: flex;
	align-items: center;
	.login-menu{
		display: none;
		z-index: 103;
	}
	&>a{
		font-size: 13px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    height: 100%;
	    width: 100%;
		.user-regular{
			margin-right: 5px;
			font-size: 12px;
		}
		&:hover{
			color: $higlight-color;
		}
		.select-arrow-thin{
			font-size: 7px;
			padding-top: 3px;
			margin-left: 15px;
		}
	}
}
.login-menu{
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #fff;
	min-width: 130px;
	font-size: 11px;
	li{
		border-bottom: 1px solid #eee;
		a{
			padding: 10px 15px;
			width: 100%;
			&:hover{
				background-color: #ececec;
				color: #555;
			}
		}
		&:last-child{
			border-bottom: none;
		}
	}
}
.lang-top{
	position: relative;
	display: flex;
	align-items: center;
	.lang-menu{
		display: none;
		z-index: 103;
	}
	&>a{
		font-size: 13px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    height: 100%;
	    width: 100%;
	    font{
	    	margin-left: 5px;
	    }
		&:hover{
			color: $higlight-color;
		}
		.select-arrow-thin{
			font-size: 7px;
			padding-top: 3px;
			margin-left: 15px;
		}
	}
}
.lang-menu{
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #fff;
	min-width: 130px;
	font-size: 11px;
	li{
		border-bottom: 1px solid #eee;
		a{
			padding: 10px 15px;
			width: 100%;
			&:hover{
				background-color: #ececec;
				color: #555;
			}
		}
		&:last-child{
			border-bottom: none;
		}
	}
}
#search-nav-top{
	display: none;
	position: absolute;
	top: calc(100% - 1px);
	left: calc(50% + 25px);
	@include translateX(-50%);
	width: calc(100% - 51px);
	z-index: 4;
	padding-bottom: 15px;
	padding-top: 15px;
	background-color: #fff;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	//box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.form-search-nav{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
	max-width: 1260px;
	margin-left: auto;
	margin-right: auto;
	background-color: $background-color;
	input, select{
		display: none;
	}
	&>div{
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		border-right: 1px solid #cecece;
		//color: #a09c9c;
	}
	.text{
		&>.icon-font:first-child{
			color: $light-color-2;
		}
	}
	.search-nav-where{
		position: relative;
		width: 26%;
		.value{
			top: calc(100% + 15px);
			.btn-value{
				.map-marker{
					margin-right: 8px;
					font-size: 15px;
					color: $higlight-color;
					@include smooth(.25s);
				}
				&:hover{
					.map-marker{
						color: $main-color;
					}
				}
			}
		}
	}
	.search-nav-exp{
		position: relative;
		width: 26%;
		.value{
			top: calc(100% + 15px);
			.btn-value{
				padding-left: 15px;
				.icon-font:first-child{
					display: inline-block;
					//width: 10%;
					margin-right: 8px;
					font-size: 22px;
					color: $higlight-color;
					@include smooth(.25s);
					&:before{
						color: $higlight-color;
					}
				}
				&:hover{
					.icon-font:first-child{
						color: $main-color;
						&:before{
							color: $main-color;
						}
					}
				}
			}
		}
	}
	.search-nav-days{
		position: relative;
    	width: 14%;
    	.text {
		    display: flex;
		    align-items: center;
		    width: 100%;
		    height: 20px;
		}
		.value{
			top: calc(100% + 15px);
		}
	}
	.search-nav-price{
		position: relative;
		width: 24%;
		border-right: none;
		.value{
			top: calc(100% + 15px);
			.btn-value{
				padding-left: 15px;
			}
		}
	}
	.booking-step-submit{
		width: 18%;
		border-right: none;
		padding: 0;
		margin: 0;
		button{
			width: 100%;
			height: 100%;
		}
	}
}
@media (max-width: 1199px) {
	.form-search-nav{
		flex-wrap: wrap;
		.search-nav-where,.search-nav-exp,.search-nav-days,.search-nav-price,.booking-step-submit{
			width: 100%;
			border-right: none;
		}
		.booking-step-submit{
			height: 50px;
		}
	}
	.form-search-nav{
		max-width: 700px;
	}
}
@media (max-width: 991px) {
	header{
		.menu-wrap{
			justify-content: flex-start;
			.brand{
				position: absolute;
				left: 50%;
				z-index: 21;
				@include translateX(-50%);
			}
			.search-nav{
				width: unset;
			}
			.global-menu{
				width: unset;
				padding-left: 0;
				margin-left: auto;
				&>li{
					a{
						padding-right: 10px;
						padding-left: 10px;
					}
					
				}
				&>li.lang-top{
					max-width: unset;
					&>a{
						.select-arrow-thin{
							margin-left: 5px;
						}
					}
				}
				&>li.login-top{
					max-width: unset;
					&>a{
						.select-arrow-thin{
							margin-left: 5px;
						}
					}
				}
				&>li.book-top{
					display: none;
					
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.wrap-main-menu{
		.main-menu{
			max-width: 0;
		}
	}
	body{
		&>section,&>footer{
			padding-left: 0;
		}
	}
	header{
		.menu-wrap{
			.search-nav{
				margin-left: 0;
				margin-right: 0;
				.phone-box{
					margin-left: 0;
				}
				.open-search-top{
					font{
						display: none;
					}
				}
			}
		}
	}
	.login-top{
		position: static;
		text-transform: uppercase;
		&>a{
			font{
				display: none;
			}
			.user-regular{
				font-size: 18px;
			}
		}
		.login-menu{
			left: unset;
			right: 0;
		}
	}
	.lang-top{
		position: static;
		text-transform: uppercase;
		.lang-menu{
			left: unset;
			right: 0;
		}
	}
	#search-nav-top{
		left: 50%;
		width: 100%;
		padding-bottom: 0;
		padding-top: 0;
		border-bottom: none;
	}
}
@media (max-width: 479px) {
	.wrap-main-menu{
		width: 0;
		@include smooth(.5s);
		.main-menu{
			max-width: unset;
			width: 100%;
		}
	}
}
