* {
    text-decoration: none !important;
}
button {
    outline:none;
    background-color: transparent;
    border: none;
}
body {
    background: #01081F;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
}
h3 {
    font-size: 2.5rem;
}
h4 {
    color: #7E8085;
    font-size: 1.5rem;
}
p {
    color: #C5D0E6;
}
#hero {
    background: url(../img/BG.png) no-repeat left top;
    background-size: 100% auto;
    height: 791.5px;
}
.container {
    max-width: 60%;
}
.nav-container {
    display: flex;
    align-items: center;
}
.navbar-default {
    background-color: transparent;
    border-bottom: none;
    height: 10%;
    margin: 0;
    border: none;
}

.navbar-brand>span {
    color: #FFFFFF;
    font-size: 2.2rem;
}

.navbar-default .navbar-brand:hover {
    color: #FFF;
}

.navbar-default .navbar-nav > .active > a {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 118%;
}

.dropdown-menu > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: green;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

.dropdown-menu {
    background-color: transparent;
}
#navbar {
    margin-left: auto;
}
.nav {
    display: flex;
    align-items: center;
}
.navbar-nav button {
    color: #2F5BEA;
    text-align: center;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: #FFFFFF;
    outline:none;
}
.dropdown-menu > li > a:hover {
    color: #555!important;
}
.navbar-nav button:hover {
    color: #555!important;
    transform: scale(1.01);
    transition: all 150ms linear;
}
#hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}
#hero-content>div, #hero-content>h1, #hero-content>p {
    width: 40.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#hero-content>h1 {
    font-weight: 800;
}
#hero-content>p {
    margin-top: 2.5rem;
}
#hero-content>div {
    margin-top: 2.5rem;
}
#hero-content>div>div {
    border: 2px solid rgba(255, 255, 255, 0.151268);
    width: 117px;
    height: 130px;
    border-radius: 4px;
    margin-right: 3%;
}
#hero-content>div>div>a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#hero-content>div>div div {
    height: 68%;
    width: 36%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero-content>div>div p {
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 32%;
    margin: 0;
    border-top: 2px solid rgba(255, 255, 255, 0.151268);
    text-transform: uppercase;
    color: #FFFFFF;

}
@media (max-width:768px){
    .navbar-default .navbar-nav .open .dropdown-menu> li > a:hover,
    .dropdown-menu > li > a:hover {
        color: #FFF!important;
    }
}
/* STYLE WRAP-2, WHY */
#wrap-2 {
    width: 100%;
    min-height: 802px;
    display: grid;
    grid-template-rows: 57% 43%;
}
#why {
    max-width: calc(60% - 30px);
    padding: 0;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.151268);
}
.question h4 {
    text-align: center;
    text-transform: uppercase;
}
#why h2 {
    text-align: center;
    margin: 0;
}
.title-answer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#why img, .title-answer h3 {
    font-size: 2rem;
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin-right: 12px;
}
.answer {
    color: #7E8085;
}
#section-1 {
    display: flex;
    align-items: center;
}

#section-1 a {
    color: #FFFFFF;
    font-size: 1.5rem;
    padding: 1rem 0;
    border-bottom: 3px solid #2F5BEA;
}
iframe {
    min-height: 230px;
}
/* STYLE WRAP-3*/
#wrap-3 {
    width: 100%;
    min-height: 2318px;
    display: grid;
    grid-template-rows: 2.5% 4.5% 4.5% 4.5% 4.5% 4.5% 3% 13% 14% 4.4% 4.4% 6% 4.4% 7.133% 7.133% 7.133% auto;
    grid-template-columns: 20% 10% 10% 10% 10% 10% 10% 20%;
}
.item-mobile {
    background-color: #2F5BEA;
}
#item-1 {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}
#item-2 {
    grid-column: 4 / 6;
    grid-row: 1 / 2;
}
#item-3 {
    grid-column: 6 / 9;
    grid-row: 1 / 3;
}
#item-4 {
    grid-column: 1 / 2;
    grid-row: 3 / 6;
}
#item-5 {
    grid-column: 2 / 4;
    grid-row: 3 / 6;
    padding-right: 15px;
}
#item-6 {
    grid-column: 4 / 6;
    grid-row: 2 / 7;

}
#item-7 {
    grid-column: 6 / 8;
    grid-row: 3 / 6;
    padding-left: 15px;
}
#item-8 {
    grid-column: 8 / 9;
    grid-row: 3 / 6;
}
#item-9 {
    grid-column: 1 / 4;
    grid-row: 6 / 7;
}
#item-10 {
    grid-column: 6 / 9;
    grid-row: 6 / 7;
}
#item-7 h4 {
    color: #FFFFFF;
    font-size: 1.8rem;
    margin: 1.5rem 0 2.5rem;
}
#item-5 h4 {
    margin: 0;
}
.item-mobile h3 {
    margin: 1.5rem 0 2.5rem;
}
#mobile-img {
    z-index: 3;
    position: relative;
}
.item-feture {
    background-color: #151C32;
}
#item-11 {
    grid-column: 1 / 9;
    grid-row: 7 / 8;
}
#item-12 {
    grid-column: 1 / 3;
    grid-row: 8 / 10;
}
#item-13 {
    grid-column: 3 / 7;
    grid-row: 8 / 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#item-13 h4 {
    text-transform: uppercase;
}
#item-13 h3 {
    width: 60%;
    text-align: center;
}
#item-14 {
    grid-column: 3 / 7;
    grid-row: 9 / 11;
    display: grid;
    grid-template-rows: 76.087% 23.913%;
    grid-template-columns: 48.5% 3% 48.5%;
}
#item-14-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.14221);
    border-radius: 5px;
}
#item-14-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
#item-14-3 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.14221);
    border-radius: 5px;
}
#item-14-1 div:nth-child(1), #item-14-3 div:nth-child(1) {
    height: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#item-14-1>h4:nth-child(2), #item-14-3>h4:nth-child(2) {
    height: 8%;
    text-align: center;
    color: #2C2E30;
    font-weight: 600;
    margin: 0;
}
#item-14-1>h4:nth-child(3), #item-14-3>h4:nth-child(3) {
    height: 8%;
    text-align: center;
    color: #2F5BEA;
    font-weight: 600;
    margin: 0;
}
#item-14-1 p, #item-14-3 p {
    display: flex;
    align-items: center;
    width: 83%;
    height: 23.087%;
    margin: 0 auto;
    text-align: center;
    color: #54565A;
    font-size: 1.2rem;
}
#item-14-1 div:nth-child(5), #item-14-3 div:nth-child(5) {
    height: 23.913%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#item-14-1 div:nth-child(5)>a, #item-14-3 div:nth-child(5)>a {
    font-weight: 600;
    color: #2C2E30;
}
#item-14-4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
#item-14-1, #item-14-3 {
    background-color: #FFFFFF;
}
#item-14-2 {
    background-color: #151C32;
}
#item-14-4 {
    background-color: #01081F;
}
#item-15 {
    grid-column: 7 / 9;
    grid-row: 8 / 10;
}
#item-16 {
    grid-column: 1 / 3;
    grid-row: 10 / 11;
}
#item-17 {
    grid-column: 7 / 9;
    grid-row: 10 / 11;
}
#item-18 {
    grid-column: 1 / 9;
    grid-row: 11 / 12;
}
#item-19 {
    grid-column: 3 / 7;
    grid-row: 12 / 13;
}
#item-20 {
    grid-column: 1 / 9;
    grid-row: 13 / 14;
}
#item-21 {
    grid-column: 2 / 5;
    grid-row: 14 / 17;
}
#item-22 {
    grid-column: 5 / 8;
    grid-row: 14 / 15;
}
#item-23 {
    grid-column: 5 / 8;
    grid-row: 15 / 16;
}
#item-24 {
    grid-column: 5 / 8;
    grid-row: 16 / 17;
}
#item-25 {
    grid-column: 1 / 9;
    grid-row: 17 / 18;
}
#section-2-img {
    max-height: 100%;
}
#item-22, #item-23, #item-24 {
    padding-top: 1.3rem;
}
#item-22 img, #item-23 img, #item-24 img {
    display: inline;
}
#item-22 h3, #item-23 h3, #item-24 h3 {
    display: inline;
    font-size: 2rem;
    margin-left: 1rem;
}
#item-22 p, #item-23 p, #item-24 p {
    margin-top: 1rem;
    width: 60%;
}
#item-19 h4 {
    text-transform: uppercase;
    text-align: center;
}
#item-19 h3 {
    width: 70%;
    margin: 2rem auto 0;
    text-align: center;
}
/* STYLE WRAP-4 */
#wrap-4 {
    background-color: #151C32;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
#title-wrap-4 {
    margin: 0 auto 6rem;
    text-align: center;
}
#title-wrap-4 h4 {
    text-transform: uppercase;
}
#title-wrap-4 h3 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#maxim {
    padding-left: 5%;
}
#maxim p:nth-child(1) {
    font-size: 2.1rem;
    font-style: italic;
    font-weight: 300;
    font-family: Aileron;
    line-height: 48px;
    margin: 1rem;
}
#maxim h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 3rem 1rem 1rem;
}
#maxim p:nth-child(3) {
    font-family: Aileron;
    margin-left: 1rem;
    margin-bottom: 3rem;
    color: #7E8085;
}
#img-wrap-4 {
    text-align: center;
}
#img-wrap-4 button {
    margin: 15px auto;
    padding: .4rem 10%;
    border: 1px solid transparent;
    opacity: 0.3;
    border-radius: 999px;
    background-color: #D8D8D8;
    outline:none;
}
#img-wrap-4 button:hover {
    background-color: #2F5BEA;
    opacity: 1;
}
/*STYLE WRAP-5 */
#wrap-5 {
    background-color: #2F5BEA;
    padding: 15rem 0;
    text-align: center;
}
#wrap-5 p:nth-child(2) {
    width: 40%;
    margin: 2rem auto 3rem;
    line-height: 2.8rem;
}
#wrap-5 form {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
#wrap-5 input {
    border-right: 1px solid #E7EAEE;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 2rem 5rem 2rem 2rem;
    font-size: 1.5rem;
    outline:none;
    display: block;
}
#wrap-5 button {
    padding: 2rem 5rem 2rem 2rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #FFFFFF;
    color: #2F5BEA;
    font-weight: 600;
    display: block;
}
/* STYLE FOOTER */
footer {
    padding: 15rem 0;
}
footer h4 {
    font-size: 1.8rem;
    color: #FFFFFF;
    margin: 1rem 0;
}
footer p {
    font-size: 1.5rem;
    color: #7E8085;
    margin: 2rem 0;
}
#bottom-footer {
    background-color: #151C32;
    padding: 2rem 0;
}
#bottom-footer>div>div {
    display: flex;
}
#language-link-footer {
    margin-left: auto;
    align-items: center;
}
#bottom-footer li {
    list-style: none;
    display: inline-block;
}
#bottom-footer img {
    display: inline-block;
}
#nav-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33%;

}
#nav-footer a, #language-link-footer a {
    color: #7E8085;
}
#nav-footer a:hover, #language-link-footer a:hover {
    color: green;
}
#language-link-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}
#language-link-footer li:nth-child(1) {
    margin-right: 2rem;
}
#language-link-footer img {
    margin-right: 1rem;
}