@import "var";
*{
    &::-webkit-input-placeholder{
        color: $main !important;
        font-size: 12px !important;

    }
    &:-moz-placeholder{
        color: $main !important;
        font-size: 12px !important;

    }
    &::-moz-placeholder{
        color: $main !important;
        font-size: 12px !important;

    }
    &:-ms-input-placeholder{
        color: $main !important;
        font-size: 12px !important;
    }
}

#loading{
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1300;
    margin-top: 0px;
    top: 0px;
/*      display: none; */
}
#loading-center{
    width: 100%;
    height: 100%;
    position: relative;
    }
#loading-center-absolute {
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 10px);
    height: 20px;
    width: 100px;
}
.bakground-opa-load{
    background-color: rgba(255,255,255,.8)!important;
}
.object-load{
    width: 20px;
    height: 20px;
    background-color: $orange;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute; 
}
#object_one{
     animation: object 2s linear infinite;
    -moz-animation: object 2s linear infinite;
    -webkit-animation: object 2s linear infinite;
    -o-animation: object 2s linear infinite;
}
#object_two{ 
    left:20px;
    animation: object 2s linear infinite -.4s;
    -moz-animation: object 2s linear infinite -.4s;
    -webkit-animation: object 2s linear infinite -.4s;
    -o-animation: object 2s linear infinite -.4s;
}
#object_three{ 
    left:40px;
    animation: object 2s linear infinite -.8s; 
    -moz-animation: object 2s linear infinite -.8s; 
    -webkit-animation: object 2s linear infinite -.8s; 
    -o-animation: object 2s linear infinite -.8s; 
}
#object_four{ 
    left:60px;
    animation: object 2s linear infinite -1.2s;
    -moz-animation: object 2s linear infinite -1.2s;
    -webkit-animation: object 2s linear infinite -1.2s;
    -o-animation: object 2s linear infinite -1.2s;
} 
#object_five{ 
    left:60px;
    animation: object 2s linear infinite -1.6s; 
    -moz-animation: object 2s linear infinite -1.6s;
    -webkit-animation: object 2s linear infinite -1.6s;
    -o-animation: object 2s linear infinite -1.6s;
}

body {
  font-family: 'Montserrat', Arial, sans-serif;
  color: $main-text;
  // font-size: 12px;
  // font-family: 'Dancing Script', cursive;
  // font-family: 'Montserrat', sans-serif;
}
.input-text, input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], textarea{
  box-shadow: none;
  border: 1px solid $boder-input;
  outline: none;
  border-radius: 10px;
  background-color: transparent;
  &:focus{
    background-color: transparent;
  }
}
.widget_search{
  form{
    &:before{
      color: $main;
      font-family: 'kiwi-font' !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e986";
      font-size: 14px;
      display: inline-block;
      position: absolute;
      top: 1em;
      left: 1em;
    }
  }
}
.widget_product_search form input[type=search], .widget_product_search form input[type=text], .widget_search form input[type=search], .widget_search form input[type=text]{
  padding-left: 2.617924em;
}
a, button{
  &:hover{
    opacity: .8;
  }
  &:focus{
    outline: none;
  }
}
button, .button{
  border-radius: 999px !important;
  // background-color: $main;
}
#content, #colophon{
    .col-full{
      max-width: 100%;
      width: 100%;
      padding-right: 0;
      padding-left: 0;
      margin-left: 0;
      margin-right: 0;
    }
}
a.remove{
  &:before{
    font-family: 'kiwi-font' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e908";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    color: $main-text;
    line-height: 1.618;
    text-indent: 0;
    // text-align: center;
  }
}
.f-link-more{
  color: $blue-bg;
  line-height: 1.5;
  font-weight: 500;
  display: inline-block;
  @include smooth(.3s);
  font-size: 12px;
  white-space: nowrap;
  text-decoration: none !important;
  &:after{
    content: "";
    display: block;
    height: 1px;
    background-color: $blue-bg;
    @include animationed(lineAnimatedOut,.5s);
    width: 100%;
  }
  &:hover:after{
      @include animationed(lineAnimatedIn,.5s);
      width: 0;
  }
}
.f-link-face{
  color: #1094f4;
  line-height: 1.5;
  font-weight: 500;
  display: inline-block;
  @include smooth(.3s);
  font-size: 14px;
  white-space: nowrap;
  text-decoration: none !important;
}
.wc-forward:after, .woocommerce-Button--next:after{
  font-family: 'kiwi-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e906";
  display: inline-block;
  margin-left: .5407911001em;
}
.woocommerce-breadcrumb a:first-of-type::before{
  font-family: 'kiwi-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e904";
  display: inline-block;
  margin-right: .5407911001em;
  font-size: 18px;
}
.f-button-st1{
  color: #fff;
  background-color: $main;
  font-size: 14px;
  &:hover{
    color: #fff;
    background-color: $main;
  }
}
.f-button-st2{
  color: $main;
  background-color: #fff;
  font-size: 14px;
  border: 1px solid #a2d2d2;
  &:hover{
    color: $main;
    background-color: #fff;
    border-color: #a2d2d2;
  }
}
.hentry{
  .entry-header{
    display: none;
  }
  .entry-content{
    a{
      color: $main;
      text-decoration: none;
    }
    .woocommerce-MyAccount-navigation{
      ul{
        li.woocommerce-MyAccount-navigation-link.is-active{
          a{
            color: $orange;
          }
        }
        li.woocommerce-MyAccount-navigation-link:nth-child(3){
          display: none;
        }
      }
    }
    .woocommerce-MyAccount-content{
      .woocommerce-info{
        background-color: $blue-bg;
        font-size: 14px;
      }
    }
  }
  .f-rule-post{
    .entry-header{
      display: block;
      border-bottom: none;
      text-align: center;
      .posted-on, .post-author,.post-comments{
        font-size: 12px;
        &>a{
          color: $blue-bg;
          text-decoration: none;
        }
      }
      .entry-title{
        font-size: 50px;
        color: $blue-bg;
        text-align: center;
        width: 100%;
        font-family: 'Dancing Script', cursive;
        margin-bottom: 30px;
        margin-top: 15px;
        &:after{
          max-width: 200px;
            height: 1px;
            display: block;
            background-color: $orange;
            margin: 15px auto 20px;
            content: "";
            width: 40%;
        }
      }
    }
    .entry-content{
      p{
        font-size: 14px;
        font-weight: 500;
        color: $main-text;
        text-align: justify;
        line-height: 1.8
      }
      .wp-block-image{
        margin-right: auto;
        margin-left: auto;
        max-width: 768px;
        img{
          width: 100%;
        }
      }
      h2{
        font-size: 20px;
        color: $blue-bg;
        font-weight: 700;
        margin-top: 25px;
        margin-bottom: 15px;
        // border-bottom: none;

      }
      h3{
        font-size: 18px;
        color: $blue-bg;
        font-weight: 600;
        margin-top: 15px;
        margin-bottom: 10px;
        font-style: italic;
        border-top: none;
      }
      h4{
        font-size: 18px;
        font-style: italic;
        color: $blue-bg;
        font-weight: 400;
        margin-top: 15px;
        margin-bottom: 10px;
      }
      h5{
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
        margin-top: 15px;
        margin-bottom: 10px;
        color: $main-text;
      }
      h6{
        font-size: 14px;
        font-style: italic;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 5px;
        color: $main-text;
      }
      ul,ol{
        li{
          font-size: 14px;
          font-weight: 500;
          color: $main-text;
        }
      }
    }
  }
}
.hentry .entry-content .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link a
.f-container{
  p{
    font-size: 14px;
  }
}
.storefront-breadcrumb{
  .f-container{
    .woocommerce-breadcrumb{
      font-size: 14px;
      font-weight: 500;
      color: $orange;
      &>a{
        text-decoration: none;
        color: $main;
      }
      .breadcrumb-separator{
        color: $main-text;
      }
    }
  }
}
.f-post-list{
  .f-row{
    flex-wrap: wrap;
  }
  .lcp_catlist{
    list-style: none;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    &>li{
      display: flex;
      flex-wrap: wrap;
      width: 33.3333%;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 30px;
      &>div{
        order: 1;
        width: 100%;
        &>a{
          display: block;
          .f-thumbnail-post{
            margin: 0;
            width: 100%;
          }
        }
      }
      .f-title-post-h2{
        order: 2;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        &>a{
          font-weight: inherit;
        }
      }
      .f-date, .f-author{
        font-size: 12px;
        &:before{
          font-family: 'kiwi-font' !important;
          speak: never;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          display: inline-block;
          font-size: 12px;
          color: $orange;
        }
      }
      .f-date{
        order: 4;
        &:before{
          content: "\e976";
        }
      }
      .f-author{
        order: 3;
        margin-right: 15px;
        &:before{
          content: "\e913";
          margin-right: 5px;
        }
      }
    }
  }
  .lcp_paginator{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    &>li{
      border-radius: 5px;
      border-color: $boder-input;
      padding: 0;
      line-height: 1;
      width: 35px;
      height: 30px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
    }
    &>li.lcp_currentpage{
      color: $orange;
      border-color: $orange;
    }
  }
}
@media (min-width: 768px) {
  .site-header-cart {
    .cart-contents{
      &:after{
        font-family: 'kiwi-font' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e907";
        display: inline-block;
        font-size: 18px;
      }
    }
  }
  .menu-item-has-children{
    &>a{
      display: inline-flex !important;
      align-items: center;
      &:after{
        font-family: 'kiwi-font' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e912";
        display: inline-block;
        margin-left: 1em;
        font-size: 6px;
      }
    }
  }
  #masthead{
    .col-full{
      #site-header-cart{
        .widget_shopping_cart{
          .product_list_widget{
            li.woocommerce-mini-cart-item{
              &>a.remove{
                width: 20px;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  #colophon{
    .footer-widgets, .site-info{
      padding-left: 2.617924em;
      padding-right: 2.617924em;
    }

  }
  .f-container{
    max-width: 66.4989378333em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2.617924em;
    box-sizing: content-box;
  }
}
@media (min-width: 1136px) {
  #colophon{
    .footer-widgets, .site-info{
      padding-left: calc(50% - 33.24946892em);
      padding-right: calc(50% - 33.24946892em);
    }

  }
}
@media (min-width: 1400px) {
  #masthead{
    .col-full{
      width: 73em;
      max-width: 100%;
    }

  }
  #colophon{
    .footer-widgets, .site-info{
      padding-left: calc(50% - 36.5em);
      padding-right: calc(50% - 36.5em);
    }

  }
  .f-container{
    width: 100%;
    max-width: 73em;
  }
}
@media (max-width: 991px){
  .f-post-list{
    .lcp_catlist{
      &>li{
        width: 50%;
      }
    }
  }
}
@media (max-width: 767px){
  #colophon{
    .footer-widgets, .site-info{
      padding-left: 1.41575em;
      padding-right: 1.41575em;
    }

  }
  .f-container{
    padding-left: 1.41575em;
    padding-right: 1.41575em;
  }
}
@media (max-width: 479px){
  .f-post-list{
    .lcp_catlist{
      &>li{
        width: 100%;
      }
    }
  }
}
@media (max-width: 375px){
  #colophon{
    .footer-widgets, .site-info{
      padding-left: 1em;
      padding-right: 1em;
    }

  }
  .f-container{
    padding-left: 1em;
    padding-right: 1em;
  }
}
@-webkit-keyframes object{
  0% { left: 100px; top:0}
  80% { left: 0; top:0;}
  85% { left: 0; top: -20px; width: 20px; height: 20px;}
  90% { width: 40px; height: 15px; }
  95% { left: 100px; top: -20px; width: 20px; height: 20px;}
  100% { left: 100px; top:0; }      
    
}       
@keyframes object{
  0% { left: 100px; top:0}
  80% { left: 0; top:0;}
  85% { left: 0; top: -20px; width: 20px; height: 20px;}
  90% { width: 40px; height: 15px; }
  95% { left: 100px; top: -20px; width: 20px; height: 20px;}
  100% { left: 100px; top:0; }
}
@-moz-keyframes object {
    0% { left: 100px; top:0}
  80% { left: 0; top:0;}
  85% { left: 0; top: -20px; width: 20px; height: 20px;}
  90% { width: 40px; height: 15px; }
  95% { left: 100px; top: -20px; width: 20px; height: 20px;}
  100% { left: 100px; top:0; }   
}
@-ms-keyframes object {
    0% { left: 100px; top:0}
  80% { left: 0; top:0;}
  85% { left: 0; top: -20px; width: 20px; height: 20px;}
  90% { width: 40px; height: 15px; }
  95% { left: 100px; top: -20px; width: 20px; height: 20px;}
  100% { left: 100px; top:0; }   
}
@keyframes lineAnimatedIn {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
@-webkit-keyframes lineAnimatedIn {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
@-moz-keyframes lineAnimatedIn {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
@-ms-keyframes lineAnimatedIn {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
@keyframes lineAnimatedOut {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@-webkit-keyframes lineAnimatedOut {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@-moz-keyframes lineAnimatedOut {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@-ms-keyframes lineAnimatedOut {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}