@font-face {
  font-family: 'Inside-Cruise';
  src:  url('fonts/Inside-Cruise.eot?ybi4bq');
  src:  url('fonts/Inside-Cruise.eot?ybi4bq#iefix') format('embedded-opentype'),
    url('fonts/Inside-Cruise.ttf?ybi4bq') format('truetype'),
    url('fonts/Inside-Cruise.woff?ybi4bq') format('woff'),
    url('fonts/Inside-Cruise.svg?ybi4bq#Inside-Cruise') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon-font-cr {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Inside-Cruise' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cr-key:before {
  content: "\f101";
}
.icon-cr-frontdesk:before {
  content: "\f102";
}
.icon-cr-service:before {
  content: "\f103";
}
.icon-cr-security:before {
  content: "\f104";
}
.icon-cr-internet:before {
  content: "\f108";
}
.icon-cr-iron:before {
  content: "\f109";
}
.icon-cr-additional-bath:before {
  content: "\f10a";
}
.icon-cr-additional-information:before {
  content: "\f10b";
}
.icon-cr-additional-toilet:before {
  content: "\f10c";
}
.icon-cr-air-conditioning:before {
  content: "\f10d";
}
.icon-cr-air-purifier:before {
  content: "\f10e";
}
.icon-cr-airport:before {
  content: "\f111";
}
.icon-cr-alarm:before {
  content: "\f112";
}
.icon-cr-apartment:before {
  content: "\f114";
}
.icon-cr-atm-cash:before {
  content: "\f11b";
}
.icon-cr-babysitting:before {
  content: "\f11c";
}
.icon-cr-badminton-court:before {
  content: "\f11d";
}
.icon-cr-balcony-terrace:before {
  content: "\f11e";
}
.icon-cr-bathrobes:before {
  content: "\f120";
}
.icon-cr-bathroom-basics:before {
  content: "\f121";
}
.icon-cr-bathroom-phone:before {
  content: "\f122";
}
.icon-cr-bathrooms:before {
  content: "\f123";
}
.icon-cr-bathtub:before {
  content: "\f124";
}
.icon-cr-bbq-facilities:before {
  content: "\f125";
}
.icon-cr-bed:before {
  content: "\f127";
}
.icon-cr-bedroom:before {
  content: "\f128";
}
.icon-cr-bicycle-rental:before {
  content: "\f129";
}
.icon-cr-billiards:before {
  content: "\f12a";
}
.icon-cr-blackout-curtains:before {
  content: "\f12b";
}
.icon-cr-boat:before {
  content: "\f12c";
}
.icon-cr-book-later:before {
  content: "\f12d";
}
.icon-cr-book-without:before {
  content: "\f12e";
}
.icon-cr-bowling-alley:before {
  content: "\f12f";
}
.icon-cr-breakfast:before {
  content: "\f130";
}
.icon-cr-business-center:before {
  content: "\f131";
}
.icon-cr-business-facilities:before {
  content: "\f132";
}
.icon-cr-buzzer-wireless-intercom:before {
  content: "\f133";
}
.icon-cr-cancellation:before {
  content: "\f135";
}
.icon-cr-canoe:before {
  content: "\f136";
}
.icon-cr-car-hire:before {
  content: "\f137";
}
.icon-cr-car-park:before {
  content: "\f138";
}
.icon-cr-car-power-charging-station:before {
  content: "\f139";
}
.icon-cr-carbon:before {
  content: "\f13a";
}
.icon-cr-carpeting:before {
  content: "\f13b";
}
.icon-cr-casino:before {
  content: "\f13f";
}
.icon-cr-chapel:before {
  content: "\f140";
}
.icon-cr-children-high:before {
  content: "\f143";
}
.icon-cr-children-playground:before {
  content: "\f144";
}
.icon-cr-city-view:before {
  content: "\f145";
}
.icon-cr-cleaning-products:before {
  content: "\f146";
}
.icon-cr-close-popup:before {
  content: "\f147";
}
.icon-cr-closet:before {
  content: "\f148";
}
.icon-cr-clothes-dryer-pay:before {
  content: "\f149";
}
.icon-cr-clothes-rack:before {
  content: "\f14a";
}
.icon-cr-clothes-free:before {
  content: "\f14b";
}
.icon-cr-coffee-shop:before {
  content: "\f14c";
}
.icon-cr-coffee:before {
  content: "\f14d";
}
.icon-cr-complimentary-bottled-water:before {
  content: "\f14e";
}
.icon-cr-complimentary-instant-coffee:before {
  content: "\f14f";
}
.icon-cr-complimentary-tea:before {
  content: "\f150";
}
.icon-cr-concierge:before {
  content: "\f151";
}
.icon-cr-currency-exchange:before {
  content: "\f158";
}
.icon-cr-daily-housekeeping:before {
  content: "\f159";
}
.icon-cr-daily-newspaper:before {
  content: "\f15a";
}
.icon-cr-dart-board:before {
  content: "\f15b";
}
.icon-cr-desk:before {
  content: "\f15e";
}
.icon-cr-dishwasher:before {
  content: "\f161";
}
.icon-cr-diving:before {
  content: "\f162";
}
.icon-cr-domestic-rates:before {
  content: "\f163";
}
.icon-cr-dressing-room:before {
  content: "\f165";
}
.icon-cr-dryer:before {
  content: "\f166";
}
.icon-cr-dvd-cd-player:before {
  content: "\f167";
}
.icon-cr-electric-blanket:before {
  content: "\f169";
}
.icon-cr-elevator:before {
  content: "\f16a";
}
.icon-cr-email-envelope:before {
  content: "\f16b";
}
.icon-cr-essentials:before {
  content: "\f16c";
}
.icon-cr-executive-floor:before {
  content: "\f16d";
}
.icon-cr-executive-lounge:before {
  content: "\f16e";
}
.icon-cr-express-check-in:before {
  content: "\f16f";
}
.icon-cr-extra-long-beds:before {
  content: "\f170";
}
.icon-cr-facilities-for:before {
  content: "\f172";
}
.icon-cr-family-room:before {
  content: "\f173";
}
.icon-cr-fan:before {
  content: "\f174";
}
.icon-cr-fax-machine:before {
  content: "\f176";
}
.icon-cr-fire-extinguisher:before {
  content: "\f178";
}
.icon-cr-fireplace:before {
  content: "\f179";
}
.icon-cr-first-aid-kit:before {
  content: "\f17a";
}
.icon-cr-fishing:before {
  content: "\f17b";
}
.icon-cr-fitness-center:before {
  content: "\f17c";
}
.icon-cr-flight-earn:before {
  content: "\f17e";
}
.icon-cr-free-cancel:before {
  content: "\f17f";
}
.icon-cr-welcome-drink:before {
  content: "\f180";
}
.icon-cr-free-wifi:before {
  content: "\f181";
}
.icon-cr-garden:before {
  content: "\f182";
}
.icon-cr-gift-shop:before {
  content: "\f184";
}
.icon-cr-golf-course:before {
  content: "\f185";
}
.icon-cr-golf-course-3k:before {
  content: "\f186";
}
.icon-cr-grocery-deliveries:before {
  content: "\f187";
}
.icon-cr-guest-house:before {
  content: "\f188";
}
.icon-cr-gym:before {
  content: "\f189";
}
.icon-cr-hair-dryer:before {
  content: "\f18a";
}
.icon-cr-halal-restaurant:before {
  content: "\f18b";
}
.icon-cr-half-full-board:before {
  content: "\f18c";
}
.icon-cr-hangers:before {
  content: "\f18d";
}
.icon-cr-heating:before {
  content: "\f18e";
}
.icon-cr-hiking-trails:before {
  content: "\f18f";
}
.icon-cr-holiday-house:before {
  content: "\f190";
}
.icon-cr-homestay:before {
  content: "\f191";
}
.icon-cr-horse-riding:before {
  content: "\f192";
}
.icon-cr-hot-spring-bath:before {
  content: "\f193";
}
.icon-cr-hot-tub:before {
  content: "\f194";
}
.icon-cr-humidifier:before {
  content: "\f19c";
}
.icon-cr-in-room-safe:before {
  content: "\f19f";
}
.icon-cr-in-room-tablet:before {
  content: "\f1a0";
}
.icon-cr-video-games:before {
  content: "\f1a1";
}
.icon-cr-indoor-poor:before {
  content: "\f1a2";
}
.icon-cr-infirmary:before {
  content: "\f1a4";
}
.icon-cr-info-with-circle:before {
  content: "\f1a5";
}
.icon-cr-inhouse-movies:before {
  content: "\f1a6";
}
.icon-cr-interconnecting:before {
  content: "\f1a8";
}
.icon-cr-ipod-docking-station:before {
  content: "\f1a9";
}
.icon-cr-islamic:before {
  content: "\f1aa";
}
.icon-cr-jacuzzi:before {
  content: "\f1ab";
}
.icon-cr-karaoke:before {
  content: "\f1ad";
}
.icon-cr-kids-club:before {
  content: "\f1ae";
}
.icon-cr-kitchen:before {
  content: "\f1af";
}
.icon-cr-kitchenware:before {
  content: "\f1b0";
}
.icon-cr-kosher:before {
  content: "\f1b1";
}
.icon-cr-laptop:before {
  content: "\f1b2";
}
.icon-cr-laptop-safe:before {
  content: "\f1b3";
}
.icon-cr-laundromat:before {
  content: "\f1b4";
}
.icon-cr-laundry-service:before {
  content: "\f1b5";
}
.icon-cr-library:before {
  content: "\f1b6";
}
.icon-cr-line-empty-circle:before {
  content: "\f1b9";
}
.icon-cr-linens:before {
  content: "\f1ba";
}
.icon-cr-lockers:before {
  content: "\f1bb";
}
.icon-cr-luggage-storage:before {
  content: "\f1bc";
}
.icon-cr-luggage:before {
  content: "\f1bd";
}
.icon-cr-massage:before {
  content: "\f1c5";
}
.icon-cr-max-plus:before {
  content: "\f1c7";
}
.icon-cr-max-occupancy:before {
  content: "\f1c8";
}
.icon-cr-meeting:before {
  content: "\f1c9";
}
.icon-cr-microwave:before {
  content: "\f1cb";
}
.icon-cr-mini-bar:before {
  content: "\f1cc";
}
.icon-cr-mirror:before {
  content: "\f1cf";
}
.icon-cr-mosquitonet:before {
  content: "\f1d0";
}
.icon-cr-motorbike:before {
  content: "\f1d1";
}
.icon-cr-mountain:before {
  content: "\f1d2";
}
.icon-cr-nightclub:before {
  content: "\f1dd";
}
.icon-cr-non-smoking:before {
  content: "\f1de";
}
.icon-cr-number-rooms:before {
  content: "\f1e4";
}
.icon-cr-outdoor-pool:before {
  content: "\f1e5";
}
.icon-cr-pay-at:before {
  content: "\f1e6";
}
.icon-cr-payment-no-cart:before {
  content: "\f1e7";
}
.icon-cr-pets-allowed:before {
  content: "\f1e9";
}
.icon-cr-photocopying:before {
  content: "\f1ea";
}
.icon-cr-pool-kids:before {
  content: "\f1f2";
}
.icon-cr-pool:before {
  content: "\f1f3";
}
.icon-cr-poolside-bar:before {
  content: "\f1f4";
}
.icon-cr-portable-wifi:before {
  content: "\f1f5";
}
.icon-cr-postal-service:before {
  content: "\f1f7";
}
.icon-cr-printer:before {
  content: "\f1f8";
}
.icon-cr-private-beach:before {
  content: "\f1f9";
}
.icon-cr-private-entrance:before {
  content: "\f1fa";
}
.icon-cr-private-pool:before {
  content: "\f1fb";
}
.icon-cr-refrigerator:before {
  content: "\f1fe";
}
.icon-cr-residence:before {
  content: "\f1ff";
}
.icon-cr-restaurant:before {
  content: "\f200";
}
.icon-cr-room-flashdeal:before {
  content: "\f202";
}
.icon-cr-room-mobiledeal:before {
  content: "\f203";
}
.icon-cr-room-otherdeal:before {
  content: "\f204";
}
.icon-cr-room-smartdeal:before {
  content: "\f205";
}
.icon-cr-room-savedeal:before {
  content: "\f206";
}
.icon-cr-room-promotion:before {
  content: "\f207";
}
.icon-cr-room-service:before {
  content: "\f208";
}
.icon-cr-safety-box:before {
  content: "\f209";
}
.icon-cr-salon:before {
  content: "\f20a";
}
.icon-cr-sauna:before {
  content: "\f20b";
}
.icon-cr-scale:before {
  content: "\f20c";
}
.icon-cr-search-icon:before {
  content: "\f20e";
}
.icon-cr-seating-area:before {
  content: "\f20f";
}
.icon-cr-separate-dining:before {
  content: "\f211";
}
.icon-cr-separate-living:before {
  content: "\f212";
}
.icon-cr-separate-shower:before {
  content: "\f213";
}
.icon-cr-sewing-kit:before {
  content: "\f214";
}
.icon-cr-shampoo:before {
  content: "\f215";
}
.icon-cr-shared-kitchen:before {
  content: "\f216";
}
.icon-cr-shoeshine-kit:before {
  content: "\f217";
}
.icon-cr-shops:before {
  content: "\f219";
}
.icon-cr-shower:before {
  content: "\f21a";
}
.icon-cr-shrine:before {
  content: "\f21b";
}
.icon-cr-shuttle-service:before {
  content: "\f21c";
}
.icon-cr-ski-equipment-rentals:before {
  content: "\f21d";
}
.icon-cr-ski-lessons:before {
  content: "\f21e";
}
.icon-cr-skiing:before {
  content: "\f21f";
}
.icon-cr-slippers:before {
  content: "\f220";
}
.icon-cr-smoke-detector:before {
  content: "\f221";
}
.icon-cr-smoking-allowed:before {
  content: "\f222";
}
.icon-cr-smoking-area:before {
  content: "\f223";
}
.icon-cr-snorkeling:before {
  content: "\f224";
}
.icon-cr-sofa:before {
  content: "\f225";
}
.icon-cr-solarium:before {
  content: "\f226";
}
.icon-cr-soundproofing:before {
  content: "\f227";
}
.icon-cr-spa-sauna:before {
  content: "\f228";
}
.icon-cr-special-condition:before {
  content: "\f229";
}
.icon-cr-sqm:before {
  content: "\f22a";
}
.icon-cr-squash-courts:before {
  content: "\f22b";
}
.icon-cr-steam:before {
  content: "\f235";
}
.icon-cr-suitable-events:before {
  content: "\f236";
}
.icon-cr-surfing:before {
  content: "\f237";
}
.icon-cr-table-tennis:before {
  content: "\f238";
}
.icon-cr-tamil:before {
  content: "\f239";
}
.icon-cr-tax-receipt:before {
  content: "\f23a";
}
.icon-cr-taxi-service:before {
  content: "\f23b";
}
.icon-cr-telephone:before {
  content: "\f23c";
}
.icon-cr-tennis-courts:before {
  content: "\f23d";
}
.icon-cr-theme-park:before {
  content: "\f23e";
}
.icon-cr-thumb-up:before {
  content: "\f241";
}
.icon-cr-ticket-service:before {
  content: "\f244";
}
.icon-cr-time-icon:before {
  content: "\f245";
}
.icon-cr-toiletries:before {
  content: "\f246";
}
.icon-cr-tooltip:before {
  content: "\f247";
}
.icon-cr-tours:before {
  content: "\f24d";
}
.icon-cr-towels:before {
  content: "\f24e";
}
.icon-cr-trouser:before {
  content: "\f250";
}
.icon-cr-tv-area:before {
  content: "\f251";
}
.icon-cr-tv:before {
  content: "\f252";
}
.icon-cr-umbrella:before {
  content: "\f253";
}
.icon-cr-user:before {
  content: "\f255";
}
.icon-cr-valet-parking:before {
  content: "\f256";
}
.icon-cr-vending:before {
  content: "\f257";
}
.icon-cr-views:before {
  content: "\f258";
}
.icon-cr-villa:before {
  content: "\f259";
}
.icon-cr-visa:before {
  content: "\f25a";
}
.icon-cr-wake-up:before {
  content: "\f25b";
}
.icon-cr-washer:before {
  content: "\f25d";
}
.icon-cr-water-park:before {
  content: "\f25f";
}
.icon-cr-water-moto:before {
  content: "\f260";
}
.icon-cr-water-non-moto:before {
  content: "\f261";
}
.icon-cr-water-equipment:before {
  content: "\f262";
}
.icon-cr-wheelchair:before {
  content: "\f263";
}
.icon-cr-wifi-public:before {
  content: "\f264";
}
.icon-cr-wifi:before {
  content: "\f265";
}
.icon-cr-wind-surfing:before {
  content: "\f266";
}
.icon-cr-wooden-flooring:before {
  content: "\f267";
}
.icon-cr-yoga-room:before {
  content: "\f269";
}
