@font-face {
  font-family: 'Inside-Cruise';
  src:  url('fonts/Inside-Cruise.eot?hqdps7');
  src:  url('fonts/Inside-Cruise.eot?hqdps7#iefix') format('embedded-opentype'),
    url('fonts/Inside-Cruise.ttf?hqdps7') format('truetype'),
    url('fonts/Inside-Cruise.woff?hqdps7') format('woff'),
    url('fonts/Inside-Cruise.svg?hqdps7#Inside-Cruise') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon-font-cr {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Inside-Cruise' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cr-key:before {
  content: "\f101";
}
.icon-cr-frontdesk:before {
  content: "\f102";
}
.icon-cr-service:before {
  content: "\f103";
}
.icon-cr-security:before {
  content: "\f104";
}
.icon-cr-internet:before {
  content: "\f108";
}
.icon-cr-iron:before {
  content: "\f109";
}
.icon-cr-additional-bath:before {
  content: "\f10a";
}
.icon-cr-speak:before {
  content: "\f10b";
}
.icon-cr-toilet:before {
  content: "\f10c";
}
.icon-cr-air-condition:before {
  content: "\f10d";
}
.icon-cr-air-purifier:before {
  content: "\f10e";
}
.icon-cr-airport:before {
  content: "\f111";
}
.icon-cr-alarm:before {
  content: "\f112";
}
.icon-cr-apartment:before {
  content: "\f114";
}
.icon-cr-atm-cash:before {
  content: "\f11b";
}
.icon-cr-babysitting:before {
  content: "\f11c";
}
.icon-cr-badminton:before {
  content: "\f11d";
}
.icon-cr-balcony:before {
  content: "\f11e";
}
.icon-cr-bathrobes:before {
  content: "\f120";
}
.icon-cr-bathroom-basics:before {
  content: "\f121";
}
.icon-cr-bathroom-phone:before {
  content: "\f122";
}
.icon-cr-bathrooms:before {
  content: "\f123";
}
.icon-cr-bathtub:before {
  content: "\f124";
}
.icon-cr-bbq:before {
  content: "\f125";
}
.icon-cr-bed:before {
  content: "\f127";
}
.icon-cr-bedroom:before {
  content: "\f128";
}
.icon-cr-bicycle:before {
  content: "\f129";
}
.icon-cr-billiards:before {
  content: "\f12a";
}
.icon-cr-blackout:before {
  content: "\f12b";
}
.icon-cr-boat:before {
  content: "\f12c";
}
.icon-cr-book-later:before {
  content: "\f12d";
}
.icon-cr-book-without:before {
  content: "\f12e";
}
.icon-cr-bowling:before {
  content: "\f12f";
}
.icon-cr-breakfast:before {
  content: "\f130";
}
.icon-cr-business-center:before {
  content: "\f131";
}
.icon-cr-business-facilities:before {
  content: "\f132";
}
.icon-cr-buzzer:before {
  content: "\f133";
}
.icon-cr-cancell:before {
  content: "\f135";
}
.icon-cr-canoe:before {
  content: "\f136";
}
.icon-cr-car:before {
  content: "\f137";
}
.icon-cr-car-park:before {
  content: "\f138";
}
.icon-cr-car-charging:before {
  content: "\f139";
}
.icon-cr-carbon:before {
  content: "\f13a";
}
.icon-cr-carpeting:before {
  content: "\f13b";
}
.icon-cr-casino:before {
  content: "\f13f";
}
.icon-cr-chapel:before {
  content: "\f140";
}
.icon-cr-children-high:before {
  content: "\f143";
}
.icon-cr-children-play:before {
  content: "\f144";
}
.icon-cr-city-view:before {
  content: "\f145";
}
.icon-cr-cleaning:before {
  content: "\f146";
}
.icon-cr-close:before {
  content: "\f147";
}
.icon-cr-closet:before {
  content: "\f148";
}
.icon-cr-clothes-dry:before {
  content: "\f149";
}
.icon-cr-clothes-rack:before {
  content: "\f14a";
}
.icon-cr-clothes-free:before {
  content: "\f14b";
}
.icon-cr-coffee-shop:before {
  content: "\f14c";
}
.icon-cr-coffee:before {
  content: "\f14d";
}
.icon-cr-bot-water:before {
  content: "\f14e";
}
.icon-cr-coffee-maker:before {
  content: "\f14f";
}
.icon-cr-tea:before {
  content: "\f150";
}
.icon-cr-concierge:before {
  content: "\f151";
}
.icon-cr-currency-ex:before {
  content: "\f158";
}
.icon-cr-sweep:before {
  content: "\f159";
}
.icon-cr-newspaper:before {
  content: "\f15a";
}
.icon-cr-dart-board:before {
  content: "\f15b";
}
.icon-cr-desk:before {
  content: "\f15e";
}
.icon-cr-dishwasher:before {
  content: "\f161";
}
.icon-cr-diving:before {
  content: "\f162";
}
.icon-cr-domestic:before {
  content: "\f163";
}
.icon-cr-dressing-room:before {
  content: "\f165";
}
.icon-cr-dryer:before {
  content: "\f166";
}
.icon-cr-dvd:before {
  content: "\f167";
}
.icon-cr-electric:before {
  content: "\f169";
}
.icon-cr-elevator:before {
  content: "\f16a";
}
.icon-cr-email:before {
  content: "\f16b";
}
.icon-cr-essentials:before {
  content: "\f16c";
}
.icon-cr-ex-floor:before {
  content: "\f16d";
}
.icon-cr-ex-lounge:before {
  content: "\f16e";
}
.icon-cr-check-in:before {
  content: "\f16f";
}
.icon-cr-long-bed:before {
  content: "\f170";
}
.icon-cr-facilities:before {
  content: "\f172";
}
.icon-cr-family:before {
  content: "\f173";
}
.icon-cr-fan:before {
  content: "\f174";
}
.icon-cr-fax:before {
  content: "\f176";
}
.icon-cr-fire-ext:before {
  content: "\f178";
}
.icon-cr-fireplace:before {
  content: "\f179";
}
.icon-cr-aid-kit:before {
  content: "\f17a";
}
.icon-cr-fishing:before {
  content: "\f17b";
}
.icon-cr-fitness:before {
  content: "\f17c";
}
.icon-cr-flight-earn:before {
  content: "\f17e";
}
.icon-cr-free-cancel:before {
  content: "\f17f";
}
.icon-cr-drink:before {
  content: "\f180";
}
.icon-cr-free-wifi:before {
  content: "\f181";
}
.icon-cr-garden:before {
  content: "\f182";
}
.icon-cr-gift:before {
  content: "\f184";
}
.icon-cr-golf:before {
  content: "\f185";
}
.icon-cr-golf-3k:before {
  content: "\f186";
}
.icon-cr-grocery:before {
  content: "\f187";
}
.icon-cr-guest-house:before {
  content: "\f188";
}
.icon-cr-gym:before {
  content: "\f189";
}
.icon-cr-hair-dryer:before {
  content: "\f18a";
}
.icon-cr-halal:before {
  content: "\f18b";
}
.icon-cr-half-full:before {
  content: "\f18c";
}
.icon-cr-hangers:before {
  content: "\f18d";
}
.icon-cr-heating:before {
  content: "\f18e";
}
.icon-cr-hiking:before {
  content: "\f18f";
}
.icon-cr-holi-house:before {
  content: "\f190";
}
.icon-cr-homestay:before {
  content: "\f191";
}
.icon-cr-horse-riding:before {
  content: "\f192";
}
.icon-cr-hot-bath:before {
  content: "\f193";
}
.icon-cr-hot-tub:before {
  content: "\f194";
}
.icon-cr-humidifier:before {
  content: "\f19c";
}
.icon-cr-in-safe:before {
  content: "\f19f";
}
.icon-cr-in-tablet:before {
  content: "\f1a0";
}
.icon-cr-video-games:before {
  content: "\f1a1";
}
.icon-cr-indoor:before {
  content: "\f1a2";
}
.icon-cr-infirmary:before {
  content: "\f1a4";
}
.icon-cr-info-circle:before {
  content: "\f1a5";
}
.icon-cr-inhouse-movies:before {
  content: "\f1a6";
}
.icon-cr-interconnect:before {
  content: "\f1a8";
}
.icon-cr-ipod:before {
  content: "\f1a9";
}
.icon-cr-islamic:before {
  content: "\f1aa";
}
.icon-cr-jacuzzi:before {
  content: "\f1ab";
}
.icon-cr-karaoke:before {
  content: "\f1ad";
}
.icon-cr-kids-club:before {
  content: "\f1ae";
}
.icon-cr-kitchen:before {
  content: "\f1af";
}
.icon-cr-kitchenware:before {
  content: "\f1b0";
}
.icon-cr-kosher:before {
  content: "\f1b1";
}
.icon-cr-laptop:before {
  content: "\f1b2";
}
.icon-cr-laptop-safe:before {
  content: "\f1b3";
}
.icon-cr-laundromat:before {
  content: "\f1b4";
}
.icon-cr-laundry:before {
  content: "\f1b5";
}
.icon-cr-library:before {
  content: "\f1b6";
}
.icon-cr-line-circle:before {
  content: "\f1b9";
}
.icon-cr-linens:before {
  content: "\f1ba";
}
.icon-cr-lockers:before {
  content: "\f1bb";
}
.icon-cr-luggage-sto:before {
  content: "\f1bc";
}
.icon-cr-luggage:before {
  content: "\f1bd";
}
.icon-cr-massage:before {
  content: "\f1c5";
}
.icon-cr-max-plus:before {
  content: "\f1c7";
}
.icon-cr-max-occu:before {
  content: "\f1c8";
}
.icon-cr-meeting:before {
  content: "\f1c9";
}
.icon-cr-microwave:before {
  content: "\f1cb";
}
.icon-cr-mini-bar:before {
  content: "\f1cc";
}
.icon-cr-mirror:before {
  content: "\f1cf";
}
.icon-cr-mosquitonet:before {
  content: "\f1d0";
}
.icon-cr-motorbike:before {
  content: "\f1d1";
}
.icon-cr-mountain:before {
  content: "\f1d2";
}
.icon-cr-nightclub:before {
  content: "\f1dd";
}
.icon-cr-non-smoking:before {
  content: "\f1de";
}
.icon-cr-number-rooms:before {
  content: "\f1e4";
}
.icon-cr-outdoor-pool:before {
  content: "\f1e5";
}
.icon-cr-pay-at:before {
  content: "\f1e6";
}
.icon-cr-pay-no-cart:before {
  content: "\f1e7";
}
.icon-cr-pet-allow:before {
  content: "\f1e9";
}
.icon-cr-photocopy:before {
  content: "\f1ea";
}
.icon-cr-pool-kids:before {
  content: "\f1f2";
}
.icon-cr-pool:before {
  content: "\f1f3";
}
.icon-cr-pool-bar:before {
  content: "\f1f4";
}
.icon-cr-por-wifi:before {
  content: "\f1f5";
}
.icon-cr-postal-service:before {
  content: "\f1f7";
}
.icon-cr-printer:before {
  content: "\f1f8";
}
.icon-cr-pri-beach:before {
  content: "\f1f9";
}
.icon-cr-pri-entrance:before {
  content: "\f1fa";
}
.icon-cr-pri-pool:before {
  content: "\f1fb";
}
.icon-cr-refrigerator:before {
  content: "\f1fe";
}
.icon-cr-residence:before {
  content: "\f1ff";
}
.icon-cr-restaurant:before {
  content: "\f200";
}
.icon-cr-flash:before {
  content: "\f202";
}
.icon-cr-mobile:before {
  content: "\f203";
}
.icon-cr-otherdeal:before {
  content: "\f204";
}
.icon-cr-smartdeal:before {
  content: "\f205";
}
.icon-cr-savedeal:before {
  content: "\f206";
}
.icon-cr-promotion:before {
  content: "\f207";
}
.icon-cr-room-service:before {
  content: "\f208";
}
.icon-cr-safety-box:before {
  content: "\f209";
}
.icon-cr-salon:before {
  content: "\f20a";
}
.icon-cr-sauna:before {
  content: "\f20b";
}
.icon-cr-scale:before {
  content: "\f20c";
}
.icon-cr-search:before {
  content: "\f20e";
}
.icon-cr-seating-area:before {
  content: "\f20f";
}
.icon-cr-se-dining:before {
  content: "\f211";
}
.icon-cr-se-living:before {
  content: "\f212";
}
.icon-cr-se-shower:before {
  content: "\f213";
}
.icon-cr-sewing-kit:before {
  content: "\f214";
}
.icon-cr-shampoo:before {
  content: "\f215";
}
.icon-cr-shared-kitchen:before {
  content: "\f216";
}
.icon-cr-shoeshine-kit:before {
  content: "\f217";
}
.icon-cr-shops:before {
  content: "\f219";
}
.icon-cr-shower:before {
  content: "\f21a";
}
.icon-cr-shrine:before {
  content: "\f21b";
}
.icon-cr-shuttle:before {
  content: "\f21c";
}
.icon-cr-ski-rentals:before {
  content: "\f21d";
}
.icon-cr-ski-less:before {
  content: "\f21e";
}
.icon-cr-skiing:before {
  content: "\f21f";
}
.icon-cr-slippers:before {
  content: "\f220";
}
.icon-cr-smok-detector:before {
  content: "\f221";
}
.icon-cr-smok-allow:before {
  content: "\f222";
}
.icon-cr-smok-area:before {
  content: "\f223";
}
.icon-cr-snorkeling:before {
  content: "\f224";
}
.icon-cr-sofa:before {
  content: "\f225";
}
.icon-cr-solar:before {
  content: "\f226";
}
.icon-cr-sound:before {
  content: "\f227";
}
.icon-cr-spa-sauna:before {
  content: "\f228";
}
.icon-cr-special-condition:before {
  content: "\f229";
}
.icon-cr-sqm:before {
  content: "\f22a";
}
.icon-cr-squash:before {
  content: "\f22b";
}
.icon-cr-steam:before {
  content: "\f235";
}
.icon-cr-suitable:before {
  content: "\f236";
}
.icon-cr-surfing:before {
  content: "\f237";
}
.icon-cr-table-tennis:before {
  content: "\f238";
}
.icon-cr-tamil:before {
  content: "\f239";
}
.icon-cr-tax:before {
  content: "\f23a";
}
.icon-cr-taxi:before {
  content: "\f23b";
}
.icon-cr-telephone:before {
  content: "\f23c";
}
.icon-cr-tennis:before {
  content: "\f23d";
}
.icon-cr-theme-park:before {
  content: "\f23e";
}
.icon-cr-thumb-up:before {
  content: "\f241";
}
.icon-cr-ticket:before {
  content: "\f244";
}
.icon-cr-time:before {
  content: "\f245";
}
.icon-cr-toiletries:before {
  content: "\f246";
}
.icon-cr-tooltip:before {
  content: "\f247";
}
.icon-cr-tours:before {
  content: "\f24d";
}
.icon-cr-towels:before {
  content: "\f24e";
}
.icon-cr-trouser:before {
  content: "\f250";
}
.icon-cr-tv-area:before {
  content: "\f251";
}
.icon-cr-tv:before {
  content: "\f252";
}
.icon-cr-umbrella:before {
  content: "\f253";
}
.icon-cr-user:before {
  content: "\f255";
}
.icon-cr-valet-parking:before {
  content: "\f256";
}
.icon-cr-vending:before {
  content: "\f257";
}
.icon-cr-views:before {
  content: "\f258";
}
.icon-cr-villa:before {
  content: "\f259";
}
.icon-cr-visa:before {
  content: "\f25a";
}
.icon-cr-wake-up:before {
  content: "\f25b";
}
.icon-cr-washer:before {
  content: "\f25d";
}
.icon-cr-water-park:before {
  content: "\f25f";
}
.icon-cr-water-moto:before {
  content: "\f260";
}
.icon-cr-water-sport:before {
  content: "\f261";
}
.icon-cr-water-eq:before {
  content: "\f262";
}
.icon-cr-wheelchair:before {
  content: "\f263";
}
.icon-cr-wifi-public:before {
  content: "\f264";
}
.icon-cr-wifi:before {
  content: "\f265";
}
.icon-cr-wind-surfing:before {
  content: "\f266";
}
.icon-cr-wooden-floor:before {
  content: "\f267";
}
.icon-cr-yoga:before {
  content: "\f269";
}
