@font-face {
  font-family: 'insideTravel';
  src:  url('../fonts/insidetravel/insideTravel.eot?x59x58');
  src:  url('../fonts/insidetravel/insideTravel.eot?x59x58#iefix') format('embedded-opentype'),
    url('../fonts/insidetravel/insideTravel.ttf?x59x58') format('truetype'),
    url('../fonts/insidetravel/insideTravel.woff?x59x58') format('woff'),
    url('../fonts/insidetravel/insideTravel.svg?x59x58#insideTravel') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon-font {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'insideTravel' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu:before {
  content: "\e91d";
}
.heart-empty:before {
  content: "\e925";
}
.heart-full:before {
  content: "\e926";
}
.hiking:before {
  content: "\e921";
}
.mountain:before {
  content: "\e922";
}
.zoo:before {
  content: "\e923";
}
.umbrella-beach-solid:before {
  content: "\e924";
}
.icontripadvisor2 .path1:before {
  content: "\e914";
  color: rgb(65, 148, 83);
}
.icontripadvisor2 .path2:before {
  content: "\e915";
  margin-left: -0.99609375em;
  color: rgb(255, 255, 255);
}
.icontripadvisor2 .path3:before {
  content: "\e916";
  margin-left: -0.99609375em;
  color: rgb(65, 148, 83);
}
.icontripadvisor3 .path1:before {
  content: "\e918";
  color: rgb(0, 0, 0);
}
.icontripadvisor3 .path2:before {
  content: "\e919";
  margin-left: -1.0078125em;
  color: rgb(255, 255, 255);
}
.icontripadvisor3 .path3:before {
  content: "\e91a";
  margin-left: -1.0078125em;
  color: rgb(65, 148, 83);
}
.icontripadvisor3 .path4:before {
  content: "\e91b";
  margin-left: -1.0078125em;
  color: rgb(255, 255, 255);
}
.icontripadvisor3 .path5:before {
  content: "\e91c";
  margin-left: -1.0078125em;
  color: rgb(65, 148, 83);
}
.calendar-regular:before {
  content: "\e917";
}
.facebook-square-brands:before {
  content: "\e900";
}
.instagram-brands:before {
  content: "\e901";
}
.twitter-brands:before {
  content: "\e902";
}
.icon-15:before {
  content: "\e903";
  color: #545454;
}
.icon-balloon:before {
  content: "\e904";
  color: #545454;
}
.icon-beach:before {
  content: "\e905";
  color: #545454;
}
.icon-biking:before {
  content: "\e906";
  color: #545454;
}
.icon-cruises:before {
  content: "\e907";
  color: #545454;
}
.icon-cuisine:before {
  content: "\e908";
  color: #545454;
}
.icon-cultural:before {
  content: "\e909";
  color: #545454;
}
.icon-heritage:before {
  content: "\e90a";
  color: #545454;
}
.icon-kayaking:before {
  content: "\e90b";
  color: #545454;
}
.icon-mountain:before {
  content: "\e90c";
  color: #545454;
}
.icon-nature:before {
  content: "\e90d";
  color: #545454;
}
.icon-swimming:before {
  content: "\e90e";
  color: #545454;
}
.icon-trekking:before {
  content: "\e90f";
  color: #545454;
}
.icon-wellness:before {
  content: "\e910";
  color: #545454;
}
.icon-wildlife:before {
  content: "\e911";
  color: #545454;
}
.select-arrow-thin:before {
  content: "\e912";
}
.user-regular:before {
  content: "\e913";
}
.map-marker:before {
  content: "\f041";
}
.image:before {
  content: "\e91e";
}
.images:before {
  content: "\e91f";
}
.camera:before {
  content: "\e920";
}
.phone:before {
  content: "\e942";
}
.search:before {
  content: "\e986";
}
.spoon-knife:before {
  content: "\e9a3";
}
.plus:before {
  content: "\ea0a";
}
.minus:before {
  content: "\ea0b";
}
.checkmark:before {
  content: "\ea10";
}
