* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Theano Didot';
  src: url("../fonts/theano-didot/TheanoDidot.eot");
  src: url("../fonts/theano-didot/TheanoDidot.eot?iefix") format("eot"), url("../fonts/theano-didot/TheanoDidot.woff") format("woff"), url("../fonts/theano-didot/TheanoDidot.ttf") format("truetype"), url("../fonts/theano-didot/TheanoDidot.svg#webfont") format("svg"); }
object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit; }

b, strong, th {
  font-weight: bold; }

i, em {
  font-style: italic; }

sub, sup {
  font-size: 75%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 20px 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  outline: none; }

ol, ul, li {
  padding: 0;
  list-style: none;
  margin: 0; }

label {
  font-weight: normal; }

input[type="text"], input[type="email"], input[type="password"] {
  padding-left: 5px;
  padding-right: 5px; }

select {
  padding-left: 8px;
  cursor: pointer; }

input[type="number"] {
  padding-left: 5px; }

textarea {
  padding: 8px 12px 5px 12px; }

input, textarea, select, button, a, button:hover, button:active, button:focus {
  outline: none; }

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer; }

* {
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-top: constant(safe-area-inset-top); }

img {
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover; }

body {
  width: 100%;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  color: #555;
  --bodyWidth: 1583px; }

input {
  white-space: nowrap;
  text-overflow: ellipsis; }
  input::-webkit-input-placeholder {
    color: #a09c9c; }
  input::-moz-placeholder {
    color: #a09c9c; }
  input:-ms-input-placeholder {
    color: #a09c9c; }
  input:-moz-placeholder {
    color: #a09c9c; }

ol, ul, li {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

button, a {
  cursor: pointer;
  text-decoration: none; }

a {
  letter-spacing: 1px;
  display: inline-block;
  line-height: 1;
  color: #555; }

button:hover, a:hover {
  text-decoration: none;
  opacity: .8; }

section {
  margin: 30px 0 45px;
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 15px 0 10px; }

img {
  width: 100%; }

select {
  display: inline-block;
  width: 100%;
  height: 25px;
  margin: 0;
  padding: 0 0 0 .5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/icon/select-arrow-thin.svg) no-repeat top 9px right 3px, url(../images/icon/select-arrow-thin.svg) no-repeat top 9px right 3px;
  background-size: 12px;
  background-color: transparent;
  outline: none;
  font-weight: 300;
  letter-spacing: 1px;
  border: none;
  position: relative;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 1px; }

select:focus {
  outline-style: dotted;
  outline-width: 1px; }

.select-st1 {
  padding-right: 15px; }

.btn-st1 {
  background-color: rgba(227, 227, 227, 0.6);
  color: #555;
  display: inline-block;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: none;
  padding: 10px 25px;
  line-height: 1; }

.btn-st1:hover {
  background-color: #dbd9d9; }

.btn-st2 {
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
  border: 1px solid #000;
  color: #000;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.btn-st2:hover {
  color: #d0aa3f;
  border-color: #d0aa3f; }

.link-st1 {
  color: #d0aa3f;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.link-st1:hover {
  color: #ef9e00; }

.title-h1 {
  font-size: 26px;
  font-family: 'Theano Didot','Times New Roman', serif;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center; }

.title-h2-line {
  font-size: 25px;
  font-family: 'Theano Didot','Times New Roman', serif;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center; }

.title-h2-line:after {
  max-width: 200px;
  height: 2px;
  display: block;
  background-color: #c1aa80;
  margin: 15px auto 20px;
  content: "";
  width: 40%; }

.paragraph {
  margin: 10px 0;
  line-height: 2;
  text-align: center; }

.mg-left {
  margin-left: 40px; }

.mg-right {
  margin-right: 40px; }

.bg-map-menu {
  display: block;
  width: 140px;
  height: 150px;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
  background-image: url(../images/sprite.png);
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-size: 921px; }

.bg-map-vi {
  background-position: -21px -2254px; }

.bg-map-ca {
  background-position: -140px -2254px; }

.bg-map-la {
  background-position: -267px -2254px; }

.bg-map-my {
  background-position: -388px -2254px; }

.bg-map-th {
  background-position: -504px -2254px; }

.bg-map-menu:hover {
  background-position-y: -2399px; }

.open-block {
  display: block !important; }

.open-flex {
  display: flex !important; }

.open-opacity:after, .open-opacity:before {
  opacity: 1 !important; }

.banner-top {
  position: relative;
  margin-top: 0;
  min-height: 500px; }

.bg-parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -3;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.bg-home {
  background-image: url("../images/background/bg-home.jpg");
  height: 100%; }

.wrap-mini-intro {
  width: 50%;
  margin: 0 auto; }

.map-coo {
  width: 25px;
  height: 26px;
  position: absolute;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-size: 99%; }

.container {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto; }

.col-lg-6 {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center; }

.col-lg-4 {
  width: 33.333%;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center; }

.col-lg-3 {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center; }

@media (max-width: 991px) {
  .col-md-6 {
    width: 50%; }

  .col-md-4 {
    width: 33.333%; }

  .col-md-3 {
    width: 25%; } }
@media (max-width: 767px) {
  .container {
    width: 100%; }

  .mg-left, .mg-right {
    margin-left: 0;
    margin-right: 0; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-4 {
    width: 33.333%; }

  .col-sm-3 {
    width: 25%; } }
@media (max-width: 479px) {
  .col-xsm-6 {
    width: 50%; }

  .col-xsm-4 {
    width: 33.333%; }

  .col-xsm-3 {
    width: 25%; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
header {
  width: 100%;
  z-index: 100;
  position: relative; }
  header .menu-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 30px auto 0; }
    header .menu-wrap .search-nav {
      width: 35%;
      max-width: 400px; }
      header .menu-wrap .search-nav .fa-search {
        margin-right: 5px;
        font-size: 15px; }
      header .menu-wrap .search-nav input {
        border: none;
        background-color: transparent;
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: 5px;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;
        font-size: 13px;
        letter-spacing: 2px;
        outline: none; }
        header .menu-wrap .search-nav input:focus {
          outline-style: dotted;
          outline-width: 1px;
          border-bottom: 1px solid #555;
          font-size: 14px; }
    header .menu-wrap .brand {
      width: 30%;
      max-width: 118px; }
    header .menu-wrap .global-menu {
      width: 35%;
      max-width: 400px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 20px; }
      header .menu-wrap .global-menu .lang-top {
        width: 33.33%;
        max-width: 110px; }
      header .menu-wrap .global-menu .login-top {
        width: 33.33%;
        max-width: 85px; }
        header .menu-wrap .global-menu .login-top a {
          font-size: 13px;
          display: flex;
          justify-content: center; }
          header .menu-wrap .global-menu .login-top a .fa-user {
            margin-right: 5px;
            font-size: 15px; }
          header .menu-wrap .global-menu .login-top a:hover {
            color: #555; }
    header .menu-wrap .main-menu {
      width: 100%;
      background-color: #f6f4f0;
      border-top: 1px solid #dcdcdc;
      border-bottom: 1px solid #dcdcdc;
      margin-top: 30px;
      display: flex;
      justify-content: center;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      transition: all 0.2s linear;
      position: relative; }
      header .menu-wrap .main-menu > li {
        display: flex;
        align-items: center;
        position: relative; }
        header .menu-wrap .main-menu > li a {
          margin-right: 30px;
          margin-left: 30px;
          padding-bottom: 20px;
          padding-top: 20px;
          text-transform: uppercase;
          color: #555;
          -webkit-transition: all 0.2s linear;
          -moz-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          -ms-transition: all 0.2s linear;
          transition: all 0.2s linear; }
        header .menu-wrap .main-menu > li:after {
          background-color: #d0aa3f;
          content: " ";
          display: inline-block;
          height: 8px;
          width: 8px;
          border-radius: 50%; }
        header .menu-wrap .main-menu > li:last-child:after {
          display: none; }
      header .menu-wrap .main-menu > .sub-menu-title > a {
        z-index: 9; }
        header .menu-wrap .main-menu > .sub-menu-title > a:before {
          background-color: transparent;
          border-bottom: 1px solid #dcdcdc;
          border-right: 1px solid #dcdcdc;
          content: " ";
          display: block;
          opacity: 0;
          height: 12px;
          position: absolute;
          left: 0;
          margin: 0 auto;
          right: 0;
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          -webkit-transition: all 0.25s linear;
          -moz-transition: all 0.25s linear;
          -o-transition: all 0.25s linear;
          -ms-transition: all 0.25s linear;
          transition: all 0.25s linear;
          animation: fadein .25s;
          top: calc(100% - 5px);
          width: 12px;
          background-color: transparent;
          z-index: 9; }
        header .menu-wrap .main-menu > .sub-menu-title > a:after {
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          -webkit-transition: all 0.25s linear;
          -moz-transition: all 0.25s linear;
          -o-transition: all 0.25s linear;
          -ms-transition: all 0.25s linear;
          transition: all 0.25s linear;
          background-color: #000;
          content: " ";
          height: 5px;
          width: 5px;
          opacity: 0;
          display: block;
          position: absolute;
          left: 0;
          margin: 0 auto;
          right: 0;
          top: calc(100% - 2px);
          z-index: 9; }
        header .menu-wrap .main-menu > .sub-menu-title > a:hover:before {
          opacity: 1; }
        header .menu-wrap .main-menu > .sub-menu-title > a:hover:after {
          opacity: 1; }
      header .menu-wrap .main-menu:hover {
        background-color: #fff;
        border-top-color: transparent; }

#menu-lv1-1 .sub-menu-lv1 {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  width: var(--bodyWidth);
  background-color: #f6f4f0; }
  #menu-lv1-1 .sub-menu-lv1 > li {
    width: 20%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center; }
#menu-lv1-1:hover .sub-menu-lv1 {
  display: flex; }

.sub-menu-destinations {
  display: none;
  justify-content: space-between;
  padding: 30px 0;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  width: 100%;
  background-color: #f6f4f0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  .sub-menu-destinations > li {
    width: 20%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .sub-menu-destinations > li > a:first-child {
      position: relative;
      line-height: 1;
      overflow: hidden;
      -webkit-transition: all 0.25s linear;
      -moz-transition: all 0.25s linear;
      -o-transition: all 0.25s linear;
      -ms-transition: all 0.25s linear;
      transition: all 0.25s linear;
      opacity: .8;
      display: flex;
      justify-content: center;
      align-items: center; }
      .sub-menu-destinations > li > a:first-child > span {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 45%;
        padding: 8px 0;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 700;
        color: #555; }
      .sub-menu-destinations > li > a:first-child:hover > img {
        transform: scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -webkit-transition: all 0.25s linear;
        -moz-transition: all 0.25s linear;
        -o-transition: all 0.25s linear;
        -ms-transition: all 0.25s linear;
        transition: all 0.25s linear;
        opacity: 1; }
      .sub-menu-destinations > li > a:first-child:hover > span {
        background-color: transparent;
        color: #fff; }
    .sub-menu-destinations > li .bg-map-menu {
      margin-bottom: 10px;
      margin-top: 10px; }
    .sub-menu-destinations > li > div {
      text-align: center;
      font-size: 13px;
      padding: 0 15px; }
      .sub-menu-destinations > li > div > a:hover {
        color: #d0aa3f; }
    .sub-menu-destinations > li .btn-st2 {
      margin-top: 15px;
      margin-bottom: 15px; }

.sub-menu-travel {
  display: none;
  justify-content: space-between;
  padding: 30px 0;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  width: 100%;
  background-color: #f6f4f0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  .sub-menu-travel > li {
    width: 12.5%;
    padding: 0 15px; }
    .sub-menu-travel > li a {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
      transition: all 0.5s linear;
      overflow: hidden; }
      .sub-menu-travel > li a img {
        width: 60%;
        border-radius: 50%;
        opacity: .7;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        transition: all 0.5s linear; }
      .sub-menu-travel > li a span {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 13px;
        margin: 10px 0; }
      .sub-menu-travel > li a:hover {
        color: #d0aa3f; }
        .sub-menu-travel > li a:hover img {
          opacity: 1; }

#booking-widget-homepage {
  position: absolute;
  bottom: 20%;
  width: 100%; }
  #booking-widget-homepage form {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 60%;
    margin: 0 auto;
    background-color: #fff; }
    #booking-widget-homepage form > div {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      margin-top: 15px;
      margin-bottom: 15px;
      border-right: 1px solid #cecece;
      color: #a09c9c; }
      #booking-widget-homepage form > div input {
        width: 90%;
        border: none;
        color: #a09c9c;
        cursor: pointer; }
      #booking-widget-homepage form > div select {
        color: #a09c9c;
        width: 100%; }
    #booking-widget-homepage form .booking-step-where {
      width: 28%; }
    #booking-widget-homepage form .booking-step-when {
      width: 15%; }
    #booking-widget-homepage form .booking-step-room {
      width: 16%; }
    #booking-widget-homepage form .booking-step-promo {
      width: 16%;
      border-right: none; }
    #booking-widget-homepage form .booking-step-submit {
      width: 25%;
      border-right: none;
      padding: 0;
      margin: 0; }
      #booking-widget-homepage form .booking-step-submit button {
        width: 100%;
        height: 100%;
        color: #fff;
        background-color: #333;
        text-transform: uppercase;
        font-size: 16px; }

.best-support article h3 {
  font-size: 18px;
  font-weight: 700; }
.best-support article p {
  color: #a09c9c; }

.wrap-map {
  padding: 15px; }
  .wrap-map .map-home {
    width: 100%;
    position: relative;
    box-shadow: inset 0 0 100px 50px #fff; }
    .wrap-map .map-home > img {
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%; }
    .wrap-map .map-home > div {
      position: absolute;
      z-index: 2;
      background-color: transparent;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
      .wrap-map .map-home > div .map-coo {
        background-image: url("../images/icon/poin_optimized.png"); }
      .wrap-map .map-home > div #map-coo-1 {
        top: 39.4%;
        left: 58.5%; }
      .wrap-map .map-home > div #map-coo-2 {
        top: 67.4%;
        left: 63.5%; }

/*# sourceMappingURL=main.css.map */
