footer{
	//background: $background-color-st1 url('../images/background/bg-footer.gif') repeat;
}
.footer-banner-container{
	position: relative;
	padding: 40px 0;
	overflow: hidden;
	&>img{
		position: absolute;
		top: 50%;
		left: 0;
		@include translateY(-50%);
		height: 100%;
	}
}
.newsletter-wrapper{
	width: 100%;
	max-width: 700px;
	z-index: 2;
	.newsletter-text{

	}
	.newsletter-sign{
		margin-top: 30px;
	}
	.team-quote{
		margin-top: 0;
	}
}
.newsletter-text{
	width: 100%;
	text-align: center;
	padding-right: 15px;
	padding-left: 15px;
	h3{
		font-size: 22px;
		text-transform: uppercase;
		color: #fff;
		margin-top: 0;
		font-weight: 400;
	}
	p{
		font-size: 12px;
		text-transform: uppercase;
		color: #fff;
	}
}
.newsletter-sign{
	form{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-bottom: -15px;
		.box-input-st2{
			height: 50px;
			margin-bottom: 15px;
		}
		.box-submit-sign{
			height: 50px;
			margin-bottom: 15px;
		}
		.box-textarea-st2{
			width: 100%;
			height: 150px;
			margin-bottom: 15px;
		}
	}
	
}
.box-textarea-st2{
	padding-right: 15px;
	padding-left: 15px;
	textarea{
		width: 100%;
		height: 100%;
	    border: none;
	    padding-left: 10px;
	    padding-right: 10px;
	    border-radius: 10px;
		background-color: #f9f6f1;
	}
}
.box-submit-sign{
	padding-right: 15px;
	button{
		display: flex;
	    justify-content: center;
	    align-items: center;
	    background-color: rgba(0, 0, 0, 0.4);
	    font-size: 22px;
		height: 100%;
		margin-left: auto;
		margin-right: auto;

		color: #d8cdb9;
		border: 1px solid #d8cdb9;
		padding: 12px 136px;
		border-radius: 999px;
		&:hover{
			background-color: rgba(137, 90, 58, 0.6);
		}
	}
}
.footer-navbar-container{
	padding-top: 30px;
	padding-bottom: 15px;
	nav{
		width: 100%;
		ul{
			width: 100%;
			max-width: 500px;
			display: flex;
			justify-content: space-between;
			margin-left: auto;
			margin-right: auto;
			li{
				padding-left: 15px;
				padding-right: 15px;
				a{
					text-transform: uppercase;
				}
			}
		}
	}
	.footer-social-container{
		margin-top: 30px;
	}
	.copy-right{
		margin-top: 15px;
	}
}
.footer-social-container{
	.blog-social-list{
		ul{
			li{
				margin-left: 15px;
				margin-right: 15px;
				a{
					font-size: 26px;
				}
			}
		}
	}
}
.copy-right{
	font-size: 11px;
    font-weight: 300;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
.footer-brand-container{
	.brand-footer{
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
		max-width: 900px;
		&>a{
			height: 0px;
		    margin: 15px 20px 45px;
		    color: #967856;
		    text-align: center;
		    padding-top: 80px;
		    background-image: url(../images/brand.png);
		    background-repeat: no-repeat;
		    flex-grow: 0;
		}
		.footer-logo1{
			width: 135px;
		    background-position: 0 0;
		}
		.footer-logo2{
			width: 111px;
			background-position: -189px 0;
		}
		.footer-logo3{
			width: 83px;
			background-position: -363px 0;
		}
		.footer-logo4{
			width: 148px;
		    background-position: -486px 0;
		}
		.footer-logo5{
			width: 91px;
		    background-position: -686px 0;
		}
		.footer-logo6{
			width: 73px;
		    background-position: -865px 0;
		}
		.footer-logo7{
			width: 200px;
		    background-position: -995px 0;
		}
		.footer-logo8{
			width: 172px;
		    background-position: -1213px 0;
		}
		.footer-logo9{
			width: 174px;
		    background-position: -1444px 0;
		}
	}
}
@media (max-width: 767px) {
	.footer-banner-container{
		padding: 60px 0;
	}
	.box-submit-sign{
		padding-right: 15px;
		button{
			padding-left: 50px;
			padding-right: 50px;
		}
	}
}
@media (max-width: 479px) {
	.footer-navbar-container{
		nav{
			ul{
				justify-content: center;
				flex-wrap: wrap;
				margin-bottom: -10px;
				li{
					margin-bottom: 10px;
				}
			}
		}
	}
}
@media (max-width: 375px) {
	.newsletter-sign{
		form{
			flex-wrap: wrap;
			//justify-content: center;
			&>div{
				width: 100%;
			}
			.box-submit-sign{
				padding-left: 15px;
				margin-top: 15px;
				button{
					margin-right: auto;
					margin-left: auto;
				}
			}
		}
		
	}
}