.video-top-container{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 80px 0;
	position: relative;
	overflow: hidden;
	&>.box-img-st2{
		display: none;
	}
	video{
		width: 100%;
		position: absolute;
		top: 50%;
		left: 0;
		@include translateY(-50%);
		@include dakkenImg(70%);
	}
	.search-container-st2{
		z-index: 2;
	}
}
.search-container-st2{
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	max-width: 1170px;
	&>.btn-st3{
		display: none;
	}
	form{
		display: flex;
		justify-content: space-between;
		h3{
			display: inline-flex;
			align-items: center;
			//padding-right: 30px;
			width: 100px;
			margin: 0;
			color: #fff;
			font-size: 14px;
		}
		.box-input-st2{
			&>label{
				position: absolute;
				left: 55px;
				font-size: 14px;
				bottom: 21px;
				@include smooth(.25s);
			}
			input{
				padding: 30px 15px 15px 40px;
			}
			
		}
	}
}
.banner-top-logo{
	width: 100%;
	max-width: 368px;
	margin: 38px auto 30px;
}
.box-input-st2{
	flex-grow: 1;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	display: flex;
	align-items: center;
	&>.icon-font{
		position: absolute;
		left: 25px;
		font-size: 24px;
	}
	input{
		width: 100%;
		height: 100%;
		border: none;
	    padding-left: 10px;
	    padding-right: 10px;
	    border-radius: 10px;
		background-color: #f9f6f1;
	}
	
}
.section-map{
	.read-more-st1{
		a{
			margin-top: 15px;
		}
	}
}
.value-tool{
	border-radius: 10px;
	.btn-value{
		.icon-font:first-child{
			font-size: 16px;
			margin-right: 5px;
		}
	}
}
#box-mon-time{
	max-width: 500px;
	min-width: unset;
	border-radius: 10px;
}
.box-submit-st2{
	padding-left: 15px;
	button{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: $color-cover-dak;
		font-size: 22px;
		color: #fff;
		border: 1px solid #fff;
		&:hover{
			background-color: $higlight-color;
		}
	}
}
.quick-link{
	padding-left: 100px;
	padding-right: 80px;
	margin-top: 40px;
	ul{
		width: 100%;
		display: flex;
		justify-content: space-between;
		li{
			//width: 16.6666%;
			padding-left: 15px;
			padding-right: 15px;
			.btn-st3{
				height: 100%;
			    color: #fff;
			    border-color: #fff;
			    padding: 15px 10px;
			    font-weight: normal;
			    letter-spacing: 1px;
			    background-color: $background-opa;
			    border-radius: 35px;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    .icon-font{
			    	margin-right: 5px;
			    	font-size: 16px;
			    }
			    &:hover{
			    	opacity: .8;
			    	background-color: $higlight-color;
			    }
			}
		}
	}
}
.trip-cruise{
	display: flex;
	align-items: stretch;
	background-color: $background-color;
	width: 100%;
    padding: 20px;
    margin-bottom: 30px;
	.left-trip{
		//width: 35%;
		width: calc(35% - 49px);
		padding-right: 10px;
		position: relative;
		align-self: flex-start;
		&>a{
			width: 100%;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			span{
				display: inline-block;
				position: absolute;
				z-index: 2;
				font-size: 16px;
				font-weight: 600;
				color: #fff;
				text-transform: uppercase;
			}
			img{
				@include dakkenImg(60%);
				@include smooth(.25s);
			}
			&:hover{
				opacity: 1;
				img{
					@include dakkenImg(100%);
				}
			}
		}
		.wrap-tooltip{
			padding-left: 0;
			padding-right: 0;
			margin-top: 15px;
			margin-bottom: 0;
		}
	}
	.mid-trip{
		width: calc(65% - 91px);
		padding-left: 20px;
		padding-right: 15px;
		border-right: 1px solid $border-color;
		.head-trip{
			flex-wrap: nowrap;
			.number-day{
				padding-right: 10px;
				border-right: 1px solid $border-color;
			}
			.cruise-iti{
				flex-grow: 1;
				padding-left: 10px;
				.title-cruise{
					text-align: left;
					margin: 0;
					text-transform: none;
				}
				address{
					line-height: 1.8;
					color: $title-3;
					.map-marker{
						color: $title-3;
					}
				}
			}
		}
		.read-more-st2{
			a{
				margin-top: 15px;
			}
		}
		.best-offer{
			.col-xlg-12{
				padding-right: 0;
				padding-left: 0;
			}
		}
	}
	.right-trip{
		flex-shrink: 0;
		width: 140px;
		padding-left: 15px;
		
		&>div{
			margin-top: 20px;
			margin-bottom: 20px;
			.btn-st2{
				padding-right: 20px;
				padding-left: 20px;
			}
		}
	}
}
.info-cruise{
	display: flex;
	justify-content: center;
	align-items: center;
	&>div{
		display: flex;
		align-items: center;
		.date-01{
			font-size: 16px;
		}
		.select-arrow-thin{
			font-size: 8px;
		}
		.link-st3{
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.info-cruise-month{
		align-items: baseline;
		max-width: 200px;
		line-height: 1.5;
		b{
			color: #895a36;
		}
		a{
			font-weight: 600;
			color: red;
			&:hover{
				color: #bdb316;
			}
		}
		.date-01{
			margin-right: 5px;
		}
	}
	.link-st3{
		padding: 15px;
		position: relative;
	}
	.active{
		&:before{
			content: '';
			display: block;
			width: 15px;
			height: 15px;
			position: absolute;
			bottom: 0;
			left: 50%;
			background-color: #c8bca6;
			transform: translate(-50%,50%) rotate(45deg);
		    -moz-transform: translate(-50%,50%) rotate(45deg);
		    -webkit-transform: translate(-50%,50%) rotate(45deg);
		    -o-transform: translate(-50%,50%) rotate(45deg);
		    -ms-transform: translate(-50%,50%) rotate(45deg);
		}
	}
}
.box-schedule{
	position: absolute;
	top: 100%;
	left: -20px;
	width: 700px;
	z-index: 5;
	background-color: #c8bca6;
	padding: 20px;
	display: none;
	.list-cabins{
		padding-bottom: 15px;
		padding-top: 15px;
		border-bottom: 1px dotted #967856;
		&:first-child{
			padding-top: 0;
		}
		&:last-child{
			padding-bottom: 0;
			border-bottom: none;
		}
	}
	table{
		border: 1px solid #b09e7e;
		th{
			border: 1px solid #b09e7e;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		td{
			border: 1px solid #b09e7e;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}

.list-cabins{
	width: 100%;
	display: flex;
	align-items: stretch;
	&>img{
		width: calc(35% - 49px);
		padding-right: 10px;
		align-self: flex-start;
	}
	.cabin-info-box{
		width: calc(65% - 91px);
		padding-left: 20px;
		padding-right: 15px;
	}
	.button-cabin{
		width: 140px;
		padding-left: 15px;
	}
}
.button-cabin{
	display: flex;
	align-items: center;
	justify-content: center;
	.btn-st2{
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 10px;
		color: $higlight-red-1;
		border-color: $higlight-red-1;
		&:hover{
			color: $higlight-color;
			border-color: $higlight-color;
		}
	}
}
.cabin-info-box{
	h4{
		margin-top: 0;
		font-size: 18px;
	}
}
.item-cabin{
	p{
		margin-bottom: 10px;
		line-height: 1.4;
		font-weight: 500;
	}
}
.facilities{
	margin-top: 10px;
	&>a{
		font-weight: 600;
		color: $higlight-red-1;
	}
	ul{
		margin-top: 10px;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		display: none;
		li{
			width: 50%;
			padding-left: 15px;
			margin-bottom: 10px;
			.icon-font{
				margin-right: 5px;
			}
		}
	}
}
.number-day{
	&>span{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
		left: 0;
		top: 0;
		padding-top: 6px;
		width: 100%;
		height: 100%;
		text-transform: uppercase;
		letter-spacing: 0;
		font-size: 10px;
		b{
			font-size: 24px;
		}
	}
}
.best-poromo{
	width: 125px;
    height: 46px;
    background: url(../images/sprite-2.png) -249px -109px no-repeat;
    position: relative;
    span{
    	position: absolute;
    	top: 22px;
    	left: 16px;
    	color: #fff;
    	font-size: 10px;
    }
}
.save-now{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	span{
		font-size: 26px;
		font-weight: 600;
		color: #ff5722;
	}
}
.i-map{
	display: block;
	background: url(../images/sprite-2.png) -298px -740px no-repeat;
	width: 69px;
    height: 68px;
}
.view-map-detail{
	width: 100%;
	a{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		.i-map{

		}
	}
}
#booking-widget-cruisepage-st2{
	position: absolute;
    bottom: 50px;
    width: 100%;
    z-index: 3;
    .form-banner-top{
    	display: flex;
	    justify-content: space-between;
	    align-items: stretch;
	    width: 80%;
	    margin: 0 auto;
	    background-color: $background-color;
	    &>div{
	    	cursor: pointer;
		    display: flex;
		    justify-content: space-between;
		    align-items: center;
		    padding: 0 10px;
		    margin-top: 15px;
		    margin-bottom: 15px;
		    border-right: 1px solid #cdb39f;
	    }
	    .text{
	    	b{
	    		font-weight: 600;
	    	}
	    }
	    .booking-step-where{
	    	position: relative;
    		width: 18%;
    		border-left: 1px solid #cdb39f;
    		.value{
    			.btn-value{
    				.map-marker{
    					margin-right: 8px;
    					font-size: 15px;
    					@include smooth(.25s);
    				}
    			}
    		}
	    }
	    .booking-step-night{
	    	position: relative;
	    	width: 18%;
	    	border-right: none;
	    }
	    .booking-step-m-time{
	    	position: relative;
		    width: 21%;
		    margin-top: 0;
		    margin-bottom: 0;
		    border-right: none;
		    background-color: $background-color;
		    .text{
		    	left: 0;
			    padding-right: 10px;
			    padding-left: 10px;
		    }
	    }
	    .booking-step-cruise{
	    	position: relative;
		    width: 26%;
		    //border-right: none;
		    //border-left: 1px solid #cecece;
		    .value{
		    	.btn-value{
		    		.ship{
		    			margin-right: 5px;
		    			font-size: 12px;
		    			color: $title-3;
		    			@include smooth(.25s);
		    		}
		    	}
		    }
	    }
	    .booking-step-submit{
	    	width: 17%;
		    border-right: none;
		    padding: 0;
		    margin: 0;
		    flex-grow: 1;
		    button{
		    	width: 100%;
    			height: 100%;
    			&:hover{
    				opacity: .8;
    			}
		    }
	    }
	    .value{
	    	top: calc(100% + 15px);
	    }
    }
    &>button{
    	display: none;
    }
}
#search-cruise-modal{
	.text{
		.icon-font:first-child{
			color: $light-color;
		}
	}
}
.cruise-box-st3{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	border: 1px solid #eee;
	width: 100%;
	margin-bottom: 50px;
	&:last-child{
		margin-bottom: 0;
	}
	.cruise-text-st3{
		width: 50%;
	}
	.cruise-img-slide{
		width: 50%;
	}
}
.cruise-text-st3{
	article{
		padding: 20px;
	}
	.content-cruise-st3{
		margin-top: 15px;
	}
	.foot-cruise-st3{
		margin-top: 15px;
		@include translateX(-30px);
	}
	.wrap-tooltip{
		margin-top: 12px;
		margin-bottom: 12px;
	}
}
.cruise-img-slide{
	.wrap-slide-st9{
		width: 100%;
	}
}
.head-cruise-st3{
	border-bottom: 1px dotted #dcdcdc;
	padding-bottom: 15px;
	.title-h2{
		text-align: left;
		margin-top: 0;
	}
}
.foot-cruise-st3{
	display: flex;
	width: 100%;
	.special-offer-box{
		width: 200px;
	}
	.price-box{
		width: calc(100% - 200px);
	}
}
.content-cruise-st3{
	.wrap-tooltip{
		padding-right: 0;
		padding-left: 0;
		justify-content: flex-start;
	}
}
.price-box{
	padding-left: 15px;
	font-size: 10px;
	.commitment{
		text-align: left;
		margin-top: 5px;
	}
	&>span{
		font-size: 12px;
	    text-transform: uppercase;
	    color: $higlight-color;
	    margin-left: auto;
	    text-align: right;
	    strong{
	    	font-weight: 600;
    		font-size: 16px;
	    }
	}
}
.special-offer-box{
	//width: 100%;
	//height: 30px;
	background-color: red;
	border-top-left-radius: 10px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	span{
		color: #fff;
		font-size: 14px;
		letter-spacing: 1px;
		i{
			font-style: normal;
			margin-left: 15px;
		}
	}
	&:after{
		display: block;
		content: '';
		width: 10px;
		height: 10px;
		position: absolute;
		top: 100%;
		left: 0;
		background-color: #dc1414;
		clip-path: polygon(100% 0, 0 0, 100% 100%);
		-webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
	}
	&:hover{
		background-color: $higlight-color;
		&:after{
			background-color: #bb9f06;
		}
	}
}
.box-hidden-st3{
	.paragraph{
		text-align: left;
	}
	.link-st3{
		color: #aaa;
		margin-left: 10px;
		&:after{
			background-color: #aaa;
		}
		&:hover{
			color: $higlight-color;
			&:after{
				background-color: $higlight-color;
			}
		}
	}
	.text-hidden{
		display: none;
	}
}
.wrap-slide-st9, .wrap-slide-st10{
	overflow: hidden;
	.synch-carousels{
		box-shadow: none;
		.slick-track{
			background-color: $color-cover-dak;
		}
		.item{
			line-height: 0;
			&>a{
				width: 100%;
			}
		}
		.wrap-dots{
			display: block;
			max-width: 135px;
			overflow-x: hidden;
			position: absolute;
			text-align: center;
			left: 50%;
			bottom: 0;
			white-space: nowrap;
			@include translateX(-50%);
			padding: 5px;
			background: -moz-radial-gradient(bottom center, ellipse farthest-corner, rgba(0, 0, 0, .6) 10%, rgba(255, 255, 255, .01) 70%);
        	background: -o-radial-gradient(bottom center, ellipse farthest-corner, rgba(0, 0, 0, .6) 10%, rgba(255, 255, 255, .01) 70%);
        	background: -ms-radial-gradient(bottom center, ellipse farthest-corner, rgba(0, 0, 0, .6) 10%, rgba(255, 255, 255, .01) 70%);
        	background: -webkit-radial-gradient(bottom center, ellipse farthest-corner, rgba(0, 0, 0, .6) 10%, rgba(255, 255, 255, .01) 70%);
			li{
				width: 5px;
				height: 5px;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				background-color: $color-cover-text;
				button{
					font-size: 0;
					width: 100%;
					height: 100%;
				}
				
			}
			.slick-active{
				width: 8px;
				height: 8px;
				background-color: #fff;
			}
		}
		.nav-arrows{
			top: 50%;
			z-index: unset;
			height: 100%;
			button{
				z-index: 0;
				height: 100%;
				width: 60px;
				@include translateY(-50%);
				i{
					color: #fff;
					font-size: 20px;
				}
			}
			button.arrow-left{
				left: -60px;
    			visibility: hidden;
				background: -owg-linear-gradient(to right,rgba(0,0,0,.5),transparent);
			    background: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(transparent));
			    background: linear-gradient(to right,rgba(0,0,0,.5),transparent);
			}
			button.arrow-right{
				right: -60px;
    			visibility: hidden;
			    background: -webkit-linear-gradient(left, transparent, rgba(0,0,0,.5));
			    background: -o-linear-gradient(left, transparent, rgba(0,0,0,.5));
			    background: linear-gradient(to right, transparent, rgba(0,0,0,.5));
			}
		}
		&:hover{
			.nav-arrows{
				button{
					z-index: 3;
				}
				button.arrow-left{
					left: 0px;
    				visibility: visible;
				}
				button.arrow-right{
				    right: 0px;
    				visibility: visible;
				}
			}
		}
	}
}
.hidden-offer-box{
	display: none;
	.best-offer{
		.col-xlg-12{
			padding-right: 0;
			padding-left: 0;
		}
	}
}
.wrap-trip-st4{
	width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.trip-st4{
	position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 30px;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    .head-trip{
    	padding-bottom: 15px;
    	border-bottom: 1px dotted #dcdcdc;
    	margin-bottom: 15px;
    	align-items: stretch; 
    	.title-info{
    		width: calc(100% - 127px);
    		padding-right: 10px;
    		.title-h2{
    			margin-bottom: 5px;
    		}
    		.address{
    			color: #888;
    			a{
    				color: #888;
    			}
    		}
    	}
    	.view-map{
    		display: flex;
    		flex-direction: column;
    		justify-content: flex-end;
    		align-items: center;
    		width: 67px;
			.icon-font{
				font-size: 32px;
				color: $higlight-color;
			}
			font{
				color: #888;
			}
			&:hover{
				font{
					color: $higlight-color;
				}
			}
    	}
    }
}
.show-mobi{
	display: none;
}
.left-trip-st4{
	width: 52%;
	padding-right: 15px;
	display: flex;
	flex-direction: column;
	.box-hidden{
		max-height: 157px;
		p{
			line-height: 1.8;
			letter-spacing: 0.7px;
			color: #895a36;
			.heart-empty{
				margin-right: 5px;
				color: $higlight-color;
				display: inline-block;
				vertical-align: middle;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.read-more-st2{
		.link-st3{
			margin-bottom: 10px;
			margin-top: 10px;
		}
	}
	.wrap-tooltip{
		margin-top: auto;
		margin-bottom: 0;
		padding-right: 0;
		padding-left: 0;
		justify-content: flex-start;
		&>span{
			margin-right: 15px;
			color: #895a36;
		}
	}
}
.right-trip-st4{
	width: 48%;
	padding-left: 15px;
	.wrap-slide-st9{
		.synch-carousels{
			z-index: 8;
		}
	}
}
.foot-trip{
	width: 100%;
	padding-top: 15px;
	margin-top: 15px;
	border-top: 1px dotted #dcdcdc;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	.hand-picked{
		margin-bottom: 10px;
	}
	&>span{
		font-size: 12px;
	    text-transform: uppercase;
	    color: $higlight-color;
	    margin-left: auto;
	    margin-right: 15px;
	    margin-bottom: 10px;
	    strong{
	    	font-weight: 600;
    		font-size: 16px;
	    }
	}
	.btn-st2{
		color: #888;
        border-color: #bbb;
        border-radius: 999px;
        margin-bottom: 10px;
        &:hover{
        	color: $higlight-color;
        	border-color: $higlight-color;
        }
	}
	.heart-tour{
		display: block;
		margin-bottom: 10px;
		margin-left: 15px;
		.icon-font{
			font-size: 36px;
			color: #AEAEAE;
		}
		&:hover{
			.icon-font{
				color: $higlight-color;
			}
		}
	}
}
.hand-picked{
	display: flex;
	justify-content: space-between;
	align-items: center;
	&>span{
		margin-right: 15px;
		color: #888;
	}

}
.tooltip-handpick{
	padding: 5px;
	z-index: 10;
	font{
		margin-left: 5px;
		color: #555;
	}
	&>div{
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		position: relative;
		&:after{
    		content: '';
    		display: block;
    		width: 100%;
    		height: 1px;
    		background-color: #c1aa80;
    		margin-top: 8px;
    		opacity: 0;
    		position: absolute;
    		bottom: -10px
    		/*animation: lineAnimatedIn .5s;
		    -moz-animation: lineAnimatedIn .5s;
		    -webkit-animation: lineAnimatedIn .5s;
		    -o-animation: lineAnimatedIn .5s;
		    width: 0;*/
    	}
	}
	.icon-font{
		font-size: 18px;
		color: #c3bdbd;
	}
	&>span{
		left: 50%;
		@include translateX(-50%);
		color: #fff;
		background-color: $higlight-color;
		&:after{
			background-color: $higlight-color;
		}
	}
	&:hover{
		&>div{
			&:after{
	    		opacity: 1;
	    		/*animation: lineAnimatedOut .5s;
			    -moz-animation: lineAnimatedOut .5s;
			    -webkit-animation: lineAnimatedOut .5s;
			    -o-animation: lineAnimatedOut .5s;
			    width: 100%;*/
	    	}
		}
		font,.icon-font{
			color: $higlight-color;
		}
	}
}
.banner-country-2{
	height: 580px;
	.bg-detail{
		position: relative;
		img{
			bottom: unset;
			top: 0;
			left: 50%;
			@include translateX(-50%);
			@include dakkenImg(60%);
		}
	}
	.wrap-title-banner-top-line{
		position: absolute;
		left: 0;
		bottom: 100px;
		padding: 15px 15px 25px 15px;
		top: unset;
		justify-content: flex-end;
		background-color: transparent;
	}
}
.trip.trip-itine{
    padding-bottom: 350px;
    .content-trip{
        bottom: 160px;
    }
    &>.tooltip{
        display: inline-block;
        position: absolute;
        bottom: 125px;
        cursor: pointer;
        .icon-itine{
            font-size: 32px;
            &:before{
                color: $higlight-color;
            }
            &:hover{
                opacity: .6;
            }
        }
        span{
            //box-shadow: none;
            background-color: $higlight-color;
            color: #fff;
            &:after{
                background-color: $higlight-color;
                box-shadow: none;
            }
        }
    }
}
.wrap-slide-st8{
	width: 100%;
	.gallery{
	    display: flex;
	    flex-wrap: wrap;
	    align-items: flex-start;
	    justify-content: center;
	}
}
.big-first-tour-box{
	.body-box{
		.wrap-hotel-info{
			flex-grow: 1;
			padding-right: 30px;
			max-width: calc(100% - 247px);
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			.hotel-news{
				width: auto;
				margin: 0;
			}
			.wrap-tooltip{
				width: auto;
				margin: 0;
			}
		}
		.wrap-faq{
			width: 100%;
			.order-day{
				margin-top: 0;
				background-color: transparent;
				&>div:first-child{
					margin-top: 0;
					background-color: transparent;
					.flex-box{
						flex-grow: 1;
						padding-right: 10px;
						position: relative;
						h3{
							width: auto;
							display: inline;
							flex-grow: unset;
							margin: 0;
							a{
								max-width: 500px;
								text-transform: uppercase;
							    font-weight: 600;
							    color: #ad6816;
							}
						}
						.price-trip-box{
							width: auto;
						}
						.box-schedule{
							width: 100%;
						}
					}
					.night-img-cr{
						width: 60px;
						.icon-des-2{
							width: 100%;
							font-size: 60px;
						}
						&>div{
							flex-wrap: wrap;
							align-content: center;
							font-size: 18px;
							&>font{
								display: block;
								width: 100%;
								font-size: 9px;
								text-align: center;
								font-weight: normal;
								text-transform: uppercase;
							}
						}
					}
					&>button{
						ms-transform: rotate(-90deg);
					    -webkit-transform: rotate(-90deg);
					    transform: rotate(-90deg);
					}
				}
			}
		}
	}
}  
.box-schedule-2{
	.btn-schedule-2{
		display: none;
	}
	.wrap-table{
		width: 100%;
		table{
			td{
				a{
					&:hover{
						background: #b3350a;
					    border-radius: 20px;
					    padding: 3px;
					    color: #FFF;
					}
				}
			}
		}
	}
} 
.section-blog-st2{
	.col-xlg-4{
		margin-bottom: 15px;
		margin-top: 15px;
		text-align: left;
		.desti{
			text-transform: uppercase;
			margin-top: 10px;
		}
		h3{
			margin-top: 10px;
			font-size: 14px;
			font-weight: 600;
		}
		p{
			line-height: 2;
    		color: #333;
		}
	}
}
.banner-video-st2{
	position: relative;
	.search-container-st2{
		max-width: unset;
		.wrap-title-banner-top-line{
			position: static;
		}
		
	}
	#booking-widget-cruisepage-st2{
		bottom: 30px;
	}
}
.wrap-special-tooltip{
	display: flex;
	margin-top: 15px;
	width: calc(100% + 40px);
	@include translateX(-40px);
	.special-offer-box{
		width: 200px;
		min-width: 200px;
		max-height: 60px;
		margin-right: 15px;
	}
	.wrap-tooltip{
		flex-grow: 1;
	}
}
.section-mk-des{
	background-color: #e6ddcc;
	padding-top: 30px;
	padding-bottom: 30px;
	.view-out{
		margin-top: 30px;
	}
}
.icon-intro-box{
	.icon-font{
		font-size: 50px;
	}
}
.intro-destination{
	.title-h2-line{
		font-weight: 600;
		margin-bottom: 0;
	}
	.wrap-tooltip{
		margin-top: 0;
	}
}
@media (max-width: 1351px) {
	.tooltip-handpick{
		padding: 5px;
	}
	.banner-country-2{
		height: 600px;
	}
}
@media (max-width: 1199px) {

	.box-submit-st2{
		padding-left: 0;
	}
	.quick-link{
		padding-right: 50px;
		ul{
			li{
				.btn-st3{
					flex-wrap: wrap;
				    .icon-font{
				    	margin-right: 0;
				    	margin-bottom: 5px;
				    }
				}
			}
		}
	}
	.trip-cruise{
		flex-wrap: wrap;
		.left-trip{
			width: 35%;
			margin-bottom: 15px;
		}
		.mid-trip{
			width: 65%;
			border-right: none;
			padding-right: 0;
			margin-bottom: 15px;
		}
		.right-trip{
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-left: 0;
			padding-top: 15px;
			border-top: 1px solid $border-color;
			&>div{
				margin-top: 0;
				margin-bottom: 0;
			}
			.save-now{
				width: unset;
			}
			.best-poromo{
				flex-shrink: 0;
			}
			.view-map-detail{
				width: unset;
			}
		}
	}
	.foot-trip{
		//flex-wrap: wrap;
		justify-content: center;
		.btn-st2{
			margin-left: 15px;
			padding-left: 10px;
			padding-right: 10px;
		}
		&>span{
			margin-left: 15px;
		}
	}
	.big-first-tour-box{
		.body-box{
			.wrap-faq{
				padding-right: 0;
				padding-left: 0;
				.order-day{
					&>div:first-child{
						padding-right: 0;
						padding-left: 0;
						.flex-box{
							padding-right: 0;
							.price-trip-box{
								display: none;
							}
						}
						&>button{
							display: none;
						}
					}
				}
			}
		}
	} 
	.info-cruise{
		margin-top: 10px;
		width: 100%;
		justify-content: flex-start;
		.link-st3{
			padding-top: 0;
			padding-bottom: 0;
		}
		.info-cruise-month{
			max-width: unset;
			width: 100%;
		}
	}
	#booking-widget-cruisepage-st2{
		bottom: 15px;
	    .form-banner-top{
			display: none;
	    }
	    &>button{
	    	display: block;
		    margin: 0 auto;
		    max-width: 280px;
		    width: 90%;
		    height: 50px;
		    border-radius: 999px;
	    }
	}
	.banner-video-st2{
		#booking-widget-cruisepage-st2{
			bottom: 15px;
		}
	}
}
@media (max-width: 991px) {
	.video-top-container{
		padding: 50px 0;
		&>.box-img-st2{
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			img{
				height: 100%;
				@include dakkenImg(70%);
			}
		}
		video{
			display: none;
		}
	}
	.banner-video-st2{
		.video-top-container{
			padding-bottom: 80px;
		}
	}
	.search-container-st2{
		form{
			flex-wrap: wrap;
			justify-content: center;
			h3{
				width: 100%;
				margin-bottom: 15px;
				justify-content: center;
			}
		}
	}
	.quick-link{
		padding-right: 0;
		padding-left: 0;
		ul{
			li{
				.btn-st3{
					font{
						text-align: center;
					}
				}
			}
		}
	}
	.trip-cruise{
		.left-trip{
			width: 100%;
		}
		.mid-trip{
			width: 100%;
			padding-left: 0;
		}
	}
	.box-schedule-2{
		
		//position: relative;
		.wrap-table{
			overflow-x: auto;
			webkit-overflow-scrolling: touch;
		}
		table{
			min-width: 863px;
		}
		.btn-schedule-2{
			
			position: absolute;
			width: 50px;
		    height: 100%;
		    top: 0;
		}
		.btn-schedule-2-up{
			left: 0;
		    bottom: auto;
		    background: -webkit-linear-gradient(left, rgba(200, 188, 166, 0.8)  0%, rgba(200, 188, 166, 0.6) 40%);
		    background: -moz-linear-gradient(left, rgba(200, 188, 166, 0.8)  0%, rgba(200, 188, 166, 0.6) 40%);
		    background: -ms-linear-gradient(left, rgba(200, 188, 166, 0.8)  0%, rgba(200, 188, 166, 0.6) 40%);
		    background: -o-linear-gradient(left, rgba(200, 188, 166, 0.8)  0%, rgba(200, 188, 166, 0.6) 40%);
		}
		.btn-schedule-2-down{
			display: block;
			right: 0;
		    background: -webkit-linear-gradient(left, rgba(200, 188, 166,0.6) 0%, rgba(200, 188, 166,0.8) 40%);
		    background: -moz-linear-gradient(left, rgba(200, 188, 166,0.6) 0%, rgba(200, 188, 166,0.8) 40%);
		    background: -ms-linear-gradient(left, rgba(200, 188, 166,0.6) 0%, rgba(200, 188, 166,0.8) 40%);
		    background: -o-linear-gradient(left, rgba(200, 188, 166,0.6) 0%, rgba(200, 188, 166,0.8) 40%);
		}
	}
	.cruise-box-st3{
		flex-wrap: wrap;
		.cruise-text-st3{
			order: 2;
			width: 100%;
		}
		.cruise-img-slide{
			order: 1;
			width: 100%;
		}
	}
	.wrap-slide-st9, .wrap-slide-st10{
		.synch-carousels{
			.nav-arrows{
				display: none;
			}
		}
	}
	.left-trip-st4{
		width: 100%;
		padding-right: 0;
	}
	.right-trip-st4{
		width: 100%;
		padding-left: 0;
	}
	.trip-st4{
		.head-trip{
			order: 1;
			.title-info{
				flex-grow: 1;
				padding-right: 0;
			}
			.view-map{
				display: none;
			}
		}
		.left-trip-st4{
			order: 3;
			margin-top: 15px;
		}
		.right-trip-st4{
			order: 2;
		}
		.foot-trip{
			order: 4;
		}
	}
	.foot-trip{
		.hand-picked{
			display: none;
		}
	}
	.wrap-slide-st8{
		margin-bottom: 50px;
		.gallery{
		    .item{
		    	margin-bottom: 30px;
		    }
		}
		.wrap-dots{
			li{
				background-color: #888;
			}
			li.slick-active{
				background-color: $higlight-color;
			}
			button{
				color: rgba(255,255,255,0);
				

			}
		}
	}
}
@media (max-width: 767px) {
	.wrap-special-tooltip{
		// width: calc(100% + 40px);
		@include translateX(-25px);
		.special-offer-box{
			margin-right: 0;
		}
	}
	.search-container-st2{
		&>.btn-st3{
			display: block;
		    margin: 0 auto;
		    max-width: 280px;
		    width: 90%;
		    height: 50px;
		    margin-bottom: 25px;
		}
		form{
			display: none;
		}
	}
	.banner-top-logo{
		margin-bottom: 25px;
	}
	.quick-link{
		ul{
			flex-wrap: wrap;
			margin-bottom: -15px;
			li{
				width: 33.3333%;
				margin-bottom: 15px;
				.btn-st3{
					width: 100%;
					//margin-bottom: 15px;
					.icon-font{
						width: 100%;
						text-align: center;
					}
				}
			}
		}
	}
	.trip-cruise{
		.right-trip{
			flex-wrap: wrap;
			justify-content: center;
			&>div{
				margin: 0 15px 15px;
			}
		}
	}
	.list-cabins{
		flex-wrap: wrap;
		&>img{
			width: 100%;
		}
		.cabin-info-box{
			margin-top: 20px;
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
		.button-cabin{
			margin-top: 20px;
			width: 100%;
			padding-left: 0;
			.btn-st2{
				max-width: 150px;
			}
		}
	}
	.cruise-box-st3{
		width: calc(100% - 30px);
		.box-hidden-st3{
			.paragraph{
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	.trip-st4{
		.head-trip{
			display: block;
			.day-trip{
				float: left;
				margin-right: 10px;
				width: 52px;
				span{
					font-size: 8px;
					b{
						font-size: 16px;
					}
				}
			}
			.title-info{
				width: 100%;
				padding-left: 0;
				.address{
					display: none;
				}
				.title-h2{
					font-size: 18px;
					min-height: 44px;
					a{
						display: inline;
					}
				}
			}
		}
	}
	.left-trip-st4{
		.wrap-tooltip{
			justify-content: center;
			&>span{
				display: none;
			}
		}
		.tooltip.show-mobi{
			text-align: center;
			margin-bottom: 10px;
			margin-top: 10px;
			width: 100%;
			.icon-font{
				&:before{
					color: $higlight-color;
				}
			}
			span{
				left: 50%;
				@include translateX(-50%);
				width: 100%;
				max-width: 380px;
				color: #fff;
				background-color: $higlight-color;
				&:after{
					background-color: $higlight-color;
				}
			}
		}
	}
	.show-mobi{
		display: block;
	}
	.big-first-tour-box{
		.body-box{
			.wrap-hotel-info{
				padding-right: 0;
			    max-width: unset;
			    width: 100%;
			    order: 1;
			    justify-content: center;
				.hotel-news{
					width: 100%;
					text-align: center;
					&>span{
						margin-bottom: 5px;
					}
				}
				.wrap-tooltip{
					width: auto;
					margin: 0;
				}
			}
		}
	}
	.big-first-tour-box{
		.body-box{
			.wrap-faq{
				order: 4;
				margin-top: 15px;
			}
			.wrap-foot-link{
				order: 5;
			}
		}
	}
	.info-cruise{
		flex-grow: 1;
		.info-cruise-month{
			max-width: unset;
		}
	}
}
@media (max-width: 479px) {
	.wrap-special-tooltip{
		flex-wrap: wrap;
		.special-offer-box{
			width: 100%;
			height: 50px;
			order: 2;
		}
		.wrap-tooltip{
			flex-grow: 1;
			order: 1;
			margin-bottom: 15px;
		}
	}
	.video-top-container{
		padding: 30px 0;
	}
	.foot-cruise-st3{
		flex-wrap: wrap;
		.special-offer-box{
			width: 100%;
			height: 40px;
		}
		.price-box{
			width: 100%;
		}
	}
	.cruise-text-st3{
		article{
			padding-left: 0;
			padding-right: 0;
			.head-cruise-st3{
				padding-left: 15px;
				padding-right: 15px;
			}
			.content-cruise-st3{
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		.foot-cruise-st3{
			@include translateX(-10px);
			width: calc(100% + 10px);
			flex-shrink: 0;
		}
	}
	.price-box{
		padding-left: 0;
		display: flex;
		align-items: center;
		flex-direction: column;
		&>span, .commitment{
			text-align: center;
			margin: 10px 0 0;
		}
	}
	.hidden-offer-box{
		.best-offer{
			.col-xlg-12{
				padding-right: 15px;
				padding-left: 15px;
			}
		}
	}
	.foot-trip{
		&>span{
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			text-align: center;
		}
		.btn-st2{
			margin-left: 0;
			margin-bottom: 0;
		}
		.heart-tour{
			margin-bottom: 0;
		}
	}
	.hand-picked{
		flex-wrap: wrap;
		&>span{
			display: block;
			margin-right: 0;
			width: 100%;
			margin-bottom: 10px;
			text-align: center;
		}
		&>div{
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			.tooltip-handpick{
				width: 50%;
			}
		}
	}
	.trip-st4{
		.head-trip{
			.title-info{
				.title-h2{
					font-size: 16px;
					font-weight: 500;
				}
			}
		}
	}
	.section-blog-st2{
		.wrap-slide-st8{
			margin-bottom: 20px;
		}
		.view-more-wrap{
			margin-bottom: 0;
			.link-st3{
				margin-bottom: 0;
			}
		}
	}
}
@media (max-width: 375px) {
	.quick-link{
		ul{
			li{
				width: 50%;
			}
		}
	}
}