.container-admin .col-lg-6{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 15px;
}
.list-to-list .col-lg-12{
	text-align: center;
}
.list-to-list h3{
	font-size: 20px;
	margin-bottom: 15px;
	margin-top: 30px;
}
.list-to-list .col-lg-12 ul{
	padding-left: 0;

}
.list-to-list .col-lg-12 ul li{
	margin-bottom: 10px;
}
.container-admin .col-lg-6 .btn-warning{
	color: #fff;
	background-color: #FC840E;
	border-radius: 999px;
}
.container-admin .col-lg-6 .btn-warning{
	opacity: .8;
}
.container-user h2,.container-user h3{
	font-family: "Times New Roman", Times, serif;
}
.container-user .text-center{
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 26px;
}
.container-user .text-center:after{
	display: block;
    content: "";
    background-color: #333;
    height: 2px;
    width: 20%;
    margin: .3rem auto;
}
.container-user .row{
	margin-top: 10px;
}
.container-user .col-lg-4 h3{
	font-size: 20px;
	font-weight: 600;
}
.container-user .col-lg-8 p{
	font-size: 16px;
	margin-bottom: 0;
}
.container-edit-user .col-lg-8>p{
	display: inline-block;
}
.container-edit-user .col-lg-8>p>b{
	color: #9c9691;
}
.container-edit-user .col-lg-8 select,.container-edit-user .col-lg-8 input{
	display: none;
}
.container-edit-user .col-lg-8 .btn-link{
	font-size: 12px;
	padding-bottom: 0;
	padding-top: 0;
	color: #F90000;
}
.container-edit-user .col-lg-8 .btn-link:hover{
	color: #E77200;
	opacity: .8;
}
.container-edit-user .col-lg-8 .btn-primary{
	-ms-touch-action: manipulation;
    touch-action: manipulation;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    font-size: calc(var(--fontSize) * 2);
    background-color: #FC840E;
    border-color: transparent;
    padding: .5rem 1.5rem;
}
.container-edit-user .col-lg-8 .btn-primary:hover{
	opacity: .8;
}
.admin-create-post>h1, .admin-list-post>h1{
	font-size: calc(var(--fontSize) * 3.5);
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: "Times New Roman", Times, serif;
}
.admin-create-post>h1:after, .admin-list-post>h1:after{
	display: block;
    content: "";
    background-color: #333;
    height: 2px;
    width: 50px;
    margin: .3rem auto 1rem;
}
.admin-create-post .row {
	margin-top: 15px;
}
.admin-create-post .row select, .admin-create-post .row input,.admin-create-post .row textarea{
	width: 100%;
	height: 100%;
	font-size: 13px;
	padding: 5px;
}
.admin-create-post .row h3{
	font-size: 22px;
	font-family: "Times New Roman", Times, serif;
	text-align: right;
}
.add-img{
	padding-right: 15px;
	padding-left: 15px;
}
.fa-paperclip{
	font-family: FontAwesome;
    font-size: 27px;
    cursor: pointer;
}
.btn-submit{
	font-size: 16px;
    color: #FFFFFF;
    background-color: #1F87DD;
    border-color: transparent;
    padding: .25rem 1.25rem;
    margin: .8rem auto 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 999px;
    text-transform: uppercase;
}
.btn-submit:hover{
	opacity: .8;
}
.admin-list-post table{
	width: 100%;
	text-align: center;
}
.admin-list-post table th{
	padding: 20px 10px;
	font-weight: 600;
	font-size: 16px;
}
.admin-list-post table td{
	vertical-align: middle;
	padding: 10px;

}
.admin-list-post table td>a{
	color: inherit;
}
.admin-list-post table td>a:hover{
	opacity: .8;
}
.admin-list-post .container h2{
	font-size: 20px;
	margin-top: 30px;
	text-align: center;
	margin-bottom: 20px;
	color: #E77200;
	padding-top: 15px;
	border-top:  1px dotted #333;
}
.border-none{
	border: none!important;
}
.admin-list-post .btn-link{
	color: #F90000;
}
.admin-list-post td>a{
	color: #047DB6;
}
.admin-list-post .btn-link:hover{
	color: #888;
	text-decoration: none;
}
.admin-list-post td>a:hover{
	color: #888;
}
.box-hidden-content{
	display: none;
}
.admin-create-post .row .demo-box h3{
	width: 100%;
	text-align: center;
}
.demo-box .demo-content-box{
	width: 100%;
	min-height: 200px;
	border: 1px solid #555;

}
.admin-create-post .row .demo-content-box{
	padding: 10px;
	font-size: 12px;
	line-height: 1.4;
}
.admin-create-post .row .demo-content-box img{
	width: 60%;
    margin: 1rem auto;
    display: block;
}
.admin-create-post .row .demo-content-box h3, .admin-create-post .row .demo-content-box h4, .admin-create-post .row .demo-content-box h5, .admin-create-post .row .demo-content-box h6 {
	text-align: left;
	margin-top: 20px;
	margin-bottom: 10px;
}
.admin-create-post .row .demo-content-box h3 {
	font-size: 18px;
}
.admin-create-post .row .demo-content-box h4 {
	font-size: 16px;
}
.admin-create-post .row .demo-content-box h5 {
	font-size: 14px;
}
.admin-create-post .row .demo-content-box h6 {
	font-size: 13px;
}
.add-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.add-content .btn-link{
	width: 48%;
}
.add-content .btn-remove-2{
	color: red;
}
.add-content>button:hover{
	color: #888;
}
#add-content{
	background-color: #E77200;
	color: #fff;
}
#add-content:hover{
	opacity: .8;
}
.big-gr-box{
	width: 100%;
	border: 1px solid rgb(169, 169, 169);
	position: relative;
	height: 32px;
}
.big-gr-box:after{
	display: inline-block;
	position: absolute;
	top: 14px;
	right: 5px;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.big-gr-box>span{
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.big-gr-box ul{
	position: absolute;
	top: 100%;
	left: -1px;
	width: calc(100% + 2px);
	z-index: 10;
	margin-bottom: 0;
	padding-left: 0;
	background-color: #fff;
	border: 1px solid #007bff;
	display: none;
}
.big-gr-box ul>li a{
	height: 35px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	color: inherit;
}
.big-gr-box ul>li a:hover{
	opacity: .8;
}