.search-container-mini {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 19%;
  border: 1px solid rgba(231,114,0,.5);
  padding: 1.2rem 0;
  float: left;
  background-color: #f3feff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
.search-container-mini form:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border: 1px solid rgba(252,152,14,.5);
  padding: 0 .3rem;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);

}
.search-container-mini input[type=search] {
  width: 80%;
  padding: .35rem;
  border: none;
  outline: none;
  background-color: transparent;
}

.search-container-mini form:first-child button {
  width: 20%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.search-container-mini form:first-child button:hover i {
  color: #f59a40;
}
.content .text {
  width: 80%;
  float: right;
  /*height: 800px;*/ /* xóa */
}
.content .text h5 {
  text-align: center;
  color: #333;
}
.content .text h5:hover {
  color: #494b6b;
}
.content .text p>a {
  color: #FC840E;
}
.content .text p:after {
  display: block;
  content: "";
  background-color: #b3a7a7;
  height: 1px;
  width: 40%;
  margin: 1rem auto 1.5rem;
}
.content .text p>a:hover {
  opacity: .8;
}
.content aside {
  width: 19%;
  background-color: #f3feff;
  border: 1px solid rgba(231,114,0,.5);
  float: left;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
.content aside h5 {
  background-color: #e77200;
  color: #FFFFFF;
  font-family: "Times New Roman", Times, serif;
  font-size: calc(var(--fontSize) * 1.6);
  margin: 0;
  font-weight: 500;
  padding: 1rem 5px;
  text-align: center;
}
.content .hot-pic {
  width: 100%;
  border-bottom: 1px solid rgba(231,114,0,.5);
}
.content aside h6 {
  font-size: calc(var(--fontSize) * 1.5);
  margin: 0;
  color: #333;
  font-weight: bold;
  padding: .5rem 5px .2rem;
  text-align: left;
}
.content aside h6:hover{
  color: #494b6b;
}
.content .view {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.content .view p {
  color: #424648;
  display: inline;
  margin: 0 8px 0 0;
  font-size: calc(var(--fontSize) * 1.25);
}
.content .view p>span, .content nav ul span {
  font-family: FontAwesome;
}
.content aside>div:last-child {
  color: #e77200;
  max-height: 2rem;
  min-height: 1rem;
  width: 100%;
  padding-right: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 15px;
}
.content nav {
  float: left;
  width: 100%;
  margin-top: .6rem;
}
.content nav ul {
  margin: 0;
}
.content .page-link {
  border: none;
  color: black;
  cursor: pointer;
}
.content .page-link:hover {
  background-color: transparent;
  opacity: .8;
}
.content .page-item.active .page-link {
  background-color: #e77200;
  border-radius: .25rem;
}
@media only screen and (max-width: 992px) {
  .content .text, .content aside, .search-container-mini, .content nav {
    width: 100%;
    float: none;
  }
  .search-container-mini input[type=search] {
    width: 90%;
  }
  .search-container-mini form:first-child button {
    width: 10%;
  }
  .content aside h5 {
    font-size: calc(var(--fontSize) * 2.8);
    font-weight: 800;
  }
  .content aside h6 {
    font-size: calc(var(--fontSize) * 2.5);
    padding: .5rem 10px .2rem;
  }
  .content .view p {
    font-size: 10px;
  }
  .content aside>div:last-child{
    font-size: 13px;
  }
  .content .view p {
    font-size: 9px;
  }
}
