* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *::-webkit-input-placeholder {
    color: #555;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: Helvetica, Arial, Verdana, sans-serif; }
  *:-moz-placeholder {
    color: #555;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: Helvetica, Arial, Verdana, sans-serif; }
  *::-moz-placeholder {
    color: #555;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: Helvetica, Arial, Verdana, sans-serif; }
  *:-ms-input-placeholder {
    color: #555;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: Helvetica, Arial, Verdana, sans-serif; }

object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
  background: transparent;
  line-height: inherit;
  color: inherit;
  font-family: inherit; }

sub, sup {
  font-size: 75%; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 20px 0;
  padding: 0; }

input, select {
  vertical-align: middle;
  color: #555;
  letter-spacing: 1px;
  font-size: 12px; }

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  outline: none; }

ol, ul, li {
  padding: 0;
  list-style: none;
  margin: 0; }

label {
  font-weight: normal; }

input[type="text"], input[type="email"], input[type="password"] {
  padding-left: 5px;
  padding-right: 5px; }

select {
  padding-left: 8px;
  cursor: pointer; }

input[type="number"] {
  padding-left: 5px; }

textarea {
  padding: 8px 5px 8px 5px; }

input, textarea, select, button, a, button:hover, button:active, button:focus {
  outline: none; }

button {
  border: none;
  background: none; }

input[type="password"], input[type="email"], input[type="text"], textarea {
  border-radius: 0;
  box-shadow: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none; }

img {
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover; }

body {
  width: 100%;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 12px;
  color: #555;
  letter-spacing: 1px;
  line-height: 1;
  overflow-x: hidden;
  background: #13AAF0 url(../images/bg.jpg) repeat; }

input {
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 25px; }

li {
  list-style: none; }

b {
  font-weight: 600;
  color: #555; }

a {
  letter-spacing: inherit;
  display: inline-block;
  line-height: inherit;
  color: #555;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear; }

button {
  cursor: pointer;
  font-size: 12px;
  font-family: inherit; }

button:hover, a:hover {
  text-decoration: none;
  opacity: .8;
  color: #E77200; }

section {
  margin: 30px 0;
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 15px 0 10px; }

img {
  width: 100%; }

select {
  display: inline-block;
  width: 100%;
  height: 25px;
  margin: 0;
  padding: 0 0 0 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  font-weight: 300;
  letter-spacing: 1px;
  border: none;
  position: relative;
  font-size: 13px;
  line-height: 1.5;
  background: url(../images/icon/select-arrow-thin.svg) no-repeat top 9px right 10px, url(../images/icon/select-arrow-thin.svg) no-repeat top 9px right 10px;
  background-size: 12px;
  background-color: transparent; }

select:focus {
  outline-style: dotted;
  outline-width: 1px; }

.icon-font {
  font-size: inherit; }

.icon-font-cr {
  font-size: 22px; }

.icon-destination:before {
  color: inherit; }

.icon-cuisine:before, .icon-des-1:before, .icon-des-2:before, .icon-des-3:before, .icon-des-4:before, .icon-next-back:before {
  color: inherit; }

section, footer {
  padding-left: 50px; }

header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 50px;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
  background-color: #fff;
  webkit-overflow-scrolling: touch;
  scrollbar-color: #aaa #aaa;
  /*fire fox 64*/
  scrollbar-width: thin;
  /*fire fox 64*/ }
  header::-webkit-scrollbar {
    width: 3px;
    background-color: transparent; }
  header::-webkit-scrollbar-thumb {
    background-color: #aaa; }
  header::-webkit-scrollbar-track {
    background-color: transparent; }
  header nav {
    display: block;
    width: 100%;
    min-height: 100%; }

.menu-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh; }

.logo-brand {
  max-width: 200px;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .logo-brand button {
    display: block;
    width: 50px;
    height: 100%;
    font-size: 26px; }
  .logo-brand .img-box {
    display: block;
    text-align: center;
    width: calc(100% - 75px); }

.menu-level-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%; }
  .menu-level-1 a {
    text-transform: uppercase;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 1; }
    .menu-level-1 a .select-arrow-thin {
      font-size: 6px;
      margin-left: auto;
      padding-right: 10px;
      padding-left: 10px;
      color: #888; }
    .menu-level-1 a font {
      white-space: nowrap; }
  .menu-level-1 > li {
    width: 100%; }
    .menu-level-1 > li > a {
      display: flex; }
      .menu-level-1 > li > a i:first-child {
        font-size: 26px;
        display: inline-flex;
        width: 50px;
        flex-shrink: 0;
        justify-content: center;
        align-items: center; }
      .menu-level-1 > li > a font {
        margin-left: 5px;
        white-space: nowrap; }

.title-level-1 .menu-level-2 {
  display: none; }

.title-level-2 .menu-level-3 {
  display: none; }

.menu-level-2 > li > a {
  padding-left: 55px;
  padding-right: 10px;
  font-size: 11px; }
  .menu-level-2 > li > a .select-arrow-thin {
    padding-right: 0; }

.menu-level-3 > li > a {
  padding-left: 65px;
  font-size: 10px; }

.follow-top {
  display: none;
  margin-top: auto; }
  .follow-top ul {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .follow-top ul li {
      padding: 15px; }
      .follow-top ul li a .icon-font {
        font-size: 20px; }

footer {
  position: fixed;
  left: 50px;
  bottom: 0;
  background-color: #fff;
  width: calc(100% - 50px);
  z-index: 180;
  background-color: #1F3C45; }
  footer p {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    color: #fff;
    font-size: 11px; }
    footer p b {
      font-weight: normal;
      color: #E77200; }
    footer p:first-child {
      padding-top: 15px;
      padding-bottom: 10px; }
    footer p:last-child {
      padding-bottom: 15px; }

.wrap-app {
  width: 100%;
  height: 100vh;
  overflow: hidden; }

/*# sourceMappingURL=main.css.map */
