* {
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 4;
}

.header {
	background-color: #31384a;
	width: 100%;
	height: 10vh;
	position: fixed;
	top: 0;
	z-index: 4;
}

.blog {
	height: 100%;
	width: 30%;
	margin: auto 1%;
}

.blog img, .avatar img {
	height: 99%;
}

.avatar {
	height: 100%;
	width: 10%;
	margin: auto 1%;
	position: absolute;
	top: 0;
	right: 25%;
}

.avatar img {
	border-radius: 50%;
	transition: all 0.5s ease-in-out;
}

.avatar img:hover {
	transform: scale(1.1);
}

.btn {
  color: #ffffff;
  display: flex;
  -webkit-align-items: center; /* Safari */
  align-items: center;
  -webkit-justify-content: center; /* Safari */
  justify-content: center;
  height: 60%;
  width: 10%;
  position: absolute;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  border: 1px solid transparent;
  border-radius: 10%;
  background-color: #337ab7;
  border-color: #2e6da4;
 }

.like {
  top: 20%;
  right: 15%;

}
.btn:hover {
  background-color: #286090;;
  border-color: #204d34;
}

.follow {
  top: 20%;
  right: 10px;
}

.menu {
	background-color: #31384a;
	height: -moz-calc(1000px - 18vh);
    height: -webkit-calc(1000px - 18vh);
	height: calc(1000px - 18vh);
	width: 16%;
	height: 90vh;
	position: fixed;
	top: 10vh;
	z-index: 3;
}

.tab {
   display: flex;
  -webkit-align-items: center; /* Safari */
  align-items: center;
  -webkit-justify-content: center; /* Safari */
  justify-content: left;
  height: 7%;
  width: 100%;
  padding-left: .7rem;
  border: .2px solid rgba(59,66,86,1);
  transition: all 0.5s ease-in-out;
}

.tab:hover {
  background-color: rgba(31,31,31);
  border-radius: 10%;
}

.tab a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Times New Roman', sans-serif;
  font-size: 1.4rem;
  line-height: 1rem;
}

.help {
	position: absolute;
	bottom: 0;
}

/*tab hiện tại*/
.btn-info {
	color: #337ab7 !important;
}
.btn-help {
	color: rgba(255,255,0) !important;
}
/*-----*/
.content {
	width: 84%;
	position: absolute;
	top: 10vh;
	left: 16%;
	z-index: 2;
}

h2,.news a,p {
	width: 99%;
	margin-left: .5%;
	margin-right: .5%;
}

h2 {
	font-size: 1.5rem;
}

.news a, p {
	font-size: 1.2rem;
	text-decoration: none;
}

.news img {
	display: block;
	width: 99%;
	margin: auto;
}

.news-2::before, .news-3::before, .news-4::before {
	display: block;
    content: "";
    background-color: #0a0113cc;
    height: 1px;
    width: 18rem;
    margin: 1rem auto;
}

#back {
	position: fixed;
	top: 90vh;
	right: 5vw;
	display: inline-block;
	height: 8%;
	z-index: 6;
}

#back img {
	height: 100%;
	opacity: 0.5;
}

.footer {
	background-image: url(../img/footer.png);
	font-family: 'Arial', sans-serif;
    width: 100%;
    height: 7rem;
    text-align: center;
  	padding-top: 1.5rem;
 }

 .footer small {
 	color: #ccc;
 	letter-spacing: .025rem;
    margin-bottom: 1.4rem;
    display: block;
    font-size: .9rem;
 }

 .nav a {
  font-size: .9rem;
  color: #c74f78;
  text-decoration: none;
  margin: 0 .5rem;
  display: inline-block;
}

.nav a:hover {
  color: #f26896;
  transition: color .15s ease-in-out;
}