.why-book-us{

}
.content-why-book{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	.three-reasons{
		position: relative;
	    margin-top: 24px;
	    padding: 31px 18px 16px;
	    border: 2px solid;
	    border-radius: 6px;
	    text-align: center;
	    h4{
			font-size: 14px;
	    }
	    p{
	    	font-size: 13px;
	    }
	    .wrap-icon{
	    	position: absolute;
	    	width: 50px;
	    	left: calc(50% - 25px);
	    	top: -25px;
	    }
	    .wrap-icon-2{
	    	position: absolute;
	    	height: 70px;
	    	top: -35px;
	    	left: 50%;
	    	@include translateX(-50%);
	    	img{
	    		height: 100%;
	    		width: auto;
	    	}
	    }
	}
	.three-reasons-1{
		border-color: rgba(36,185,191,1);
		h4,p,b{
			color: rgba(36,185,191,1);
		}
	}
	.three-reasons-2{
		border-color: $happy;
		h4,p,b{
			color: $happy;
		}
	}
	.three-reasons-3{
		border-color: rgba(221,81,126,1);
		h4,p,b{
			color: rgba(221,81,126,1);
		}
	}
}
.wrap-slide-st11{
	width: 100%;
	margin-top: 30px;
	.synch-carousels{
		box-shadow: none;
		.item{
			padding-right: 5px;
			padding-left: 5px;
			&>a{
				display: block;
				width: 100%;
				border-radius: 6px;
				img{
					border-radius: 6px;
				}
			}
		}
		.nav-arrows{
            top: 50%;
            button{
            	width: unset;
            	height: unset;
                i{
                    font-size: 45px;
                    color: #d4d4d4;
                }
                &:hover i{
                    color: $higlight-color;
                }
            }
            .arrow-left{
            	@include translate2d(-40px,-50%);
                .icon-next-back{
                    @include rotage(180deg);
                }
            }
            .arrow-right{
            	@include translate2d(40px,-50%);
            }
        }
		.wrap-dots{
	        margin: 15px 0;
	        button{
	            color: rgba(255,255,255,0);
	        }
	    }  
	}
}
.list-trip{
	.big-first-tour-box{
		&:nth-child(2){
			.btn-st4{
				background-color: #25b48a;
			}
		}
		&:nth-child(3){
			.btn-st4{
				background-color: #31bfd2;
			}
		}
		&:nth-child(4){
			.btn-st4{
				background-color: #e8b919;
			}
		}
	}
}
.big-first-tour-box{
	.body-box{
		.wrap-tooltip{
			display: inline-flex;
			padding-right: 0;
			padding-left: 0;
			width: unset;
		}
		.row{
			display: flex;
			align-items: center;
			.address-box{
				width: calc(100% - 315px);
				max-width: unset;
			}
			.btn-st6{
				margin-left: auto;
			}
		}
	}
}
.info-cruise-month{
	align-items: baseline;
	line-height: 1.5;
	display: flex;

	&>span{
		color: $happy;
		.date-01{
			color: $happy;
			font-size: 12px;
			margin-right: 5px;
		}
		b{
			color: $happy;
			font-weight: 800;
			font-size: 14px;
		}
	}
	&>div{
		b{
			color: #25b48a;
		}
	}
	a{
		font-weight: 600;
		color: #25b48a;
		&:hover{
			color: $higlight-color;
		}
	}
}
.box-price{
	text-align: right;
	margin-right: 10px;
	margin-left: auto;
    span{
    	display: block;
    	width: 100%;
    	font-size: 14px;
	    //text-transform: uppercase;
	    color: red;
    }
}
.cam_ket{
	color: #25b48a;
	font-weight: 600;
	.checkmark{
		margin-right: 5px;
		color: #25b48a;
		font-size: 16px;
	}
}
.wrap-foot-link{
	width: 100%;
	.btn-st4{
		border-radius: 0;
		justify-content: space-between;
		width: 100%;
		height: 40px;
		color: #fff;
		padding: 5px;
		b{
			color: inherit;
		}
		.happy-01{
			&:first-child{
				@include rotage(180deg);
			}
		}
	}
}
.btn-st6{
	border: 2px dashed red;
	border-radius: 999px;
	padding: 10px 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: red;
	font{
		margin-left: 5px;
		margin-right: 5px;
		text-transform: uppercase;
		font-size: 12px;
	}
	&:hover{
		border-color: $higlight-color;
	}
}
.banner-top-country{
	.search-container-st2{
		bottom: 30%;
	}
}
.intro-country-tour{
	.paragraph-hide{
		h4{
			width: 100%;
			text-align: center;
			margin-top: 0;
		}
	}
}
.media-box-st4{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	width: 100%;
	margin-top: 30px;
	.map-box{
		&>div{
			background-color: #dcdcdc;
			width: 100%;
			height: 100%;
		}
		
	}
	.img-box{
		left: 15px;
		width: calc(50% - 30px);
	}
}
.search-container-st2{
	.search-box-st2.search-ticket{
		form{
			.box-step-where{
				width: 16%;
				&>div{
					&>.text{
						padding-left: 10px;
						padding-right: 25px;
						text-overflow: ellipsis;
					    white-space: nowrap;
					    overflow: hidden;
					}
					label{
						left: 10px;
					}
				}
			}
			.booking-step-depature{
				width: 15%;
				position: relative;
				border-right: 1px solid #d2efef;
				.text{
					height: 100%;
					b{
						padding: 30px 10px 11px 10px;
						font-size: 16px;
					}
				}
			}
			.booking-step-room{
				width: 19%;
				position: relative;
				background-color: #fff;
				.text{
					height: 100%;
					padding-right: 5px;
					padding-left: 10px;
					b{
						padding-right: 5px;
					}
					.icon-font{
						font-size: 12px;
					    color: #18b3b3;
					    transform: rotate(90deg);
					    -moz-transform: rotate(90deg);
					    -webkit-transform: rotate(90deg);
					    -o-transform: rotate(90deg);
					    -ms-transform: rotate(90deg);
					}
				}
			}
			.box-step-submit{
				width: 19%;
				max-width: 300px;
			}
		}
		form.one-way{
			.box-step-where{
				width: 20%;
			}
			.booking-step-depature{
				width: 16%;
				&:nth-child(4){
					display: none;
				}
			}
			.booking-step-room{
				width: 25%;
			}
		}
	}
}
.type-ticket{
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	.input-radio-st1{
		padding-right: 15px;
		padding-left: 15px;
		label{
			color: #fff;
			font-weight: 600;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
		}
	}
}
.modal-cam-ket{
	max-width: 600px;
	h3{
		.checkmark{
			font-size: 20px;
			margin-right: 5px;
		}
	}
	.modal-body{
		.paragraph{
			text-align: left;
			padding-right: 0;
			padding-left: 0;
			margin-top: 5px;
			margin-bottom: 5px;
			color: #555;
		}
	}
}
.banner-ticket{
	.wrap-title-banner-top{
		bottom: 100px;
	}
}
.modal-ticket{
	max-width: 700px;
	.modal-head{
		display: flex;
		align-items: center;
		padding-left: 15px;
		padding-right: 15px;
		.img-box-st2{
			width: 40px;
			img{
				border-radius: 50%;
			}
		}
		h3{
			flex-grow: 1;
			margin-left: 10px;
			a{
				color: red;
			}
		}
	}
	.modal-body{
		.form-field{
			&>div{
				margin-bottom: 5px;
				text-align: left;
				font-weight: 600;
				label{
					font-weight: inherit;
				}
			}

		}
		.checkbox-inline{
			text-align: left;
			width: 100%;
			margin-top: 15px;
			input{
				width: unset;
			}
		}
		.btn-st3{
			margin-top: 15px;
			margin-left: auto;
			margin-right: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 45px;
			width: 100%;
			max-width: 380px;
			background-color: $higlight-color;
		}
	}
}
.box-st2{
	width: calc(100% - 30px);
	margin: 0 auto;
	background-color: #fff;
    padding: 20px;
	.airlines{
		h3{
			color: $happy;
			font-size: 16px;
			strong{
				width: 30px;
			    height: 30px;
			    display: inline-flex;
			    justify-content: center;
			    align-items: center;
			    text-align: center;
			    line-height: 30px;
			    border: 1px solid $happy;
			    border-radius: 50%;
			    margin-right: 5px;
			    //font-size: 14px;
			    padding-left: 1px;
			}
		}
	}
	.text-over{
		img{
			max-width: 200px;
			float: left;
		}
	}
}
.padding-top-30{
	padding-top: 30px;
}
.padding-bot-30{
	padding-bottom: 30px;
}
.box-st3{
	display: flex;
	align-items: flex-end;
	background-color: #fff;
	padding: 20px;
	margin-bottom: 30px;
	.box-img-st2{
		width: 100%;
		max-width: 61px;
	}
	.info{
		padding-left: 15px;
		h3{
			text-align: left;
		}
		.paragraph{
			text-align: left;
			padding: 0;
			margin-bottom: 0;
		}
	}
}
.butom-apply{
	height: 45px;
	width: 100%;
	max-width: 445px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $happy;
	color: #fff;
	@include smooth(.25s);
	font-size: 16px;
	font-weight: 600;
	margin-left: auto;
	margin-right: auto;
	&:hover{
		background-color: $higlight-color;
		color: #fff;
	}
}
.container-price-ticket{
	padding-right: 15px;
	padding-left: 15px;
}
.content-price-ticket{
	width: 100%;
	display: flex;
	margin-bottom: 30px;
	.col-prices{
		background-color: #fff;
	    width: 20%;
	    .title_price{
	    	width: 100%;
	    	height: 175px;
	    	display: flex;
	    	flex-direction: column;
	    	justify-content: center;
	    	align-items: center;
	    }
	    .ten{
	    	font-weight: bold;
		    color: #ee2d2d;
		    font-size: 45px;
		    text-align: center;
	    }
	    .gia{
		    color: #555;
		    font-size: 16px;
		    text-align: center;
	    }
	    .cont{
			.item_cost{
			    text-align: left;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    overflow: hidden;
			}
		}
		&:hover{
			box-shadow: 0 0 11px #767676;
		}
	}
	.col-price{
		width: 20%;
		&:hover{
			box-shadow: 0 0 11px #767676;
		}
		.title_price{
			height: 175px;
			width: 100%;
			background: #F34235;
		    color: #fff;
		    display: flex;
		    flex-direction: column;
		}
		.ten{
			text-transform: uppercase;
		    background-color: #D63030;
		    padding: 15px 5px;
		    //font-size: 12px;
		    font-weight: 600;
		    text-align: center;
		}
		.gia{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-grow: 1;
		}
		&:nth-child(2n+1){
			.ten{
				background-color: #016166;
			}
			.gia{
				background-color: #077d83;
			}
		}
	}
	.cont{
		//min-height: 150px;
		box-shadow: 3px 4px 25px #ccc inset;
		.item_cost{
			line-height: 3;
		    color: #888;
		    border-bottom: solid 1px #ddd;
		    padding-left: 20px;
		    text-align: center;
		}
	}
}
.note{
	width: 100%;
	//margin-top: 30px;
	.paragraph{
		text-align: left;
		padding-left: 0;
		padding-right: 0;
	}
}
@media (max-width: 991px) {
	.content-price-ticket{
		.col-prices{
			display: none;
		}
		.col-price{
			width: 25%;
			.ten{
				font-size: 12px;
			}
		}
	}
	.big-first-tour-box{
		.body-box{
			.row{
				flex-wrap: wrap;
				.address-box{
					padding-right: 0;
					width: 100%;
					//max-width: unset;
					order: unset;
				}
				.btn-st6{
					margin-right: auto;
					margin-top: 10px;
					margin-bottom: 10px;
				}
			}
		}
		.foot-trip{
			.btn-st2{
				margin-bottom: 0;
				margin-top: 10px;
			}
		}
	}
	.banner-top-country{
		.search-container-st2{
			position: static;
			@include translateX(0);
			margin-left: auto;
			margin-right: auto;
		}
	}
	.un-pull-up{
		.foreground{
			@include translateY(0);
		}
	}
	.banner-ticket{
		.wrap-title-banner-top{
			bottom: 405px;
		}
		.search-container-st2{
			position: static;
			@include translateX(0);
			margin-right: auto;
			margin-left: auto;
			margin-top: 15px;
		}
	}
	
	.search-container-st2{
		.search-box-st2.search-ticket{
			form{
				&>div{
					width: 100%!important;
				}
				.booking-step-depature{
					//padding: 18px 30px 5px 40px;
					height: 60px;
					border-right: none;
					border-bottom: 1px solid #18b3b3;
					input{
						padding: 18px 30px 5px 40px;
						width: 100%;
						height: 100%;
					}
				}
				.booking-step-room{
					height: 60px;
				}
				.box-step-submit{
					max-width: none;
					// height: 60px;
					button{
						i{
							display: none;
						}
					}
				}
			}
			form.one-way{
				.box-step-where{
					width: 20%;
				}
				.booking-step-depature{
					width: 16%;
					&:nth-child(4){
						display: none;
					}
				}
				.booking-step-room{
					width: 25%;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.box-st2{
		.text-over{
			img{
				max-width: none;
			}
		}
	}
	.content-price-ticket{
		flex-wrap: wrap;
		.col-price{
			width: 100%;
			margin-bottom: 30px;
			.item_cost{
				display: none;
				&:first-child{
					display: block;
				}
			}
		}
	}
	.content-why-book{
		.three-reasons{
			margin-top: 55px;
		}
	}
	.big-first-tour-box{
		.body-box{
			&>.row{
				border-bottom: 1px dotted #dcdcdc;
			}
			&>.paragraph{
				display: none;
			}
		}
		.foot-trip{
			.btn-st2{
				width: 100%;
			}
		}
	}
	.box-price{
		width: 100%;
		margin: 10px auto 0;
		text-align: center;
	}
	.info-cruise-month{
		flex-wrap: wrap;
		&>span{
			display: block;
			width: 100%;
			text-align: center;
			b{
				color: $happy;
				font-weight: 800;
			}
		}
		&>div{
			width: 100%;
			text-align: center;
			b{
				color: $happy;
			}
		}
		a{
			font-weight: 600;
			color: $happy;
			&:hover{
				color: $higlight-color;
			}
		}
	}
	.media-box-st4{
		.map-box{
			margin-top: 15px;
			&>div{
				min-height: 150px;
			}
			
		}
		.img-box{
			width: calc(100% - 30px);
		}
	}
}
