@font-face {
  font-family: 'insideTravel';
  src:  url('fonts/insideTravel.eot?uvi3o5');
  src:  url('fonts/insideTravel.eot?uvi3o5#iefix') format('embedded-opentype'),
    url('fonts/insideTravel.ttf?uvi3o5') format('truetype'),
    url('fonts/insideTravel.woff?uvi3o5') format('woff'),
    url('fonts/insideTravel.svg?uvi3o5#insideTravel') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon-font {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'insideTravel' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-itine:before {
  content: "\e930";
}
.icon-festival:before {
  content: "\e936";
}
.icon-history:before {
  content: "\e937";
}
.icon-couple:before {
  content: "\e92d";
}
.icon-family:before {
  content: "\e92e";
}
.moon:before {
  content: "\e92f";
}
.icon-overview:before {
  content: "\e92b";
  color: #d0b42c;
}
.icon-highlight:before {
  content: "\e92c";
  color: #d0b42c;
}
.price-tag:before {
  content: "\e926";
}
.play-video:before {
  content: "\e916";
}
.heart-empty:before {
  content: "\e914";
}
.heart-full:before {
  content: "\e915";
}
.menu:before {
  content: "\e91d";
}
.contract:before {
  content: "\e919";
}
.db-bed:before {
  content: "\e91a";
}
.discount:before {
  content: "\e91b";
}
.map-itine:before {
  content: "\e91c";
}
.testimonial:before {
  content: "\e925";
}
.checklist:before {
  content: "\e918";
}
.bed:before {
  content: "\e928";
}
.exchange:before {
  content: "\e929";
}
.university:before {
  content: "\e92a";
}
.external-link:before {
  content: "\e927";
}
.hiking:before {
  content: "\e921";
}
.mountain:before {
  content: "\e922";
}
.zoo:before {
  content: "\e923";
}
.umbrella-beach-solid:before {
  content: "\e924";
}
.calendar-regular:before {
  content: "\e917";
}
.facebook-square-brands:before {
  content: "\e900";
}
.instagram-brands:before {
  content: "\e901";
}
.twitter-brands:before {
  content: "\e902";
}
.icon-15:before {
  content: "\e903";
  color: #545454;
}
.icon-balloon:before {
  content: "\e904";
  color: #545454;
}
.icon-beach:before {
  content: "\e905";
  color: #545454;
}
.icon-biking:before {
  content: "\e906";
  color: #545454;
}
.icon-cruises:before {
  content: "\e907";
  color: #545454;
}
.icon-cuisine:before {
  content: "\e908";
  color: #545454;
}
.icon-cultural:before {
  content: "\e909";
  color: #545454;
}
.icon-heritage:before {
  content: "\e90a";
  color: #545454;
}
.icon-kayaking:before {
  content: "\e90b";
  color: #545454;
}
.icon-mountain:before {
  content: "\e90c";
  color: #545454;
}
.icon-nature:before {
  content: "\e90d";
  color: #545454;
}
.icon-swimming:before {
  content: "\e90e";
  color: #545454;
}
.icon-trekking:before {
  content: "\e90f";
  color: #545454;
}
.icon-wellness:before {
  content: "\e910";
  color: #545454;
}
.icon-wildlife:before {
  content: "\e911";
  color: #545454;
}
.select-arrow-thin:before {
  content: "\e912";
}
.user-regular:before {
  content: "\e913";
}
.envelope:before {
  content: "\f003";
}
.star:before {
  content: "\f005";
}
.clock-o:before {
  content: "\f017";
}
.bookmark:before {
  content: "\f02e";
}
.map-marker:before {
  content: "\f041";
}
.icon-pencil:before {
  content: "\f044";
}
.check-square-o:before {
  content: "\f046";
}
.gift:before {
  content: "\f06b";
}
.icon-plane:before {
  content: "\f072";
}
.retweet:before {
  content: "\f079";
}
.key:before {
  content: "\f084";
}
.star-half:before {
  content: "\f123";
}
.thumbs-up:before {
  content: "\f164";
}
.icon-car:before {
  content: "\f1b9";
}
.ship:before {
  content: "\f21a";
}
.image:before {
  content: "\e91e";
}
.images:before {
  content: "\e91f";
}
.camera:before {
  content: "\e920";
}
.phone:before {
  content: "\e942";
}
.icon-users:before {
  content: "\e972";
}
.search:before {
  content: "\e986";
}
.enlarge:before {
  content: "\e989";
}
.spoon-knife:before {
  content: "\e9a3";
}
.eye:before {
  content: "\e9ce";
}
.plus:before {
  content: "\ea0a";
}
.minus:before {
  content: "\ea0b";
}
.checkmark:before {
  content: "\ea10";
}
