:root {
  --height: 10px;
  --fontSize: 10px;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  font-family: "Playfair Display";
  background-color: #FFFFFF;
  width: 100%;
  color: #535B6C;
}
#menu {
  position: fixed;
  width: 100%;
  z-index: 10;
}
#nav-container {
  max-width: 80%;
  padding: 0;
  margin: 0 auto;
  color: #535B6C;
}
.navbar-light .navbar-nav .nav-link {
  font-family: FontAwesome;
}
.navbar-light .navbar-brand {
  font-weight: 600;
  font-size: 24px;
  padding-right: 3%;
  border-right: 2px solid #E7EBF2;
  line-height: normal;
}
#oval-nav {
  width: 1.7%;
  margin-left: 1.7%;
  border-radius: 50%;
  background-color:  #A7EFCF;
}
#group-1 {
  position: relative;
  width: 100%;
}
#oval-1 {
  width: 10.7%;
  position: absolute;
  top: calc(var(--height) * 46.9);
  left: 0;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 15px;
}

#heading-1 {
  width: 51%;
  font-size: calc(var(--fontSize) * 8.5);
  color: #535B6C;
  position: absolute;
  top: calc(var(--height) * 34);
  left: 9%;
  z-index: 6;
  font-weight: 500;
}
#group-1 h1>span {
 color: #FE6B6F;
}
#oval-2 {
  position: absolute;
  width: 48%;
  right: 0;
  top: calc(var(--height) * 0.7);

}

#oval-3 {
  position: absolute;
  width: 32%;
  right: 0;
  top: calc(var(--height) * 16);
  z-index: 5;
}

#oval-4 {
  position: absolute;
  width: 9%;
  right: -4.5%;
  top: calc(var(--height) * 111.3);
  border-radius: 50%;
  background-color: #FFDADB;
}

#heading-2 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(var(--height) * 118);
  font-size: calc(var(--fontSize) * 8.5);
  z-index: 6;
}

#laptop {
  width: 44.8%;
}
#content-g2 {
  padding-left: 15%;

}
#content-g2 div:nth-child(1), #content-g2 div:nth-child(3) {
  width: 8%;
  margin-top: 40%;
  margin-bottom: 3%;
}
#content-g2 h4 {
  font-size: calc(var(--fontSize) * 4);
}
#group-3 {
  position: relative;

}
#part-3 {
  position: absolute;
  top: calc(var(--height) * -42);
  left: 5%;
  width: 100%;
}
#oval-g3-66 {
  position: absolute;
  width: 20.8%;
  left: 0;
  top: calc(var(--height) * 22);
}

#group-3 p {
  font-size: calc(var(--fontSize) * 4);
  font-weight: 500;
  position: absolute;
  width: 33%;
  top: calc(var(--height) * 35.3);
  left: 16%;
}
#group-3 span {
  color: #FE6B6F;
}
#oval-g3-company {
  position: absolute;
  width: 45%;
  right: 0;
  top: calc(var(--height) * 22);
}

#oval-g3-mini {
  position: absolute;
  width: 8%;
  right: 31%;
  top: calc(var(--height) * 70);
  border-radius: 50%;
  background-color: #C8EEFF;
  z-index: 5;
}

#row-g4-1 {
  position: relative;
}

#oval-g4-1 {
  position: absolute;
  width: 3.6%;
  left: 9.5%;
  top: calc(var(--height) * 24.9);
}

#row-g4-1 h1 {
  text-align: center;
  width: 100%;
  position: absolute;
  top: calc(var(--height) * 23);
  font-size: calc(var(--fontSize) * 8);
  color: #535B6C;
}
#row-g4-2 {
  position: relative;
  margin-top: calc(var(--height) * 10);
  width: 100%;
}
#row-g4-2 form {
  display: inline;
  width: 45%;
  margin: 0 auto;
  text-align: right;
}
#row-g4-2 input {
  width: 100%;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid #c7dee8;
  border-radius: 0;
  padding: 2rem 5rem 2rem 2rem;
  font-size: 1.5rem;
  outline:none;
}
#row-g4-2 button {
  border: none;
  border-radius: 0;
  font-size: 1.5rem;
  outline:none;
  cursor: pointer;
  font-size: 18px;
  color: #C46BFE;
  font-weight: 600;
  background-color: transparent;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: 0;
}
#row-g4-2 button span {
  font-family: FontAwesome;
}
#oval-g4-r2 {
  position: absolute;
  width: 5%;
  left: 85.6%;
  top: calc(var(--height) * 10);
}

#group-5 {
  position: relative;
}
#group-5 div:nth-child(1) {
  width: 100%;
}
#group-5 h1 {
  width: 100%;
  position: absolute;
  top: calc(var(--height) * 30);
  font-size: calc(var(--fontSize) * 8);
  color: #FFFFFF;
  text-align: center;
}

#oval-g5 {
  position: absolute;
  width: 9%;
  right: 0;
  top: calc(var(--height) * 7);
}
@media only screen and (max-width: 1024px) {
  :root {
    --height: 6px;
    --fontSize: 7px;
  }
  #content-g2 div:nth-child(1), #content-g2 div:nth-child(2) {
    margin-top: 3%;
  }
  #row-g4-2 form {
    width: 80%;
  }
  #row-g4-1 {
    margin-top: 20px;
}
#row-g4-2 {
  position: relative;
  margin-top: calc(var(--height) * 5);
  width: 100%;
}
}
@media only screen and (max-width: 768px) {
  :root {
    --height: 4.5px;
    --fontSize: 5px;
  }
  #laptop img {
    width: 100%;
  }
  #row-g4-1 {
    margin-top: 20px;
}
}
@media only screen and (max-width: 560px) {
  :root {
    --height: 3px;
    --fontSize: 4px;
  }
  #group-3 p {
    width: 50%;
    z-index: 5;
  }
  #oval-g3-company, #oval-g3-mini {
    opacity: .6;
  }
}
@media only screen and (max-width: 387px) {
  :root {
    --height: 2.5px;
    --fontSize: 2.5px;
  }
}